<template>
    <no-ssr>
        <div>

            <div class="new">

                <div v-if="!showContent" class="aligncenter">
                    <img src="@/assets/images/ajax-loader-2.gif" alt="">
                </div>


                <div v-else class="services-customer-profile-content">
                    <section id="page-title" class="">
                        <admin-header />
                    </section>
                    <section>
                        <div class="container-fluid clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <AdminSidebar />
                                </div>
                                <div class="col-md-10 admin-page-content">
                                    <div class="row top-section">
                                        <div class="col-md-8">
                                            <h3>Customer Order List</h3>
                                        </div>
                                    </div>

                                    <!--<div class="row top-section">-->


                                        <!--<div class="col-md-3" >-->
                                            <!--<input type="text" @change="filterOrder"  v-model.trim="searchFilter.orderID" class="form-control" placeholder="Order ID">-->
                                            <!--<a href="" @click.prevent="resetFilter" v-if="enableReset" class="error">Reset filter</a>-->
                                        <!--</div>-->


                                        <!--<div class="col-md-2" >-->
                                            <!--<select @change="filterOrder" v-model="searchFilter.orderStatus" class="form-control">-->
                                                <!--<option value="order-received">order received</option>-->
                                                <!--<option value="shopper-started-picking">shopper-started-picking</option>-->
                                                <!--<option value="waiting-deliver">waiting-deliver</option>-->
                                                <!--<option value="order-on-your-way">order-on-your-way</option>-->
                                                <!--<option value="order-complete">order-complete</option>-->
                                                <!--<option value="cancelled">cancelled</option>-->
                                            <!--</select>-->
                                        <!--</div>-->

                                        <!--<div class="col-md-2" >-->
                                            <!--<el-date-picker-->
                                                    <!--@change="filterOrder"-->
                                                    <!--v-model="searchFilter.startAt"-->
                                                    <!--type="date"-->
                                                    <!--format="dd-MM-yyyy"-->
                                                    <!--placeholder="From">-->
                                            <!--</el-date-picker>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-2" >-->
                                            <!--<el-date-picker-->
                                                    <!--@change="filterOrder"-->
                                                    <!--v-model="searchFilter.endAt"-->
                                                    <!--type="date"-->
                                                    <!--format="dd-MM-yyyy"-->
                                                    <!--placeholder="To">-->
                                            <!--</el-date-picker>-->
                                        <!--</div>-->



                                    <!--</div>-->



                                    <!--<p v-if="noDATA">-->
                                    <!--<span  class="error">No Data for this filter</span>-->
                                    <!--</p>-->


                                    <div class="row product-list-header" v-if="orders.length > 0">
                                        <div class="col-md-2" style="padding-left: 10px">Order ID</div>
                                        <div class="col-md-2 ">Customer Name</div>
                                        <div class="col-md-2 ">Order Date</div>
                                        <div class="col-md-1 ">Order Amount</div>
                                        <div class="col-md-1 center">Status</div>
                                        <div class="col-md-1 ">&nbsp;</div>
                                    </div>
                                    <p v-else class="error">Currently there is no order </p>

                                    <div id="draggable" style="margin-bottom: 25px;">
                                        <div class="row single-service" :key="item.id" v-for="(item , index ) in orders">

                                            <div class="col-md-2 item p-top" style="padding-left: 10px">
                                                {{item.id}}
                                            </div>

                                            <div class="col-md-2 item p-top">

                                                {{ fetchName(item.customer , 'customers') }}

                                            </div>
                                            <div class="col-md-2 item p-top">

                                                {{formartOrderDate(item.orderDate)}}

                                            </div>

                                            <div class="col-md-1 item p-top">

                                                &#36;{{countPrice(item)}}

                                            </div>

                                            <div class="col-md-1 item p-top center order-status-button" :class="giveStatus(item.status)">

                                                {{item.status}}

                                            </div>
                                            <div class="col-md-1 center p-top">

                                                <el-dropdown>
                                                        <span class="el-dropdown-link">
                                                        <i class="el-icon-more-outline"></i>
                                                        </span>
                                                    <el-dropdown-menu slot="dropdown">
                                                        <!--<el-dropdown-item>-->
                                                        <!--<a style="cursor: pointer" @click.prevent="showWarning(item.id)"><i class="icon-trash"></i> &nbsp;&nbsp; Delete</a>-->
                                                        <!--</el-dropdown-item>-->
                                                        <el-dropdown-item>
                                                            <nuxt-link :to="`/admin/dashboard/order/details/${item.id}`" >
                                                                <i class="icon-edit"></i> &nbsp;&nbsp; Details
                                                            </nuxt-link>
                                                        </el-dropdown-item>
                                                    </el-dropdown-menu>
                                                </el-dropdown>

                                            </div>

                                        </div>
                                    </div>

                                    <div style="width: 600px; margin: 0px auto; display: block">
                                        <pagination v-if="totalData > dataPerPage && !hidePagination" :dataPerPage="dataPerPage" @fetch="fetchData" :totalData="totalData"  />
                                    </div>

                                    <warning :message="message"
                                             :id="removeID"
                                             :warningFor="warningFor"
                                             v-if="warning"
                                             @close="warning = false"
                                             @remove="removeProduct"
                                    />



                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </no-ssr>
</template>

<script>

    import firebase from 'firebase'
    import DB from '~/plugins/firebase/init'
    import AdminSidebar from '@/components/AdminSidebarMenu';
    import AdminHeader from "@/components/AdminHeader";
    import Pagination from '@/components/Pagination';
    import axios from 'axios'
    import Warning from "@/components/Warning";
    import moment from 'moment'
    export default {
        middleware : 'auth',
        components: {
            AdminHeader,
            AdminSidebar , Pagination , Warning
        },
        asyncData (context) {
            if(context.params.customer !== undefined) {

                var BASE = DB.collection("orders").where('customer', '==', context.params.customer).orderBy("orderDate", "desc");
                //var docRef = BASE;

                var docRef = BASE.limit(15);

                return docRef.get().then(function (querySnapshot) {


                    let orders = [];
                    if (!querySnapshot.empty) {
                        querySnapshot.forEach(doc => {
                            orders.push(doc.data());
                        });

                        // return {orders }
                        return {orders}
                    } else {
                        // doc.data() will be undefined in this case
                        console.log("Here No such document!");
                        return {orders: []}
                    }
                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });

            }


        },
        data(){
            return {
                enableReset : false,
                deliverydiscount : 80,
                storeSelected : false,
                storeKey : '',
                searchFilter : {
                    storeID : '',
                    startAt : '',
                    startAtInt : '',
                    endAt : '',
                    endAtInt : '',
                    orderStatus : 'order-received',
                    storeID : this.$route.params.customer,
                    orderID : ''
                },
                warning : false,
                removeID : '',
                warningFor : 'product',
                message : '',
                noDATA  :false,
                alreadyExist : false,
                searchKey : '',
                catSearch : '',
                subcatSearch : '',
                searchIN : 'name',
                searchORDER : 'asc',
                disable : false,
                orders : [],
                totalData : 0,
                dataPerPage : 15,
                fetchAfter : 3,
                timerID : '',
                hidePagination : false,
                users : [],
                stores : [],
                storesMap : {},
                timerID : ''
            }
        },

        computed : {

            storeID(){
                return this.$route.params.customer
            },
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            },
            filteredStores(){
                return this.stores.filter(item => {
                    if(this.storeKey !== '' && item.name.toLowerCase().indexOf(this.storeKey.toLowerCase()) !== -1){
                        return item;
                    }
                })
            }
        },
        methods : {
            giveStatus(status){
                return {
                    'order-received' : status === 'order-received',
                    'shopper-started-picking' : status === 'shopper-started-picking',
                    'waiting-deliver' : status === 'waiting-deliver',
                    'order-on-your-way' : status === 'order-on-your-way',
                    'order-complete' : status === 'order-complete',
                    'cancelled' : status === 'cancelled'
                }
            },
            countPrice(item){
                let price = 0;
                if(item.storeIDS.length === 1)
                    return item.order.totalPayable;
                else {
                    item.order.cart.forEach(product => {
                        if(product.storeID === this.storeID)
                            price = price + Number(product.grandTotalPrice);
                        price = price + Number(product.adjustedAmount);
                    })

                    // add delivery charge
                    if(price < this.deliverydiscount){
                        price = price + 5;
                    }

                    // add conceirge charge

                    //price = price + 5;

                    return price;
                }
                //return 'Hi';
            },
            clearFilter(){
                this.storeKey = '';
                this.searchFilter.storeID = '';
                this.paymentOption = '';
                this.searchFilter.orderID = '';
                this.searchFilter.startAt = '';
                this.searchFilter.endAt = '';
                this.enableReset = false;
            },
            resetFilter(){
                this.clearFilter();
                this.fetchData(1);
                this.hidePagination = false;
            },
            selectStore(ID){
                this.storeSelected = true;
                this.storeKey = this.storesMap[ID].name;
                this.searchFilter.storeID = ID;
                this.filterOrder();
            },
            searchStore(){
                this.storeSelected = false;
            },
            filterOrder(){
                let self = this;
                self.enableReset = true;
                //console.log(new Date(this.searchFilter.startAt).getUnixTime())

                clearTimeout(self.timerID);
                self.timerID = setTimeout(()=>{

                    // if(self.searchKey.length === 0){
                    //     self.noDATA = false;
                    //     self.fetchData(1);
                    //     self.hidePagination = false;
                    //     return;
                    // }

                    axios({
                        method:'post',
                        url:'https://us-central1-aladins-chirag.cloudfunctions.net/filterOrders',
                        data: {
                            offset: 0,
                            dataPerPage : self.dataPerPage,
                            fromDate : self.searchFilter.startAt !== '' ? (new Date(self.searchFilter.startAt).getUnixTime() * 1000 ) : '',
                            toDate : self.searchFilter.endAt !== '' ? (new Date(self.searchFilter.endAt).getUnixTime() * 1000 ) : '',
                            orderStatus : self.searchFilter.orderStatus,
                            storeID : self.searchFilter.storeID,
                            orderID: self.searchFilter.orderID
                        }
                    })
                        .then(function(response) {
                            console.log(response.data.length);
                            if(response.data.length === 0){
                                self.noDATA = true;
                                self.fetchData(1);
                                self.hidePagination = false;
                            } else {
                                self.noDATA = false;
                                self.hidePagination = false;
                                self.hidePagination = true;
                                self.orders = [];
                                self.orders = response.data
                            }

                        }).catch(err => {
                        console.log(err);
                    });
                }, 500);
            },

            formartOrderDate(value){
                return moment(value).format("MMM Do YY");
            },
            fetchStore(data){
                let storeIDS = [];
                data.forEach(item => {
                    if(!storeIDS.includes(item.storeID)){
                        storeIDS.push(item.storeID)
                    }
                })
                if(storeIDS.length > 1){
                    return 'Multi Store'
                } else {
                    var store_name = ''
                    this.stores.forEach(item => {
                        if(item.id === storeIDS[0]){
                            store_name = item.name;
                        }
                    })
                    return store_name
                }
            },
            fetchName(id , type){
                let name = '';
                if(type === 'customers'){
                    this.users.forEach(item => {
                        if(item.uid === id){
                            name = item.name;
                        }
                    })
                }

                return name;
            },
            showWarning(id){
                this.removeID = id;
                this.message = 'Please Confirm. I want to delete this Product from this shop';
                this.warning = true;
            },
            fetchData(page){

                let self = this;

                self.currentPage = page;

                let startAfter = page * self.dataPerPage - self.dataPerPage;
                axios({
                    method:'post',
                    url:'https://us-central1-aladins-chirag.cloudfunctions.net/filterCustomerOrders',
                    data: {
                        offset: startAfter,
                        dataPerPage : self.dataPerPage,
                        customer : self.$route.params.customer
                    }
                })
                    .then(function(response) {
                        self.orders = response.data
                    });
            },
            fetchAll(){
                let self = this;
                DB.collection("orders").where('customer', '==', this.$route.params.customer).orderBy("orderDate" , "asc").get().then(function (querySnapshot) {

                    console.log(querySnapshot);
                    self.totalData = querySnapshot.size;

                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });
            },
        },

        created(){
            let self = this;
            this.validateOldUser();
            this.fetchAll();

            DB.collection("users").get().then(function (querySnapshot) {

                if (!querySnapshot.empty) {
                    self.users = []
                    querySnapshot.forEach(doc => {
                        self.users.push(doc.data());
                    });

                }

            }).catch(function (error) {
                console.log("Error getting document:", error);
            });

            DB.collection("store").get().then(function (querySnapshot) {

                if (!querySnapshot.empty) {
                    self.stores = []
                    querySnapshot.forEach(doc => {
                        self.stores.push(doc.data());
                        self.storesMap[doc.data().id] = doc.data();
                    });

                }

            }).catch(function (error) {
                console.log("Error getting document:", error);
            });

            // console.log(moment.unix(1540317600).format("MM/DD/YYYY"));
            // console.log(moment.unix(1540316600).format("MM/DD/YYYY"));
            // console.log(moment.unix(1540701376832 / 1000).format("MM/DD/YYYY"));
            // console.log((new Date()).getTime());
            // console.log((new Date()).getUnixTime());

        }
    }
</script>

<style scoped>
    /*.admin-page-content{*/
    /*padding: 20px;*/
    /*}*/

    .order-status-button {
        color : #ffffff;
        border-radius: 8px;
        width: 100%;
        font-size: 13px;
        padding-top: 10px !important;
    }
    .order-received{
        background-color: #0076ff;
    }
    .shopper-started-picking{
        background-color: #7f63f4;
    }

    .waiting-deliver{
        background-color: #00b8fa;
    }

    .order-on-your-way{
        background-color: #ff5a00;
    }

    .order-complete{
        background-color: #07c748;
    }

    .cancelled{
        background-color: #ff0000;
    }

    .clear-store{
        color : #fe6500;
        font-size: 12px;
        cursor: pointer;
    }
    .shop-list{
        background-color: #ffffff;
        min-width: 440px;
        transform-origin: center bottom 0px;
        z-index: 2032;
        position: absolute;
    //top: 327px;
    }

    .shop-item{
        border: 1px solid #DDD;
        cursor: pointer;
        margin-bottom: 5px;
    }

    .product-list-header{
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .product-list-header div {
        font-weight: bold;
        padding-left: 3px;
        font-size: 14px;
    }
    .el-icon-more-outline {
        color : #fe6500;
        font-size: 25px;
    }
    .error{
        color: #fe6500;
        font-size: 12px;
    }
    .p-top{
    //padding-top: 32px !important;
    }
    #page-title{
        padding: 10px !important;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }

    .single-service{
        background-color: #ffffff;
        padding-top: 10px;
    //padding-bottom: 5px;
        margin-top: 9px;

    }

    .single-service .item {
        padding-bottom: 10px;
        padding-top: 5px;
        padding-right: 1px;
        padding-left: 1px;
    }

    .single-service .action {
        padding-bottom: 7px;
    }

    .new-service{
        background-color: #fe6500;
        border-color: #fe6500;
        float: right;
    }

    .error{
        color: #fe6500;
        font-size: 12px;
    }

    .top-section{
        margin-top: 10px;
    }

    .btn{
        min-width: 75px;
        min-height: 40px;
    }





</style>
