<template>
    <div>
        <no-ssr>
        <div v-if="!showContent" class="aligncenter">
            <img src="@/assets/images/ajax-loader-2.gif" alt="">
        </div>


        <div v-else class="services-customer-profile-content">
            <section id="page-title" class="">
                <admin-header />
            </section>
            <section>
                <div class="container-fluid clearfix">
                    <div class="row">
                        <div class="col-md-2">
                            <AdminSidebar  />
                        </div>
                        <div class="col-md-9 admin-page-content">

                            <div class="row service-section">
                                <div class="col-md-1 input-title">
                                    ID
                                </div>
                                <div class="col-md-7 mt-8">
                                    {{ customer.uid }}
                                </div>

                            </div>

                            <div class="row service-section">
                                <div class="col-md-1 input-title">
                                    User Name
                                </div>
                                <div class="col-md-7 mt-8">
                                    {{ customer.name }}
                                </div>

                            </div>

                            <div class="row service-section">
                                <div class="col-md-1 input-title">
                                    Email
                                </div>
                                <div class="col-md-7 mt-8">
                                    {{ customer.email }}
                                </div>

                            </div>

                            <div class="row service-section">
                                <div class="col-md-1 input-title">
                                    Phone
                                </div>
                                <div class="col-md-7 mt-8">
                                    {{ customer.phone }}
                                </div>

                            </div>

                            <div class="row service-section">
                                <div class="col-md-1 input-title">
                                    Orders
                                </div>
                                <div class="col-md-7 mt-8">
                                    {{ customerOrders.length }}
                                </div>

                            </div>

                            <div class="row service-section">
                                <div class="col-md-1 input-title">
                                    <nuxt-link class="btn btn-info proceed-button" to="/admin/dashboard/customers/all">Back</nuxt-link>
                                </div>
                                <div class="col-md-7 mt-8">

                                </div>

                            </div>

                        </div>
                        <div class="col-md-1 admin-page-content">
                            <div>
                                <img width="119" height="119" :src="customer.imageURL" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        </no-ssr>
    </div>
</template>

<script>


    import DB from '~/plugins/firebase/init'
    import AdminSidebar from '@/components/AdminSidebarMenu';
    import AdminHeader from "@/components/AdminHeader";

    export default {
        middleware : 'auth',
        components: {
            AdminHeader,
            AdminSidebar ,
        },
        asyncData (context) {

            var BASE = DB.collection("users").where('type' , '==' , 'customer').where('uid' , '==' , context.params.customer);
            //var docRef = BASE;

            var docRef = BASE.limit(15);

            return docRef.get().then(function (querySnapshot) {


                let customer = {};
                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        customer = doc.data();
                    });

                    // return {customers }
                    return {customer}
                } else {
                    // doc.data() will be undefined in this case
                    console.log("Here No such document!");
                    return {customer : {}}
                }
            }).catch(function (error) {
                console.log("Error getting document:", error);
            });


        },
        data(){
            return {

                customer : {},
                customerOrders : []
            }
        },
        computed : {


            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            },
        },
        methods : {

        },

        created(){
            let self = this;
            this.validateOldUser();
            DB.collection("orders").where('customer' , '==' , this.customer.uid).get().then(querySnapshot => {



                if (!querySnapshot.empty) {
                    self.customerOrders = []
                    querySnapshot.forEach(doc => {
                        self.customerOrders.push(doc.data());
                    });
                }
            }).catch(function (error) {
                console.log("Error getting document:", error);
            });


        }
    }
</script>

<style scoped>

    .mt-8{
        margin-top: 8px;
    }
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }


    .top-section{
        margin-top: 20px;
    }

    .input-title{
        padding-top : 10px;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 5px;
        margin-bottom: 5px;
        font-weight: bold !important;
    }

    .proceed-button{
        background-color: #fe6500;
        border-color: #fe6500;
        min-width: 80px;
        min-height: 40px;
    }

    .service-section{
        margin-top: 10px;
    }





</style>
