<template>
    <div>
        <div v-if="!showContent" class="aligncenter">
            <img src="@/assets/images/ajax-loader-2.gif" alt="">
        </div>


        <div v-else class="services-customer-profile-content">
            <section id="page-title" class="">
                <admin-header />
            </section>
            <section>
                <div class="container-fluid clearfix">
                    <div class="row">
                        <div class="col-md-2">
                            <AdminSidebar  />
                        </div>
                        <div class="col-md-10 admin-page-content">
                            <div class="row top-section">
                                <div class="col-md-8">
                                    <h3>List of Pending Stores</h3>
                                </div>
                            </div>
                            <div class="row" v-if="stores.length > 0">
                                <div class="col-md-2 center">Name</div>
                                <div class="col-md-2 center">&nbsp;</div>
                                <div class="col-md-1 center">action</div>
                            </div>
                            <p v-else class="error">There is no pending stores now </p>

                            <div id="draggable">
                                <div class="row single-service" :key="store.id" v-for="(store , index ) in stores">
                                    <div class="col-md-2 item">
                                        {{store.name}}
                                    </div>


                                    <div class="col-md-2 center">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-1 center">
                                        <nuxt-link :to="`/admin/dashboard/store/pending-store/${store.id}`" class="btn btn-outline-info">Action</nuxt-link>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
import DB from "~/plugins/firebase/init";
import AdminSidebar from "@/components/AdminSidebarMenu";
import AdminHeader from "@/components/AdminHeader";
export default {
  middleware: "auth",
  components: {
    AdminHeader,
    AdminSidebar
  },
  asyncData(context) {
    var docRef = DB.collection("store")
      .where("status", "==", "pending")
      .orderBy("createdAt", "desc");

    return docRef
      .get()
      .then(function(querySnapshot) {
        let stores = [];
        if (!querySnapshot.empty) {
          querySnapshot.forEach(doc => {
            stores.push(doc.data());
          });

          return { stores };
        } else {
          // doc.data() will be undefined in this case
          console.log("Here No such document!");
          return { stores: [] };
        }
      })
      .catch(function(error) {
        console.log("Error getting document:", error);
      });
  },
  data() {
    return {
      alreadyExist: false,
      disable: false,
      stores: []
    };
  },
  computed: {
    showContent() {
      if (this.user.hasOwnProperty("uid")) return true;

      return false;
    }
  },
  methods: {},

  created() {
    this.validateOldUser();
  }
};
</script>

<style scoped>
#page-title {
  padding: 10px;
}
#page-title span {
  margin-top: 0px;
}

.col_half h4 {
  margin-bottom: 10px;
}
.info-tbl td,
.cards-tbl tr:first-child td {
  border-top: none !important;
}

.admin-page-content {
  background-color: #f1f4f7;
  min-height: 500px;
}

.single-service {
  background-color: #ffffff;
  padding-top: 10px;
  margin: 9px 1px 2px 1px;
}

.single-service .item {
  padding-bottom: 5px;
  padding-top: 5px;
}

.single-service .action {
  padding-bottom: 7px;
}

.new-service {
  background-color: #fe6500;
  border-color: #fe6500;
  float: right;
}

.error {
  color: #fe6500;
  font-size: 12px;
}

.top-section {
    margin-top: 10px;
}

.lm {
  margin-left: 6px;
}

.cat-image {
  width: 45%;
}

.btn {
  min-width: 75px;
  min-height: 40px;
}
</style>
