<template>
    <no-ssr>
        <div>
            <div v-if="!showContent" class="aligncenter">
                <img src="@/assets/images/ajax-loader-2.gif" alt="">
            </div>


            <div v-else class="services-customer-profile-content">
                <section id="page-title" class="">
                    <admin-header />
                </section>
                <section>
                    <div class="container-fluid clearfix">
                        <div class="row">
                            <div class="col-md-2">
                                <AdminSidebar />
                            </div>
                            <div class="col-md-10 admin-page-content">
                                <p style="text-align: right; margin-bottom: -10px; margin-top: 10px;">
                                    <button @click.prevent="discard" class="btn btn-danger" style="margin-right: 20px;">
                                        <span >Discard</span>
                                    </button>
                                    <button @click.prevent="approve" class="btn btn-info proceed-button">
                                        <span v-if="disable">
                                <img src="@/assets/images/ajax-loader.gif" alt="">
                                </span>
                                        <span v-else>Approve</span>
                                    </button>
                                </p>
                                <div class="col_half topmargin disable-edit">

                                    <div class="card">
                                        <div class="card-body">
                                            <h3>Current Profile</h3>

                                            <div class="row">
                                                <div class="col-md-12 input-title">
                                                    Store Name
                                                </div>
                                                <div class="col-md-12">
                                                    <input v-model.trim="store.name"  type="text" class="form-control">
                                                </div>
                                                <div class="col-md-12 input-title">
                                                    Description
                                                </div>
                                                <div class="col-md-12 input-title">
                                                    <textarea v-model.trim="store.description"  rows="3" class="form-control"></textarea>
                                                </div>
                                                <div class="col-md-12 input-title">
                                                    Address
                                                </div>
                                                <div class="col-md-12">
                                                    <textarea v-model.trim="store.address"  rows="3" class="form-control"></textarea>
                                                </div>
                                                <div class="col-md-12 input-title">
                                                    Phone
                                                </div>
                                                <div class="col-md-12">
                                                    <input type="text" v-model.trim="store.phone"  class="form-control">
                                                </div>

                                                <div class="col-md-12 input-title">
                                                    ABN/ACN
                                                </div>
                                                <div class="col-md-12">
                                                    <input type="text" v-model.trim="store.abn_acn"  class="form-control">
                                                </div>

                                                <div class="col-md-12 input-title">
                                                    Commission Percentage
                                                </div>
                                                <div class="col-md-12">
                                                    <input style="max-width: 80px; display: inline-block"  type="text" @change="verify" v-model.trim="store.comission_percentage"  class="form-control">%
                                                </div>

                                                <div class="col-md-12 input-title">
                                                    Service Name
                                                </div>
                                                <div class="col-md-12">
                                                    <select v-model="store.serviceID"  class="form-control">
                                                        <option :value="service.id" v-for="service in services">{{service.name}}</option>
                                                    </select>
                                                </div>


                                                <div class="col-md-12" v-if="current_service_categories.length > 0" style="margin-top: 10px">
                                                    <select v-model="store.serviceCatID"  class="form-control">
                                                        <option value="select">Service Category</option>
                                                        <option :value="cat.id" v-for="cat in current_service_categories">{{cat.name}}</option>
                                                    </select>
                                                </div>

                                                <div class="col-md-12 input-title">
                                                    Choose Delivery Methods
                                                </div>
                                                <div class="col-md-12" style="margin-bottom: 40px">
                                                <span :class="{ 'selected' : checkCurrentSelection(method.id) }" class="method" v-for="method in delivery_methods">
                                                    {{ method.name }} &nbsp;&nbsp; &#36;{{method.charge}}
                                                </span>
                                                </div>

                                                <div class="col-md-12 input-title">
                                                    Select Country
                                                </div>
                                                <div class="col-md-12 input-title" style="">
                                                    <select v-model="current_country"  class="form-control">
                                                        <option :value="cat.id" v-for="cat in countries">{{cat.name}}</option>
                                                    </select>
                                                </div>

                                                <div class="col-md-12 input-title">
                                                    Select Post Codes where you don't provide service
                                                </div>
                                                <div class="col-md-12" style="margin-bottom: 40px">
                                                <span :class="{ 'selected' : checkCurrentPostCodes(code) }" class="method" v-for="code in codes">
                                                    {{ code }}
                                                </span>
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col_half topmargin col_last">

                                    <div class="card">
                                        <div class="card-body">
                                            <h3>Requested Profile</h3>

                                            <div class="row">
                                                <div class="col-md-12 input-title">
                                                    Store Name
                                                </div>
                                                <div class="col-md-12">
                                                    <input @focus="error.name = false" v-model.trim="store.pendingChange.name"  type="text" class="form-control">
                                                    <span v-if="error.name" class="error">Store Name Can't be empty</span>
                                                </div>
                                                <div class="col-md-12 input-title">
                                                    Description
                                                </div>
                                                <div class="col-md-12 input-title">
                                                    <textarea @focus="error.description = false" v-model.trim="store.pendingChange.description"  rows="3" class="form-control"></textarea>
                                                    <span class="error" v-if="error.description">Description can't be empty</span>
                                                </div>
                                                <div class="col-md-12 input-title">
                                                    Address
                                                </div>
                                                <div class="col-md-12">
                                                    <textarea @focus="error.address = false" v-model.trim="store.pendingChange.address"  rows="3" class="form-control"></textarea>
                                                    <span v-if="error.address" class="error">Store Address Can't be empty</span>
                                                </div>
                                                <div class="col-md-12 input-title">
                                                    Phone
                                                </div>
                                                <div class="col-md-12">
                                                    <input @focus="error.phone = false" type="text" v-model.trim="store.pendingChange.phone"  class="form-control">
                                                    <span v-if="error.phone" class="error">Store Phone Number Can't be empty</span>
                                                </div>

                                                <div class="col-md-12 input-title">
                                                    ABN/ACN
                                                </div>
                                                <div class="col-md-12">
                                                    <input @focus="error.abn_acn = false" type="text" v-model.trim="store.pendingChange.abn_acn"  class="form-control">
                                                    <span v-if="error.abn_acn" class="error">ABN/ACN Number Can't be empty</span>
                                                </div>

                                                <div class="col-md-12 input-title">
                                                    Commission Percentage
                                                </div>
                                                <div class="col-md-12">
                                                    <input style="max-width: 80px; display: inline-block"  type="text" @change="verify" v-model.trim="store.pendingChange.comission_percentage"  class="form-control">%
                                                </div>

                                                <div class="col-md-12 input-title">
                                                    Service Name
                                                </div>
                                                <div class="col-md-12">
                                                    <select @change="serviceCatID = 'select'" v-model="serviceID"  class="form-control">
                                                        <option :value="service.id" v-for="service in services">{{service.name}}</option>
                                                    </select>
                                                </div>


                                                <div class="col-md-12" v-if="pending_service_categories.length > 0" style="margin-top: 10px">
                                                    <select v-model="serviceCatID"  class="form-control">
                                                        <option value="select">Service Category</option>
                                                        <option :value="cat.id" v-for="cat in pending_service_categories">{{cat.name}}</option>
                                                    </select>
                                                </div>

                                                <div class="col-md-12 input-title">
                                                    Choose Delivery Methods
                                                </div>
                                                <div class="col-md-12" style="margin-bottom: 40px">
                                                <span @click="pick(method.id)" :class="{ 'selected' : checkSelection(method.id) }" class="method" v-for="method in delivery_methods">
                                                    {{ method.name }} &nbsp;&nbsp; &#36;{{method.charge}}
                                                </span>
                                                </div>

                                                <div class="col-md-12 input-title">
                                                    Select Country
                                                </div>
                                                <div class="col-md-12 input-title" style="">
                                                    <select @change="updatePostCodes" v-model="country"  class="form-control">
                                                        <option :value="cat.id" v-for="cat in countries">{{cat.name}}</option>
                                                    </select>
                                                </div>

                                                <div class="col-md-12 input-title">
                                                    Select Post Codes where you don't provide service
                                                </div>
                                                <div class="col-md-12" style="margin-bottom: 40px">
                                                <span @click="pickCode(code)" :class="{ 'selected' : checkPostCodes(code) }" class="method" v-for="code in codes">
                                                    {{ code }}
                                                </span>
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                </div>



                                <div class="clear"></div>


                            </div>


                        </div>
                    </div>
                </section>
            </div>
        </div>
    </no-ssr>
</template>

<script>

    import firebase from 'firebase'
    import DB from '~/plugins/firebase/init'
    import AdminSidebar from '@/components/AdminSidebarMenu';
    import InputError from '@/components/InputError';
    import AdminHeader from "@/components/AdminHeader";
    import ShowFileUpload from "@/components/ShowFileUpload";
    export default {
        middleware : 'auth',
        components: {
            AdminHeader,
            AdminSidebar , InputError , ShowFileUpload
        },
        asyncData (context) {
            var docRef = DB.collection("services");

            return docRef.get().then(function (querySnapshot) {
                let services = []
                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        services.push(doc.data())

                    });

                    return {services}
                } else {
                    // doc.data() will be undefined in this case
                    console.log("Here No such document!");
                    return { services : []}
                }
            }).then((data) => {
                if (context.params.shopID !== undefined) {
                    var docRef = DB.collection("store").doc(context.params.shopID);

                    return docRef.get().then(function (doc) {
                        if (doc.exists) {
                            return {
                                ...data ,
                                store: doc.data(),
                                current_country : doc.data().country ? doc.data().country.id : ''
                            }
                        }
                    });

                } else {
                    return {...data}
                }


            }).catch(function (error) {
                console.log("Error getting document:", error);
            });
        },
        data(){
            return {
                logoUploading : false,
                imageUploading : false,

                error: {
                    name: false,
                    address : false,
                    description : false,
                    phone: false,
                    abn_acn : false
                },

                disable : false,
                proceed : false,
                serviceID : '',
                serviceCatID : 'select',
                store : { name : '' },
                services : [],
                countries : [],
                current_countries : [],
                service_categories : [],
                delivery_methods : [],
                selectedMethods : [],
                selectedCurrentMethods : [],
                selectedPostCodes: [],
                selectedCurrentPostCodes : [],
                country : '',
                current_country : ''
            }
        },
        computed : {
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            },
            pending_service_categories(){
                let cat = [] , self =this;


                if(this.serviceID !== ''){
                    this.service_categories.forEach(item => {
                        if(item.serviceId === self.serviceID || item.serviceID === self.serviceID){
                            cat.push(item)
                        }
                    })
                }

                return cat;
            },
            current_service_categories(){
                let cat = [] , self =this;

                if(this.store.serviceCatID !== '') {
                    this.service_categories.forEach(item => {
                        if (item.serviceID === self.store.serviceID || item.serviceId === self.store.serviceID) {
                            cat.push(item)
                        } else {
                            //console.log('not found');
                        }
                    })
                }


                return cat;
            },
            codes(){
                let codes = [] , self = this;
                this.countries.forEach(item => {
                    if(item.id === self.country){
                        codes = item.codes;
                    }
                })

                return codes
            },
            current_codes(){

                let codes = [] , self = this;
                this.current_countries.forEach(item => {
                    if(item.id === self.country){
                        codes = item.codes;
                    }
                })

                return codes
            }
        },
        methods : {

            keyhander(event){
                if(this.store.description.length >= this.maxSize && event.key !== 'Backspace')
                    event.preventDefault();
            },
            verify(){
                var comission_percentage = isNaN(this.store.comission_percentage) || this.store.comission_percentage === '' ? 0 : this.store.comission_percentage;
                this.store.comission_percentage = comission_percentage < 0 ? comission_percentage * (-1) : comission_percentage;
            },
            updatePostCodes(){
                if(this.country !== ''){
                    this.selectedPostCodes = [];
                }
            },
            pickCode(code){
                let exist = false , Index = -1;
                this.selectedPostCodes.forEach((item , index) => {
                    if(item === code){
                        exist = true;
                        Index = index
                    }
                })
                if(exist === false){
                    this.codes.forEach(item => {
                        if(item === code){
                            this.selectedPostCodes.push(item)
                        }
                    })
                } else {
                    this.selectedPostCodes.splice(Index , 1);
                }
            },
            checkPostCodes(code){
                let exist = false;

                this.selectedPostCodes.forEach(item => {
                    if(item === code){
                        exist = true
                    }
                })

                return exist;
            },
            checkCurrentPostCodes(code){
                let exist = false;

                this.selectedCurrentPostCodes.forEach(item => {
                    if(item === code){
                        exist = true
                    }
                })

                return exist;
            },
            checkSelection(id){
                let exist = false;

                this.selectedMethods.forEach(item => {
                    if(item === id){
                        exist = true
                    }
                })

                return exist;

            },
            checkCurrentSelection(id){
                let exist = false;

                this.selectedCurrentMethods.forEach(item => {
                    if(item === id){
                        exist = true
                    }
                })

                return exist;

            },
            pick(id){
                let exist = false , Index = -1;
                this.selectedMethods.forEach((item , index) => {
                    if(item === id){
                        exist = true;
                        Index = index
                    }
                })
                if(exist === false){
                    this.delivery_methods.forEach(item => {
                        if(item.id === id){
                            this.selectedMethods.push(item.id)
                        }
                    })
                } else {
                    this.selectedMethods.splice(Index , 1);
                }

            },
            fetchName(id){
                let name = '';
                this.countries.forEach(item => {
                    if(item.id === id)
                        name = item.name
                })

                return name;
            },
            approve(){

                let self = this;

                var error = [];

                if(self.store.pendingChange.name.length === 0){
                    self.error.name = true;
                    error.push('name')
                }

                if(self.store.pendingChange.description.length === 0){
                    self.error.description = true;
                    error.push('description')
                }

                if(self.store.pendingChange.phone.length === 0){
                    self.error.phone = true;
                    error.push('phone')
                }

                if(error.length === 0){

                    let size = self.store.pendingChange.name.length;
                    let indexArr = [];
                    for(var i=1 ; i<= size ; i++){
                        indexArr.push(self.store.pendingChange.name.substr(0, i).toLowerCase())
                    }

                    self.store.pendingChange.name.split(' ').forEach(item => {
                        if(!indexArr.includes(item))
                            indexArr.push(item.toLowerCase())
                    });

                    self.store.pendingChange.name.split(' ').forEach(item => {
                        var temp_size = item.length;
                        for(var i=1 ; i<= temp_size ; i++){
                            var check = item.substr(0, i).toLowerCase();
                            if(!indexArr.includes(check))
                                indexArr.push(check)
                        }
                    });

                    self.store.pendingChange.indexArr = indexArr;

                    self.store.pendingChange.delivery_methods = this.selectedMethods.map(item => item)
                    self.store.pendingChange.postcodes = this.selectedPostCodes;
                    self.store.pendingChange.country = {
                        id : this.country,
                        name : this.fetchName(this.country)
                    }
                    self.store.pendingChange.serviceID = this.serviceID ;
                    self.store.pendingChange.serviceCatID = this.serviceCatID === 'select' ? '' : this.serviceCatID ;
                    //self.store.status = 'enabled';
                    //self.store.pendingChange = {};

                    self.$set(self.store.pendingChange , 'pendingChange' , {} );
                    //self.store.pendingChange = JSON.parse(JSON.stringify(self.store))

                    let newStore = JSON.parse(JSON.stringify(self.store.pendingChange))

                    self.disable = true;

                    let citiesRef = DB.collection("store");
                    citiesRef.doc(self.store.id).update(newStore).then(() => {
                        self.disable = false;
                        self.$store.dispatch('flash' , {
                            message : 'Updated',
                            type : 'success'
                        });

                        self.$router.push({path :  `/admin/dashboard/store/all-store`})
                    });
                }


            },
            discard(){
                let self = this
                let citiesRef = DB.collection("store");
                citiesRef.doc(self.store.id).update({
                    pendingChange : {}
                }).then(() => {
                    self.$store.dispatch('flash' , {
                        message : 'Request discarded',
                        type : 'success'
                    });

                    self.$router.push({path :  `/admin/dashboard/store/all-store`})
                });
            }

        },

        created(){


            this.validateOldUser();

            let self= this;

            self.selectedCurrentMethods = self.store.delivery_methods ? self.store.delivery_methods : [];
            self.selectedCurrentPostCodes = self.store.postcodes ? self.store.postcodes : [];

            self.selectedMethods = self.store.pendingChange.delivery_methods ? self.store.pendingChange.delivery_methods : [];
            self.selectedPostCodes = self.store.pendingChange.postcodes ? self.store.pendingChange.postcodes : [];

            var docRef = DB.collection("service-category");

            docRef.get().then(function (querySnapshot) {
                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        self.service_categories.push(doc.data())
                    });
                } else {
                    // doc.data() will be undefined in this case
                    console.log("Here No such document!");
                    return {}
                }
            });

            this.serviceID = this.store.pendingChange.serviceID ? this.store.pendingChange.serviceID : '';
            this.serviceCatID = this.store.pendingChange.serviceCatID ? this.store.pendingChange.serviceCatID : '';


            docRef = DB.collection("delivery-methods");

            docRef.get().then(function (querySnapshot) {
                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        self.delivery_methods.push(doc.data())
                    });
                } else {
                    // doc.data() will be undefined in this case
                    console.log("Here No such document!");
                    return {}
                }
            });


            docRef = DB.collection("General-infos");

            docRef.get().then(function (querySnapshot) {
                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        if(doc.data().type === 'country-location'){

                            self.countries.push(doc.data())
                        }

                        self.country = self.countries[0].id;
                    });
                } else {
                    // doc.data() will be undefined in this case
                    console.log("Here No such document!");
                    return {}
                }
            });


            //this.selectedMethods = this.store.selectedMethods


        }
    }
</script>

<style scoped>
    .disable-edit {
        pointer-events:none;
    }
    .disable-edit .card{
        background-color: lightgray !important;
    }
    .error{
        color: #fe6500;
        font-size: 12px;
    }
    .col_half {
    //width: 80% !important;
    }
    .selected{
        background-color: #fe6500 !important;
    }
    .method{
        display: inline-block;
        padding: 12px;
        background-color: #07C748;
        border-radius: 4px;
        color: #FFFFFF;
        margin-left: 8px;
        margin-top: 8px;
        cursor: pointer;
        font-size: 12px !important;
    }
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }


    .top-section{
        margin-top: 20px;
    }

    .input-title{
        padding-top : 10px;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 5px;
        margin-bottom: 5px;
    }

    .proceed-button{
        background-color: #07C748;
        border-color: #07C748;
        min-width: 80px;
        min-height: 40px;
    }

    .reject-button {
        background-color: #fe6500;
        border-color: #fe6500;
        min-width: 80px;
        min-height: 40px;
        margin-right: 30px;
    }

    .service-section{
        margin-top: 10px;
    }

    .checkbox{
        margin-top: 14px;
    }

    .small-cam{
        height: 20px;
        width: 20px;
        cursor: pointer;
        border: 1px solid gray;
        border-radius: 5px;
        margin-top: 15px; background-color: #fe6500
    }

</style>
