<template>
    <div>
        <no-ssr>
            <div v-if="!showContent" class="aligncenter">
                <img src="@/assets/images/ajax-loader-2.gif" alt="">
            </div>


            <div v-else class="services-customer-profile-content">
                <section id="page-title" class="">
                    <admin-header />
                </section>
                <section>
                    <div class="container-fluid clearfix">
                        <div class="row">
                            <div class="col-md-2">
                                <AdminSidebar  />
                            </div>
                            <div class="col-md-10 admin-page-content">
                                <div class="row top-section">
                                    <div class="col-md-8">
                                        <h3>Edit Zone</h3>
                                    </div>
                                </div>
                                <div class="row service-section">
                                    <div class="col-md-2 input-title">
                                        Zone Name
                                    </div>
                                    <div class="col-md-7">
                                        <input @focus="error.name = false" v-model.trim="zone.name"  type="text" class="form-control">
                                    </div>

                                </div>

                                <div class="row service-section">
                                    <div class="col-md-2 input-title">
                                        Select Country
                                    </div>
                                    <div class="col-md-7">
                                        <select v-model="zone.country" class="form-control">
                                            <option :key="country.slug" :value="country.id" v-for="country in  countries">{{ country.name }}</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="row service-section">
                                    <div class="col-md-2 input-title">
                                        Select Post codes
                                    </div>
                                    <div class="col-md-7">
                                        <multiselect v-model="currentPostCodes" :options="postCodes" :multiple="true" :close-on-select="false" :clear-on-select="false" :hide-selected="true" :preserve-search="true" placeholder="Pick Post codes" label="name" track-by="name" :preselect-first="false">
                                            <template slot="tag" slot-scope="props"><span class="custom__tag"><span>{{ props.option.name }}</span><span class="custom__remove" @click="props.remove(props.option)">❌</span></span></template>
                                        </multiselect>
                                    </div>

                                </div>

                                <div class="row service-section">
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-6">
                                        <button @click.prevent="checkZoneName" class="btn btn-info proceed-button">
                                        <span v-if="disable">
                                              <img src="@/assets/images/ajax-loader.gif" alt="">
                                        </span>
                                            <span v-else>Update</span>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </no-ssr>
    </div>
</template>

<script>

    import DB from '~/plugins/firebase/init'
    import AdminSidebar from '@/components/AdminSidebarMenu';
    import InputError from '@/components/InputError';
    import {mapGetters} from 'vuex'
    import AdminHeader from "@/components/AdminHeader";
    import "vue-multiselect/dist/vue-multiselect.min.css"
    import Multiselect from 'vue-multiselect'
    export default {
        middleware : 'auth',
        components: {
            AdminHeader,
            AdminSidebar , InputError , Multiselect
        },
        asyncData (context) {
            var BASE = DB.collection("service-zones");

            return BASE.get().then(function (querySnapshot) {


                let usedCodes = [];
                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        doc.data().postCodes.forEach(item => {
                            usedCodes.push(item);
                        })

                    });

                    // return {country }
                    return {usedCodes}
                } else {
                    // doc.data() will be undefined in this case
                    console.log("Here No such document!");
                    return {countries : []}
                }
            }).catch(function (error) {
                console.log("Error getting document:", error);
            });


        },
        data(){
            return {
                value : '',
                options: ['Select option', 'options', 'selected', 'mulitple', 'label', 'searchable', 'clearOnSelect', 'hideSelected', 'maxHeight', 'allowEmpty', 'showLabels', 'onChange', 'touched'],
                error : {
                    name : false,
                    nameMessage : '',
                    description : false,
                    descriptionMessage : ''
                },
                disable : false,
                proceed : false,
                zone : {
                    id : '',
                    name : '',
                    slug : '',
                    country : '',
                    createdAt : 0,
                    postCodes : []
                },
                countries : [],
                countryMap : {},
                postCodes : [],
                currentPostCodes : [],
                usedCodes : []
            }
        },
        computed : {
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            },
        },
        methods : {
            checkZoneName(){

                let self = this;
                if(self.zone.name.length < 4){
                    self.error.name = true;
                    self.error.nameMessage = "Name must be atleast 4 charcters"
                    return;
                }

                var postcodes = self.currentPostCodes.map(item => {
                    return item.id;
                })

                self.disable = true;
                self.zone.slug = self.zone.name.toLowerCase().replace(/[^a-z0-9-]+/g , '-');
                let citiesRef = DB.collection("service-zones");
                let query = citiesRef.where("slug", "==", self.zone.slug);

                query.get().then(function(querySnapshot) {

                    let current_one_ok = false;
                    querySnapshot.forEach(doc => {

                        if(doc.data().id === self.zone.id)
                            current_one_ok = true;
                    })


                    if (querySnapshot.size !== 0 && current_one_ok === false) {

                        self.alreadyExist = true;
                        self.disable = false;
                        self.error.name = true;
                        self.error.nameMessage = 'A Zone with this name already exists';


                    } else {
                        //   doc.data() will be undefined in this case
                        self.disable = false;
                        citiesRef.doc(self.zone.id).update({
                            name : self.zone.name,
                            slug : self.zone.slug,
                            country : self.zone.country,
                            postCodes : postcodes
                        }).then(()=> {
                            self.$store.dispatch('flash' , {
                                message : 'Zone info Updated',
                                type : 'success'
                            });
                        })
                    }
                }).catch(function(error) {
                    console.log("Error getting document:", error);
                });
            }
        },

        created(){
            this.validateOldUser();


            DB.collection("service-zones").where('id' , '==' , this.$route.params.id).get().then((querySnapshot) => {
                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        self.zone = {...doc.data()};
                    });

                    self.currentPostCodes = self.zone.postCodes.map(item => {
                        return {
                            id : item,
                            name : item
                        }
                    })

                }
            })

            let citiesRef = DB.collection("General-infos") , self = this;
            let query = citiesRef.where("type", "==", 'country-location');

            query.get().then(function(querySnapshot) {
                if (!querySnapshot.empty) {
                    self.countries = []
                    querySnapshot.forEach(doc => {
                        self.countries.push(doc.data());
                    });

                    self.countries.forEach(item => {
                        self.countryMap[item.id] = item;
                    })

                    self.countryMap[self.zone.country].codes.forEach(item => {
                        self.postCodes.push({
                            id : item,
                            name : item
                        })
                    })

                    /*let new_array = self.postCodes.filter(item => {
                        if(!self.usedCodes.includes(item.id))
                            return item;
                    })

                    self.postCodes = self.removeReferences(new_array);*/


                }
            })

        },
        mounted(){}
    }
</script>

<style scoped>
    .custom__tag:nth-child(2n) {
        background: #daffee;
    }

    .custom__tag {
        display: inline-block;
        padding: 3px 12px;
        background: #d2d7ff;
        margin-right: 8px;
        margin-bottom: 8px;
        border-radius: 10px;
        cursor: pointer;
    }
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }


    .top-section{
        margin-top: 20px;
    }

    .input-title{
        padding-top : 10px;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 5px;
        margin-bottom: 5px;
    }

    .proceed-button{
        background-color: #fe6500;
        border-color: #fe6500;
        min-width: 80px;
        min-height: 40px;
    }

    .service-section{
        margin-top: 10px;
    }

    .checkbox{
        margin-top: 14px;
    }


</style>
