<template>
    <div>
        <no-ssr>
        <div v-if="!showContent" class="aligncenter">
            <img src="@/assets/images/ajax-loader-2.gif" alt="">
        </div>


        <div v-else class="services-customer-profile-content">
            <section id="page-title" class="">
                <admin-header />
            </section>
            <section>
                <div class="container-fluid clearfix">
                    <div class="row">
                        <div class="col-md-2">
                            <AdminSidebar  />
                        </div>
                        <div class="col-md-10 admin-page-content">
                            <div class="row top-section">
                                <div class="col-md-8">
                                    <h3>Create New Zone</h3>
                                </div>
                            </div>
                            <div class="row service-section">
                                <div class="col-md-2 input-title">
                                    Zone Name
                                </div>
                                <div class="col-md-7">
                                    <input @focus="error.name = false" v-model.trim="zone.name"  type="text" class="form-control">
                                </div>

                            </div>

                            <InputError v-if="error.name">
                                {{error.nameMessage}}
                            </InputError>

                            <div class="row service-section">
                                <div class="col-md-2 input-title">
                                    Select Country
                                </div>
                                <div class="col-md-7">
                                    <select v-model="zone.country" class="form-control">
                                        <option :key="country.slug" :value="country.id" v-for="country in  countries">{{ country.name }}</option>
                                    </select>
                                </div>

                            </div>

                            <div class="row service-section">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-6">
                                    <button @click.prevent="checkZoneName" class="btn btn-info proceed-button">
                                        <span v-if="disable">
                                              <img src="@/assets/images/ajax-loader.gif" alt="">
                                        </span>
                                        <span v-else>proceed</span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
        </no-ssr>
    </div>
</template>

<script>

    import DB from '~/plugins/firebase/init'
    import AdminSidebar from '@/components/AdminSidebarMenu';
    import InputError from '@/components/InputError';
    import {mapGetters} from 'vuex'
    import AdminHeader from "@/components/AdminHeader";
    export default {
        middleware : 'auth',
        components: {
            AdminHeader,
            AdminSidebar , InputError
        },
        data(){
            return {
                error : {
                    name : false,
                    nameMessage : '',
                    description : false,
                    descriptionMessage : ''
                },
                disable : false,
                proceed : false,
                zone : {
                    id : '',
                    name : '',
                    slug : '',
                    country : '',
                    createdAt : 0,
                    postCodes : []
                },
                countries : []
            }
        },
        computed : {
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            }
        },
        methods : {
            checkZoneName(){

                let self = this;
                if(self.zone.name.length < 4){
                    self.error.name = true;
                    self.error.nameMessage = "Name must be atleast 4 charcters"
                    return;
                }

                self.disable = true;
                self.zone.slug = self.zone.name.toLowerCase().replace(/[^a-z0-9-]+/g , '-');
                let citiesRef = DB.collection("service-zones");
                let query = citiesRef.where("slug", "==", self.zone.slug);

                query.get().then(function(querySnapshot) {
                    //console.log("Document data:", doc);
                    if (!querySnapshot.empty) {
                        self.alreadyExist = true;
                        self.disable = false;
                        self.error.name = true;
                        self.error.nameMessage = 'A Zone with this name already exists';
                    } else {
                        // doc.data() will be undefined in this case
                        //console.log("No such document!");
                        let time = (new Date()).getTime();
                        self.zone.createdAt = time;

                        citiesRef.add(self.zone)
                            .then(function(docRef) {
                                self.proceed = true;
                                self.disable = false;
                                //console.log("Document written with ID: ", docRef.id);
                                citiesRef.doc(docRef.id).update({id : docRef.id}).then(()=> {
                                    self.$router.push({ path : `/admin/dashboard/location/zone/${docRef.id}`  });
                                })
                            })
                            .catch(function(error) {
                                console.error("Error adding document: ", error);
                            });

                    }
                }).catch(function(error) {
                    console.log("Error getting document:", error);
                });
            }
        },

        created(){
            this.validateOldUser();

            let citiesRef = DB.collection("General-infos") , self = this;
            let query = citiesRef.where("type", "==", 'country-location');

            query.get().then(function(querySnapshot) {
                if (!querySnapshot.empty) {
                    self.countries = []
                    querySnapshot.forEach(doc => {
                        self.countries.push(doc.data());
                    });

                    self.zone.country = self.countries[0] ? self.countries[0].id : ''

                }
            })

        },
        mounted(){}
    }
</script>

<style scoped>
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }


    .top-section{
        margin-top: 20px;
    }

    .input-title{
        padding-top : 10px;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 5px;
        margin-bottom: 5px;
    }

    .proceed-button{
        background-color: #fe6500;
        border-color: #fe6500;
        min-width: 80px;
        min-height: 40px;
    }

    .service-section{
        margin-top: 10px;
    }

    .checkbox{
        margin-top: 14px;
    }


</style>
