<template>
    <div>
        <no-ssr>
            <div v-if="!showContent" class="aligncenter">
                <img src="@/assets/images/ajax-loader-2.gif" alt="">
            </div>


            <div v-else class="services-customer-profile-content">
                <section id="page-title" class="">
                    <admin-header />
                </section>
                <section>
                    <div class="container-fluid clearfix">
                        <div class="row">
                            <div class="col-md-2">
                                <AdminSidebar />
                            </div>
                            <div class="col-md-10 admin-page-content">
                                <h3>Event details <nuxt-link class="btn btn-info proceed-button" style="float: right" to="/admin/dashboard/event/lists">Back</nuxt-link></h3>
                                <div class="col_full topmargin">

                                    <div class="card">
                                        <div class="card-body">

                                            <div class="row">
                                                <div class="col-md-3" >
                                                    <img  v-if="event.imageURL==''"  src="//i.imgur.com/NEJ7kr8.png" class="small-cam" alt="" style="border: 1px solid gainsboro;padding-left: 5px;padding-right: 5px;">
                                                    <img  v-else  :src="event.imageURL" class="small-cam" alt="" >
                                                </div>
                                                <div class="col-md-9 event-description">
                                                    <p class="pull-right event-button">
                        <span class="input-group-btn">
                          <a class="btn btn-default subscribe-btn" target="_blank" :href="event.link" style="background-color:rgb(255, 102, 0);color:#fff;">Buy Tickets</a>
                      </span>
                                                    </p>

                                                    <h3>
                                                        {{event.name}}
                                                    </h3>
                                                    <div>
                                                        <ul class="entry-meta clearfix">
                                                            <li><i class="icon-clock"></i>{{event.dateTimeStr}}</li>
                                                            <li><i class="icon-location"></i>{{event.place}}</li>
                                                        </ul>
                                                    </div>

                                                    <div style="clear: both">
                                                        <h3 class="description">
                                                            Description
                                                        </h3>
                                                        <p>
                                                            {{ event.description }}
                                                        </p>
                                                    </div>
                                                    <div v-if="event.allowed.length > 0">
                                                        <h3>
                                                            Allowed
                                                        </h3>
                                                        <div class="allowed-section">
                                                            <ul>
                                                                <li v-for="(rule,index) in event.allowed">{{rule.description}}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div v-if="event.Notallowed.length > 0">
                                                        <h3>
                                                            Not Allowed
                                                        </h3>
                                                        <div class="not-allowed-section">
                                                            <ul>
                                                                <li v-for="(rule,index) in event.Notallowed">{{rule.description}}</li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>



                                        </div>
                                    </div>

                                </div>

                                <div class="clear"></div>



                                <div class="row service-section">
                                    <div class="col-md-6">
                                        <button @click.prevent="update" class="btn btn-info proceed-button">
                                        <span v-if="disable">
                                              <img src="@/assets/images/ajax-loader.gif" alt="">
                                        </span>
                                            <span v-else>
                                                {{ event.status === 'pending' || event.status === 'archived' ? 'Make it live' : '' }}
                                                {{ event.status === 'active' ? 'Make it archive' : '' }}
                                            </span>
                                        </button>

                                        <button style="margin-left: 45px" @click.prevent="showWarning" class="btn btn-info danger-button">
                                            Remove
                                        </button>
                                    </div>
                                </div>

                                <warning :message="message"
                                         :id="removeID"
                                         :warningFor="warningFor"
                                         v-if="warning"
                                         @close="warning = false"
                                         @remove="removeEvent"
                                />


                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </no-ssr>
    </div>
</template>

<script>

    import firebase from 'firebase'
    import DB from '~/plugins/firebase/init'
    import AdminSidebar from '@/components/AdminSidebarMenu';
    import AdminHeader from "@/components/AdminHeader";
    import Multiselect from 'vue-multiselect'
    import "vue-multiselect/dist/vue-multiselect.min.css"
    import Warning from "@/components/Warning";
    require('~/assets/datetimepicker/jquery.datetimepicker.min.css');
    if (process.browser) {
        require('~/assets/datetimepicker/jquery.datetimepicker.full');
    }
    export default {
        middleware : 'auth',
        components: {
            Warning,
            AdminHeader,
            AdminSidebar,
            Multiselect
        },
        asyncData (context) {
            //console.log(context.route.params.eventID);
            let eventId = context.route.params.eventID;
            var eventRef = DB.collection("events").where("id", "==", eventId);

            return  eventRef.get().then(function(querySnapshot) {
                let eventsArr = [];

                if(!querySnapshot.empty){
                    querySnapshot.forEach(doc => {
                        eventsArr.push(doc.data())
                    });
                }
                //console.log(eventsArr[0]);
                return {event : eventsArr[0]}

            }).catch(function(error) {
                console.log("Error getting documents: ", error);
            });
        },
        data() {
            return {
                message : '',
                removeID : '',
                warningFor : '',
                warning : false,
                event: '',
                topSlider: 'banner',
                showContent : true,
                disable : false,
            }
        },
        computed:{
            // ...mapGetters({
            //     displayStoreModal : 'su/getStoreModalStatus'
            // })
        },
        methods : {
            showWarning(){
                this.removeID = '';
                this.message = 'Please Confirm. I want to remove this event.';
                this.warning = true;
            },
            removeEvent(){
                let self = this;
                this.warning = false;



                //self.$router.push({ path : `/admin/dashboard/event/lists`  });
                DB.collection("events").doc(self.event.id).delete().then(() => {
                    self.$store.dispatch('flash' , {
                        message : 'Event Removed',
                        type : 'success'
                    });
                    self.$router.push({ path : `/admin/dashboard/event/lists`  });
                });
            },
            update(){
                let self = this;

                let status = '';
                if(self.event.status == 'pending'){
                    status =  'active' ;
                } else if(self.event.status == 'active') {
                    status =  'archived' ;
                } else if(self.event.status == 'archived') {
                    status =  'active' ;
                }

                self.disable = true;
                let citiesRef = DB.collection("events");

                citiesRef.doc(self.event.id).update({
                    status : status
                })
                    .then(function(docRef) {
                        //self.proceed = true;
                        self.disable = false;
                        self.$set(self.event , 'status' , status);
                        self.$store.dispatch('flash' , {
                            message : 'Event Status Updated',
                            type : 'success'
                        });
                    })
                    .catch(function(error) {
                        console.error("Error updating document: ", error);
                    });
            }
        },
        head () {
            return {
                bodyAttrs: {
                    class: this.displayStoreModal ? 'no-transition no-superfish ohidden' : ''
                }
            }
        },

        created(){
            this.validateOldUser();
        }
    }
</script>

<style scoped>
    .custom__tag:nth-child(2n) {
        background: #daffee;
    }

    .custom__tag {
        display: inline-block;
        padding: 3px 12px;
        background: #d2d7ff;
        margin-right: 8px;
        margin-bottom: 8px;
        border-radius: 10px;
        cursor: pointer;
    }
    .normal-price{
        color : lightgray;
        font-size: 19px;
        font-weight: bolder;
        text-decoration: line-through;
    }
    .discounted-price{
        color : limegreen;
        font-size: 25px;
        font-weight: bolder;
    }
    .price-box{
        border : 1px solid grey;
        padding: 10px;
        margin-left: 15px;
        margin-right: 20px;
    }
    .price-box p {
        margin-bottom: 5px !important;
    }
    .input-title{
        margin-top: 35px;
    }
    .btn-success, .btn-danger{
        padding: 1px !important;
        color: #FFFFFF !important;
        min-width: 60px !important;
        min-height: 26px !important;
    }

    .filter-container{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }

    .single-service{
        background-color: #ffffff;
        padding-top: 10px;
    //padding-bottom: 5px;
        margin: 9px 1px 2px 1px;

    }

    .single-service .item {
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .single-service .action {
        padding-bottom: 7px;
    }

    .new-service{
        background-color: #fe6500;
        border-color: #fe6500;
        float: right;
    }

    .error{
        color: #fe6500;
        font-size: 12px;
    }

    .top-section{
        margin-top: 20px;
    }

    .lm{
        margin-left: 6px;
    }

    .cat-image{
        width: 45%;
    }

    .btn{
        min-width: 75px;
        min-height: 40px;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: lightgray;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: lightgray;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: lightgray;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: lightgray;
    }

    .proceed-button{
        background-color: #fe6500;
        border-color: #fe6500;
        min-width: 80px;
        min-height: 40px;
    }

    .danger-button{
        background-color: #bd2130;
        border-color: #bd2130;
        min-width: 80px;
        min-height: 40px;
    }




</style>
