<template>
    <no-ssr>
        <div>

            <div class="new">

                <div v-if="!showContent" class="aligncenter">
                    <img src="@/assets/images/ajax-loader-2.gif" alt="">
                </div>


                <div v-else class="services-customer-profile-content">
                    <section id="page-title" class="">
                        <admin-header />
                    </section>
                    <section>
                        <div class="container-fluid clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <ShopSidebar />
                                </div>
                                <div class="col-md-10 admin-page-content">
                                    <div class="row top-section">
                                        <div class="col-md-8">
                                            <h3>Product List of {{user.name}}</h3>
                                        </div>
                                        <div class="col-md-4 pull-right">
                                            <nuxt-link :to="`/shop/dashboard/product/${storeID}/create`" class="btn btn-info new-service">Add Product</nuxt-link>
                                        </div>
                                    </div>






                                    <div class="row" v-if="products.length > 0">
                                        <!--<div class="col-md-2 center">Name</div>-->
                                        <!--<div class="col-md-2 center">Name</div>-->
                                        <!--<div class="col-md-2 center">Category Type</div>-->
                                        <!--<div class="col-md-2 center">Sub Categories</div>-->
                                    </div>
                                    <p v-else class="error">There is no product added for your store yet </p>

                                    <div id="draggable" style="margin-bottom: 25px;">
                                        <div class="row single-service" :key="item.id" v-for="(item , index ) in products">
                                            <div class="col-md-2 item center">
                                                <img :src="productImage(index)" width="100" height="80" alt="">
                                            </div>
                                            <div class="col-md-2 item p-top">
                                                {{item.name}}
                                            </div>

                                            <div class="col-md-2 item center">

                                            </div>
                                            <div class="col-md-2 center p-top">
                                                <!--<nuxt-link :to="`/shop/dashboard/category/${storeID}/sub/${cat.id}`" class="btn btn-outline-info">-->
                                                <!--{{ countSubCat(cat.id) }}-->
                                                <!--</nuxt-link>-->

                                                <nuxt-link :to="`/shop/dashboard/product/${storeID}/edit/${item.id}`" class="btn btn-outline-info">
                                                    Details
                                                </nuxt-link>

                                            </div>

                                        </div>
                                    </div>

                                    <div style="width: 600px; margin: 0px auto; display: block">
                                        <pagination v-if="totalData > 0" :dataPerPage="dataPerPage" @fetch="fetchData" :totalData="totalData"  />
                                    </div>



                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </no-ssr>
</template>

<script>

    import DB from '~/plugins/firebase/init'
    import ShopSidebar from '@/components/ShopSidebarMenu';
    import AdminHeader from "@/components/AdminHeader";
    import Pagination from '@/components/Pagination';
    import axios from 'axios'
    export default {
        middleware : 'auth',
        components: {
            AdminHeader,
            ShopSidebar , Pagination
        },
        asyncData (context) {
            if(context.params.id !== undefined) {
                var BASE = DB.collection("products").where('storeID' , '==' , context.params.id).where('categoryID' , '==' , context.params.catID).orderBy("createdAt" , "asc");
                //var docRef = BASE;

                var docRef = BASE.limit(12);

                return docRef.get().then(function (querySnapshot) {


                    let products = [];
                    if (!querySnapshot.empty) {
                        querySnapshot.forEach(doc => {
                            products.push(doc.data());
                        });

                        // return {products }
                        return {products}
                    } else {
                        // doc.data() will be undefined in this case
                        console.log("Here No such document!");
                        return {products : []}
                    }
                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });

            }
        },
        data(){
            return {
                alreadyExist : false,
                disable : false,
                products : [],
                totalData : 0,
                dataPerPage : 12
            }
        },
        computed : {
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            },
            storeID(){
                return this.$route.params.id
            }
        },
        methods : {

            productImage(index){
                var img = 'https://via.placeholder.com/125x90';
                // if(this.products.length === 0)
                //     return;
                if(this.products[index].images.length > 0){
                    if(this.products[index].images[0] !== undefined){
                        img = this.products[index].images[0].imageURL
                    }
                }

                return img;
            },
            fetchData(page){

                let self = this;

                let startAfter = page * self.dataPerPage - self.dataPerPage;
                axios({
                    method:'post',
                    url:'https://us-central1-aladins-chirag.cloudfunctions.net/storeProducts',
                    data: {
                        storeID: this.storeID,
                        offset: startAfter,
                        dataPerPage : self.dataPerPage,
                        catID : self.$route.params.catID
                    }
                })
                    .then(function(response) {
                        //console.log(response.data);
                        self.products = response.data
                    });
            },
            fetchAll(){
                let self = this;
                DB.collection("products").where('storeID' , '==' , this.storeID).where('categoryID' , '==' , self.$route.params.catID).orderBy("createdAt" , "asc").get().then(function (querySnapshot) {

                    //console.log(querySnapshot);
                    self.totalData = querySnapshot.size;

                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });
            }
        },

        created(){

            this.validateOldUser();

            this.fetchAll();

            // axios({
            //     method:'post',
            //     url:'https://us-central1-aladins-chirag.cloudfunctions.net/storeProducts',
            //     data: {
            //         storeID: this.storeID,
            //         offset: 10
            //     }
            // })
            //     .then(function(response) {
            //         console.log(response.data)
            //     });

        }
    }
</script>

<style scoped>
    .p-top{
        padding-top: 32px !important;
    }
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }

    .single-service{
        background-color: #ffffff;
        padding-top: 10px;
    //padding-bottom: 5px;
        margin: 9px 1px 2px 1px;

    }

    .single-service .item {
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .single-service .action {
        padding-bottom: 7px;
    }

    .new-service{
        background-color: #fe6500;
        border-color: #fe6500;
        float: right;
    }

    .error{
        color: #fe6500;
        font-size: 12px;
    }

    .top-section{
        margin-top: 20px;
    }

    .lm{
        margin-left: 6px;
    }

    .cat-image{
        width: 45%;
    }

    .btn{
        min-width: 75px;
        min-height: 40px;
    }




</style>
