<template>
    <no-ssr>
        <div>

            <div class="new">

                <div v-if="!showContent" class="aligncenter">
                    <img src="@/assets/images/ajax-loader-2.gif" alt="">
                </div>


                <div v-else class="services-customer-profile-content">
                    <section id="page-title" class="">
                        <admin-header />
                    </section>
                    <section>
                        <div class="container-fluid clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <AdminSidebar />
                                </div>
                                <div class="col-md-10 admin-page-content">
                                    <div class="row top-section">
                                        <div class="col-md-8">
                                            <h3>All customers</h3>
                                        </div>
                                    </div>



                                    <!--<div class="row top-section">-->


                                        <!--<div class="col-md-3" >-->
                                            <!--<input type="text" @change="filterSales"  v-model="searchFilter.orderID" class="form-control" placeholder="Order ID">-->
                                        <!--</div>-->

                                        <!--<div class="col-md-3" >-->
                                            <!--<input type="text" @change="showProduct" v-model="productKey" class="form-control" placeholder="Search Product">-->
                                            <!--<div class="shop-list" v-if="!productSelected">-->
                                                <!--<p class="shop-item" @click="selectProduct(store.id)" :key="store.id" v-for="store in filteredProducts">-->
                                                    <!--<img v-if="store.images[0] !== undefined" :src="store.images[0].imageURL" style="height: 40px; width: 40px" alt=""/>  <span style="margin-left: 15px">{{store.name}}</span>-->
                                                <!--</p>-->
                                            <!--</div>-->
                                        <!--</div>-->


                                        <!--<div class="col-md-2" >-->
                                            <!--<el-date-picker-->
                                                    <!--@change="filterSales"-->
                                                    <!--v-model="searchFilter.startAt"-->
                                                    <!--type="date"-->
                                                    <!--format="dd-MM-yyyy"-->
                                                    <!--placeholder="From">-->
                                            <!--</el-date-picker>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-2" >-->
                                            <!--<el-date-picker-->
                                                    <!--@change="filterSales"-->
                                                    <!--v-model="searchFilter.endAt"-->
                                                    <!--type="date"-->
                                                    <!--format="dd-MM-yyyy"-->
                                                    <!--placeholder="To">-->
                                            <!--</el-date-picker>-->
                                        <!--</div>-->



                                    <!--</div>-->






                                    <div class="row product-list-header" v-if="users.length > 0">
                                        <div class="col-md-3" style="padding-left: 10px">Email</div>
                                        <div class="col-md-3 ">Name</div>
                                        <div class="col-md-3" style="padding-left: 10px">Mobile</div>
                                        <div class="col-md-1 ">&nbsp;</div>
                                    </div>
                                    <p v-else class="error">Currently there is no order </p>

                                    <div id="draggable" style="margin-bottom: 25px;">
                                        <div class="row single-service" :key="item.id" v-for="(item , index ) in users">

                                            <div class="col-md-3 item p-top" style="padding-left: 10px">
                                                {{ item.email }}

                                            </div>
                                            <div class="col-md-3 item p-top">

                                                {{ item.name }}

                                            </div>

                                            <div class="col-md-3 item p-top">
                                                {{ item.phone }}
                                            </div>



                                            <div class="col-md-1 center p-top">

                                                <el-dropdown>
                                                <span class="el-dropdown-link">
                                                <i class="el-icon-more-outline"></i>
                                                </span>
                                                <el-dropdown-menu slot="dropdown">
                                                <el-dropdown-item>
                                                    <nuxt-link :to="`/admin/dashboard/customers/${item.uid}/profile`" >
                                                        <i class="icon-user"></i> &nbsp;&nbsp; Profile
                                                    </nuxt-link>
                                                </el-dropdown-item>
                                                <el-dropdown-item>
                                                    <nuxt-link :to="`/admin/dashboard/customers/${item.uid}/orders`" >
                                                    <i class="el-icon-document"></i> &nbsp;&nbsp; Order History
                                                    </nuxt-link>
                                                </el-dropdown-item>
                                                </el-dropdown-menu>
                                                </el-dropdown>

                                            </div>

                                        </div>
                                    </div>

                                    <div style="width: 600px; margin: 0px auto; display: block">
                                        <pagination v-if="totalData > dataPerPage && !hidePagination" :dataPerPage="dataPerPage" @fetch="fetchData" :totalData="totalData"  />
                                    </div>





                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </no-ssr>
</template>

<script>

    import firebase from 'firebase'
    import DB from '~/plugins/firebase/init'
    import AdminSidebar from '@/components/AdminSidebarMenu';
    import AdminHeader from "@/components/AdminHeader";
    import Pagination from '@/components/Pagination';
    import axios from 'axios'
    import Warning from "@/components/Warning";
    import moment from 'moment'
    import AdminSalesBrief from "@/components/AdminSalesBrief";

    import Vue from 'vue'
    import VueChartkick from 'vue-chartkick'
    import Chart from 'chart.js'

    Vue.use(VueChartkick, {adapter: Chart})

    export default {
        middleware : 'auth',
        components: {
            AdminSalesBrief,
            AdminHeader,
            AdminSidebar , Pagination , Warning
        },
        asyncData (context) {

            var BASE = DB.collection("users").where('type' , '==' , 'customer');
            //var docRef = BASE;

            var docRef = BASE.limit(15);

            return docRef.get().then(function (querySnapshot) {


                let users = [];
                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        users.push(doc.data());
                    });

                    // return {users }
                    return {users}
                } else {
                    // doc.data() will be undefined in this case
                    console.log("Here No such document!");
                    return {users : []}
                }
            }).catch(function (error) {
                console.log("Error getting document:", error);
            });


        },
        data(){
            return {

                searchFilter : {
                    productID : '',
                    orderID : '',
                    startAt : '',
                    startAtInt : '',
                    endAt : '',
                    endAtInt : ''
                },

                alreadyExist : false,
                searchKey : '',
                catSearch : '',
                subcatSearch : '',
                searchIN : 'name',
                searchORDER : 'asc',
                disable : false,
                orders : [],
                sales : [],
                totalData : 0,
                dataPerPage : 15,
                fetchAfter : 3,
                timerID : '',
                hidePagination : false,
                users : [],
                allOrders : [],

                timerID : '',
                products : [],
                productMap : {}
            }
        },
        computed : {


            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            },
            storeID(){
                return this.$route.params.id
            },
            filteredProducts(){
                return this.products.filter(item => {
                    if(this.productKey !== '' && item.name.toLowerCase().indexOf(this.productKey.toLowerCase()) !== -1){
                        return item;
                    }
                })
            }
        },
        methods : {
            showProduct(){
                this.productSelected = false;
                this.searchFilter.productID = '';
            },
            selectProduct(ID){

                this.productSelected = true;
                this.productKey = this.productMap[ID].name;
                this.searchFilter.productID = ID;
                this.filterSales();

            },
            filterSales(){
                let self = this;
                self.noDATA = false;
                console.log('called');
                console.log(new Date(this.searchFilter.startAt).getUnixTime())

                clearTimeout(self.timerID);
                self.timerID = setTimeout(()=>{

                    // if(self.searchKey.length === 0){
                    //     self.noDATA = false;
                    //     self.fetchData(1);
                    //     self.hidePagination = false;
                    //     return;
                    // }

                    console.log('Now fetch');
                    axios({
                        method:'post',
                        url:'https://us-central1-aladins-chirag.cloudfunctions.net/filterSales',
                        data: {
                            offset: 0,
                            dataPerPage : 5000,
                            orderID : self.searchFilter.orderID,
                            productID : self.searchFilter.productID,
                            fromDate : self.searchFilter.startAt !== '' ? (new Date(self.searchFilter.startAt).getUnixTime() * 1000 ) : '',
                            toDate : self.searchFilter.endAt !== '' ? (new Date(self.searchFilter.endAt).getUnixTime() * 1000 ) : '',
                        }
                    })
                        .then(function(response) {
                            console.log(response.data.length);
                            if(response.data.length === 0){
                                self.noDATA = true;
                                self.fetchData(1);
                                self.hidePagination = false;
                            } else {
                                self.noDATA = false;
                                self.hidePagination = false;
                                self.hidePagination = true;
                                self.sales = [];
                                self.sales = response.data
                            }

                        }).catch(err => {
                        console.log(err);
                    });
                }, 500);
            },


            fetchData(page){

                let self = this;

                self.currentPage = page;

                let startAfter = page * self.dataPerPage - self.dataPerPage;
                axios({
                    method:'post',
                    url:'https://us-central1-aladins-chirag.cloudfunctions.net/allCustomers',
                    data: {
                        offset: startAfter,
                        dataPerPage : self.dataPerPage
                    }
                })
                    .then(function(response) {
                        self.users = response.data
                    });
            },
            fetchAll(){
                let self = this;
                DB.collection("users").where('type' , '==' , 'customer').get().then(function (querySnapshot) {

                    //console.log(querySnapshot);
                    self.totalData = querySnapshot.size;

                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });
            },
        },

        created(){
            let self = this;
            this.validateOldUser();

            this.fetchAll();

            // DB.collection("products").get().then(function (querySnapshot) {
            //
            //     if (!querySnapshot.empty) {
            //         self.products = []
            //         querySnapshot.forEach(doc => {
            //             self.products.push(doc.data());
            //             self.productMap[doc.data().id] = doc.data();
            //         });
            //
            //     }
            //
            // }).catch(function (error) {
            //     console.log("Error getting document:", error);
            // });


        }
    }
</script>

<style scoped>
    /*.admin-page-content{*/
    /*padding: 20px;*/
    /*}*/

    .shop-list{
        background-color: #ffffff;
        min-width: 440px;
        transform-origin: center bottom 0px;
        z-index: 2032;
        position: absolute;
    //top: 327px;
    }

    .shop-item{
        border: 1px solid #DDD;
        cursor: pointer;
        margin-bottom: 5px;
    }

    .product-list-header{
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .product-list-header div {
        font-weight: bold;
        padding-left: 3px;
        font-size: 14px;
    }
    .el-icon-more-outline {
        color : #fe6500;
        font-size: 25px;
    }
    .error{
        color: #fe6500;
        font-size: 12px;
    }
    .p-top{
    //padding-top: 32px !important;
    }
    #page-title{
        padding: 10px !important;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }

    .single-service{
        background-color: #ffffff;
        padding-top: 10px;
    //padding-bottom: 5px;
        margin-top: 9px;

    }

    .single-service .item {
        padding-bottom: 10px;
        padding-top: 5px;
        padding-right: 1px;
        padding-left: 1px;
        font-size: 15px;
    }

    .single-service .action {
        padding-bottom: 7px;
    }

    .new-service{
        background-color: #fe6500;
        border-color: #fe6500;
        float: right;
    }

    .error{
        color: #fe6500;
        font-size: 12px;
    }

    .top-section{
        margin-top: 10px;
    }

    .btn{
        min-width: 75px;
        min-height: 40px;
    }





</style>
