<template>
    <no-ssr>
        <div v-if="!showContent" class="aligncenter">
            <img src="@/assets/images/ajax-loader-2.gif" alt="">
        </div>


        <div v-else class="services-customer-profile-content">
            <section id="page-title" class="">
                <admin-header />
            </section>
            <section>
                <div class="container-fluid clearfix">
                    <div class="row">
                        <div class="col-md-2">
                            <ShopSidebar />
                        </div>
                        <div class="col-md-10 admin-page-content">
                            <div class="col_half topmargin">

                                <div class="card">
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-md-12 input-title">
                                                Offer Name
                                            </div>
                                            <div class="col-md-12">
                                                <input @focus="error.name = false" type="text" v-model.trim="offer.name"  class="form-control">
                                                <span v-if="error.name" class="error">Offer Name must have at least three characters</span>
                                            </div>

                                            <div class="col-md-12 filter-container">
                                                <span v-if="error.itemError" class="error">Please select items</span>
                                                <div class="row"  :key="product.id" v-for="(product , index) in offer.items">
                                                    <div class="col-md-5 mt-2">{{productName(product.id)}}</div>
                                                    <div class="col-md-3 mt-2">
                                                        <img :src="`${productImage(product.id)}`" width="70" height="40" alt="">
                                                    </div>
                                                    <div class="col-md-2 mt-2">
                                                        <a @click.prevent="deleteItemWarn(product.id)" class="btn btn-sm btn-danger">remove</a>
                                                    </div>
                                                    <div class="col-md-2 mt-2">
                                                        <input @change="verifyQuantity(index)" v-model.number="product.quantity" placeholder="quantity" class="form-control">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 input-title" style="margin-top: 15px">
                                                Select Product
                                            </div>
                                            <div class="col-md-12">
                                                <input type="text" v-model="searchKey" class="form-control" placeholder="search for product">
                                            </div>


                                        </div>

                                        <div class="row filter-container">
                                            <div class="col-md-7 mt-3" :key="product.id" v-for="(product , index) in filteredProducts">
                                                <div style="float: left">{{product.name}}</div>

                                                <div style="float: right; margin-left: 25px">
                                                    <!--<input @change="add(product.id)" type="checkbox">-->
                                                    <a @click.prevent="add(product.id)" class="btn btn-sm btn-success">Select</a>

                                                </div>

                                                <div style="float: right; text-align: left">
                                                    <span>&#36;{{product.price}}</span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 input-title">
                                                Description
                                            </div>
                                            <div class="col-md-12">
                                                <textarea @focus="error.description = false" v-model.trim="offer.description"  class="form-control" rows="11"></textarea>
                                                <span v-if="error.description" class="error">Please provide offer descritption</span>
                                            </div>
                                        </div>

                                        <div class="col-md-10 input-title">
                                            <div class="row">
                                                <div class="col-xl-3">Status</div>
                                                <div class="col-xl-5">
                                                    <input style="margin-top: 6px" type="radio" :value="true"  v-model="offer.active" >Active
                                                    <input style="margin-top: 6px" type="radio" :value="false"  v-model="offer.active" >Deactive
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="col_half topmargin col_last">
                                <!--<h4>Social Links</h4>-->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12 input-title">
                                                Price
                                            </div>
                                            <div class="col-md-12">
                                                <input type="text" readonly v-model.number="offer.totalPrice"  class="form-control">
                                            </div>
                                            <div class="col-md-12 input-title">
                                                Discount Type
                                            </div>
                                            <div class="col-md-12">
                                                <select @change="updatePrice" v-model="offer.discount_type" class="form-control">
                                                    <option value="fixed">Fixed</option>
                                                    <option value="percentage">Percentage</option>
                                                </select>

                                            </div>
                                            <div class="col-md-12 input-title">
                                                Discount
                                            </div>
                                            <div class="col-md-12">
                                                <input @change="updatePrice" v-model.number="offer.discount"  class="form-control">
                                            </div>
                                            <div class="col-md-12 input-title">
                                                Stock Quantity
                                            </div>
                                            <div class="col-md-12">
                                                <input type="text" @change="updatePrice" v-model.number="offer.stock"  class="form-control">
                                            </div>

                                            <div class="col-md-12 input-title">
                                                <div class="row">
                                                    <div class="col-xl-3">Ignore Stock quantity</div>
                                                    <div class="col-xl-5">
                                                        <input style="margin-top: 7px" type="checkbox"  v-model.trim.number="offer.ignorestock" >
                                                    </div>
                                                </div>


                                            </div>

                                            <div class="col-md-10 input-title">
                                                Buy Limit
                                            </div>
                                            <div class="col-md-11">
                                                <input @change="updatePrice"  v-model.trim.number="offer.buyLimit" class="form-control">
                                            </div>

                                            <div class="col-md-12 input-title">
                                                <div class="row">
                                                    <div class="col-xl-3">Ignore Buy Limit</div>
                                                    <div class="col-xl-5">
                                                        <input style="margin-top: 7px" type="checkbox"  v-model.trim.number="offer.ignoreBuyLimit" >
                                                    </div>
                                                </div>


                                            </div>

                                            <div class="col-md-10 input-title price-box">
                                                <p class="center normal-price">&#36;{{offer.totalPrice}}</p>
                                                <p class="center discounted-price">&#36;{{offer.discounted_price}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clear"></div>

                            <div class="col_full topmargin">
                                <h4>Product images</h4>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-3 image-box center" v-for="(image , index) in offer.images" :key="image.imagePATH">
                                                <img :src="image.imageURL" height="150" width="200" alt="">
                                                <div class="center">
                                                    <i @click.prevent="deleteImageWarn(index)" class="i-rounded i-small icon-remove" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <div v-if="uploadingimage" class="col-md-3">
                                                <show-file-upload v-if="uploadingimage" />
                                            </div>
                                            <div v-if="!uploadingimage" class="col-md-3">
                                                <button @click.prevent="showUpload" class="btn cam-button"></button>
                                                <input type="file" style="display: none;" ref="imageInput" @change="onImagePicked">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>



                            <div class="row service-section">
                                <div class="col-md-6">
                                    <button @click.prevent="save" class="btn btn-info proceed-button">
                                        <span v-if="disable">
                                              <img src="@/assets/images/ajax-loader.gif" alt="">
                                        </span>
                                        <span v-else>Update</span>
                                    </button>
                                </div>
                            </div>

                            <offer-variant @save="addWithVariant" @close="variantBox = false" :product="productQueue" v-if="variantBox" :variant="currentVariant"></offer-variant>

                            <warning :message="message"
                                     :id="removeID"
                                     :warningFor="warningFor"
                                     v-if="warning"
                                     @close="warning = false"
                                     @remove="deleteParts" />

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </no-ssr>
</template>

<script>

    import firebase from 'firebase'
    import DB from '~/plugins/firebase/init'
    import persistance from '~/plugins/persistance';
    import ShopSidebar from '@/components/ShopSidebarMenu';
    import AdminHeader from "@/components/AdminHeader";
    import OfferVariant from "@/components/OfferVariant";
    import ShowFileUpload from "@/components/ShowFileUpload";
    import Warning from "@/components/Warning";
    export default {
        middleware : 'auth',
        components: {
            OfferVariant,
            AdminHeader,
            ShopSidebar,
            ShowFileUpload,
            Warning
        },
        asyncData (context) {
            if(context.params.id !== undefined) {
                var BASE = DB.collection("products").where('storeID' , '==' , context.params.id).where('id' , '==' , context.params.offerID).where('type' , '==' , 'offer').orderBy("createdAt" , "asc");
                //var docRef = BASE;

                var docRef = BASE.limit(1);

                return docRef.get().then(function (querySnapshot) {


                    let offer = {};
                    if (!querySnapshot.empty) {
                        querySnapshot.forEach(doc => {
                            offer = doc.data();
                        });

                        if(Object.keys(offer).length > 0)
                        return {offer}
                    } else {
                        // doc.data() will be undefined in this case
                        console.log("Here No such document!");
                        //return {offer}
                    }
                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });

            }
        },
        data(){
            return {
                message : '',
                warningFor : '',
                warning : false,
                removeID : -1,
                error : {
                    name : false,
                    description : false,
                    itemError : false
                },
                store : {},
                offer : {
                    id : '',
                    name : '',
                    description : '',
                    items : [],
                    itemIDS : [],
                    totalPrice : 0,
                    stock : 0,
                    discount_type : 'fixed',
                    discount : 0,
                    discounted_price : 0,
                    images : [],
                    createdAt : 0,
                    variants : [],
                    active : true,
                    buyLimit : 0,
                    price : 0,
                    ignoreBuyLimit : true,
                    ignoreStock : false,
                    related_products : [],
                    minimum_quantity : 1,
                    type: 'offer',
                    unit : '',
                    subcategoryID : '',
                    categoryID : '',
                },
                uploadingimage : false,
                disable : false,
                showContent : true,
                searchKey : '',
                products : [],
                variantBox : false,
                currentVariant : [],
                productQueue : {},
            }
        },
        computed : {
            storeID(){
                return this.$route.params.id
            },
            filteredProducts(){
                let arr = [] , self =this;

                if(self.searchKey.length > 0)
                    self.products.forEach(item => {
                        if(item.name.toLowerCase().indexOf(self.searchKey.toLowerCase()) !== -1 && !self.offer.itemIDS.includes(item.id) )
                            arr.push(item);
                    })

                return arr;
            }
        },
        methods : {
            deleteItemWarn(id){
                this.removeID = id;
                this.warningFor = 'item';
                this.message = 'Please Confirm. do you want to delete this item?';
                this.warning = true;
            },
            deleteImageWarn(id){
                this.removeID = id;
                this.warningFor = 'image';
                this.message = 'Please Confirm. do you want to delete this offer image?';
                this.warning = true;
            },
            deleteParts(data){
                this.warning = false;
                if(data.type === 'item'){
                    this.deleteItem(data.id)
                } else if(data.type === 'image'){
                    this.deleteImage(data.id)
                }
            },
            deleteImage(Index){
                let self = this;




                firebase.storage().ref().child(self.offer.images[Index].imagePATH).delete().then(()=> {


                    self.offer.images.splice(Index, 1);


                    DB.collection("offers").doc(self.offer.id).update({
                        images : self.offer.images
                    }).then(()=>{

                        self.$store.dispatch('flash' , {
                            message : 'Offer image deleted',
                            type : 'success'
                        });

                    });
                });
            },
            showUpload(){
                this.$refs.imageInput.click();
            },
            onImagePicked(event){
                let self = this;
                const files = event.target.files;
                let fileName = files[0].name;
                let arr = fileName.split('.')
                let extention = arr[arr.length - 1].toLowerCase();

                if(extention == 'png' || extention == 'jpeg' || extention == 'jpg'){
                    //self.imageRatioError = false;
                    const fileReader = new FileReader();
                    fileReader.addEventListener('load' , ()=>{
                        var img = new Image;

                        img.onload = function() {
                            //if(img.width >= 544 && img.height >= 300){
                            self.uploadingimage = true;

                            this.tempLogo = files[0];

                            let imagePATH = `offer-images/${self.offer.id}/` + (new Date()).getTime() + fileName.replace(/\s/g, "")

                            let storageRef =  firebase.storage().ref(imagePATH)

                            let uploadFile = storageRef.put(this.tempLogo);


                            uploadFile.on('state_changed', function(snapshot){
                                //var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                                // console.log('Upload is ' + progress + '% done');
                            })

                            uploadFile.then((result) => {
                                // Delete the old file

                                storageRef.getDownloadURL().then(function(url) {
                                    //console.log(url)
                                    self.offer.images.push(
                                        {
                                            imagePATH : imagePATH,
                                            imageURL : url
                                        }
                                    )
                                    DB.collection("offers").doc(self.offer.id).update({
                                        images: self.offer.images
                                    }).then(()=>{
                                        self.uploadingimage = false;
                                        self.$store.dispatch('flash' , {
                                            message : 'Offer image Added Successfully',
                                            type : 'success'
                                        });
                                    });
                                })

                            })
                            // } else {
                            //     self.imageRatioError = true;
                            // }
                        };

                        img.src = fileReader.result;
                    })


                    fileReader.readAsDataURL(files[0]);


                } else {
                    alert('Please select a valid image')
                }
            },
            updatePrice(){

                var buyLimit = isNaN(this.offer.buyLimit) || this.offer.buyLimit === '' ? 0 : this.offer.buyLimit;
                buyLimit = buyLimit < 0  ? buyLimit * (-1) : buyLimit;
                buyLimit = buyLimit < 1 ? 0 : buyLimit;
                this.offer.buyLimit = buyLimit;


                var stock = isNaN(this.offer.stock) || this.offer.stock === '' ? 0 : this.offer.stock;
                stock = stock < 0  ? stock * (-1) : stock;
                stock = stock < 1 ? 0 : stock;
                this.offer.stock = stock;


                var discount = isNaN(this.offer.discount) || this.offer.discount === '' ? 1 : this.offer.discount;
                var positive = discount < 0 ? discount * (-1) : discount;
                this.offer.discount = positive;
                var less_price = this.offer.discount_type === 'fixed' ? positive : (this.offer.totalPrice * (positive/100)).toFixed(2)
                this.offer.discounted_price =  (this.offer.totalPrice - less_price).toFixed(2);
            },
            calculatePrice(){
                var price = 0;

                this.offer.items.forEach(item => {
                    var product = this.product(item.id);
                    price += Number(item.quantity) * Number(product.discounted_price);
                })

                this.offer.totalPrice = price.toFixed(2);
                this.offer.price = this.offer.totalPrice;
            },
            verifyQuantity(index){
                var quantity = isNaN(this.offer.items[index].quantity) || this.offer.items[index].quantity === '' ? 1 : this.offer.items[index].quantity;
                var result = quantity < 0 ? quantity * (-1) : quantity;

                result = result === 0 || result < 1 ? 1 : result;

                this.$set(this.offer.items[index] , 'quantity' , parseInt(result));

                this.calculatePrice();
                this.updatePrice();

            },
            deleteItem(id){

                let self=this;

                this.offer.items.forEach((item , index) => {
                    if(item.id === id){
                        self.offer.items.splice(index ,1);
                        //self.$delete(self.offer.itemIDS , index);
                    }
                })

                this.offer.itemIDS.splice(this.offer.itemIDS.indexOf(id) , 1)

                this.calculatePrice();
                this.updatePrice();
            },
            productImage(id){
                let image = '';
                this.products.forEach(item => {
                    if(item.id === id){
                        if(item.images.length !== 0){
                            image = item.images[0].imageURL
                        }
                    }

                })

                return image
            },
            productName(id){
                let name = '';
                this.products.forEach(item => {
                    if(item.id === id)
                        name = item.name
                })

                return name
            },
            add(productID){
                this.error.itemError = false;
                let product = this.product(productID);
                if(product.variants.length > 0){
                    let mandatory = false;
                    product.variants.forEach(item => {
                        if(item.type === 'mandatory')
                            mandatory = true
                    })

                    if(mandatory){
                        this.currentVariant = product.variants;
                        this.variantBox = true;
                        this.productQueue = {...product}

                        return;
                    }



                }


                this.offer.items.push({
                    id : product.id,
                    variant : '',
                    quantity : 1
                });

                this.offer.itemIDS.push(product.id)

                this.calculatePrice();
                this.updatePrice();

            },
            addWithVariant(data){
                this.error.itemError = false;
                this.offer.items.push({
                    id : data.product.id,
                    variant : data.variant,
                    quantity : 1
                });

                this.offer.itemIDS.push(data.product.id)

                this.variantBox = false;

                this.calculatePrice();
                this.updatePrice();
            },
            product(id){
                let product = {};
                this.products.forEach(item => {
                    if(item.id === id){
                        product = {...item}
                    }

                })

                return product
            },
            save(){
                let self = this , error = [];

                if(self.offer.name.length < 3){
                    self.error.name = true;
                    error.push(true)
                }

                if(self.offer.description.length < 3){
                    self.error.description = true;
                    error.push(true)
                }

                if(self.offer.itemIDS.length === 0){
                    self.error.itemError = true;
                    error.push(true)
                }

                if(error.length === 0){
                    //console.log('ok')

                    let size = self.offer.name.length;
                    let indexArr = [];
                    for(var i=1 ; i<= size ; i++){
                        indexArr.push(self.offer.name.substr(0, i).toLowerCase())
                    }

                    self.offer.name.split(' ').forEach(item => {
                        if(!indexArr.includes(item))
                            indexArr.push(item.toLowerCase())
                    });

                    self.offer.name.split(' ').forEach(item => {
                        var temp_size = item.length;
                        for(var i=1 ; i<= temp_size ; i++){
                            var check = item.substr(0, i).toLowerCase();
                            if(!indexArr.includes(check))
                                indexArr.push(check)
                        }
                    });

                    self.offer.indexArr = indexArr;
                    self.disable = true;
                    let citiesRef = DB.collection("products");


                    let time = (new Date()).getTime();


                    self.offer.createdAt = time;
                    self.offer.storeID = self.storeID;

                    citiesRef.doc(self.offer.id).update(self.offer)
                        .then(function(docRef) {
                            //self.proceed = true;
                            self.disable = false;
                            //console.log("Document written with ID: ", docRef.id);
                                self.$store.dispatch('flash' , {
                                    message : 'Offer Updated',
                                    type : 'success'
                                });
                                //self.$router.push({ path : `/shop/dashboard/product/${self.storeID}/edit/${docRef.id}`  });
                        })
                        .catch(function(error) {
                            console.error("Error adding document: ", error);
                        });
                }


            },
            fetchProducts(){
                let self = this;
                DB.collection("products").where('storeID' , '==' , this.storeID).where('active' , '==' , true).orderBy("createdAt" , "asc").get().then(function (querySnapshot) {

                    //console.log(querySnapshot);
                    let products = [];
                    if (!querySnapshot.empty) {
                        querySnapshot.forEach(doc => {
                            products.push(doc.data());
                        });

                        self.products = products
                    } else {
                        // doc.data() will be undefined in this case
                        console.log("Here No such document!");
                    }

                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });
            }
        },

        created(){
            this.validateOldUser();
            this.fetchProducts()
        }
    }
</script>

<style scoped>

    .topmargin { margin-top: 5px !important; }
    .topmargin2 { margin-top: 50px !important; }

    .normal-price{
        color : lightgray;
        font-size: 19px;
        font-weight: bolder;
        text-decoration: line-through;
    }
    .discounted-price{
        color : limegreen;
        font-size: 25px;
        font-weight: bolder;
    }
    .price-box{
        border : 1px solid grey;
        padding: 10px;
        margin-left: 15px;
        margin-right: 20px;
    }
    .price-box p {
        margin-bottom: 5px !important;
    }
    .input-title{
        margin-top: 15px;
    }
    .btn-success, .btn-danger{
        padding: 1px !important;
        color: #FFFFFF !important;
        min-width: 60px !important;
        min-height: 26px !important;
    }

    .filter-container{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }

    .single-service{
        background-color: #ffffff;
        padding-top: 10px;
    //padding-bottom: 5px;
        margin: 9px 1px 2px 1px;

    }

    .single-service .item {
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .single-service .action {
        padding-bottom: 7px;
    }

    .new-service{
        background-color: #fe6500;
        border-color: #fe6500;
        float: right;
    }

    .error{
        color: #fe6500;
        font-size: 12px;
    }

    .top-section{
        margin-top: 20px;
    }

    .lm{
        margin-left: 6px;
    }

    .cat-image{
        width: 45%;
    }

    .btn{
        min-width: 75px;
        min-height: 40px;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: lightgray;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: lightgray;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: lightgray;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: lightgray;
    }

    .proceed-button{
        background-color: #fe6500;
        border-color: #fe6500;
        min-width: 80px;
        min-height: 40px;
    }

    .cam-button{
        margin-top: 10px;
        min-height: 100px;
        min-width: 150px;
        background-image: url(../../../../../../assets/images/cam.png);
    }




</style>
