<template>
    <no-ssr>
        <div>

            <div class="new">

                <div v-if="!showContent" class="aligncenter">
                    <img src="@/assets/images/ajax-loader-2.gif" alt="">
                </div>


                <div v-else class="services-customer-profile-content">
                    <section id="page-title" class="">
                        <admin-header />
                    </section>
                    <section>
                        <div class="container-fluid clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <AdminSidebar />
                                </div>
                                <div class="col-md-10 admin-page-content">
                                    <div class="row top-section">
                                        <div class="col-md-8">
                                            <h3>{{ store.name }} reviews</h3>
                                        </div>
                                    </div>


                                    <div class="row top-section">


                                        <div class="col-md-2" style="float: right" >
                                            <select @change="filterRating" v-model="averageFor" class="form-control">
                                                <option value="all">all</option>
                                                <option value="last-3-months">Last 3 months</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2" >
                                            <el-rate style="margin-top: 8px;"
                                                    v-model="average"
                                                    disabled
                                                    show-score
                                                    text-color="#ff9900"
                                                    score-template="{value}">
                                            </el-rate>
                                        </div>



                                    </div>






                                    <div class="row store-list-header" v-if="ratings.length > 0">
                                        <div class="col-md-2 ">Order</div>
                                        <div class="col-md-2 ">Customer</div>
                                        <div class="col-md-2 ">Rating</div>
                                        <div class="col-md-6 ">Review</div>
                                    </div>
                                    <p v-else class="error">There is no review for this store yet </p>

                                    <div id="draggable" style="margin-bottom: 25px;">
                                        <div class="row single-service" :key="item.id" v-for="(item , index ) in ratings">
                                            <div class="col-md-2 item">
                                                {{ item.orderID }}
                                            </div>
                                            <div class="col-md-2 item ">
                                                {{ customers[item.customerID].name }}
                                            </div>



                                            <div class="col-md-2 item  ">
                                                <el-rate
                                                        v-model="ratings[index].rating"
                                                        disabled
                                                        show-score
                                                        text-color="#ff9900"
                                                        score-template="{value}">
                                                </el-rate>
                                                <!--<el-rate-->
                                                <!--disabled-->
                                                <!--show-score-->
                                                <!--text-color="#ff9900"-->
                                                <!--v-model="storeSvarageRatings[item.id]" />-->
                                            </div>

                                            <div class="col-md-6 item ">{{item.review}}</div>





                                        </div>
                                    </div>

                                    <div style="width: 600px; margin: 0px auto; display: block">
                                        <pagination v-if="totalData > dataPerPage && !hidePagination" :dataPerPage="dataPerPage" @fetch="fetchData" :totalData="totalData"  />
                                    </div>






                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </no-ssr>
</template>

<script>

    import DB from '~/plugins/firebase/init'
    import AdminSidebar from '@/components/AdminSidebarMenu';
    import AdminHeader from "@/components/AdminHeader";
    import Pagination from '@/components/Pagination';
    import axios from 'axios'
    import Warning from "@/components/Warning";
    import Warning2 from "@/components/Warning2";
    export default {
        middleware : 'auth',
        components: {
            AdminHeader,
            AdminSidebar , Pagination , Warning , Warning2
        },
        asyncData (context) {
            var BASE = DB.collection("rating-review").where('storeID' , '==' , context.params.storeID).orderBy("createdAt" , "desc");
            //var docRef = BASE;

            var docRef = BASE.limit(15);

            return docRef.get().then(function (querySnapshot) {


                let ratings = [];
                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        ratings.push(doc.data());
                    });

                    // return {ratings }
                    return {ratings}
                } else {
                    // doc.data() will be undefined in this case
                    console.log("Here No such document!");
                    return {ratings : []}
                }
            }).then(ratings => {

                return DB.collection("store").where('id' , '==' , context.params.storeID).get().then(function (querySnapshot) {


                    let store = {};
                    if (!querySnapshot.empty) {
                        querySnapshot.forEach(doc => {
                            store = doc.data();
                        });


                        return {...ratings, store}
                    } else {
                        // doc.data() will be undefined in this case
                        console.log("Here No such document!");
                        return {...ratings}
                    }

                })



            }).then(ratings => {

                return DB.collection("users").where('type' , '==' , 'customer').get().then(function (querySnapshot) {


                    let customers = {};
                    if (!querySnapshot.empty) {
                        querySnapshot.forEach(doc => {
                            customers[doc.data().uid] = doc.data();
                        });


                        return {...ratings, customers}
                    } else {
                        // doc.data() will be undefined in this case
                        console.log("Here No such document!");
                        return {...ratings}
                    }

                })



            }).catch(function (error) {
                console.log("Error getting document:", error);
            });
        },
        data(){
            return {
                value5 : 3.9,
                ratings : [],
                customers : {},
                store : {},
                averageFor : 'all',
                hidePagination : false,
                noData : false,
                dataPerPage : 15,
                totalData : 0,
                allRatings : []
            }
        },
        computed : {

            average(){
                let total = 0 , filterTotal = 0;

                this.ratings.forEach(item => {
                    filterTotal += item.rating;
                })

                this.allRatings.forEach(item => {
                    total += item.rating;
                })

                if(this.allRatings.length === 0 && this.averageFor === 'all')
                    return 0;



                if(this.ratings.length === 0 && this.averageFor === 'last-3-months')
                    return 0;


                var average = this.averageFor === 'all' ? total / this.allRatings.length : filterTotal / this.ratings.length;

                console.log(average);
              return  average;
            },

            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            },

        },
        methods : {
            filterRating(){
                let self = this, last_30_days = (new Date()).getTime() - self.getMiliseconds(30);

                if(self.averageFor !== 'all'){
                    axios({
                        method:'post',
                        url:'https://us-central1-aladins-chirag.cloudfunctions.net/filterReviews',
                        data: {
                            offset: 0,
                            storeID : self.store.id,
                            range : last_30_days
                        }
                    })
                        .then(function(response) {
                            console.log('result' , response.data)
                            if(response.data.length === 0){
                                self.noDATA = true;
                                self.ratings = [];
                                self.hidePagination = true;
                            } else {
                                self.noDATA = false;
                                self.hidePagination = false;
                                self.hidePagination = true;
                                self.ratings = [];
                                self.ratings = response.data
                            }

                        }).catch(err => {
                        console.log(err);
                    });
                } else {
                    self.fetchData(1);
                }



            },
            fetchData(page){

                let self = this;

                self.currentPage = page;

                let startAfter = page * self.dataPerPage - self.dataPerPage;
                axios({
                    method:'post',
                    url:'https://us-central1-aladins-chirag.cloudfunctions.net/filterReviews',
                    data: {
                        offset: startAfter,
                        dataPerPage : self.dataPerPage,
                        storeID : self.store.id,
                    }
                })
                    .then(function(response) {
                        console.log(response.data);
                        self.ratings = [];
                        self.ratings = response.data
                    });
            },
            fetchAll(){
                let self = this;
                DB.collection("rating-review").where('storeID' , '==' , self.$route.params.storeID).get().then(function (querySnapshot) {


                    self.totalData = querySnapshot.size;

                    if (!querySnapshot.empty) {
                        self.allRatings = [];
                        querySnapshot.forEach(doc => {
                            self.allRatings.push(doc.data());
                        });


                    }

                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });
            }
        },

        created(){

            this.validateOldUser();
            this.fetchAll();


        }
    }
</script>

<style scoped>
    .store-list-header{
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .store-list-header div {
        font-weight: bold;
        padding-left: 3px;
    }
    .el-icon-more-outline {
        color : #fe6500;
        font-size: 25px;
    }
    .error{
        color: #fe6500;
        font-size: 12px;
    }
    .p-top{
        padding-top: 32px !important;
    }
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }

    .single-service{
        background-color: #ffffff;
        padding-top: 10px;
    //padding-bottom: 5px;
        margin-top: 9px;

    }

    .single-service .item {
        padding-bottom: 10px;
        padding-top: 5px;
        padding-right: 1px;
        padding-left: 1px;
    }

    .single-service .action {
        padding-bottom: 7px;
    }

    .new-service{
        background-color: #fe6500;
        border-color: #fe6500;
        float: right;
    }

    .error{
        color: #fe6500;
        font-size: 12px;
    }

    .top-section{
        margin-top: 10px;
    }

    .btn{
        min-width: 75px;
        min-height: 40px;
    }


    .status-button {
        text-align: center;
        color : #ffffff;
        border-radius: 8px;
        width: 60%;
        font-size: 15px;
        padding: 4px !important;
        text-transform: capitalize;
    }

    .active {
        background-color: #07c748;
    }

    .banned {
        background-color: #C02942;
    }




</style>
