<template>
    <div>
        <no-ssr>
            <div v-if="!showContent" class="aligncenter">
                <img src="@/assets/images/ajax-loader-2.gif" alt="">
            </div>


            <div v-else class="services-customer-profile-content">
                <section id="page-title" class="">
                    <admin-header />
                </section>
                <section>
                    <div class="container-fluid clearfix">
                        <div class="row">
                            <div class="col-md-2">
                                <AdminSidebar />
                            </div>
                            <div class="col-md-10 admin-page-content">
                                <h3>Create Voucher Code</h3>
                                <div class="col_half topmargin">

                                    <div class="card">
                                        <div class="card-body">

                                            <div class="row">


                                                <div class="col-md-12 input-title" >
                                                    Voucher action
                                                </div>
                                                <div class="col-md-12">
                                                    <select v-model.trim="voucher.action"  class="form-control">
                                                        <!--<option value="price">Price Discount</option>-->
                                                        <option value="free-shiping">Free Shiping</option>
                                                    </select>
                                                </div>

                                                <div class="col-md-12 input-title" >
                                                    Valif For
                                                </div>
                                                <div class="col-md-12">
                                                    <select @change="refresh" v-model.trim="voucher.validFor"  class="form-control">
                                                        <option value="all">All</option>
                                                        <option value="service">Service</option>
                                                    </select>
                                                </div>

                                                <div class="col-md-12 input-title" v-if="voucher.validFor === 'service'" >
                                                    Select Category
                                                </div>
                                                <div class="col-md-12" v-if="voucher.validFor === 'service'">
                                                    <multiselect v-model="voucher.validForService" :options="services" :multiple="true" :close-on-select="false" :clear-on-select="false" :hide-selected="true" :preserve-search="true" placeholder="Pick some" label="name" track-by="name" :preselect-first="true">
                                                        <template slot="tag" slot-scope="props"><span class="custom__tag"><span>{{ props.option.name }}</span><span class="custom__remove" @click="props.remove(props.option)">❌</span></span></template>
                                                    </multiselect>
                                                    <span class="error" v-if="error.services">Please select services for this voucher</span>
                                                    <!--<pre class="language-json"><code>{{ value  }}</code></pre>-->

                                                </div>

                                                <div class="col-md-12 input-title" v-if="discountMode">
                                                    Discount Type
                                                </div>
                                                <div class="col-md-12" v-if="discountMode">
                                                    <select v-model="voucher.discount_type" class="form-control">
                                                        <option value="fixed">Fixed</option>
                                                        <option value="percentage">Percentage</option>
                                                    </select>

                                                </div>
                                                <div class="col-md-12 input-title" v-if="discountMode">
                                                    Discount
                                                </div>
                                                <div class="col-md-12" v-if="discountMode">
                                                    <input @change="checkDiscount" v-model.number="voucher.discount"  class="form-control">
                                                </div>






                                            </div>
                                            <div class="row input-title">
                                                <div class="col-md-8 input-title" >

                                                    <label for="">
                                                        Valid From
                                                    </label>
                                                    <input type="text" id="startDate" v-model="voucher.startAtSTR" class="form-control" placeholder="Date">
                                                    <input type="hidden"  v-model="voucher.startAt" class="form-control">
                                                </div>
                                                <div class="col-md-8 input-title">
                                                    <label for="">
                                                        Valid To
                                                    </label>
                                                    <input type="text" id="endDate" v-model="voucher.endAtSTR" class="form-control" placeholder="Date">
                                                    <input type="hidden"  v-model="voucher.endAt" class="form-control">
                                                </div>
                                            </div>



                                        </div>
                                    </div>

                                </div>
                                <div class="col_half topmargin col_last">
                                    <!--<h4>Social Links</h4>-->
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">

                                                <div class="col-md-12 input-title">
                                                    Voucher Code
                                                </div>
                                                <div class="col-md-6">
                                                    <input readonly @keyup="validate" @focus="reset" v-model.trim="voucher.code"  class="form-control">
                                                    <span class="error" v-text="voucherMessage"></span>
                                                </div>
                                                <!--<div class="col-md-2">-->
                                                    <!--<a @click.prevent="check" class="btn btn-info proceed-button">-->
                                                    <!--<span v-if="checkingVoucher">-->
                                                        <!--<img src="@/assets/images/ajax-loader.gif" alt="">-->
                                                    <!--</span>-->
                                                        <!--<span v-else>Verify</span>-->
                                                    <!--</a>-->
                                                <!--</div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="clear"></div>



                                <div class="row service-section">
                                    <div class="col-md-6">
                                        <button @click.prevent="save" class="btn btn-info proceed-button">
                                        <span v-if="disable">
                                              <img src="@/assets/images/ajax-loader.gif" alt="">
                                        </span>
                                            <span v-else>Proceed</span>
                                        </button>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </no-ssr>
    </div>
</template>

<script>

    import firebase from 'firebase'
    import DB from '~/plugins/firebase/init'
    import persistance from '~/plugins/persistance';
    import AdminSidebar from '@/components/AdminSidebarMenu';
    import AdminHeader from "@/components/AdminHeader";
    import Multiselect from 'vue-multiselect'
    import "vue-multiselect/dist/vue-multiselect.min.css"
    require('~/assets/datetimepicker/jquery.datetimepicker.min.css');
    if (process.browser) {
        require('~/assets/datetimepicker/jquery.datetimepicker.full');
    }
    export default {
        middleware : 'auth',
        components: {
            AdminHeader,
            AdminSidebar,
            Multiselect
        },
        asyncData (context) {

                var BASE = DB.collection("voucher-promo-referal").where('id' , '==' , context.params.vID).orderBy("createdAt" , "asc");
                //var docRef = BASE;

                var docRef = BASE.limit(1);

                return docRef.get().then(function (querySnapshot) {


                    let voucher = {};
                    if (!querySnapshot.empty) {
                        querySnapshot.forEach(doc => {
                            voucher = doc.data();
                        });


                        return {voucher}
                    } else {
                        // doc.data() will be undefined in this case
                        console.log("Here No such document!");
                        //return {offer}
                    }
                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });

        },
        data(){
            return {
                services : [],
                error : {
                    services : false,
                    category : false,
                    subcategory : false,
                    product : false,
                    code : false
                },
                voucher: {
                    code : '',
                    action : 'free-shiping',
                    validFor : 'all',
                    validForCat : [],
                    validForSubCat : [],
                    validForProduct : [],
                    validForService : [],
                    discount_type : 'fixed',
                    generatedBY : 'admin',
                    uid : '',
                    user_type : 'admin',
                    discount : 0,
                    startAt : 0,
                    startAtSTR : '',
                    endAt : 0,
                    endAtSTR : '',
                    type : 'voucher'
                },
                validVoucher : '',
                voucherMessage : '',
                validated : false,
                checkingVoucher : false,
                disable : false,
                showContent : true,
                searchKey : '',
                products : [],
                variantBox : false,
                currentVariant : [],
                productQueue : {},
            }
        },
        computed : {
            discountMode() {
                return this.voucher.action === 'free-shiping' ? false : true
            }
        },
        methods : {
            validate(){
                this.voucher.code =  this.voucher.code.replace(/\W/g, '')
                this.voucher.code = this.voucher.code.toUpperCase();
                this.validVoucher = '';
                this.validated = false;
                this.voucherMessage = '';
            },
            refresh(){
                this.error.category = false;
                this.error.subcategory = false;
                this.error.product = false;
                this.error.code = false;
                this.validated = false;
                this.voucherMessage = '';
            },
            reset(){
                this.error.code = false;
                this.voucherMessage = '';
            },

            checkDiscount(){
                var discount = isNaN(this.voucher.discount) || this.voucher.discount === '' ? 0 : this.voucher.discount;
                discount = discount < 0  ? discount * (-1) : discount;
                this.voucher.discount = discount;
            },

            check(){
                let self = this;

                if(self.voucher.code.length < 5){
                    self.error.code = true;
                    self.voucherMessage = 'Voucher code should be at least 6 characters';
                    return ;
                }

                self.validVoucher = '';
                self.checkingVoucher = true;


                DB.collection("voucher-promo-referal").where('code' , '==' , self.voucher.code).get().then(function (querySnapshot) {
                    self.checkingVoucher = false;
                    if (querySnapshot.empty) {
                        self.validVoucher = 'yes';
                        self.voucherMessage = 'Congrats ,You can use this as voucher code';
                    } else {
                        self.validVoucher = 'no';
                        self.voucherMessage = 'This voucher code already exists. Please try another code';
                    }
                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });
            },
            add(productID){


            },
            save(){
                let self = this , error = [];

                if(self.voucher.validFor === 'service'){
                    if(self.voucher.validForService.length === 0){
                        self.error.services = true;
                        error.push(true)
                    }
                }

                // if(this.voucher.code.length < 6){
                //     self.error.code = true;
                //     self.voucherMessage = 'Voucher code should be at least 6 characters';
                //     error.push(true)
                // } else if(this.voucher.code.length >= 6 && this.validVoucher === ''){
                //     self.error.code = true;
                //     self.voucherMessage = 'Please verify your voucher';
                //     error.push(true)
                // }

                if(error.length === 0){


                    self.disable = true;
                    let citiesRef = DB.collection("voucher-promo-referal");

                    self.voucher.generatedBY = self.user.name;
                    self.voucher.uid = self.user.uid;
                    self.voucher.user_type = self.user.type;

                    citiesRef.doc(self.voucher.id).update(self.voucher)
                        .then(function(docRef) {
                            //self.proceed = true;
                            self.disable = false;
                                self.$store.dispatch('flash' , {
                                    message : 'Voucher info Updated',
                                    type : 'success'
                                });
                        })
                        .catch(function(error) {
                            console.error("Error updating document: ", error);
                        });
                }


            },

            fetchServices(){
                let self = this;
                DB.collection("services").orderBy("createdAt" , "asc").get().then(function (querySnapshot) {

                    //console.log(querySnapshot);
                    let services = [];
                    if (!querySnapshot.empty) {
                        querySnapshot.forEach(doc => {
                            services.push({
                                id : doc.data().id,
                                name : doc.data().name
                            });
                        });

                        self.services = services
                    } else {
                        // doc.data() will be undefined in this case
                        console.log("Here No such document!");
                    }

                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });
            }
        },

        created(){
            this.validateOldUser();
            this.fetchServices();
        },
        mounted(){
            let self = this;
            setTimeout(() => {



                window.$('#startDate').datetimepicker({
                    timepicker : false, // We are using moment to chnage date format
                    minDate: Number((new Date()).getTime() + 86400000),
                    format: 'd/m/Y',
                    onClose : (current , $input) => {
                        self.$set(self.voucher , 'startAtSTR' , $input.val());
                        self.$set(self.voucher , 'startAt' , moment($input.val() , 'DD/MM/YYYY').valueOf());
                    }
                });

                window.$('#endDate').datetimepicker({
                    timepicker : false, // We are using moment to chnage date format
                    minDate: Number((new Date()).getTime() + 86400000),
                    format: 'd/m/Y',
                    onClose : (current , $input) => {
                        self.$set(self.voucher , 'endAtSTR' , $input.val());
                        self.$set(self.voucher , 'endAt' , moment($input.val() , 'DD/MM/YYYY').valueOf());
                    }
                });
            } , 500);



        }
    }
</script>

<style scoped>
    .custom__tag:nth-child(2n) {
        background: #daffee;
    }

    .custom__tag {
        display: inline-block;
        padding: 3px 12px;
        background: #d2d7ff;
        margin-right: 8px;
        margin-bottom: 8px;
        border-radius: 10px;
        cursor: pointer;
    }
    .normal-price{
        color : lightgray;
        font-size: 19px;
        font-weight: bolder;
        text-decoration: line-through;
    }
    .discounted-price{
        color : limegreen;
        font-size: 25px;
        font-weight: bolder;
    }
    .price-box{
        border : 1px solid grey;
        padding: 10px;
        margin-left: 15px;
        margin-right: 20px;
    }
    .price-box p {
        margin-bottom: 5px !important;
    }
    .input-title{
        margin-top: 35px;
    }
    .btn-success, .btn-danger{
        padding: 1px !important;
        color: #FFFFFF !important;
        min-width: 60px !important;
        min-height: 26px !important;
    }

    .filter-container{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }

    .single-service{
        background-color: #ffffff;
        padding-top: 10px;
    //padding-bottom: 5px;
        margin: 9px 1px 2px 1px;

    }

    .single-service .item {
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .single-service .action {
        padding-bottom: 7px;
    }

    .new-service{
        background-color: #fe6500;
        border-color: #fe6500;
        float: right;
    }

    .error{
        color: #fe6500;
        font-size: 12px;
    }

    .top-section{
        margin-top: 20px;
    }

    .lm{
        margin-left: 6px;
    }

    .cat-image{
        width: 45%;
    }

    .btn{
        min-width: 75px;
        min-height: 40px;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: lightgray;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: lightgray;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: lightgray;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: lightgray;
    }

    .proceed-button{
        background-color: #fe6500;
        border-color: #fe6500;
        min-width: 80px;
        min-height: 40px;
    }




</style>
