<template>
    <no-ssr>
        <div>

            <div class="new">

                <div v-if="!showContent" class="aligncenter">
                    <img src="@/assets/images/ajax-loader-2.gif" alt="">
                </div>


                <div v-else class="services-customer-profile-content">
                    <section id="page-title" class="">
                        <admin-header />
                    </section>
                    <section>
                        <div class="container-fluid clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <ShopSidebar />
                                </div>
                                <div class="col-md-10 admin-page-content">
                                    <div class="row top-section">
                                        <div class="col-md-8">
                                            <el-switch
                                                    v-model="stateSwitch"
                                                    active-color="#fe6500"
                                                    inactive-color="#ff4949"
                                                    active-text="Already Reconciled"
                                                    inactive-text="Payment to reconcile">
                                            </el-switch>
                                        </div>
                                    </div>

                                    <div class="row top-section">


                                        <div class="col-md-3" >
                                        <input type="text" @change="filterPayment"  v-model.trim="searchFilter.orderID" class="form-control" placeholder="Order ID">
                                            <a href="" @click.prevent="resetFilter" v-if="enableReset" class="error">Reset filter</a>
                                        </div>

                                        <div class="col-md-3" >
                                            <select class="form-control" @change="filterPayment" v-model="paymentOption" >
                                                <option value="">Payment Method</option>
                                                <option value="card">Card</option>
                                                <option value="cash_on_delivery">Cash</option>
                                            </select>
                                        </div>

                                        <div class="col-md-2" >
                                            <el-date-picker
                                                    @change="filterPayment"
                                                    v-model="searchFilter.startAt"
                                                    type="date"
                                                    format="dd-MM-yyyy"
                                                    placeholder="From">
                                            </el-date-picker>
                                        </div>
                                        <div class="col-md-2" >
                                            <el-date-picker
                                                    @change="filterPayment"
                                                    v-model="searchFilter.endAt"
                                                    type="date"
                                                    format="dd-MM-yyyy"
                                                    placeholder="To">
                                            </el-date-picker>

                                        </div>

                                        <div class="col-md-2" >

                                            <a class="btn btn-success reconcile-button" v-if="enableUpdate" @click.prevent="updateReconcile">Confirm Reconciliation</a>
                                        </div>



                                    </div>



                                    <!--<p v-if="noDATA">-->
                                        <!--<span  class="error">No Data for this filter</span>-->
                                    <!--</p>-->


                                    <div class="row product-list-header" v-if="payment_records.length > 0">
                                        <!--<div class="col-md-1" v-if="!stateSwitch"></div>-->
                                        <div class="col-md-2" style="padding-left: 10px">Order ID</div>
                                        <div class="col-md-1 ">{{ !stateSwitch ? 'Order' : 'Reconciled' }} Date</div>
                                        <div class="col-md-1 ">Store Name</div>
                                        <div class="col-md-1 ">Payment Method</div>
                                        <div class="col-md-2 ">Delivery Method</div>
                                        <div class="col-md-1 ">Order Amount</div>
                                        <div class="col-md-1 center" v-text="switchText"></div>
                                        <div class="col-md-1 center">Chirag Charge</div>
                                        <div class="col-md-1 center"></div>
                                    </div>


                                    <div id="draggable" style="margin-bottom: 25px;">
                                        <div class="row single-service" v-if="!stateSwitch" :key="item.id" v-for="(item , index ) in payment_records">

                                            <!--<div class="col-md-1 ">-->
                                                <!--<input type="checkbox" v-model="item.reconciled" >-->
                                            <!--</div>-->
                                            <div class="col-md-2 item p-top" style="padding-left: 10px">
                                                {{item.orderID}}
                                            </div>

                                            <div class="col-md-1 item p-top">

                                                {{formartOrderDate(item.orderCreated)}}

                                            </div>
                                            <div class="col-md-1 item p-top">

                                                {{ fetchStore(item.storeID) }}

                                            </div>
                                            <div class="col-md-1 ">
                                                {{ item.paymentOption.replace(/_/g , ' ') }}
                                            </div>
                                            <div class="col-md-2 item p-top">

                                                {{ fetchDeliveryMethod(item.deliveryOptionId) }}

                                            </div>

                                            <div class="col-md-1 item p-top">

                                                &#36;{{item.soldPrice}}

                                            </div>

                                            <div class="col-md-1 item p-top center green" >

                                                &#36;{{!stateSwitch ? item.storeEarn : item.chiragEarn}}

                                            </div>

                                            <div class="col-md-1 item p-top center">

                                                &#36;{{item.chiragEarn}}

                                            </div>
                                            <div class="col-md-1 center">
                                                <i class="el-icon-document" @click="showDetail('due' , index)"></i>
                                            </div>


                                        </div>
                                        <div class="row single-service" v-if="stateSwitch" :key="item.id" v-for="(item , index ) in reconcile_records">

                                            <div class="col-md-2 item p-top" style="padding-left: 10px">
                                                {{item.orderID}}
                                            </div>

                                            <div class="col-md-1 item p-top">

                                                {{formartOrderDate(item.reconciledDate)}}

                                            </div>
                                            <div class="col-md-2 item p-top">

                                                {{ fetchStore(item.storeID) }}

                                            </div>
                                            <div class="col-md-1 ">
                                                {{ item.paymentOption.replace(/_/g , ' ') }}
                                            </div>
                                            <div class="col-md-2 item p-top">

                                                {{ fetchDeliveryMethod(item.deliveryOptionId) }}

                                            </div>

                                            <div class="col-md-1 item p-top">

                                                &#36;{{item.soldPrice}}

                                            </div>

                                            <div class="col-md-1 item p-top center green">

                                                &#36;{{ item.storeEarn}}

                                            </div>

                                            <div class="col-md-1 item p-top center">

                                                &#36;{{item.chiragEarn}}

                                            </div>
                                            <div class="col-md-1 center">
                                                <i class="el-icon-document" @click="showDetail('completed' , index)"></i>
                                            </div>


                                        </div>
                                    </div>

                                    <p v-if="payment_records.length === 0" class="error">Currently there is no payment record </p>

                                    <div style="width: 600px; margin: 0px auto; display: block" v-if="stateSwitch && reconcile_records.length > 0">
                                        <pagination v-if="totalData > dataPerPage && !hidePagination" :dataPerPage="dataPerPage" @fetch="fetchData" :totalData="totalData"  />
                                    </div>



                                    <reconciled-price v-if="showModal" @close="showModal = false" :products-map="productsMap" :product-i-d-s="currentIDS" />



                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </no-ssr>
</template>

<script>

    import firebase from 'firebase'
    import DB from '~/plugins/firebase/init';
    import ShopSidebar from '@/components/ShopSidebarMenu';
    import AdminHeader from "@/components/AdminHeader";
    import Pagination from '@/components/Pagination';
    import axios from 'axios'
    import moment from 'moment'
    import ReconciledPrice from "@/components/ReconciledPrice";
    export default {
        middleware : 'auth',
        components: {
            ReconciledPrice,
            AdminHeader,
            ShopSidebar , Pagination
        },
        asyncData (context) {

            // var BASE = DB.collection("payment_record").where('reconciled','==' , false).orderBy("orderCreated" , "desc");
            // //var docRef = BASE;
            //
            // var docRef = BASE.limit(12);
            //
            // return docRef.get().then(function (querySnapshot) {
            //
            //     //console.log(querySnapshot);
            //     let payment_records = [];
            //     if (!querySnapshot.empty) {
            //         querySnapshot.forEach(doc => {
            //             payment_records.push(doc.data());
            //         });
            //
            //         return {payment_records }
            //     } else {
            //         // doc.data() will be undefined in this case
            //         console.log("Here No such document!");
            //         return {payment_records : []}
            //     }
            // }).catch(function (error) {
            //     console.log("Error getting document:", error);
            // });


        },
        data(){
            return {
                enableReset : false,
                stateSwitch : false,
                storeSelected : false,
                storeKey : '',
                paymentOption : '',
                searchFilter : {
                    storeID : '',
                    startAt : '',
                    startAtInt : '',
                    endAt : '',
                    endAtInt : '',
                    orderStatus : '',
                    storeID : '',
                    orderID : ''
                },
                warning : false,
                removeID : '',
                warningFor : 'product',
                message : '',
                noDATA  :false,
                alreadyExist : false,
                searchKey : '',
                catSearch : '',
                subcatSearch : '',
                searchIN : 'name',
                searchORDER : 'asc',
                disable : false,
                payment_records : [],
                totalData : 0,
                dataPerPage : 20,
                fetchAfter : 3,
                timerID : '',
                hidePagination : false,
                users : [],
                stores : [],
                storesMap : {},
                timerID : '',
                delivery_methods : [],
                reconcile_records : [],
                productsMap : {},
                currentIDS : [],
                showModal : false
            }
        },

        watch : {
            stateSwitch(newVal , oldVal){
                if(newVal){
                    this.fetchAll();
                    this.fetchData(1);
                }

                this.clearFilter();


            }
        },

        computed : {

            enableUpdate(){
                let count = 0;
                this.payment_records.forEach(item => {
                    if(item.reconciled){
                        count++;
                    }
                })

                return Boolean(count);
            },

            switchText(){
                // if(this.stateSwitch)
                //     return 'Receivable from store';

                return 'Payable to store';
            },

            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            },
            storeID(){
                return this.$route.params.id
            },
            filteredStores(){
                return this.stores.filter(item => {
                    if(this.storeKey !== '' && item.name.toLowerCase().indexOf(this.storeKey.toLowerCase()) !== -1){
                        return item;
                    }
                })
            }
        },
        methods : {
            showDetail(type , index){
                if(type === 'due'){
                    this.currentIDS = this.payment_records[index].productIDS ? this.payment_records[index].productIDS : [];
                }
                else if(type === 'completed'){
                    this.currentIDS = this.reconcile_records[index].productIDS ? this.reconcile_records[index].productIDS : [];
                }

                this.showModal = true;
            },
            clearFilter(){
                this.storeKey = '';
                this.searchFilter.storeID = '';
                this.paymentOption = '';
                this.searchFilter.orderID = '';
                this.searchFilter.startAt = '';
                this.searchFilter.endAt = '';
                this.enableReset = false;
            },
            resetFilter(){
                this.clearFilter();
                if(!this.stateSwitch)
                    this.fetchDue();
                else {
                    this.stateSwitch = !this.stateSwitch
                    setTimeout(() => {
                        this.stateSwitch = !this.stateSwitch
                    } , 300)

                }
            },
            updateReconcile(){
                //console.log('Hi');
                let self = this , update = [];
                self.payment_records.forEach(item => {
                    if(item.reconciled){
                        var payment_record_id = item.id;
                        update.push({...self.removeReferences(item) , id : ''  , PaymentRecordID : payment_record_id , reconciledDate : (new Date()).getTime()} )
                        DB.collection("payment_record").doc(item.id).update({
                            reconciled : true
                        })
                    }
                })

                let orderRef = DB.collection("reconciliation");

                update.forEach(item  => {
                    orderRef.add(item)
                        .then(function(docRef) {
                            orderRef.doc(docRef.id).update({id : docRef.id}).then(()=> {

                            })
                        })
                        .catch(function(error) {
                            console.error("Error adding document: ", error);
                        });
                })


                self.$store.dispatch('flash' , {
                    message : 'Reconciled',
                    type : 'success'
                });






            },
            selectStore(ID){
                this.storeSelected = true;
                this.storeKey = this.storesMap[ID].name;
                this.searchFilter.storeID = ID;
                this.filterPayment();
            },
            searchStore(){
                this.storeSelected = false;
            },
            filterPayment(){
                let self = this;
                self.enableReset = true;
                console.log('called');
                //console.log(new Date(this.searchFilter.startAt).getUnixTime())

                clearTimeout(self.timerID);
                self.timerID = setTimeout(()=>{

                    // if(self.searchKey.length === 0){
                    //     self.noDATA = false;
                    //     self.fetchData(1);
                    //     self.hidePagination = false;
                    //     return;
                    // }

                    var filterUrl = self.stateSwitch ? 'ReconciledPaymentsFilter' : 'waitingReconciledPayments';

                    console.log('Now fetch');
                    axios({
                        method:'post',
                        url:`https://us-central1-aladins-chirag.cloudfunctions.net/${filterUrl}`,
                        data: {
                            offset: 0,
                            dataPerPage : self.dataPerPage,
                            paymentOption : self.paymentOption,
                            fromDate : self.searchFilter.startAt !== '' ? (new Date(self.searchFilter.startAt).getUnixTime() * 1000 ) : '',
                            toDate : self.searchFilter.endAt !== '' ? (new Date(self.searchFilter.endAt).getUnixTime() * 1000 ) : '',
                            storeID : self.storeID,
                            orderID: self.searchFilter.orderID
                        }
                    })
                        .then(function(response) {
                            console.log(response.data.length);
                            if(response.data.length === 0){
                                self.noDATA = true;
                                self.hidePagination = false;
                            } else {
                                self.noDATA = false;
                                self.hidePagination = false;
                                self.hidePagination = true;
                                if(self.stateSwitch){
                                    self.reconcile_records = [];
                                    self.reconcile_records = response.data
                                } else {
                                    self.payment_records = [];
                                    self.payment_records = response.data
                                }
                            }

                        }).catch(err => {
                        console.log(err);
                    });
                }, 500);
            },

            formartOrderDate(value){
                return moment(value).format("MMM Do YY");
            },
            fetchStore(ID){

                var store_name = ''
                this.stores.forEach(item => {
                    if(item.id === ID){
                        store_name = item.name;
                    }
                })
                return store_name

            },
            fetchDeliveryMethod(ID){

                var method_name = ''
                this.delivery_methods.forEach(item => {
                    if(item.id === ID){
                        method_name = item.name;
                    }
                })
                return method_name

            },
            fetchName(id , type){
                let name = '';
                if(type === 'customers'){
                    this.users.forEach(item => {
                        if(item.uid === id){
                            name = item.name;
                        }
                    })
                }

                return name;
            },
            showWarning(id){
                this.removeID = id;
                this.message = 'Please Confirm. I want to delete this Product from this shop';
                this.warning = true;
            },
            fetchData(page){

                let self = this;

                self.currentPage = page;

                let startAfter = page * self.dataPerPage - self.dataPerPage;
                axios({
                    method:'post',
                    url:'https://us-central1-aladins-chirag.cloudfunctions.net/ReconciledPayments',
                    data: {
                        offset: startAfter,
                        dataPerPage : self.dataPerPage,
                        storeID : self.storeID
                    }
                })
                    .then(function(response) {
                        console.log(response.data);
                        self.reconcile_records = response.data
                    });
            },
            fetchAll(){
                let self = this;
                DB.collection("reconciliation").where('storeID' , '==' , this.storeID).orderBy("orderCreated" , "asc").get().then(function (querySnapshot) {

                    //console.log(querySnapshot);
                    self.totalData = querySnapshot.size;

                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });
            },

            fetchDue(){
                let self = this;
                let docRef = DB.collection("payment_record").where('reconciled','==' , false).where('storeID' , '==' , this.storeID).orderBy("orderCreated" , "desc");

                docRef.onSnapshot(function (querySnapshot) {

                    //console.log(querySnapshot);
                    let payment_records = [];
                    if (!querySnapshot.empty) {
                        querySnapshot.forEach(doc => {
                            payment_records.push(doc.data());
                        });

                        self.payment_records = payment_records
                    }
                });
            }
        },

        created(){
            let self = this;
            this.validateOldUser();

            DB.collection("products").get().then(function (querySnapshot) {

                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        self.productsMap[doc.data().id] = doc.data();
                    });

                }

            }).catch(function (error) {
                console.log("Error getting document:", error);
            });

            this.fetchAll();

            this.fetchDue();

            // DB.collection("reconciliation").orderBy("orderCreated" , "desc").onSnapshot(function (querySnapshot) {
            //
            //     let reconcile_records = [];
            //     if (!querySnapshot.empty) {
            //         querySnapshot.forEach(doc => {
            //             reconcile_records.push(doc.data());
            //         });
            //
            //         console.log(reconcile_records.length)
            //
            //         self.reconcile_records = reconcile_records
            //     }
            // });


            DB.collection("delivery-methods").get().then(function (querySnapshot) {

                if (!querySnapshot.empty) {
                    self.delivery_methods = [];
                    querySnapshot.forEach(doc => {
                        self.delivery_methods.push(doc.data());
                    });

                }

            }).catch(function (error) {
                console.log("Error getting document:", error);
            });

            DB.collection("users").get().then(function (querySnapshot) {

                if (!querySnapshot.empty) {
                    self.users = []
                    querySnapshot.forEach(doc => {
                        self.users.push(doc.data());
                    });

                }

            }).catch(function (error) {
                console.log("Error getting document:", error);
            });

            DB.collection("store").get().then(function (querySnapshot) {

                if (!querySnapshot.empty) {
                    self.stores = []
                    querySnapshot.forEach(doc => {
                        self.stores.push(doc.data());
                        self.storesMap[doc.data().id] = doc.data();
                    });

                }

            }).catch(function (error) {
                console.log("Error getting document:", error);
            });

            // console.log(moment.unix(1540317600).format("MM/DD/YYYY"));
            // console.log(moment.unix(1540316600).format("MM/DD/YYYY"));
            // console.log(moment.unix(1540701376832 / 1000).format("MM/DD/YYYY"));
            // console.log((new Date()).getTime());
            // console.log((new Date()).getUnixTime());

        }
    }
</script>

<style scoped>
    /*.admin-page-content{*/
    /*padding: 20px;*/
    /*}*/

    .el-icon-document{
        color: #ff5a00 !important;
        cursor: pointer;
    }

    .reconcile-button{
        background-color: #07c748;
        font-size: 13px;
        color: #ffffff !important;
    }

    .red{
        color: red;
    }

    .green{
        color: #07c748;
    }

    .order-status-button {
        color : #ffffff;
        border-radius: 8px;
        width: 100%;
        font-size: 13px;
        padding-top: 10px !important;
    }
    .order-received{
        background-color: #0076ff;
    }
    .shopper-started-picking{
        background-color: #7f63f4;
    }

    .waiting-deliver{
        background-color: #00b8fa;
    }

    .order-on-your-way{
        background-color: #ff5a00;
    }

    .order-complete{
        background-color: #07c748;
    }

    .cancelled{
        background-color: #ff0000;
    }

    .clear-store{
        color : #fe6500;
        font-size: 12px;
        cursor: pointer;
    }
    .shop-list{
        background-color: #ffffff;
        min-width: 440px;
        transform-origin: center bottom 0px;
        z-index: 2032;
        position: absolute;
    //top: 327px;
    }

    .shop-item{
        border: 1px solid #DDD;
        cursor: pointer;
        margin-bottom: 5px;
    }

    .product-list-header{
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .product-list-header div {
        font-weight: bold;
        padding-left: 3px;
        font-size: 14px;
    }
    .el-icon-more-outline {
        color : #fe6500;
        font-size: 25px;
    }
    .error{
        color: #fe6500;
        font-size: 12px;
    }
    .p-top{
    //padding-top: 32px !important;
    }
    #page-title{
        padding: 10px !important;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }

    .single-service{
        background-color: #ffffff;
        padding-top: 10px;
    //padding-bottom: 5px;
        margin-top: 9px;

    }

    .single-service .item {
        padding-bottom: 10px;
        padding-top: 5px;
        padding-right: 1px;
        padding-left: 1px;
    }

    .single-service .action {
        padding-bottom: 7px;
    }

    .new-service{
        background-color: #fe6500;
        border-color: #fe6500;
        float: right;
    }

    .error{
        color: #fe6500;
        font-size: 12px;
    }

    .top-section{
        margin-top: 10px;
    }

    .btn{
        min-width: 75px;
        min-height: 40px;
    }





</style>
