<template>
    <div>
        <div v-if="!showContent" class="aligncenter">
            <img src="@/assets/images/ajax-loader-2.gif" alt="">
        </div>


        <div v-else class="services-customer-profile-content">
            <section id="page-title" class="">
                <admin-header />
            </section>
            <section>
                <div class="container-fluid clearfix">
                    <div class="row">
                        <div class="col-md-2">
                            <ShopSidebar />
                        </div>
                        <div class="col-md-10 admin-page-content">
                          <div class="row top-section">
                              <div class="col-md-8">
                                  <h3>Edit Store Image</h3>
                              </div>
                            </div>
                          <div class="row">
                              <div class="col-sm-12 col-md-6">
                                  <img :src="store.imageURL" class="img-thumbnail">
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
import Sortable from "sortablejs";
import firebase from "firebase";
import DB from "~/plugins/firebase/init";
import persistance from "~/plugins/persistance";
import ShopSidebar from "@/components/ShopSidebarMenu";
import ShowFileUpload from "@/components/ShowFileUpload";
import { mapGetters } from "vuex";
import AdminHeader from "../../../../components/AdminHeader";
export default {
  middleware: "auth",
  components: {
    AdminHeader,
    ShopSidebar,
    ShowFileUpload
  },
  asyncData(context) {
    if (context.params.shopID !== undefined) {
      var docRef = DB.collection("store").where(
        "id",
        "==",
        context.params.shopID
      );

      return docRef
        .get()
        .then(function(querySnapshot) {
          let store = {};
          if (!querySnapshot.empty) {
            querySnapshot.forEach(doc => {
              store = doc.data();
            });

            return { store };
          } else {
            // doc.data() will be undefined in this case
            console.log("Here No such document!");
            return { store: {} };
          }
        })
        .catch(function(error) {
          console.log("Error getting document:", error);
        });
    }
  },
  data() {
    return {
      error: {
        name: false,
        nameMessage: ""
      },
      store: {
        name: "",
        address: ""
      },
      disable: false,
      showContent: true
    };
  },
  computed: {},
  methods: {
    updateStoreInfo() {
      if (this.$route.params.shopID !== null) {
        return DB.collection("store")
          .doc(this.$route.params.shopID)
          .update({
            name: this.store.name,
            address: this.store.address,
            abn_acn: this.store.abn_acn,
            phone: this.store.phone
          })
          .then(response => {
            console.log(response);
          })
          .catch(error => console.log(error));
      }
    }
  },

  created() {
    this.validateOldUser();
  }
};
</script>

<style scoped>
#page-title {
  padding: 10px;
}
#page-title span {
  margin-top: 0px;
}

.col_half h4 {
  margin-bottom: 10px;
}
.info-tbl td,
.cards-tbl tr:first-child td {
  border-top: none !important;
}

.admin-page-content {
  background-color: #f1f4f7;
  min-height: 500px;
}

.single-service {
  background-color: #ffffff;
  padding-top: 10px;
  /* padding-bottom: 5px; */
  margin: 9px 1px 2px 1px;
}

.single-service .item {
  padding-bottom: 5px;
  padding-top: 5px;
}

.single-service .action {
  padding-bottom: 7px;
}

.new-service {
  background-color: #fe6500;
  border-color: #fe6500;
  float: right;
}

.error {
  color: #fe6500;
  font-size: 12px;
}

.top-section {
  margin-top: 20px;
}

.lm {
  margin-left: 6px;
}

.cat-image {
  width: 45%;
}

.btn {
  padding: 5px 15px;
}
</style>
