<template>
    <no-ssr>
        <div>
            <div v-if="!showContent" class="aligncenter">
                <img src="@/assets/images/ajax-loader-2.gif" alt="">
            </div>


            <div v-else class="services-customer-profile-content">
                <section id="page-title" class="">
                    <admin-header />
                </section>
                <section>
                    <div class="container-fluid clearfix">
                        <div class="row">
                            <div class="col-md-2">
                                <ShopSidebar />
                            </div>
                            <div class="col-md-10 admin-page-content">
                                <p style="text-align: right; margin-bottom: -10px; margin-top: 10px;">
                                    <button @click.prevent="approve" class="btn btn-info proceed-button">
                                        <span v-if="disable">
                                <img src="@/assets/images/ajax-loader.gif" alt="">
                                </span>
                                        <span v-else>Request Change</span>
                                    </button>
                                </p>
                                <div class="col_half topmargin">

                                    <div class="card">
                                        <div class="card-body">

                                            <div class="row">
                                                <div class="col-md-12 input-title">
                                                    Store Name
                                                </div>
                                                <div class="col-md-12">
                                                    <input @focus="error.name = false" v-model.trim="store.name"  type="text" class="form-control">
                                                    <span v-if="error.name" class="error">Store Name Can't be empty</span>
                                                </div>
                                                <div class="col-md-12 input-title">
                                                Description
                                                </div>
                                                <div class="col-md-12 input-title">
                                                <textarea @focus="error.description = false" v-model.trim="store.description"  rows="3" class="form-control"></textarea>
                                                    <span class="error" v-if="error.description">Description can't be empty</span>
                                                </div>
                                                <div class="col-md-12 input-title">
                                                    Address
                                                </div>
                                                <div class="col-md-12 input-title">
                                                    <textarea @focus="error.address = false" v-model.trim="store.address"  rows="3" class="form-control"></textarea>
                                                    <span v-if="error.address" class="error">Store Address Can't be empty</span>
                                                </div>
                                                <div class="col-md-12 input-title">
                                                    Phone
                                                </div>
                                                <div class="col-md-12">
                                                    <input @focus="error.phone = false" type="text" v-model.trim="store.phone"  class="form-control">
                                                    <span v-if="error.phone" class="error">Store Phone Number Can't be empty</span>
                                                </div>

                                                <div class="col-md-12 input-title">
                                                    ABN/ACN
                                                </div>
                                                <div class="col-md-12">
                                                    <input @focus="error.abn_acn = false" type="text" v-model.trim="store.abn_acn"  class="form-control">
                                                    <span v-if="error.abn_acn" class="error">ABN/ACN Number Can't be empty</span>
                                                </div>

                                                <div class="col-md-12 input-title">
                                                    Commission Percentage
                                                </div>
                                                <div class="col-md-12">
                                                    <input style="max-width: 80px; display: inline-block"  type="text" @change="verify" v-model.trim="store.comission_percentage"  class="form-control">%
                                                </div>

                                                <div class="col-md-12 input-title">
                                                    Service Name
                                                </div>
                                                <div class="col-md-12">
                                                    <select @change="serviceCatID = 'select'" v-model="serviceID"  class="form-control">
                                                        <option :value="service.id" v-for="service in services">{{service.name}}</option>
                                                    </select>
                                                </div>


                                                <div class="col-md-12" v-if="current_service_categories.length > 0" style="margin-top: 10px">
                                                    <select v-model="serviceCatID"  class="form-control">
                                                        <option value="select">Service Category</option>
                                                        <option :value="cat.id" v-for="cat in current_service_categories">{{cat.name}}</option>
                                                    </select>
                                                </div>

                                                <div class="col-md-12 input-title">
                                                    Choose Delivery Methods
                                                </div>
                                                <div class="col-md-12" style="margin-bottom: 40px">
                                                <span @click="pick(method.id)" :class="{ 'selected' : checkSelection(method.id) }" class="method" v-for="method in delivery_methods">
                                                    {{ method.name }} &nbsp;&nbsp; &#36;{{method.charge}}
                                                </span>
                                                </div>

                                                <div class="col-md-12 input-title">
                                                    Select Country
                                                </div>
                                                <div class="col-md-12 input-title" style="">
                                                    <select @change="updatePostCodes" v-model="country"  class="form-control">
                                                        <option :value="cat.id" v-for="cat in countries">{{cat.name}}</option>
                                                    </select>
                                                </div>

                                                <div class="col-md-12 input-title">
                                                    Select Post Codes where you don't provide service
                                                </div>
                                                <div class="col-md-12" style="margin-bottom: 40px">
                                                <span @click="pickCode(code)" :class="{ 'selected' : checkPostCodes(code) }" class="method" v-for="code in codes">
                                                    {{ code }}
                                                </span>
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col_half topmargin col_last">
                                    <!--<h4>Social Links</h4>-->
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12 input-title">
                                                    Store Logo
                                                </div>
                                                <div class="col-md-12 center">
                                                    <img :src="store.logoURL" alt=""> <br>
                                                    <img  @click="showLogoUpload" src="//i.imgur.com/NEJ7kr8.png" class="small-cam" alt="">
                                                    <input type="file" style="display: none;" ref="logoInput" @change="onLogoPicked">
                                                    <ShowFileUpload v-if="logoUploading" />
                                                    <p v-if="logoRatioError" class="alert alert-danger">
                                                        Logo size must be 200px * 200px
                                                    </p>
                                                </div>
                                                <div class="col-md-12 input-title">
                                                    Store image
                                                </div>
                                                <div class="col-md-12 center">
                                                    <img :src="store.imageURL" alt=""><br>
                                                    <img  @click="showImageUpload" src="//i.imgur.com/NEJ7kr8.png" class="small-cam" alt="">
                                                    <input type="file" style="display: none;" ref="imageInput" @change="onImagePicked">
                                                    <ShowFileUpload v-if="imageUploading" />
                                                    <p v-if="imageRatioError" class="alert alert-danger">
                                                        Store image size must be 360px * 200px
                                                    </p>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="clear"></div>


                            </div>


                        </div>
                    </div>
                </section>
            </div>
        </div>
    </no-ssr>
</template>

<script>

    import firebase from 'firebase'
    import DB from '~/plugins/firebase/init'
    import persistance from '~/plugins/persistance';
    import ShopSidebar from '@/components/ShopSidebarMenu';
    import InputError from '@/components/InputError';
    import {mapGetters} from 'vuex'
    import AdminHeader from "@/components/AdminHeader";
    import ShowFileUpload from "@/components/ShowFileUpload";
    export default {
        middleware : 'auth',
        components: {
            AdminHeader,
            ShopSidebar , InputError , ShowFileUpload
        },
        asyncData (context) {
            var docRef = DB.collection("services");

            return docRef.get().then(function (querySnapshot) {
                let services = []
                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        services.push(doc.data())

                    });

                    return {services}
                } else {
                    // doc.data() will be undefined in this case
                    console.log("Here No such document!");
                    return { services : []}
                }
            }).then((data) => {
                if (context.params.shopID !== undefined) {

                    var docRef = DB.collection("store").doc(context.params.shopID);

                    return docRef.get().then(function (doc) {
                        if (doc.exists) {
                            return {...data , store: doc.data()}
                        }
                    });

                } else {
                    return {...data}
                }


            }).catch(function (error) {
                console.log("Error getting document:", error);
            });
        },
        data(){
            return {
                logoUploading : false,
                imageUploading : false,
                logoRatioError : false,
                imageRatioError : false,

                error: {
                    name: false,
                    address : false,
                    description : false,
                    phone: false,
                    abn_acn : false
                },

                disable : false,
                proceed : false,
                serviceID : '',
                serviceCatID : 'select',
                store : { name : '' },
                services : [],
                countries : [],
                service_categories : [],
                delivery_methods : [],
                selectedMethods : [],
                selectedPostCodes: [],
                country : ''
            }
        },
        computed : {
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            },
            current_service_categories(){
                let cat = [];
                if(this.serviceID !== ''){
                    this.service_categories.forEach(item => {
                        if(item.serviceId === this.serviceID){
                            cat.push(item)
                        }
                    })
                }

                return cat;
            },
            codes(){
                let codes = [] , self = this;
                this.countries.forEach(item => {
                    if(item.id === self.country){
                        codes = item.codes;
                    }
                })

                return codes
            }
        },
        methods : {
            showLogoUpload(){
                this.$refs.logoInput.click();
            },
            onLogoPicked(event){
                let self = this;
                const files = event.target.files;
                let fileName = files[0].name;
                let arr = fileName.split('.')
                let extention = arr[arr.length - 1].toLowerCase();
                self.logoRatioError = false;
                if(extention === 'png' || extention === 'jpeg' || extention === 'jpg'){

                    const fileReader = new FileReader();
                    fileReader.addEventListener('load' , ()=>{
                        var img = new Image;
                        img.onload = function() {

                            if(img.width === 200 && img.height === 200){

                                self.logoUploading = true;

                                let tempLogo = files[0];

                                let logoPath = `store-images/${self.store.id}/` + (new Date()).getTime() + fileName.replace(/\s/g, "")

                                let storageRef =  firebase.storage().ref(logoPath)

                                let uploadFile = storageRef.put(tempLogo);

                                uploadFile.on('state_changed', function(snapshot){
                                    // var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                                    // console.log('Upload is ' + progress + '% done');
                                })

                                uploadFile.then((result) => {

                                    if(self.store.logoPATH.length > 0){
                                        firebase.storage().ref().child(self.store.logoPATH).delete();
                                    }

                                    storageRef.getDownloadURL().then(function(url) {
                                        //console.log(url)
                                        self.store.logoURL = url;
                                        self.store.logoPATH = logoPath;

                                        DB.collection("store").doc(self.store.id).update({
                                            logoURL: url,
                                            logoPATH : logoPath
                                        });
                                        self.logoUploading = false;
                                    })

                                })

                            } else {
                                self.logoRatioError = true;
                            }

                        };

                        img.src = fileReader.result;
                    });

                    fileReader.readAsDataURL(files[0]);






                } else {
                    alert('Please select a valid image')
                }
            },
            showImageUpload(){
                this.$refs.imageInput.click();
            },
            onImagePicked(event){
                let self = this;
                const files = event.target.files;
                let fileName = files[0].name;
                let arr = fileName.split('.')
                let extention = arr[arr.length - 1].toLowerCase();
                self.imageRatioError = false;

                if(extention == 'png' || extention == 'jpeg' || extention == 'jpg'){


                    const fileReader = new FileReader();
                    fileReader.addEventListener('load' , ()=>{

                            var img = new Image;

                            img.onload = function() {
                                if(img.width === 360 && img.height === 200){
                                    self.imageUploading = true;

                                    let tempLogo = files[0];

                                    let imagePath = `store-images/${self.store.id}/` + (new Date()).getTime() + fileName.replace(/\s/g, "")

                                    let storageRef =  firebase.storage().ref(imagePath)

                                    let uploadFile = storageRef.put(tempLogo);

                                    uploadFile.on('state_changed', function(snapshot){
                                        // var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                                        // console.log('Upload is ' + progress + '% done');
                                    })

                                    uploadFile.then((result) => {

                                        if(self.store.imagePATH.length > 0){
                                            firebase.storage().ref().child(self.store.imagePATH).delete();
                                        }

                                        storageRef.getDownloadURL().then(function(url) {
                                            //console.log(url)
                                            self.store.imageURL = url;
                                            self.store.imagePATH = imagePath;

                                            DB.collection("store").doc(self.store.id).update({
                                                imageURL: url,
                                                imagePATH : imagePath
                                            });
                                            self.imageUploading = false;
                                        })

                                    })
                                } else {
                                    self.imageRatioError = true
                                }
                            }

                        img.src = fileReader.result;
                    });


                    fileReader.readAsDataURL(files[0]);




                } else {
                    alert('Please select a valid image')
                }
            },
            keyhander(event){
                if(this.store.description.length >= this.maxSize && event.key !== 'Backspace')
                    event.preventDefault();
            },
            verify(){
                var comission_percentage = isNaN(this.store.comission_percentage) || this.store.comission_percentage === '' ? 0 : this.store.comission_percentage;
                this.store.comission_percentage = comission_percentage < 0 ? comission_percentage * (-1) : comission_percentage;
            },
            updatePostCodes(){
                if(this.country !== ''){
                    this.selectedPostCodes = [];
                }
            },
            pickCode(code){
                let exist = false , Index = -1;
                this.selectedPostCodes.forEach((item , index) => {
                    if(item === code){
                        exist = true;
                        Index = index
                    }
                })
                if(exist === false){
                    this.codes.forEach(item => {
                        if(item === code){
                            this.selectedPostCodes.push(item)
                        }
                    })
                } else {
                    this.selectedPostCodes.splice(Index , 1);
                }
            },
            checkPostCodes(code){
                let exist = false;

                this.selectedPostCodes.forEach(item => {
                    if(item === code){
                        exist = true
                    }
                })

                return exist;
            },
            checkSelection(id){
                let exist = false;

                this.selectedMethods.forEach(item => {
                    if(item === id){
                        exist = true
                    }
                })

                return exist;

            },
            pick(id){
                let exist = false , Index = -1;
                this.selectedMethods.forEach((item , index) => {
                    if(item === id){
                        exist = true;
                        Index = index
                    }
                })
                if(exist === false){
                    this.delivery_methods.forEach(item => {
                        if(item.id === id){
                            this.selectedMethods.push(item.id)
                        }
                    })
                } else {
                    this.selectedMethods.splice(Index , 1);
                }

            },
            fetchName(id){
                let name = '';
                this.countries.forEach(item => {
                    if(item.id === id)
                        name = item.name
                })

                return name;
            },
            approve(){

                let self = this;

                var error = [];

                if(self.store.name.length === 0){
                    self.error.name = true;
                    error.push('name')
                }

                if(self.store.description.length === 0){
                    self.error.description = true;
                    error.push('description')
                }

                if(self.store.phone.length === 0){
                    self.error.phone = true;
                    error.push('phone')
                }

                if(error.length === 0){

                    let size = self.store.name.length;
                    let indexArr = [];
                    for(var i=1 ; i<= size ; i++){
                        indexArr.push(self.store.name.substr(0, i).toLowerCase())
                    }

                    self.store.name.split(' ').forEach(item => {
                        if(!indexArr.includes(item))
                            indexArr.push(item.toLowerCase())
                    });

                    self.store.name.split(' ').forEach(item => {
                        var temp_size = item.length;
                        for(var i=1 ; i<= temp_size ; i++){
                            var check = item.substr(0, i).toLowerCase();
                            if(!indexArr.includes(check))
                                indexArr.push(check)
                        }
                    });

                    self.store.indexArr = indexArr;
                    self.store.delivery_methods = this.selectedMethods.filter(item => {
                        var found = false;
                        self.delivery_methods.forEach(Item => {
                            if(Item.id == item){
                                found = true
                            }
                        })

                        if(found)
                            return item;
                    })
                    self.store.postcodes = this.selectedPostCodes;
                    self.store.country = {
                        id : this.country,
                        name : this.fetchName(this.country)
                    }
                    self.store.serviceID = this.serviceID ;
                    self.store.serviceCatID = this.serviceCatID === 'select' ? '' : this.serviceCatID ;
                    self.store.status = 'enabled';
                    //self.store.pendingChange = {};
                    self.$delete(self.store , 'pendingChange' );
                    self.store.pendingChange = {};
                    self.$set(self.store , 'pendingChange' , {} );
                    self.store.pendingChange = JSON.parse(JSON.stringify(self.store))

                    // console.log(self.store)
                    // return;

                    self.disable = true;

                    let citiesRef = DB.collection("store");
                    citiesRef.doc(self.store.id).update({
                        pendingChange : self.store.pendingChange
                    }).then(() => {
                        self.disable = false;
                        self.$store.dispatch('flash' , {
                            message : 'Update request sent',
                            type : 'success'
                        });
                    });
                }


            },

        },

        created(){


            this.validateOldUser();

            let self= this;

            self.selectedMethods = self.store.delivery_methods ? self.store.delivery_methods : [];
            self.selectedPostCodes = self.store.postcodes ? self.store.postcodes : [];

            var docRef = DB.collection("service-category");

            docRef.get().then(function (querySnapshot) {
                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        self.service_categories.push(doc.data())
                    });
                } else {
                    // doc.data() will be undefined in this case
                    console.log("Here No such document!");
                    return {}
                }
            });

            this.serviceID = this.store.serviceID ? this.store.serviceID : '';
            this.serviceCatID = this.store.serviceCatID ? this.store.serviceCatID : '';


            docRef = DB.collection("delivery-methods");

            docRef.get().then(function (querySnapshot) {
                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        self.delivery_methods.push(doc.data())
                    });
                } else {
                    // doc.data() will be undefined in this case
                    console.log("Here No such document!");
                    return {}
                }
            });


            docRef = DB.collection("General-infos");

            docRef.get().then(function (querySnapshot) {
                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        if(doc.data().type === 'country-location'){

                            self.countries.push(doc.data())
                        }

                        self.country = self.countries[0].id
                    });
                } else {
                    // doc.data() will be undefined in this case
                    console.log("Here No such document!");
                    return {}
                }
            });


            //this.selectedMethods = this.store.selectedMethods


        }
    }
</script>

<style scoped>
    .alert{
        font-size: 12px;
        margin-top: 15px;
    }
    .error{
        color: #fe6500;
        font-size: 12px;
    }
    .col_half {
        //width: 80% !important;
    }
    .selected{
        background-color: #fe6500 !important;
    }
    .method{
        display: inline-block;
        padding: 12px;
        background-color: #07C748;
        border-radius: 4px;
        color: #FFFFFF;
        margin-left: 8px;
        margin-top: 8px;
        cursor: pointer;
        font-size: 12px !important;
    }
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }


    .top-section{
        margin-top: 20px;
    }

    .input-title{
        padding-top : 10px;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 5px;
        margin-bottom: 5px;
    }

    .proceed-button{
        background-color: #07C748;
        border-color: #07C748;
        min-width: 80px;
        min-height: 40px;
    }

    .reject-button {
        background-color: #fe6500;
        border-color: #fe6500;
        min-width: 80px;
        min-height: 40px;
        margin-right: 30px;
    }

    .service-section{
        margin-top: 10px;
    }

    .checkbox{
        margin-top: 14px;
    }

    .small-cam{
        height: 20px;
        width: 20px;
        cursor: pointer;
        border: 1px solid gray;
        border-radius: 5px;
        margin-top: 15px; background-color: #fe6500
    }

</style>
