<template>
    <no-ssr>
    <div>
    <div>
        <div v-if="!showContent" class="aligncenter">
            <img src="@/assets/images/ajax-loader-2.gif" alt="">
        </div>


        <div v-else class="services-customer-profile-content">
            <section id="page-title" class="">
                <admin-header  />
            </section>
            <section>
                <div class="container-fluid clearfix">
                    <div class="row">
                        <div class="col-md-2">
                            <ShopSidebar />
                        </div>
                        <div class="col-md-10 admin-page-content">
                            <p class="btn-container">
                            </p>
                            <div class="col_half topmargin">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="col-md-10 input-title">
                                            Product Name
                                        </div>
                                        <div class="col-md-11">
                                            <input @focus="error.name = false" :class="{'input-error' : error.name}" v-model.trim="product.name" class="form-control">
                                            <span v-if="error.name" class="error">Product name is required</span>
                                        </div>
                                        <div class="col-md-10 input-title">
                                            Product Description
                                        </div>
                                        <div class="col-md-11">
                                            <textarea @focus="error.description = false" :class="{'input-error' : error.description}" v-model.trim="product.description" rows="12" class="form-control" ></textarea>
                                            <span v-if="error.description" class="error">Product Description is required</span>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="col_half topmargin col_last">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-10 input-title">
                                                Minimum Quantity
                                            </div>
                                            <div class="col-md-11">
                                                <input  v-model.trim.number="product.minimum_quantity" class="form-control">
                                            </div>

                                            <div class="col-md-10 input-title">
                                                Unit
                                            </div>
                                            <div class="col-md-11">
                                                <input @focus="error.unit = false" :class="{'input-error' : error.unit}"  v-model.trim="product.unit" placeholder="piece/kg etc" class="form-control">
                                                <span v-if="error.unit" class="error">Product unit is required</span>
                                            </div>

                                            <div class="col-md-10 input-title">
                                                Category
                                            </div>
                                            <div class="col-md-11">
                                                <select @focus="error.category = false" :class="{'input-error' : error.category}" v-model="product.categoryID" class="form-control">
                                                    <option value="">Select</option>
                                                    <option v-for="(category , index) in  parent_categories" :key="category.id" :value="category.id">{{category.name}}</option>
                                                </select>
                                                <span v-if="error.category" class="error">Product category is required</span>
                                            </div>

                                            <div class="col-md-10 input-title">
                                                Sub-category
                                            </div>
                                            <div class="col-md-11">
                                                <select v-model="product.subcategoryID" class="form-control">
                                                    <option value="">Select</option>
                                                    <option v-for="(category , index) in  sub_categories" :key="category.id" :value="category.id">{{category.name}}</option>
                                                </select>
                                            </div>

                                            <div class="col-md-10 input-title">
                                                Stock Quantity
                                            </div>
                                            <div class="col-md-11">
                                                <input  v-model.trim.number="product.stock" class="form-control">
                                            </div>

                                            <div class="col-md-12 input-title">
                                                <div class="row">
                                                    <div class="col-xl-5">Ignore Stock quantity</div>
                                                    <div class="col-xl-7">
                                                        <input style="margin-top: 7px" type="checkbox"  v-model.trim.number="product.ignorestock" >
                                                    </div>
                                                </div>


                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clear"></div>

                            <div class="col_full topmargin">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <p>Price</p>
                                                <p><input @focus="priceText = ''" @change.lazy="updatePrice" v-model.trim.number="product.price" class="form-control"></p>
                                            </div>
                                            <div class="col-md-2">
                                                <p>Discount type</p>
                                                <p>
                                                    <select @change.lazy="updatePrice" v-model.trim="product.discount_type" class="form-control">
                                                        <option value="no">No Discount</option>
                                                        <option value="fixed">Fixed</option>
                                                        <option value="percentage">Percentage</option>
                                                    </select>
                                                </p>
                                            </div>
                                            <div class="col-md-2">
                                                <p>Discount</p>
                                                <p><input @focus="priceText = ''" @change.lazy="updatePrice"  v-model.trim="product.discount" class="form-control"></p>
                                            </div>
                                            <div class="col-md-2">
                                                <p>Total Price</p>
                                                <p><input readonly  v-model.trim="product.discounted_price" class="form-control"></p>
                                            </div>
                                            <div class="col-md-2">
                                                <p>Buy Limit</p>
                                                <p><input @change.lazy="updatePrice" :readonly="product.ignoreBuyLimit"  v-model.trim="product.buyLimit" class="form-control"></p>
                                            </div>
                                            <div class="col-md-2">
                                                <p>Ignore Buy Limit</p>
                                                <p><input type="checkbox" v-model.trim="product.ignoreBuyLimit"></p>
                                            </div>

                                            <span class="error" v-text="priceText"></span>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <p>

                                <button class="btn btn-danger proceed-button" @click="saveInfo">

                                <span v-if="disable">
                                <img src="@/assets/images/ajax-loader.gif" alt="">
                                </span>
                                <span v-else>Proceed</span>
                                </button>

                            </p>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    </div>
    </no-ssr>
</template>

<script>

    import DB from '~/plugins/firebase/init'
    import persistance from '~/plugins/persistance';
    import ShopSidebar from '@/components/ShopSidebarMenu';
    import InputError from '@/components/InputError';
    import AdminHeader from "../../../../../../components/AdminHeader";
    export default {
        middleware : 'auth',
        components: {
            AdminHeader,
            ShopSidebar , InputError
        },
        asyncData (context) {

            if(context.params.id !== undefined) {
                var docRef = DB.collection("store-product-category").where('storeID' , '==' , context.params.id);

                return docRef.get().then(function (querySnapshot) {
                    let categories = []
                    if (!querySnapshot.empty) {
                        querySnapshot.forEach(doc => {
                            categories.push(doc.data());
                        });

                        return {categories}
                    } else {
                        // doc.data() will be undefined in this case
                        console.log("Here No such document!");
                        return {}
                    }
                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });

            }
        },
        data(){
            return {
                priceText : '',
                error : {
                    name : false,
                    description : false,
                    unit : false,
                    price : false,
                    category : false
                },
                disable : false,
                proceed : false,
                categories : [],
                product : {
                    name : '',
                    description : '',
                    minimum_quantity : 1,
                    unit : '',
                    price : 0,
                    discounted_price : 0,
                    discount_type : 'no',
                    discount : '',
                    categoryID : '',
                    subcategoryID : '',
                    stock : 0,
                    ignorestock : false,
                    buyLimit : 0,
                    ignoreBuyLimit : true,
                    storeID : '',
                    isVariant : false,
                    variantAttributes : [],
                    variants : [],
                    createdAt : 0,
                    Bought : 0,
                    active : false,
                    images : [],
                    variants : [],
                    indexArr : [],
                    related_products : [],
                    type: 'product'
                }
            }
        },
        computed : {
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            },
            storeID(){
                return this.$route.params.id
            },
            parent_categories(){
                return this.categories.filter((item) => {
                    if(item.parentID === ''){
                        return item;
                    }

                })
            },
            sub_categories(){
                let self=this;
                if(self.product.categoryID === '')
                    return [];

                return this.categories.filter((item) => {
                    if(item.parentID === self.product.categoryID){
                        return item;
                    }

                })
            }
        },
        methods : {
            updatePrice(){
                var buyLimit = isNaN(this.product.buyLimit) || this.product.buyLimit === '' ? 0 : this.product.buyLimit;
                this.product.buyLimit = buyLimit < 0 ? buyLimit * (-1) : buyLimit;


                var base_price = isNaN(this.product.price) || this.product.price === '' ? 0 : this.product.price;

                this.product.price = base_price < 0 ? base_price * (-1) : base_price;

                var discount_type = this.product.discount_type;
                var discount = isNaN(this.product.discount) || this.product.discount === '' ? 0 : this.product.discount;
                this.product.discount = discount < 0 ? discount * (-1) : discount;


                this.product.discounted_price = this.product.price;

                if(discount_type === 'no'){
                    this.product.discounted_price = this.product.price;
                } else if(discount_type === 'fixed'){
                    this.product.discounted_price = this.product.price - Number(discount);
                } else if(discount_type === 'percentage'){
                    var less = (Number(discount)  / 100) * this.product.price;
                    this.product.discounted_price = this.product.price - less;
                }


            },
            saveInfo(){

                var error = [];
                let self = this;

                var minimum_quantity = isNaN(this.product.minimum_quantity) || this.product.minimum_quantity === '' ? 1 : this.product.minimum_quantity;
                this.product.minimum_quantity = minimum_quantity < 0 ? minimum_quantity * (-1) : minimum_quantity;

                if(self.product.name.length < 3){
                    self.error.name = true;
                    error.push('name')
                }

                let size = self.product.name.length;
                let indexArr = [];
                for(var i=1 ; i<= size ; i++){
                    indexArr.push(self.product.name.substr(0, i).toLowerCase())
                }

                self.product.name.split(' ').forEach(item => {
                    if(!indexArr.includes(item))
                        indexArr.push(item.toLowerCase())
                });

                self.product.name.split(' ').forEach(item => {
                    var temp_size = item.length;
                    for(var i=1 ; i<= temp_size ; i++){
                        var check = item.substr(0, i).toLowerCase();
                        if(!indexArr.includes(check))
                            indexArr.push(check)
                    }
                });

                self.product.indexArr = indexArr;

                // if(self.product.description.length < 1){
                //     self.error.description = true;
                //     error.push('description')
                // }

                if(self.product.unit.length < 1){
                    self.error.unit = true;
                    error.push('unit')
                }

                if(self.product.categoryID.length < 1){
                    self.error.category = true;
                    error.push('category')
                }

                if(self.product.discounted_price === 0){
                    self.priceText = 'Price cant be 0';
                    error.push('price')
                }

                if(error.length > 0)
                    return;

                self.disable = true;
                let citiesRef = DB.collection("products");


                        let time = (new Date()).getTime();


                        self.product.createdAt = time;
                        self.product.storeID = self.storeID;

                        citiesRef.add(self.product)
                            .then(function(docRef) {
                                //self.proceed = true;
                                self.disable = false;
                                //console.log("Document written with ID: ", docRef.id);
                                citiesRef.doc(docRef.id).update({id : docRef.id}).then(()=> {
                                    self.$store.dispatch('flash' , {
                                        message : 'New Product Created',
                                        type : 'success'
                                    });
                                    self.$router.push({ path : `/shop/dashboard/product/${self.storeID}/edit/${docRef.id}`  });
                                })
                            })
                            .catch(function(error) {
                                console.error("Error adding document: ", error);
                            });

                    }

        },

        created(){
            this.validateOldUser();

        },
        mounted(){}
    }
</script>

<style scoped>
    .topmargin { margin-top: 5px !important; }
    .input-error {
        border: 1px solid #fe6500;
    }
    .error{
        font-size: 12px;
        color: #fe6500;
    }
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }


    .top-section{
        margin-top: 20px;
    }

    .input-title{
        padding-top : 10px;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 5px;
        margin-bottom: 5px;
    }

    .proceed-button{
        background-color: #fe6500;
        border-color: #fe6500;
        min-width: 80px;
        min-height: 40px;
    }

    .service-section{
        margin-top: 10px;
    }

    .checkbox{
        margin-top: 14px;
    }


</style>
