<template>
    <no-ssr>
        <div>

            <div class="new">

                <div v-if="!showContent" class="aligncenter">
                    <img src="@/assets/images/ajax-loader-2.gif" alt="">
                </div>


                <div v-else class="services-customer-profile-content">
                    <section id="page-title" class="">
                        <admin-header />
                    </section>
                    <section>
                        <div class="container-fluid clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <ShopSidebar />
                                </div>
                                <div class="col-md-10 admin-page-content">
                                    <div class="row top-section">
                                        <div class="col-md-8">
                                            <h3>Sales</h3>
                                        </div>
                                    </div>

                                    <div class="row top-section" style="margin-bottom: 20px">
                                        <admin-sales-brief :orders="allOrders" :storeID="storeID" />
                                        <div class="col-md-6">
                                            <line-chart v-if="chartTime === 'monthly'" :data="chartDataMonthly" />
                                            <line-chart v-if="chartTime === 'weekly'" :data="chartDataWeekly" />
                                            <line-chart v-if="chartTime === 'yearly'" :data="chartDataYearly" />
                                            <line-chart v-if="chartTime === 'begining'" :data="chartDataAll" />

                                            <p style="text-align: right">
                                                <select class="form-control" v-model="chartTime" style="max-width: 200px ; display: inline-block">
                                                    <option value="monthly">Last 30 Days</option>
                                                    <option value="weekly">Last 7 weeks</option>
                                                    <option value="yearly">Last year (365 days)</option>
                                                    <option value="begining">Since Begining</option>
                                                </select>
                                            </p>

                                        </div>
                                    </div>

                                    <div class="row top-section">


                                        <div class="col-md-3" >
                                            <input type="text" @change="filterSales"  v-model="searchFilter.orderID" class="form-control" placeholder="Order ID">
                                            <a href="" @click.prevent="resetFilter" v-if="enableReset" class="error">Reset filter</a>
                                        </div>

                                        <div class="col-md-3" >
                                            <input type="text" @change="showProduct" v-model="productKey" class="form-control" placeholder="Search Product">
                                            <div class="shop-list" v-if="!productSelected">
                                                <p class="shop-item" @click="selectProduct(store.id)" :key="store.id" v-for="store in filteredProducts">
                                                    <img v-if="store.images[0]" :src="store.images[0].imageURL" style="height: 40px; width: 40px" alt=""/>  <span style="margin-left: 15px">{{store.name}}</span>
                                                </p>
                                            </div>
                                        </div>


                                        <div class="col-md-2" >
                                            <el-date-picker
                                                    @change="filterSales"
                                                    v-model="searchFilter.startAt"
                                                    type="date"
                                                    format="dd-MM-yyyy"
                                                    placeholder="From">
                                            </el-date-picker>
                                        </div>
                                        <div class="col-md-2" >
                                            <el-date-picker
                                                    @change="filterSales"
                                                    v-model="searchFilter.endAt"
                                                    type="date"
                                                    format="dd-MM-yyyy"
                                                    placeholder="To">
                                            </el-date-picker>
                                        </div>



                                    </div>

                                    <!--<p v-if="noDATA">-->
                                        <!--<span  class="error">No Data for this filter</span>-->
                                    <!--</p>-->






                                    <div class="row product-list-header" v-if="sales.length > 0">
                                        <div class="col-md-2" style="padding-left: 10px">Order ID</div>
                                        <div class="col-md-1 ">Order Date</div>
                                        <div class="col-md-2" style="padding-left: 10px">Product ID</div>
                                        <div class="col-md-2" style="padding-left: 10px">Product Name</div>
                                        <div class="col-md-1 ">Qty</div>
                                        <div class="col-md-1 ">Order Amount</div>
                                        <div class="col-md-1 ">Delivery Date</div>
                                        <div class="col-md-1 ">&nbsp;</div>
                                    </div>
                                    <p v-else class="error">Currently there is no order </p>

                                    <div id="draggable" style="margin-bottom: 25px;">
                                        <div class="row single-service" :key="item.id" v-for="(item , index ) in sales">

                                            <div class="col-md-2 item p-top" style="padding-left: 10px">

                                                {{item.orderID}}
                                            </div>
                                            <div class="col-md-1 item p-top">

                                                {{formartOrderDate(item.orderDate)}}

                                            </div>

                                            <div class="col-md-2 item p-top">
                                                {{item.productID}}

                                            </div>

                                            <div class="col-md-2 item p-top">
                                                {{fetchProduct(item.productID)}}

                                            </div>




                                            <div class="col-md-1 item p-top">

                                                {{item.quantity}}

                                            </div>

                                            <div class="col-md-1 item p-top">

                                                &#36;{{item.price}}

                                            </div>

                                            <div class="col-md-1 item p-top">

                                                {{formartOrderDate(item.deliveryDate)}}

                                            </div>


                                            <div class="col-md-1 center p-top">

                                                <!--<el-dropdown>-->
                                                        <!--<span class="el-dropdown-link">-->
                                                        <!--<i class="el-icon-more-outline"></i>-->
                                                        <!--</span>-->
                                                    <!--<el-dropdown-menu slot="dropdown">-->
                                                        <!--&lt;!&ndash;<el-dropdown-item>&ndash;&gt;-->
                                                        <!--&lt;!&ndash;<a style="cursor: pointer" @click.prevent="showWarning(item.id)"><i class="icon-trash"></i> &nbsp;&nbsp; Delete</a>&ndash;&gt;-->
                                                        <!--&lt;!&ndash;</el-dropdown-item>&ndash;&gt;-->
                                                        <!--<el-dropdown-item>-->
                                                            <!--<nuxt-link :to="`/admin/dashboard/order/cart/${item.id}`" >-->
                                                                <!--<i class="icon-edit"></i> &nbsp;&nbsp; Details-->
                                                            <!--</nuxt-link>-->
                                                        <!--</el-dropdown-item>-->
                                                    <!--</el-dropdown-menu>-->
                                                <!--</el-dropdown>-->

                                            </div>

                                        </div>
                                    </div>

                                    <div style="width: 600px; margin: 0px auto; display: block">
                                        <pagination v-if="totalData > dataPerPage && !hidePagination" :dataPerPage="dataPerPage" @fetch="fetchData" :totalData="totalData"  />
                                    </div>

                                    <warning :message="message"
                                             :id="removeID"
                                             :warningFor="warningFor"
                                             v-if="warning"
                                             @close="warning = false"
                                             @remove="removeProduct"
                                    />



                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </no-ssr>
</template>

<script>

    import firebase from 'firebase'
    import DB from '~/plugins/firebase/init'
    import ShopSidebar from '@/components/ShopSidebarMenu';
    import AdminHeader from "@/components/AdminHeader";
    import Pagination from '@/components/Pagination';
    import axios from 'axios'
    import Warning from "@/components/Warning";
    import moment from 'moment'
    import AdminSalesBrief from "@/components/AdminSalesBrief";

    import Vue from 'vue'
    import VueChartkick from 'vue-chartkick'
    import Chart from 'chart.js'

    Vue.use(VueChartkick, {adapter: Chart})

    export default {
        middleware : 'auth',
        components: {
            AdminHeader,
            ShopSidebar , Pagination , Warning , AdminSalesBrief
        },
        asyncData (context) {

            var BASE = DB.collection("order_item").where('storeID' , '==' , context.params.shopID).orderBy("orderDate" , "desc");
            //var docRef = BASE;

            var docRef = BASE.limit(20);

            return docRef.get().then(function (querySnapshot) {

                let sales = [];
                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        sales.push(doc.data());
                    });

                    // return {sales }
                    return {sales}
                } else {
                    // doc.data() will be undefined in this case
                    console.log("Here No such document!");
                    return {sales : []}
                }
            }).catch(function (error) {
                console.log("Error getting document:", error);
            });


        },
        data(){
            return {
                chartTime : 'monthly',
                chartDataMonthly : [],
                chartDataWeekly : [],
                chartDataYearly : [],
                chartDataAll : [],
                productSelected : false,
                productKey : '',
                enableReset : false,
                searchFilter : {
                    productID : '',
                    orderID : '',
                    startAt : '',
                    startAtInt : '',
                    endAt : '',
                    endAtInt : ''
                },
                warning : false,
                removeID : '',
                warningFor : 'product',
                message : '',
                noDATA  :false,
                alreadyExist : false,
                searchKey : '',
                catSearch : '',
                subcatSearch : '',
                searchIN : 'name',
                searchORDER : 'asc',
                disable : false,
                orders : [],
                sales : [],
                totalData : 0,
                dataPerPage : 20,
                fetchAfter : 3,
                timerID : '',
                hidePagination : false,
                users : [],
                stores : [],

                timerID : '',
                products : [],
                productMap : {},
                allOrders :[]
            }
        },
        computed : {


            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            },
            storeID(){
                return this.$route.params.shopID
            },
            filteredProducts(){
                return this.products.filter(item => {
                    if(item.storeID === this.storeID && this.productKey !== '' && item.name.toLowerCase().indexOf(this.productKey.toLowerCase()) !== -1){
                        return item;
                    }
                })
            }
        },
        methods : {
            clearFilter(){
                this.storeKey = '';
                this.searchFilter.storeID = '';
                this.paymentOption = '';
                this.productKey = '';
                this.productSelected = false;
                this.searchFilter.productID = '';
                this.searchFilter.orderID = '';
                this.searchFilter.startAt = '';
                this.searchFilter.endAt = '';
                this.enableReset = false;
            },
            resetFilter(){
                this.clearFilter();
                this.fetchData(1);
                this.hidePagination = false;
            },
            showProduct(){
                this.productSelected = false;
                this.searchFilter.productID = '';
            },
            selectProduct(ID){

                this.productSelected = true;
                this.productKey = this.productMap[ID].name;
                this.searchFilter.productID = ID;
                this.filterSales();

            },
            filterSales(){
                let self = this;
                self.noDATA = false;
                self.enableReset = true;
                //console.log('called');
                //console.log(new Date(this.searchFilter.startAt).getUnixTime())

                clearTimeout(self.timerID);
                self.timerID = setTimeout(()=>{

                    // if(self.searchKey.length === 0){
                    //     self.noDATA = false;
                    //     self.fetchData(1);
                    //     self.hidePagination = false;
                    //     return;
                    // }

                    console.log('Now fetch');
                    axios({
                        method:'post',
                        url:'https://us-central1-aladins-chirag.cloudfunctions.net/filterStoreSales',
                        data: {
                            offset: 0,
                            dataPerPage : 5000,
                            storeID : self.storeID,
                            orderID : self.searchFilter.orderID,
                            productID : self.searchFilter.productID,
                            fromDate : self.searchFilter.startAt !== '' ? (new Date(self.searchFilter.startAt).getUnixTime() * 1000 ) : '',
                            toDate : self.searchFilter.endAt !== '' ? (new Date(self.searchFilter.endAt).getUnixTime() * 1000 ) : '',
                        }
                    })
                        .then(function(response) {
                            console.log('filtered length : ' , response.data.length);
                            if(response.data.length === 0){
                                self.noDATA = true;
                                self.sales = [];
                                self.hidePagination = false;
                            } else {
                                self.noDATA = false;
                                self.hidePagination = false;
                                self.hidePagination = true;
                                self.sales = [];
                                self.sales = response.data
                            }

                        }).catch(err => {
                        console.log(err);
                    });
                }, 500);
            },

            formartOrderDate(value){
                return moment(value).format("MMM Do YY");
            },
            fetchProduct(ID){
                let storeIDS = [];

                var name = ''
                this.products.forEach(item => {
                    if(item.id === ID){
                        name = item.name;
                    }
                })
                return name;

            },
            fetchData(page){

                let self = this;

                self.currentPage = page;

                let startAfter = page * self.dataPerPage - self.dataPerPage;
                axios({
                    method:'post',
                    url:'https://us-central1-aladins-chirag.cloudfunctions.net/filterStoreSales',
                    data: {
                        storeID : self.storeID,
                        dataPerPage : 1000,
                        offset: startAfter,
                    }
                })
                    .then(function(response) {
                        console.log('all data' , response.data);
                        self.sales = response.data
                    });
            },
            fetchAll(){
                let self = this;
                DB.collection("order_item").where('storeID' , '==' , this.storeID).get().then(function (querySnapshot) {

                    //console.log(querySnapshot);
                    self.totalData = querySnapshot.size;

                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });
            },

            populateChartData(){
                let self = this;

                var temp = [] , cancelled = [] , completed = [];
                var last_30_days = (new Date()).getTime() - self.getMiliseconds(30);

                self.allOrders.forEach(item => {

                    if(item.orderDate  >= last_30_days && item.orderDate <=  (new Date()).getTime()){
                        temp.push(moment.unix(item.orderDate / 1000).format("MMM DD"))
                        if(item.status === 'cancelled'){
                            cancelled.push(moment.unix(item.orderDate / 1000).format("MMM DD"))
                        }
                        if(item.status === 'order-complete'){
                            completed.push(moment.unix(item.orderDate / 1000).format("MMM DD"))
                        }
                    }

                })

                let monthlyRecord = {}, monthlyCancelled = {} , monthlyCompleted = {};

                temp.forEach(item => {
                    if(monthlyRecord.hasOwnProperty(item)){
                        monthlyRecord[item] = monthlyRecord[item] +1;
                    } else {
                        monthlyRecord[item] = 1;
                    }


                })

                cancelled.forEach(item  => {
                    if(monthlyCancelled.hasOwnProperty(item)){
                        monthlyCancelled[item] = monthlyCancelled[item] +1;
                    } else {
                        monthlyCancelled[item] = 1;
                    }
                })

                completed.forEach(item  => {
                    if(monthlyCompleted.hasOwnProperty(item)){
                        monthlyCompleted[item] = monthlyCompleted[item] +1;
                    } else {
                        monthlyCompleted[item] = 1;
                    }
                })

                //console.log('monthly record : ' , monthlyRecord);



                temp = [] , cancelled = [] , completed = [];

                var last_7_days = (new Date()).getTime() - self.getMiliseconds(7);
                self.allOrders.forEach(item => {

                    if(item.orderDate >= last_7_days  && item.orderDate <= (new Date()).getTime() ){
                        temp.push(moment.unix(item.orderDate / 1000).format("MMM DD"))
                        if(item.status === 'cancelled'){
                            cancelled.push(moment.unix(item.orderDate / 1000).format("MMM DD"))
                        }
                        if(item.status === 'order-complete'){
                            completed.push(moment.unix(item.orderDate / 1000).format("MMM DD"))
                        }
                    }

                })

                let weekRecord = {} , weeklyCancelled = {} , weeklyCompleted = {};

                temp.forEach(item => {
                    if(weekRecord.hasOwnProperty(item)){
                        weekRecord[item] = weekRecord[item] +1;
                    } else {
                        weekRecord[item] = 1;
                    }
                })

                cancelled.forEach(item  => {
                    if(weeklyCancelled.hasOwnProperty(item)){
                        weeklyCancelled[item] = weeklyCancelled[item] +1;
                    } else {
                        weeklyCancelled[item] = 1;
                    }
                })

                completed.forEach(item  => {
                    if(weeklyCompleted.hasOwnProperty(item)){
                        weeklyCompleted[item] = weeklyCompleted[item] +1;
                    } else {
                        weeklyCompleted[item] = 1;
                    }
                })

                //console.log('weekly record : ' , weekRecord);


                temp = [] , cancelled = [] , completed = [];

                var last_365_days = (new Date()).getTime() - self.getMiliseconds(365);
                self.allOrders.forEach(item => {

                    if(item.orderDate >= last_365_days  && item.orderDate <= (new Date()).getTime() ){
                        temp.push(moment.unix(item.orderDate / 1000).format("MMM"))
                        if(item.status === 'cancelled'){
                            cancelled.push(moment.unix(item.orderDate / 1000).format("MMM DD"))
                        }
                        if(item.status === 'order-complete'){
                            completed.push(moment.unix(item.orderDate / 1000).format("MMM DD"))
                        }
                    }

                })

                let yearlyRecord = {} , yearlyCancelled = {} , yearlyCompleted = {};

                temp.forEach(item => {
                    if(yearlyRecord.hasOwnProperty(item)){
                        yearlyRecord[item] = yearlyRecord[item] +1;
                    } else {
                        yearlyRecord[item] = 1;
                    }
                })

                cancelled.forEach(item  => {
                    if(yearlyCancelled.hasOwnProperty(item)){
                        yearlyCancelled[item] = yearlyCancelled[item] +1;
                    } else {
                        yearlyCancelled[item] = 1;
                    }
                })

                completed.forEach(item  => {
                    if(yearlyCompleted.hasOwnProperty(item)){
                        yearlyCompleted[item] = yearlyCompleted[item] +1;
                    } else {
                        yearlyCompleted[item] = 1;
                    }
                })

                //console.log('yearly record : ' , yearlyRecord);

                temp = [] , cancelled = [] , completed = [];
                self.allOrders.forEach(item => {
                    temp.push(moment.unix(item.orderDate / 1000).format("YYYY"))
                    if(item.status === 'cancelled'){
                        cancelled.push(moment.unix(item.orderDate / 1000).format("YYYY"))
                    }
                    if(item.status === 'order-complete'){
                        completed.push(moment.unix(item.orderDate / 1000).format("YYYY"))
                    }
                })

                //console.log('all : ' , temp);
                let allRecord = {} , allCancelled = {} , allCompleted = {};

                temp.forEach(item => {
                    if(allRecord.hasOwnProperty(item)){
                        allRecord[item] = allRecord[item] +1;
                    } else {
                        allRecord[item] = 1;
                    }
                })

                cancelled.forEach(item  => {
                    if(allCancelled.hasOwnProperty(item)){
                        allCancelled[item] = allCancelled[item] +1;
                    } else {
                        allCancelled[item] = 1;
                    }
                })

                completed.forEach(item  => {
                    if(allCompleted.hasOwnProperty(item)){
                        allCompleted[item] = allCompleted[item] +1;
                    } else {
                        allCompleted[item] = 1;
                    }
                })

                //console.log('all record : ' , allRecord);

                self.chartDataMonthly  = [
                    {name : 'Total Order' , data : monthlyRecord},
                    {name : 'Cancelled' , data : monthlyCancelled},
                    { name : 'Delivered' , data : monthlyCompleted }

                ]

                self.chartDataWeekly  = [
                    {name : 'Total Order' , data : weekRecord},
                    {name : 'cancelled' , data : weeklyCancelled},
                    { name : 'Delivered' , data : weeklyCompleted }

                ]
                self.chartDataYearly  = [
                    {name : 'Total Order' , data : yearlyRecord},
                    { name : 'cancelled' , data: yearlyCancelled },
                    { name : 'Delivered' , data : yearlyCompleted }

                ]
                self.chartDataAll  = [
                    {name : 'Total Order' , data : allRecord},
                    { name : 'cancelled' , data : allCancelled },
                    { name : 'Delivered' , data : allCompleted }

                ]
            }
        },

        created(){
            let self = this;
            this.validateOldUser();

            this.fetchAll();



            DB.collection("products").where('storeID' , '==' , this.storeID).get().then(function (querySnapshot) {

                if (!querySnapshot.empty) {
                    self.products = []
                    querySnapshot.forEach(doc => {
                        self.products.push(doc.data());
                        self.productMap[doc.data().id] = doc.data();
                    });

                }

            }).catch(function (error) {
                console.log("Error getting document:", error);
            });

            DB.collection("store").get().then(function (querySnapshot) {

                if (!querySnapshot.empty) {
                    self.stores = []
                    querySnapshot.forEach(doc => {
                        self.stores.push(doc.data());
                    });

                }

            }).catch(function (error) {
                console.log("Error getting document:", error);
            });

            DB.collection("orders").where('storeIDS' , 'array-contains' , self.storeID).get().then(function (querySnapshot) {

                if (!querySnapshot.empty) {
                    self.allOrders = []
                    querySnapshot.forEach(doc => {
                        if(doc.data().storeIDS.includes(self.storeID))
                        self.allOrders.push(doc.data());
                    });

                    // calculate data for line chart
                    if(self.allOrders.length > 0){
                        // self.chartData = [
                        //     {name: 'Workout', data: {'2017': 3, '2018': 4}},
                        //     {name: 'Call parents', data: {'2017': 5, '2018': 3}},
                        //     {name: 'Gym', data: {'2017': 8, '2018': 3}}
                        // ]

                        self.populateChartData();


                    }

                }

            }).catch(function (error) {
                console.log("Error getting document:", error);
            });

            //console.log(moment.unix(1540317600).format("MM/DD/YYYY"));
            //console.log(moment.unix(1540316600).format("MM/DD/YYYY"));
            //console.log(moment.unix(1540701376832 / 1000).format("MM/DD/YYYY"));
            //console.log((new Date()).getTime());
            //console.log((new Date()).getUnixTime());

        }
    }
</script>

<style scoped>
    /*.admin-page-content{*/
    /*padding: 20px;*/
    /*}*/

    .shop-list{
        background-color: #ffffff;
        min-width: 440px;
        transform-origin: center bottom 0px;
        z-index: 2032;
        position: absolute;
    //top: 327px;
    }

    .shop-item{
        border: 1px solid #DDD;
        cursor: pointer;
        margin-bottom: 5px;
    }

    .product-list-header{
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .product-list-header div {
        font-weight: bold;
        padding-left: 3px;
        font-size: 14px;
    }
    .el-icon-more-outline {
        color : #fe6500;
        font-size: 25px;
    }
    .error{
        color: #fe6500;
        font-size: 12px;
    }
    .p-top{
    //padding-top: 32px !important;
    }
    #page-title{
        padding: 10px !important;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }

    .single-service{
        background-color: #ffffff;
        padding-top: 10px;
    //padding-bottom: 5px;
        margin-top: 9px;

    }

    .single-service .item {
        padding-bottom: 10px;
        padding-top: 5px;
        padding-right: 1px;
        padding-left: 1px;
        font-size: 15px;
    }

    .single-service .action {
        padding-bottom: 7px;
    }

    .new-service{
        background-color: #fe6500;
        border-color: #fe6500;
        float: right;
    }

    .error{
        color: #fe6500;
        font-size: 12px;
    }

    .top-section{
        margin-top: 10px;
    }

    .btn{
        min-width: 75px;
        min-height: 40px;
    }





</style>
