<template>
    <no-ssr>
    <div>
        <div v-if="!showContent" class="aligncenter">
            <img src="@/assets/images/ajax-loader-2.gif" alt="">
        </div>


        <div v-else class="services-customer-profile-content">
            <section id="page-title" class="">
                <admin-header />
            </section>
            <section>
                <div class="container-fluid clearfix">
                    <div class="row">
                        <div class="col-md-2">
                            <AdminSidebar />
                        </div>
                        <div class="col-md-10 admin-page-content">
                            <div class="row top-section">
                                <div class="col-md-8">
                                    <h3>Event page Banners</h3>
                                </div>
                            </div>


                            <div class="row service-section">
                                <div class="col-md-12 input-title featured-image-box">
                                    <h4>
                                        Banner Images <small style="font-size: 10px">maximum 4 images</small>
                                    </h4>
                                    <div id="draggable">
                                        <div class="row banner-image-item" v-for="(item , index) in banners">

                                            <div class="col-md-8 center">
                                                <img :src="item.imageURL" alt="">
                                            </div>
                                            <div class="col-md-4 delete-btn">
                                                <button class="btn btn-danger btn-sm" @click.prevent="removeBanner(index)">
                                                        <span v-if="deletingBanner[index]">
                                                              <img src="@/assets/images/ajax-loader.gif" alt="">
                                                        </span>
                                                    <span v-else>Delete</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="center" v-if="banners.length < 4">
                                        <img  @click="showBannerUpload" src="//i.imgur.com/NEJ7kr8.png" class="small-cam" alt="">
                                        <input type="file" style="display: none;" ref="bannerInput" @change="onBannerPicked">
                                    </div>
                                    <show-file-upload v-if="uploadingBanner" />
                                    <br>
                                    <p v-if="bannerRatioError" class="alert alert-danger">
                                        Please upload a image with minimum width of 1100px and exact height of 220px to get a better look
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    </no-ssr>
</template>

<script>

    import Sortable from 'sortablejs'
    import firebase from 'firebase'
    import DB from '~/plugins/firebase/init'
    import persistance from '~/plugins/persistance';
    import AdminSidebar from '@/components/AdminSidebarMenu';
    import ShowFileUpload from '@/components/ShowFileUpload';
    import AdminHeader from "@/components/AdminHeader";
    export default {
        middleware : 'auth',
        components: {
            AdminHeader,
            AdminSidebar , ShowFileUpload
        },
        asyncData (context) {
            //console.log(context);

                var docRef = DB.collection("events").where('type' , '==' , 'event-banner').orderBy('orderBy' , 'asc');

                return  docRef.get().then(function(querySnapshot) {

                    let deletingBanner = [] , banners = [] ,bannerOrder = [];
                    if (!querySnapshot.empty) {

                        querySnapshot.forEach(doc => {

                            banners.push(doc.data())
                            deletingBanner.push(false);
                            bannerOrder.push({
                                id : doc.data().id,
                                order : doc.data().orderBy
                            })
                        })

                        return { banners , deletingBanner , bannerOrder  }

                    }
                    else {
                        // doc.data() will be undefined in this case
                        console.log("No such document!");
                        return {}
                    }
                }).catch(function(error) {
                    console.log("Error getting document:", error);
                });


        },
        data(){
            return {
                imageRatioError : false,
                bannerRatioError : false,
                disable : false,
                proceed : false,
                uploadingimage : false,
                uploadingBanner : false,
                banners : [],
                deletingBanner : [],
                bannerOrder : []
            }
        },
        computed : {
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            }
        },
        methods : {
            removeBanner(index){
                let self = this;
                var proceed = confirm('do you want to delete this banner?');
                if(!proceed)
                    return;

                this.$set(this.deletingBanner , index , true);


                firebase.storage().ref().child(self.banners[index].imagePATH).delete().then(()=> {



                    DB.collection("events").doc(self.banners[index].id).delete().then(()=>{

                        self.deletingBanner.splice(index, 1);


                        self.banners.forEach((item,  index) => {
                            self.$set(self.deletingBanner , index , false);
                        });

                        self.deletingBanner.splice(index , 1);

                        let Index = -1;
                        self.bannerOrder.forEach((item , index) => {
                            if(item.id === self.banners[index].id)
                                Index = index;
                        })
                        self.bannerOrder.splice(Index , 1);

                        self.banners.splice(index , 1);

                        self.$store.dispatch('flash' , {
                            message : 'Service banner image deleted',
                            type : 'success'
                        });

                    });
                });

            },

            showBannerUpload(){
                this.$refs.bannerInput.click();
            },
            onBannerPicked(event){
                let self = this;
                const files = event.target.files;
                let fileName = files[0].name;
                let arr = fileName.split('.')
                let extention = arr[arr.length - 1].toLowerCase();

                self.bannerRatioError = false;

                if(extention == 'png' || extention == 'jpeg' || extention == 'jpg'){

                    const fileReader = new FileReader();
                    fileReader.addEventListener('load' , ()=>{

                        var img = new Image;

                        img.onload = function() {
                            // console.log('width' , img.width);
                            // console.log('height' , img.height);

                            if(img.width >= 1100 && img.height === 220){
                                self.uploadingBanner = true;

                                this.tempLogo = files[0];

                                let imagePATH = `event-banners/` + (new Date()).getTime() + fileName.replace(/\s/g, "")

                                let storageRef =  firebase.storage().ref(imagePATH)

                                let uploadFile = storageRef.put(this.tempLogo);


                                uploadFile.on('state_changed', function(snapshot){
                                    //var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                                    // console.log('Upload is ' + progress + '% done');
                                })

                                uploadFile.then((result) => {

                                    storageRef.getDownloadURL().then(function(url) {
                                        //console.log(url)

                                        let time = (new Date()).getTime(), new_banner = {
                                            id : '',
                                            createAt : time,
                                            orderBy : time,
                                            imageURL: url,
                                            imagePATH : imagePATH,
                                            type : 'event-banner'
                                        }
                                        DB.collection("events").add(new_banner).then((docRef)=>{

                                            DB.collection("events").doc(docRef.id).update({
                                                id : docRef.id
                                            }).then(() => {

                                                new_banner.id = docRef.id;
                                                self.banners.push(new_banner);
                                                self.bannerOrder.push({
                                                    id : new_banner.id,
                                                    order : new_banner.orderBy
                                                })
                                                self.banners.forEach((item,  index) => {
                                                    self.$set(self.deletingBanner , index , false);
                                                });

                                                self.FireSortEvent();

                                                self.uploadingBanner = false;
                                                self.$store.dispatch('flash' , {
                                                    message : 'Event banner image added',
                                                    type : 'success'
                                                });
                                            })



                                        });
                                    })

                                })
                            } else {
                                self.bannerRatioError = true;
                            }
                        };

                        img.src = fileReader.result;
                        //newImg.width;
                    });

                    fileReader.readAsDataURL(files[0]);


                } else {
                    alert('Please select a valid image')
                }
            },

            FireSortEvent(){
                let self = this;
                if(process.browser){
                    var el = document.getElementById('draggable');
                    if(el !== null)
                        Sortable.create(el , {
                            animation: 300,
                            scroll: true,
                            onEnd: function (event) {
                                if(event.oldIndex === event.newIndex)
                                    return;

                                let finalsorted = persistance.suffleArrayObject(self.bannerOrder , event.oldIndex , event.newIndex);

                                finalsorted.forEach((item) => {
                                    DB.collection("events").doc(item.id).update({
                                        orderBy : item.order
                                    }).then(()=>{
                                        //console.log('updated');
                                    }).catch((err) => {
                                        console.log('Update Error' , err);
                                    });
                                })


                                self.bannerOrder = finalsorted
                            }
                        })
                }
            },
        },

        created(){
            this.validateOldUser();

            setTimeout(() => {
                this.FireSortEvent();
            } , 2500);

        },
        mounted(){
            this.FireSortEvent();
        }
    }
</script>

<style scoped>
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }


    .top-section{
        margin-top: 20px;
    }

    .input-title{
        padding-top : 10px;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 5px;
        margin-bottom: 5px;
    }

    .proceed-button{
        background-color: #fe6500;
        border-color: #fe6500;
        min-width: 80px;
        min-height: 40px;
    }

    .service-section{
        margin-top: 10px;
    }

    .checkbox{
        margin-top: 14px;
    }

    .featured-image-box {
        background-color: #ffffff;
        border: 1px solid grey;
        border-radius: 5px;
        min-height: 100px;
    }

    .small-cam{
        height: 25px;
        width: 25px;
        cursor: pointer;
        border: 1px solid gray;
        border-radius: 5px;
        margin-top: 15px; background-color: #fe6500
    }
    .banner-image-item{
        border : 1px solid green;
        border-radius: 4px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 10px;
    }

    .btn-danger{
        min-width: 80px;
        min-height: 40px
    }

    .delete-btn {
        width: 100%;
        text-align: center;
        top: 70px;
    }
    @media (min-width: 360px) and (max-width: 767px) {
        .delete-btn {
            width: 100%;
            text-align: center;
            top: 0px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

</style>
