<template>
    <no-ssr>
        <div>

            <div class="new">

                <div v-if="!showContent" class="aligncenter">
                    <img src="@/assets/images/ajax-loader-2.gif" alt="">
                </div>


                <div v-else class="services-customer-profile-content">
                    <section id="page-title" class="">
                        <admin-header />
                    </section>
                    <section>
                        <div class="container-fluid clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <ShopSidebar />
                                </div>
                                <div class="col-md-10 admin-page-content">
                                    <div class="row top-section">
                                        <div class="col-md-8">
                                            <h3>Product List of {{user.name}}</h3>
                                        </div>
                                        <div class="col-md-4 pull-right">
                                            <nuxt-link :to="`/shop/dashboard/product/${storeID}/create`" class="btn btn-info new-service">Add Product</nuxt-link>
                                        </div>
                                    </div>

                                    <div class="row top-section">

                                        <div class="col-md-5">
                                            <input type="text" @focus="noDATA = false" @keyup="filter" v-model.trim="searchKey" class="form-control" placeholder="Search Product Name">
                                            <span v-if="noDATA" class="error">No Product found</span>
                                        </div>
                                        <!--<div class="col-md-2">-->
                                        <!--<select v-model="searchIN" class="form-control">-->
                                        <!--<option value="name">Name</option>-->
                                        <!--<option value="category">Category</option>-->
                                        <!--</select>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-2" >-->
                                            <!--<select v-model="searchORDER" class="form-control">-->
                                                <!--<option value="asc">ASC</option>-->
                                                <!--<option value="desc">DESC</option>-->
                                            <!--</select>-->
                                        <!--</div>-->

                                        <div class="col-md-2" >
                                            <select @change="filterCat" v-model="catSearch" class="form-control">
                                                <option value="">select category</option>
                                                <option :value="category.id" v-for="(category , index) in parentCats" :key="index">{{category.name}}</option>
                                            </select>
                                        </div>

                                        <div class="col-md-2" >
                                            <select @change="filterCat" v-model="subcatSearch" class="form-control">
                                                <option value="">select sub category</option>
                                                <option :value="category.id" v-for="(category , index) in childCats" :key="index">{{category.name}}</option>
                                            </select>
                                        </div>


                                    </div>






                                    <div class="row product-list-header" v-if="products.length > 0">
                                        <div class="col-md-2 center">Thumb</div>
                                        <div class="col-md-2">Name</div>
                                        <div class="col-md-1 ">Unit</div>
                                        <div class="col-md-2 ">Category</div>
                                        <div class="col-md-2 ">Sub Category</div>
                                        <div class="col-md-1 ">Price per unit</div>
                                        <div class="col-md-1 ">&nbsp;</div>
                                    </div>
                                    <p v-else class="error">There is no product added for your store yet </p>

                                    <div id="draggable" style="margin-bottom: 25px;">
                                        <div class="row single-service" :key="item.id" v-for="(item , index ) in products">
                                            <div class="col-md-2 item center">
                                                <img :src="productImage(index)" width="100" height="80" alt="">
                                            </div>
                                            <div class="col-md-2 item p-top">
                                                {{item.name}}
                                            </div>

                                            <div class="col-md-1 item p-top">

                                                {{item.unit}}

                                            </div>
                                            <div class="col-md-2 item p-top">

                                                {{catName(item.categoryID)}}

                                            </div>

                                            <div class="col-md-2 item p-top">

                                                {{catName(item.subcategoryID)}}

                                            </div>

                                            <div class="col-md-1 item p-top">

                                                &#36;{{item.discounted_price}}

                                            </div>
                                            <div class="col-md-1 center p-top">

                                                <el-dropdown>
                                                        <span class="el-dropdown-link">
                                                        <i class="el-icon-more-outline"></i>
                                                        </span>
                                                        <el-dropdown-menu slot="dropdown">
                                                            <el-dropdown-item>
                                                                <a style="cursor: pointer" @click.prevent="showWarning(item.id)"><i class="icon-trash"></i> &nbsp;&nbsp; Delete</a>
                                                            </el-dropdown-item>
                                                            <el-dropdown-item>
                                                                <nuxt-link :to="`/shop/dashboard/product/${storeID}/edit/${item.id}`" >
                                                                    <i class="icon-edit"></i> &nbsp;&nbsp; Details
                                                                </nuxt-link>
                                                            </el-dropdown-item>
                                                        </el-dropdown-menu>
                                                </el-dropdown>

                                            </div>

                                        </div>
                                    </div>

                                    <div style="width: 600px; margin: 0px auto; display: block">
                                        <pagination v-if="totalData > dataPerPage && !hidePagination" :dataPerPage="dataPerPage" @fetch="fetchData" :totalData="totalData"  />
                                    </div>

                                    <warning :message="message"
                                             :id="removeID"
                                             :warningFor="warningFor"
                                             v-if="warning"
                                             @close="warning = false"
                                             @remove="removeProduct"
                                    />



                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </no-ssr>
</template>

<script>

    import firebase from 'firebase'
    import DB from '~/plugins/firebase/init'
    import ShopSidebar from '@/components/ShopSidebarMenu';
    import AdminHeader from "@/components/AdminHeader";
    import Pagination from '@/components/Pagination';
    import axios from 'axios'
    import Warning from "@/components/Warning";
    export default {
        middleware : 'auth',
        components: {
            AdminHeader,
            ShopSidebar , Pagination , Warning
        },
        asyncData (context) {
            if(context.params.id !== undefined) {
                var BASE = DB.collection("products").where('storeID' , '==' , context.params.id).orderBy("createdAt" , "asc");
                //var docRef = BASE;

                var docRef = BASE.limit(12);

                return docRef.get().then(function (querySnapshot) {


                    let products = [];
                    if (!querySnapshot.empty) {
                        querySnapshot.forEach(doc => {
                            products.push(doc.data());
                        });

                        // return {products }
                        return {products}
                    } else {
                        // doc.data() will be undefined in this case
                        console.log("Here No such document!");
                        return {products : []}
                    }
                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });

            }
        },
        data(){
            return {
                warning : false,
                removeID : '',
                warningFor : 'product',
                message : '',
                noDATA  :false,
                alreadyExist : false,
                searchKey : '',
                catSearch : '',
                subcatSearch : '',
                searchIN : 'name',
                searchORDER : 'asc',
                disable : false,
                products : [],
                totalData : 0,
                dataPerPage : 12,
                fetchAfter : 3,
                timerID : '',
                hidePagination : false,
                categories : []
            }
        },
        computed : {
            parentCats(){
              return this.categories.filter(item => item.parentID === '')
            },
            childCats(){
                return this.categories.filter(item => item.parentID !== '')
            },
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            },
            storeID(){
                return this.$route.params.id
            }
        },
        methods : {
            catName(id){
              let name = '';
              this.categories.forEach(item => {
                  if(item.id === id){
                      name = item.name;
                  }
              })
              return name;
            },
            removeProduct(data){
                let self = this;
                this.warning = false;

                let product = {};
                this.products.forEach(item => {
                    if(item.id === data.id)
                        product = item;
                })

                //console.log(product);
                product.images.forEach(item => {
                    firebase.storage().ref().child(item.imagePATH).delete()
                })

                DB.collection("products").doc(product.id).delete();


                self.hidePagination = true;
                setTimeout(() => {
                    self.$store.dispatch('flash' , {
                        message : 'Product deleted',
                        type : 'success'
                    });

                    self.hidePagination = false;
                } , 1000)



                self.fetchAll();
                self.fetchData(1);



            },
            showWarning(id){
                this.removeID = id;
                this.message = 'Please Confirm. I want to delete this Product from this shop';
                this.warning = true;
            },
            filterCat(){

                let self = this;

                axios({
                    method:'post',
                    url:'https://us-central1-aladins-chirag.cloudfunctions.net/filterProducts',
                    data: {
                        storeID: this.storeID,
                        offset: 0,
                        dataPerPage : 1000,
                        searchIN : self.searchIN,
                        searchORDER : self.searchORDER,
                        searchFor : self.searchKey.toLowerCase(),
                        categoryID : self.catSearch,
                        subcategoryID : self.subcatSearch
                    }
                })
                    .then(function(response) {
                        if(response.data.length === 0){
                            self.noDATA = true;
                            self.fetchData(1);
                            self.hidePagination = false;
                        } else {
                            self.noDATA = false;
                            self.hidePagination = false;
                            self.hidePagination = true;
                            self.products = [];
                            self.products = response.data
                        }

                    }).catch(err => {
                    console.log(err);
                });
            },
            filter(){
                let self = this;


                clearTimeout(self.timerID);
                self.timerID = setTimeout(()=>{

                    if(self.searchKey.length === 0){
                        self.noDATA = false;
                        self.fetchData(1);
                        self.hidePagination = false;
                        return;
                    }

                    // console.log('Now fetch');
                    axios({
                        method:'post',
                        url:'https://us-central1-aladins-chirag.cloudfunctions.net/filterProducts',
                        data: {
                            storeID: this.storeID,
                            offset: 0,
                            dataPerPage : self.dataPerPage,
                            searchIN : self.searchIN,
                            searchORDER : self.searchORDER,
                            searchFor : self.searchKey.toLowerCase()
                        }
                    })
                        .then(function(response) {
                            if(response.data.length === 0){
                                self.noDATA = true;
                                self.fetchData(1);
                                self.hidePagination = false;
                            } else {
                                self.noDATA = false;
                                self.hidePagination = false;
                                self.hidePagination = true;
                                self.products = [];
                                self.products = response.data
                            }

                        }).catch(err => {
                        console.log(err);
                    });
                }, 500);


            },

            productImage(index){
                var img = 'https://via.placeholder.com/125x90';
                // if(this.products.length === 0)
                //     return;
                if(this.products[index].images.length > 0){
                    if(this.products[index].images[0] !== undefined){
                        img = this.products[index].images[0].imageURL
                    }
                }

                return img;
            },
            fetchData(page){

                let self = this;

                self.currentPage = page;

                let startAfter = page * self.dataPerPage - self.dataPerPage;
                axios({
                    method:'post',
                    url:'https://us-central1-aladins-chirag.cloudfunctions.net/storeProducts',
                    data: {
                        storeID: this.storeID,
                        offset: startAfter,
                        dataPerPage : self.dataPerPage
                    }
                })
                    .then(function(response) {
                        //console.log(response.data);
                        self.products = response.data
                    });
            },
            fetchAll(){
                let self = this;
                DB.collection("products").where('storeID' , '==' , this.storeID).orderBy("createdAt" , "asc").get().then(function (querySnapshot) {

                    //console.log(querySnapshot);
                    self.totalData = querySnapshot.size;

                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });
            },
        },

        created(){
            let self = this;
            this.validateOldUser();

            this.fetchAll();

            DB.collection("store-product-category").where('storeID' , '==' , this.storeID).get().then(function (querySnapshot) {

                if (!querySnapshot.empty) {
                    self.categories = []
                    querySnapshot.forEach(doc => {
                        self.categories.push(doc.data());
                    });

                }

            }).catch(function (error) {
                console.log("Error getting document:", error);
            });

        }
    }
</script>

<style scoped>
    /*.admin-page-content{*/
        /*padding: 20px;*/
    /*}*/
    .product-list-header{
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .product-list-header div {
        font-weight: bold;
        padding-left: 3px;
    }
    .el-icon-more-outline {
        color : #fe6500;
        font-size: 25px;
    }
    .error{
        color: #fe6500;
        font-size: 12px;
    }
    .p-top{
        padding-top: 32px !important;
    }
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }

    .single-service{
        background-color: #ffffff;
        padding-top: 10px;
    //padding-bottom: 5px;
        margin-top: 9px;

    }

    .single-service .item {
        padding-bottom: 5px;
        padding-top: 5px;
         padding-right: 1px;
         padding-left: 1px;
    }

    .single-service .action {
        padding-bottom: 7px;
    }

    .new-service{
        background-color: #fe6500;
        border-color: #fe6500;
        float: right;
    }

    .error{
        color: #fe6500;
        font-size: 12px;
    }

    .top-section{
        margin-top: 10px;
    }

    .btn{
        min-width: 75px;
        min-height: 40px;
    }





</style>
