<template>
    <no-ssr>
        <div>
            <div v-if="!showContent" class="aligncenter">
                <img src="@/assets/images/ajax-loader-2.gif" alt="">
            </div>


            <div v-else class="services-customer-profile-content">
                <section id="page-title" class="">
                    <admin-header />
                </section>
                <section>
                    <div class="container-fluid clearfix">
                        <div class="row">
                            <div class="col-md-2">
                                <AdminSidebar />
                            </div>
                            <div class="col-md-10 admin-page-content">
                                <div class="col_half topmargin">

                                    <div class="card">
                                        <div class="card-body">

                                            <div class="row">
                                                <div class="col-md-12 input-title">
                                                    Title
                                                </div>
                                                <div class="col-md-12">
                                                    <input @focus="error.title = false" v-model.trim="story.title"  type="text" class="form-control">
                                                    <span v-if="error.title" class="error">Success story title is required</span>
                                                </div>
                                                <div class="col-md-12 input-title">
                                                    News Link
                                                </div>
                                                <div class="col-md-12">
                                                    <input @focus="error.link = false" type="text" v-model.trim="story.link"  class="form-control">
                                                    <span v-if="error.link" class="error">Store Phone Number Can't be empty</span>
                                                </div>
                                                <!--<div class="col-md-12 input-title">-->
                                                <!--Description-->
                                                <!--</div>-->
                                                <!--<div class="col-md-12 input-title">-->
                                                <!--<textarea @focus="error.description = false" v-model.trim="story.description"  rows="3" class="form-control"></textarea>-->
                                                <!--<span class="error" v-if="error.description">Description can't be empty</span>-->
                                                <!--</div>-->


                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col_half topmargin col_last">
                                    <!--<h4>Social Links</h4>-->
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12 input-title">
                                                    Image
                                                </div>
                                                <div class="col-md-12 center">
                                                    <img :src="story.imageURL" alt=""> <br>
                                                    <img  @click="showImageUpload" src="//i.imgur.com/NEJ7kr8.png" class="small-cam" alt="">
                                                    <input type="file" style="display: none;" ref="imageInput" @change="onImagePicked">
                                                    <ShowFileUpload v-if="imageUploading" />
                                                    <p v-if="imageRatioError" class="alert alert-danger">
                                                        Image size must be minimum 270px * 162px
                                                    </p>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="clear"></div>

                                <div class="col_full col_last">
                                    <!--<h4>Social Links</h4>-->
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12 input-title">
                                                    Description
                                                </div>
                                                <div class="col-md-12 input-title">
                                                    <textarea @focus="error.description = false" v-model.trim="story.description"  rows="6" class="form-control"></textarea>
                                                    <span class="error" v-if="error.description">Description can't be empty</span>
                                                </div>

                                                <div class="col-md-12 input-title">
                                                    <button @click.prevent="add" class="btn btn-info proceed-button">
                                        <span v-if="disable">
                                              <img src="@/assets/images/ajax-loader.gif" alt="">
                                        </span>
                                                        <span v-else>Update</span>
                                                    </button>
                                                </div>






                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="clear"></div>



                            </div>


                        </div>
                    </div>
                </section>
            </div>
        </div>
    </no-ssr>
</template>

<script>

    import firebase from 'firebase'
    import DB from '~/plugins/firebase/init'
    import persistance from '~/plugins/persistance';
    import AdminSidebar from '@/components/AdminSidebarMenu';
    import InputError from '@/components/InputError';
    import AdminHeader from "@/components/AdminHeader";
    import ShowFileUpload from "@/components/ShowFileUpload";
    export default {
        middleware : 'auth',
        components: {
            AdminHeader,
            AdminSidebar , InputError , ShowFileUpload
        },
        asyncData (context) {
            var docRef = DB.collection("General-infos").where('id' , '==' , context.params.id).where('type' , '==' , 'success-story');

            return docRef.get().then(function (querySnapshot) {
                let story = {}
                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        story = (doc.data())

                    });

                    return {story}
                } else {
                    // doc.data() will be undefined in this case
                    console.log("Here No such document!");
                    return { services : []}
                }
            }).catch(function (error) {
                console.log("Error getting document:", error);
            });
        },
        data(){
            return {
                imageUploading : false,
                imageRatioError : false,

                error: {
                    title: false,
                    description : false,
                    image : false
                },

                disable : false,
                proceed : false,
                imagePreview : '',
                loadedFile : {},
                story : {
                    id : '',
                    title : '',
                    link : '',
                    description : '',
                    imageURL : '',
                    imagePATH : '',
                    createdAt : 0,
                    orderBy : 0,
                    type: 'success-story'
                }
            }
        },
        computed : {
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            }
        },
        methods : {

            showImageUpload(){
                this.$refs.imageInput.click();
            },
            onImagePicked(event){
                let self = this;
                const files = event.target.files;
                let fileName = files[0].name;
                let arr = fileName.split('.')
                let extention = arr[arr.length - 1].toLowerCase();
                self.imageRatioError = false;

                if(extention == 'png' || extention == 'jpeg' || extention == 'jpg'){


                    const fileReader = new FileReader();
                    fileReader.addEventListener('load' , ()=>{

                        var img = new Image;

                        img.onload = function() {
                            if(img.width >= 270 && img.height >= 162){
                                self.imageUploading = true;

                                let tempLogo = files[0];

                                let imagePath = `success-story-images/` + (new Date()).getTime() + fileName.replace(/\s/g, "")

                                let storageRef =  firebase.storage().ref(imagePath)

                                let uploadFile = storageRef.put(tempLogo);

                                uploadFile.on('state_changed', function(snapshot){
                                    // var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                                    // console.log('Upload is ' + progress + '% done');
                                })

                                uploadFile.then((result) => {

                                    if(self.story.imagePATH.length > 0){
                                        firebase.storage().ref().child(self.story.imagePATH).delete();
                                    }

                                    storageRef.getDownloadURL().then(function(url) {
                                        //console.log(url)
                                        self.story.imageURL = url;
                                        self.story.imagePATH = imagePath;

                                        self.$store.dispatch('flash' , {
                                            message : 'Image Updated',
                                            type : 'success'
                                        });

                                        DB.collection("General-infos").doc(self.story.id).update({
                                            imageURL: url,
                                            imagePATH : imagePath
                                        });
                                        self.imageUploading = false;
                                    })

                                })
                            } else {
                                self.imageRatioError = true
                            }
                        }

                        img.src = fileReader.result;
                    });


                    fileReader.readAsDataURL(files[0]);




                } else {
                    alert('Please select a valid image')
                }
            },
            add(){

                let self = this;

                var error = [];

                if(self.story.title.length === 0){
                    self.error.title = true;
                    error.push('title')
                }

                if(self.story.description.length === 0){
                    self.error.description = true;
                    error.push('description')
                }

                if(error.length === 0){

self.disable = true;
                    DB.collection("General-infos").doc(self.story.id).update(self.story).then(() => {
                        self.$store.dispatch('flash' , {
                            message : 'Success story updated',
                            type : 'success'
                        });

                        self.disable = false;
                    })

                }


            },

        },

        created(){


            this.validateOldUser();

            let self= this;


            //this.selectedMethods = this.store.selectedMethods


        }
    }
</script>

<style scoped>
    .proceed-button{
        background-color: #fe6500;
        border-color: #fe6500;
        min-width: 80px;
        min-height: 40px;
    }

    .alert{
        font-size: 12px;
        margin-top: 15px;
    }
    .error{
        color: #fe6500;
        font-size: 12px;
    }
    .col_half {
    //width: 80% !important;
    }
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }


    .input-title{
        padding-top : 10px;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 5px;
        margin-bottom: 5px;
    }


    .small-cam{
        height: 20px;
        width: 20px;
        cursor: pointer;
        border: 1px solid gray;
        border-radius: 5px;
        margin-top: 15px; background-color: #fe6500
    }

</style>

