<template>
    <no-ssr>
        <div>

            <div class="new">

                <div v-if="!showContent" class="aligncenter">
                    <img src="@/assets/images/ajax-loader-2.gif" alt="">
                </div>


                <div v-else class="services-customer-profile-content">
                    <section id="page-title" class="">
                        <admin-header />
                    </section>
                    <section>
                        <div class="container-fluid clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <AdminSidebar />
                                </div>
                                <div class="col-md-10 admin-page-content">
                                    <div class="row top-section">
                                        <div class="col-md-8">
                                            <h3>Success Story List</h3>
                                        </div>
                                        <div class="col-md-4 pull-right">
                                            <nuxt-link class="btn btn-info new-service" :to="`/admin/dashboard/general/success-story/create`">Add Success Story</nuxt-link>
                                        </div>
                                    </div>



                                    <div class="row table-header" v-if="stories.length > 0">
                                        <div class="col-md-4 ">Name</div>
                                        <div class="col-md-5 "></div>
                                        <div class="col-md-2 "></div>
                                    </div>
                                    <p v-else class="error">There is no Story added yet </p>

                                    <div id="draggable" style="margin-bottom: 25px;">
                                        <div class="row single-service" :key="item.id" v-for="(item , index ) in stories">

                                            <div class="col-md-3 item">
                                                {{item.title}}
                                            </div>



                                            <div class="col-md-2">
                                                <el-dropdown>
                                                        <span class="el-dropdown-link">
                                                        <i class="el-icon-more-outline"></i>
                                                        </span>
                                                    <el-dropdown-menu slot="dropdown">
                                                        <el-dropdown-item>
                                                            <nuxt-link :to="`/admin/dashboard/general/success-story/${item.id}`"><i class="icon-edit"></i> &nbsp;&nbsp; Edit</nuxt-link>
                                                        </el-dropdown-item>
                                                        <el-dropdown-item>
                                                            <a style="cursor: pointer" @click.prevent="showWarning(index)"><i class="el-icon-delete"></i> &nbsp;&nbsp; Remove</a>
                                                        </el-dropdown-item>
                                                    </el-dropdown-menu>
                                                </el-dropdown>

                                            </div>

                                        </div>
                                    </div>



                                </div>

                                <warning :message="message"
                                         :id="removeID"
                                         :warningFor="warningFor"
                                         v-if="warning"
                                         @close="warning = false"
                                         @remove="removeStory"
                                />



                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </no-ssr>
</template>

<script>

    import Sortable from 'sortablejs'
    import firebase from 'firebase'
    import DB from '~/plugins/firebase/init'
    import AdminSidebar from '@/components/AdminSidebarMenu';
    import AdminHeader from "@/components/AdminHeader";
    import persistance from '~/plugins/persistance';
    import Warning from "@/components/Warning";
    import NewsPaper from "@/components/NewsPaper";
    import ShowFileUpload from '@/components/ShowFileUpload';
    export default {
        middleware : 'auth',
        components: {
            NewsPaper,
            Warning,
            AdminHeader,
            AdminSidebar,
            ShowFileUpload
        },
        asyncData (context) {
            var BASE = DB.collection("General-infos").where('type' , '==' , 'success-story').orderBy("orderBy" , "asc");

            return BASE.get().then(function (querySnapshot) {

                let stories = [], storyOrder = [];
                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        stories.push(doc.data());

                        storyOrder.push({
                            id : doc.data().id,
                            order : doc.data().orderBy
                        });
                    });

                    // return {countries }
                    return {stories , storyOrder}
                } else {
                    // doc.data() will be undefined in this case
                    console.log("Here No such document!");
                    return {events : []}
                }
            }).catch(function (error) {
                console.log("Error getting document:", error);
            });


        },
        data(){
            return {
                warning : false,
                message : '',
                warningFor : 'story',
                removeID : '',
                disable : false,
                selectCountry : false,
                timerID : '',
                stories : [],
                showModal : false,
                mode : 'Add'
            }
        },
        computed : {
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            }
        },
        methods : {
            removeStory(data){
                let self=this;

                if(self.stories[data.id].imagePATH.length > 0){
                    firebase.storage().ref().child(self.stories[data.id].imagePATH).delete();
                }

                this.warning = false;

                DB.collection("General-infos").doc(self.stories[data.id].id).delete().then(()=>{
                    self.$store.dispatch('flash' , {
                        message : 'Success Story Deleted',
                        type : 'success'
                    });

                    self.stories.splice(data.id , 1);
                })
            },

            showWarning(index){
                let self = this;
                this.removeID = index;
                this.message = 'Please Confirm. I want to delete this Success story';
                this.warning = true;

                // this.countries.splice(index , 1)
            },

            FireSortEvent(){
                let self = this;
                if(process.browser){
                    var el = document.getElementById('draggable');
                    if(el !== null)
                        Sortable.create(el , {
                            animation: 300,
                            scroll: true,
                            onEnd: function (event) {
                                if(event.oldIndex === event.newIndex)
                                    return;
                                let finalsorted = persistance.suffleArrayObject(self.storyOrder , event.oldIndex , event.newIndex);

                                finalsorted.forEach((item) => {
                                    DB.collection("General-infos").doc(item.id).update({
                                        orderBy : item.order
                                    }).then(()=>{
                                        //console.log('updated');
                                    }).catch((err) => {
                                        console.log('Update Error' , err);
                                    });
                                })

                                self.storyOrder = finalsorted
                            }
                        })
                }
            }
        },

        created(){
            let self= this;

            this.validateOldUser();

            setTimeout(() => {
                this.FireSortEvent();
            } , 2500);

            var BASE = DB.collection("General-infos").where('type' , '==' , 'country-location').orderBy("createdAt" , "asc");

            BASE.get().then(function (querySnapshot) {


                let countries = [];
                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        countries.push(doc.data());
                    });

                    self.countries = countries
                } else {
                    // doc.data() will be undefined in this case
                    console.log("Here No such document!");
                    return {countries : []}
                }
            }).catch(function (error) {
                console.log("Error getting document:", error);
            });

        }
    }
</script>

<style scoped>

    .new-service{
        background-color: #fe6500;
        border-color: #fe6500;
        float: right;
        color: #FFFFFF !important;
    }
    .el-icon-more-outline {
        color : #fe6500;
        font-size: 25px;
    }
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }

    .single-service{
        background-color: #ffffff;
        padding-top: 10px;
    //padding-bottom: 5px;
        margin: 9px 1px 2px 1px;

    }
    .table-header{
        padding-top: 10px;
        margin: 9px 1px 2px 1px;
        font-weight: bold;
    }

    .single-service .item {
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .single-service .action {
        padding-bottom: 7px;
    }

    .error{
        color: #fe6500;
        font-size: 12px;
    }

    .top-section{
        margin-top: 10px;
    }

    .small-cam{
        height: 15px;
        width: 15px;
        cursor: pointer;
        border: 1px solid gray;
        border-radius: 5px;
        margin-top: 15px;
        margin-left: 15px;
        background-color: #fe6500
    }



</style>
