<template>
    <div>
        <div v-if="!showContent" class="aligncenter">
            <img src="@/assets/images/ajax-loader-2.gif" alt="">
        </div>


        <div v-else class="services-customer-profile-content">
            <section id="page-title" class="">
                <admin-header />
            </section>
            <section>
                <div class="container-fluid clearfix">
                    <div class="row">
                        <div class="col-md-2">
                            <ShopSidebar />
                        </div>
                        <div class="col-md-10 admin-page-content">

                            <div class="row top-section">
                                <div class="col-md-6" v-if="user.status === 'pending'">
                                    <p style="margin-top: 25px">Hi {{user.name}} !!. We are sorry to let you know that your store account still is in <b>pending</b> mode. One of our representative will contact you . after that hopefully your store will be activated</p>
                                </div>
                                <div class="col-md-6" v-if="user.status === 'rejected'">
                                    <p style="margin-top: 25px">Hi {{user.name}} !!. We are sorry to let you know that your store account request has been <b>Rejected</b>. You can
                                        <b><a href="" @click.prevent="deleteAccount">DELETE</a></b> your store account</p>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script>

    import store from 'store'
import firebase from 'firebase'
import DB from '~/plugins/firebase/init'
    import ShopSidebar from '@/components/ShopSidebarMenu';
    import ShowFileUpload from '@/components/ShowFileUpload';
    import AdminHeader from "@/components/AdminHeader";
    export default {
        middleware : 'auth',
        components: {
            AdminHeader,
            ShopSidebar , ShowFileUpload
        },
        asyncData (context) {

        },
        data(){
            return {
                error : {
                    name : false,
                    nameMessage : ''
                },
                name : '',
                disable : false,
                showContent : true
            }
        },
        computed : {

        },
        methods : {
            deleteAccount(){
                let self = this;

                DB.collection("store").doc(self.user.shopID).delete().then(() => {


                    DB.collection("users").doc(self.user.uid).delete().then(() => {
                        var user = firebase.auth().currentUser;
                        user.delete().then(function() {
                            // User deleted.
                            store.set('aladins_info', '');
                            store.set('d_aladins_info', '');
                            store.set('aladin', '');
                            store.set('d_aladin', '');
                            store.set('aladins_valid' , '');
                            store.set('d_aladins_valid' , '');
                            self.$router.push({path :  `/`})

                        }).catch(function(error) {
                            console.log('cant delete user : ' , error)
                        });



                    })

                    }
                );


            }
        },

        created(){
            this.validateOldUser();
        }
    }
</script>

<style scoped>
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }






</style>
