<template>
    <no-ssr>
        <div>

            <div class="new">

                <div v-if="!showContent" class="aligncenter">
                    <img src="@/assets/images/ajax-loader-2.gif" alt="">
                </div>


                <div v-else class="services-customer-profile-content">
                    <section id="page-title" class="">
                        <admin-header />
                    </section>
                    <section>
                        <div class="container-fluid clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <AdminSidebar />
                                </div>
                                <div class="col-md-10 admin-page-content">
                                    <div class="row top-section">
                                        <div class="col-md-8">
                                            <h3>Last 30 days search records</h3>
                                        </div>
                                    </div>

                                    <div class="row top-section">


                                        <div class="col-md-3" >
                                            <input type="text" @change="filterOrder"  v-model.trim="searchFilter.key" class="form-control" placeholder="Key Search">
                                            <a href="" @click.prevent="resetFilter" v-if="enableReset" class="error">Reset filter</a>
                                        </div>

                                        <div class="col-md-3" >
                                            <input type="text" @keydown="searchStore"  v-model.trim="storeKey" class="form-control" placeholder="Search Store">
                                            <div class="shop-list" v-if="!storeSelected">
                                                <p class="shop-item" @click="selectStore(store.id)" :key="store.id" v-for="store in filteredStores">
                                                    <img :src="store.logoURL" style="height: 40px; width: 40px" alt=""/>  <span style="margin-left: 15px">{{store.name}}</span>
                                                </p>
                                            </div>
                                        </div>


                                        <div class="col-md-2" >
                                            <select @change="filterOrder" v-model="searchFilter.serviceID" class="form-control">
                                                <option value="">Service</option>
                                                <option :value="item.id" :key="item.id" v-for="item in Object.values(serviceMap)">{{ item.name }}</option>
                                            </select>
                                        </div>



                                    </div>



                                    <!--<p v-if="noDATA">-->
                                    <!--<span  class="error">No Data for this filter</span>-->
                                    <!--</p>-->


                                    <div class="row product-list-header" v-if="records.length > 0">
                                        <div class="col-md-3" style="padding-left: 10px">Searched for</div>
                                        <div class="col-md-3 ">Searched on Store</div>
                                        <div class="col-md-3 ">Searched on service</div>
                                        <div class="col-md-3 ">Searched Date</div>
                                    </div>
                                    <p v-else class="error">Currently there is no search history </p>

                                    <div id="draggable" style="margin-bottom: 25px;">
                                        <div class="row single-service" :key="item.id" v-for="(item , index ) in records">

                                            <div class="col-md-3 item p-top" style="padding-left: 10px">
                                                {{item.key}}
                                            </div>


                                            <div class="col-md-3 item p-top">

                                                {{ fetchStore(item.storeID) }}

                                            </div>
                                            <div class="col-md-3 item p-top">

                                                {{ serviceMap[item.serviceID].name }}

                                            </div>

                                            <div class="col-md-3 item p-top">

                                                {{formartOrderDate(item.searchTime)}}

                                            </div>



                                        </div>
                                    </div>

                                    <div style="width: 600px; margin: 0px auto; display: block">
                                        <pagination v-if="totalData > dataPerPage && !hidePagination" :dataPerPage="dataPerPage" @fetch="fetchData" :totalData="totalData"  />
                                    </div>



                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </no-ssr>
</template>

<script>

    import DB from '~/plugins/firebase/init'
    import AdminSidebar from '@/components/AdminSidebarMenu';
    import AdminHeader from "@/components/AdminHeader";
    import Pagination from '@/components/Pagination';
    import axios from 'axios'
    import moment from 'moment'
    export default {
        middleware : 'auth',
        components: {
            AdminHeader,
            AdminSidebar , Pagination ,
        },
        asyncData (context) {

            var BASE = DB.collection("search-record").orderBy('searchedTime' , 'desc');
            //var docRef = BASE;


            return BASE.limit(30).get().then(function (querySnapshot) {


                let records = [];
                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        records.push(doc.data());
                    });

                    // return {records }
                    return {records}
                } else {
                    // doc.data() will be undefined in this case
                    console.log("Here No such document!");
                    return {records : []}
                }
            }).then(function(records){
                //get store-product-category info

                var spcRef = DB.collection("services");
                return  spcRef.get().then(function(querySnapshot) {
                    let serviceMap = {};

                    if(!querySnapshot.empty){

                        querySnapshot.forEach(doc => {
                            serviceMap[doc.data().id] = doc.data();
                        });

                    }
                    return { ...records, serviceMap: serviceMap}
                });

            }).catch(function (error) {
                console.log("Error getting document:", error);
            });


        },
        data(){
            return {
                enableReset : false,
                storeSelected : false,
                storeKey : '',
                searchFilter : {
                    storeID : '',
                    key : '',
                    serviceID : ''
                },
                warning : false,
                removeID : '',
                warningFor : 'product',
                message : '',
                noDATA  :false,
                alreadyExist : false,
                searchKey : '',
                catSearch : '',
                subcatSearch : '',
                searchIN : 'name',
                searchORDER : 'asc',
                disable : false,
                records : [],
                totalData : 0,
                dataPerPage : 30,
                fetchAfter : 3,
                timerID : '',
                hidePagination : false,
                stores : [],
                storesMap : {},
                serviceMap : {},
                timerID : ''
            }
        },

        computed : {

            parentCats(){
                return this.categories.filter(item => item.parentID === '')
            },
            childCats(){
                return this.categories.filter(item => item.parentID !== '')
            },
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            },
            storeID(){
                return this.$route.params.id
            },
            filteredStores(){
                return this.stores.filter(item => {
                    if(this.storeKey !== '' && item.name.toLowerCase().indexOf(this.storeKey.toLowerCase()) !== -1){
                        return item;
                    }
                })
            }
        },
        methods : {
            countPrice(item){
                let price = 0;
                let only_price = 0;

                item.order.cart.forEach(product => {
                    only_price += Number(product.grandTotalPrice);
                    price = price + Number(product.grandTotalPrice) + Number(product.adjustedAmount);
                })

                //add delivery charge
                if(item.order.promoAction !== "free-shiping" && price < Number(this.serviceMap[item.order.serviceID].free_delivery_amount)){
                    price = price + this.deliveryFee();
                }


                // add conceirge charge
                price = price + item.order.conciergeFee;


                return price;
            },
            clearFilter(){
                this.storeKey = '';
                this.searchFilter.storeID = '';
                this.searchFilter.key = '';
                this.searchFilter.serviceID = '';
                this.enableReset = false;
            },
            resetFilter(){
                this.clearFilter();
                this.fetchData(1);
                this.hidePagination = false;
            },
            selectStore(ID){
                this.storeSelected = true;
                this.storeKey = this.storesMap[ID].name;
                this.searchFilter.storeID = ID;
                this.filterOrder();
            },
            searchStore(){
                this.storeSelected = false;
            },
            filterOrder(){
                let self = this;
                self.enableReset = true;
                //console.log(new Date(this.searchFilter.startAt).getUnixTime())

                clearTimeout(self.timerID);
                self.timerID = setTimeout(()=>{
                    axios({
                        method:'post',
                        url:'https://us-central1-aladins-chirag.cloudfunctions.net/filterSearchHistory',
                        data: {
                            offset: 0,
                            dataPerPage : 20000,
                            key : self.searchFilter.key.trim(),
                            storeID : self.searchFilter.storeID,
                            serviceID: self.searchFilter.serviceID
                        }
                    })
                        .then(function(response) {
                            if(response.data.length === 0){
                                self.noDATA = true;
                                self.records = [];
                                self.hidePagination = false;
                            } else {
                                self.noDATA = false;
                                self.hidePagination = false;
                                self.hidePagination = true;
                                self.records = [];
                                self.records = response.data
                            }

                        }).catch(err => {
                        console.log(err);
                    });
                }, 500);
            },

            formartOrderDate(value){
                return moment(value).format("DD-MM-YYYY");
            },
            fetchStore(storeID){

                    var store_name = ''
                    this.stores.forEach(item => {
                        if(item.id === storeID){
                            store_name = item.name;
                        }
                    })
                    return store_name

            },

            fetchData(page){

                let self = this;

                self.currentPage = page;

                let startAfter = page * self.dataPerPage - self.dataPerPage;
                axios({
                    method:'post',
                    url:'https://us-central1-aladins-chirag.cloudfunctions.net/filterSearchHistory',
                    data: {
                        offset: startAfter,
                        dataPerPage : self.dataPerPage
                    }
                })
                    .then(function(response) {
                        self.records = response.data
                    });
            },
            fetchAll(){
                let self = this;
                DB.collection("search-record").get().then(function (querySnapshot) {

                    //console.log(querySnapshot);
                    self.totalData = querySnapshot.size;

                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });
            },
        },

        created(){
            let self = this;
            this.validateOldUser();

            this.fetchAll();

            DB.collection("store").get().then(function (querySnapshot) {

                if (!querySnapshot.empty) {
                    self.stores = []
                    querySnapshot.forEach(doc => {
                        self.stores.push(doc.data());
                        self.storesMap[doc.data().id] = doc.data();
                    });

                }

            }).catch(function (error) {
                console.log("Error getting document:", error);
            });

            // console.log(moment.unix(1540317600).format("MM/DD/YYYY"));
            // console.log(moment.unix(1540316600).format("MM/DD/YYYY"));
            // console.log(moment.unix(1540701376832 / 1000).format("MM/DD/YYYY"));
            // console.log((new Date()).getTime());
            // console.log((new Date()).getUnixTime());

        }
    }
</script>

<style scoped>
    /*.admin-page-content{*/
    /*padding: 20px;*/
    /*}*/

    .order-status-button {
        color : #ffffff;
        border-radius: 8px;
        width: 100%;
        font-size: 13px;
        padding-top: 10px !important;
    }
    .order-received{
        background-color: #0076ff;
    }
    .shopper-started-picking{
        background-color: #7f63f4;
    }

    .waiting-deliver{
        background-color: #00b8fa;
    }

    .order-on-your-way{
        background-color: #ff5a00;
    }

    .order-complete{
        background-color: #07c748;
    }

    .cancelled{
        background-color: #ff0000;
    }

    .clear-store{
        color : #fe6500;
        font-size: 12px;
        cursor: pointer;
    }
    .shop-list{
        background-color: #ffffff;
        min-width: 440px;
        transform-origin: center bottom 0px;
        z-index: 2032;
        position: absolute;
    //top: 327px;
    }

    .shop-item{
        border: 1px solid #DDD;
        cursor: pointer;
        margin-bottom: 5px;
    }

    .product-list-header{
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .product-list-header div {
        font-weight: bold;
        padding-left: 3px;
        font-size: 14px;
    }
    .el-icon-more-outline {
        color : #fe6500;
        font-size: 25px;
    }
    .error{
        color: #fe6500;
        font-size: 12px;
    }
    .p-top{
    //padding-top: 32px !important;
    }
    #page-title{
        padding: 10px !important;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }

    .single-service{
        background-color: #ffffff;
        padding-top: 10px;
    //padding-bottom: 5px;
        margin-top: 9px;

    }

    .single-service .item {
        padding-bottom: 10px;
        padding-top: 5px;
        padding-right: 1px;
        padding-left: 1px;
    }

    .single-service .action {
        padding-bottom: 7px;
    }

    .new-service{
        background-color: #fe6500;
        border-color: #fe6500;
        float: right;
    }

    .error{
        color: #fe6500;
        font-size: 12px;
    }

    .top-section{
        margin-top: 10px;
    }

    .btn{
        min-width: 75px;
        min-height: 40px;
    }





</style>
