<template>
    <no-ssr>
        <div>

            <div class="new">

                <div v-if="!showContent" class="aligncenter">
                    <img src="@/assets/images/ajax-loader-2.gif" alt="">
                </div>


                <div v-else class="services-customer-profile-content">
                    <section id="page-title" class="">
                        <admin-header />
                    </section>
                    <section>
                        <div class="container-fluid clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <ShopSidebar />
                                </div>
                                <div class="col-md-10 admin-page-content">
                                    <div class="row top-section">
                                        <div class="col-md-8">
                                            <el-switch
                                                    v-model="stateSwitch"
                                                    active-color="#fe6500"
                                                    inactive-color="#ff4949"
                                                    active-text="Payable to chirag"
                                                    inactive-text="Receivable from chirag">
                                            </el-switch>
                                        </div>
                                    </div>

                                    <div class="row top-section" style="margin-bottom: 20px">
                                        <admin-payment-brief :payments="allPayments" :storeID="storeID" :reconcile_records="reconcile_records" :mode="stateSwitch" />
                                        <div class="col-md-6">
                                        <line-chart v-if="chartTime === 'monthly'" :data="chartDataMonthly" />
                                        <line-chart v-if="chartTime === 'weekly'" :data="chartDataWeekly" />
                                        <line-chart v-if="chartTime === 'yearly'" :data="chartDataYearly" />
                                        <line-chart v-if="chartTime === 'begining'" :data="chartDataAll" />

                                        <p style="text-align: right">
                                        <select class="form-control" v-model="chartTime" style="max-width: 200px ; display: inline-block">
                                        <option value="monthly">Last 30 Days</option>
                                        <option value="weekly">Last 7 Days</option>
                                        <option value="yearly">Last year (365 days)</option>
                                        <option value="begining">Since Begining</option>
                                        </select>
                                        </p>

                                        </div>
                                    </div>

                                    <div class="row top-section">


                                        <div class="col-md-3" >
                                        <input type="text" @change="filterOrder"  v-model.trim="searchFilter.orderID" class="form-control" placeholder="Order ID">
                                            <a href="" @click.prevent="resetFilter" v-if="enableReset" class="error">Reset filter</a>
                                        </div>

                                        <!--<div class="col-md-3" >-->
                                        <!--<input type="text" @keydown="searchStore"  v-model.trim="storeKey" class="form-control" placeholder="Search Store">-->
                                        <!--<span v-if="searchFilter.storeID.length > 0" class="clear-store" @click="clearStoreFilter">clear store</span>-->
                                        <!--<div class="shop-list" v-if="!storeSelected">-->
                                        <!--<p class="shop-item" @click="selectStore(store.id)" :key="store.id" v-for="store in filteredStores">-->
                                        <!--<img :src="store.logoURL" style="height: 40px; width: 40px" alt=""/>  <span style="margin-left: 15px">{{store.name}}</span>-->
                                        <!--</p>-->
                                        <!--</div>-->
                                        <!--</div>-->


                                        <div class="col-md-2" >
                                        <el-date-picker
                                        @change="filterOrder"
                                        v-model="searchFilter.startAt"
                                        type="date"
                                        format="dd-MM-yyyy"
                                        placeholder="From">
                                        </el-date-picker>
                                        </div>
                                        <div class="col-md-2" >
                                        <el-date-picker
                                        @change="filterOrder"
                                        v-model="searchFilter.endAt"
                                        type="date"
                                        format="dd-MM-yyyy"
                                        placeholder="To">
                                        </el-date-picker>
                                        </div>



                                    </div>



                                    <!--<p v-if="noDATA">-->
                                        <!--<span  class="error">No Data for this filter</span>-->
                                    <!--</p>-->


                                    <div class="row product-list-header" v-if="payment_records.length > 0">
                                        <div class="col-md-2" style="padding-left: 10px">Order ID</div>
                                        <div class="col-md-2 ">Order Date</div>
                                        <div class="col-md-2 ">Customer Name</div>
                                        <div class="col-md-2 ">Delivery Method</div>
                                        <div class="col-md-1 ">Order Amount</div>
                                        <div class="col-md-1 center" v-text="switchText"></div>
                                        <div class="col-md-1 center">Chirag Charge</div>
                                    </div>


                                    <div id="draggable" style="margin-bottom: 25px;">
                                        <div class="row single-service" :key="item.id" v-for="(item , index ) in payment_records">

                                            <div class="col-md-2 item p-top" style="padding-left: 10px">
                                                {{item.orderID}}
                                            </div>

                                            <div class="col-md-2 item p-top">

                                                {{formartOrderDate(item.orderCreated)}}

                                            </div>
                                            <div class="col-md-2 item p-top">

                                                {{ fetchCustomer(item.customerID) }}

                                            </div>
                                            <div class="col-md-2 item p-top">

                                                {{ fetchDeliveryMethod(item.deliveryOptionId) }}

                                            </div>

                                            <div class="col-md-1 item p-top">

                                                &#36;{{item.soldPrice}}

                                            </div>

                                            <div class="col-md-1 item p-top center" :class="{ 'red' : stateSwitch , 'green' : !stateSwitch }">

                                                &#36;{{!stateSwitch ? item.storeEarn : item.chiragEarn}}

                                            </div>

                                            <div class="col-md-1 item p-top center">

                                                &#36;{{item.chiragEarn}}

                                            </div>


                                        </div>
                                    </div>

                                    <p v-if="payment_records.length === 0" class="error">Currently there is no payment record </p>

                                    <div style="width: 600px; margin: 0px auto; display: block">
                                        <pagination v-if="totalData > dataPerPage && !hidePagination" :dataPerPage="dataPerPage" @fetch="fetchData" :totalData="totalData"  />
                                    </div>

                                    <warning :message="message"
                                             :id="removeID"
                                             :warningFor="warningFor"
                                             v-if="warning"
                                             @close="warning = false"
                                             @remove="removeProduct"
                                    />



                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </no-ssr>
</template>

<script>

    import firebase from 'firebase'
    import DB from '~/plugins/firebase/init'
    import ShopSidebar from '@/components/ShopSidebarMenu';
    import AdminHeader from "@/components/AdminHeader";
    import Pagination from '@/components/Pagination';
    import axios from 'axios'
    import Warning from "@/components/Warning";
    import moment from 'moment'
    import AdminPaymentBrief from "@/components/AdminPaymentBrief";

    import Vue from 'vue';
    import VueChartkick from 'vue-chartkick';
    import Chart from 'chart.js'

    Vue.use(VueChartkick, {adapter: Chart})

    export default {
        middleware : 'auth',
        components: {
            AdminPaymentBrief,
            AdminHeader,
            ShopSidebar , Pagination , Warning
        },
        asyncData (context) {

            var BASE = DB.collection("payment_record").where('storeID'  , '==' , context.params.id).orderBy("orderCreated" , "desc");
            //var docRef = BASE;

            var docRef = BASE.limit(12);

            return docRef.get().then(function (querySnapshot) {
                let payment_records = [];
                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        payment_records.push(doc.data());
                    });

                    // return {payment_records }
                    return {payment_records}
                } else {
                    // doc.data() will be undefined in this case
                    console.log("Here No such document!");
                    return {payment_records : []}
                }
            }).catch(function (error) {
                console.log("Error getting document:", error);
            });


        },
        watch : {
            allPayments(newVal , oldVal){
                if(newVal.length > 0 && this.reconcile_records.length> 0){
                    this.populateChartData();
                }
            },
            reconcile_records(newVal , oldVal){
                if(newVal.length > 0 && this.allPayments.length> 0){
                    this.populateChartData();
                }
            },
        },
        data(){
            return {

                chartTime : 'monthly',
                chartDataMonthly : [],
                chartDataWeekly : [],
                chartDataYearly : [],
                chartDataAll : [],

                enableReset : false,
                stateSwitch : false,
                storeSelected : false,
                storeKey : '',
                searchFilter : {
                    storeID : '',
                    startAt : '',
                    startAtInt : '',
                    endAt : '',
                    endAtInt : '',
                    orderStatus : '',
                    storeID : '',
                    orderID : ''
                },
                warning : false,
                removeID : '',
                warningFor : 'product',
                message : '',
                noDATA  :false,
                alreadyExist : false,
                searchKey : '',
                catSearch : '',
                subcatSearch : '',
                searchIN : 'name',
                searchORDER : 'asc',
                disable : false,
                payment_records : [],
                totalData : 0,
                dataPerPage : 12,
                fetchAfter : 3,
                timerID : '',
                hidePagination : false,
                users : [],
                stores : [],
                storesMap : {},
                timerID : '',
                delivery_methods : [],
                allPayments : [],
                reconcile_records : []
            }
        },

        computed : {

            switchText(){
                if(this.stateSwitch)
                    return 'Payable to chirag';

                return 'Receivable from chirag';
            },
            parentCats(){
                return this.categories.filter(item => item.parentID === '')
            },
            childCats(){
                return this.categories.filter(item => item.parentID !== '')
            },
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            },
            storeID(){
                return this.$route.params.id
            },
            filteredStores(){
                return this.stores.filter(item => {
                    if(this.storeKey !== '' && item.name.toLowerCase().indexOf(this.storeKey.toLowerCase()) !== -1){
                        return item;
                    }
                })
            }
        },
        methods : {
            clearFilter(){
                this.storeKey = '';
                this.searchFilter.storeID = '';
                this.paymentOption = '';
                this.searchFilter.orderID = '';
                this.searchFilter.startAt = '';
                this.searchFilter.endAt = '';
                this.enableReset = false;
            },
            resetFilter(){
                this.clearFilter();
                this.fetchData(1);
                this.hidePagination = false;
            },
            selectStore(ID){
                this.storeSelected = true;
                this.storeKey = this.storesMap[ID].name;
                this.searchFilter.storeID = ID;
                this.filterOrder();
            },
            searchStore(){
                this.storeSelected = false;
            },
            filterOrder(){
                let self = this;
                this.enableReset = true;
                //console.log(new Date(this.searchFilter.startAt).getUnixTime())

                clearTimeout(self.timerID);
                self.timerID = setTimeout(()=>{

                    // if(self.searchKey.length === 0){
                    //     self.noDATA = false;
                    //     self.fetchData(1);
                    //     self.hidePagination = false;
                    //     return;
                    // }


                    axios({
                        method:'post',
                        url:'https://us-central1-aladins-chirag.cloudfunctions.net/filterPayments',
                        data: {
                            offset: 0,
                            dataPerPage : 1000,
                            fromDate : self.searchFilter.startAt !== '' ? (new Date(self.searchFilter.startAt).getUnixTime() * 1000 ) : '',
                            toDate : self.searchFilter.endAt !== '' ? (new Date(self.searchFilter.endAt).getUnixTime() * 1000 ) : '',
                            storeID : self.storeID,
                            orderID: self.searchFilter.orderID
                        }
                    })
                        .then(function(response) {
                            if(response.data.length === 0){
                                self.noDATA = true;
                                self.payment_records = [];
                            } else {
                                self.noDATA = false;
                                self.hidePagination = false;
                                self.hidePagination = true;
                                self.payment_records = [];
                                self.payment_records = response.data
                            }

                        }).catch(err => {
                        console.log(err);
                    });
                }, 500);
            },

            formartOrderDate(value){
                return moment(value).format("MMM Do YY");
            },
            fetchCustomer(ID){
                var store_name = ''
                this.users.forEach(item => {
                    if(item.uid === ID){
                        store_name = item.name;
                    }
                })
                return store_name

            },
            fetchDeliveryMethod(ID){

                var method_name = ''
                this.delivery_methods.forEach(item => {
                    if(item.id === ID){
                        method_name = item.name;
                    }
                })
                return method_name

            },
            fetchName(id , type){
                let name = '';
                if(type === 'customers'){
                    this.users.forEach(item => {
                        if(item.uid === id){
                            name = item.name;
                        }
                    })
                }

                return name;
            },
            showWarning(id){
                this.removeID = id;
                this.message = 'Please Confirm. I want to delete this Product from this shop';
                this.warning = true;
            },
            fetchData(page){

                let self = this;

                self.currentPage = page;

                let startAfter = page * self.dataPerPage - self.dataPerPage;
                axios({
                    method:'post',
                    url:'https://us-central1-aladins-chirag.cloudfunctions.net/filterPayments',
                    data: {
                        offset: startAfter,
                        dataPerPage : self.dataPerPage,
                        storeID : self.storeID
                    }
                })
                    .then(function(response) {
                        console.log(response.data);
                        self.payment_records = response.data
                    });
            },
            fetchAll(){
                let self = this;
                DB.collection("payment_record").where('storeID'  , '==' , this.storeID).orderBy("orderCreated" , "asc").get().then(function (querySnapshot) {

                    //console.log(querySnapshot);
                    self.totalData = querySnapshot.size;

                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });
            },

            populateChartData(){
                let self = this;

                let monthly_total_order = {}, monthly_chirag_revenue = {} , monthly_store_earn= {};
                var last_30_days = (new Date()).getTime() - self.getMiliseconds(30);

                self.allPayments.forEach(item => {

                    if(item.storeID !== self.storeID)
                        return;

                    if(item.completeDate  >= last_30_days && item.completeDate <=  (new Date()).getTime()){
                        var date = moment.unix(item.completeDate / 1000).format("MM DD YY");


                        if(monthly_chirag_revenue.hasOwnProperty(date)){
                            monthly_chirag_revenue[date] = self.roundNum2(monthly_chirag_revenue[date] + Number(item.chiragEarn));
                        } else {
                            monthly_chirag_revenue[date] = self.roundNum2(Number(item.chiragEarn));
                        }



                        if(monthly_total_order.hasOwnProperty(date)){
                            monthly_total_order[date] = self.roundNum2(monthly_total_order[date] + Number(item.soldPrice));
                        } else {
                            monthly_total_order[date] = self.roundNum2(Number(item.soldPrice));
                        }
                    }

                })

                self.reconcile_records.forEach(item => {

                    if(item.storeID !== self.storeID)
                        return;

                    if(item.completeDate  >= last_30_days && item.completeDate <=  (new Date()).getTime()){
                        var date = moment.unix(item.completeDate / 1000).format("MM DD YY");


                        if(monthly_store_earn.hasOwnProperty(date)){
                            monthly_store_earn[date] = self.roundNum2(monthly_store_earn[date] + Number(item.storeEarn));
                        } else {
                            monthly_store_earn[date] = self.roundNum2(Number(item.storeEarn));
                        }
                    }

                })








                let weekly_total_order = {} , weekly_chirag_revenue = {} , weekly_store_earn = {};

                var last_7_days = (new Date()).getTime() - self.getMiliseconds(7);
                self.allPayments.forEach(item => {

                    if(item.storeID !== self.storeID)
                        return;

                    if(item.completeDate >= last_7_days  && item.completeDate <= (new Date()).getTime() ){
                        var date = moment.unix(item.completeDate / 1000).format("MM DD YY");


                        if(weekly_chirag_revenue.hasOwnProperty(date)){
                            weekly_chirag_revenue[date] = self.roundNum2(weekly_chirag_revenue[date] + Number(item.chiragEarn));
                        } else {
                            weekly_chirag_revenue[date] = self.roundNum2(Number(item.chiragEarn));
                        }



                        if(weekly_total_order.hasOwnProperty(date)){
                            weekly_total_order[date] = self.roundNum2(weekly_total_order[date] + Number(item.soldPrice));
                        } else {
                            weekly_total_order[date] = self.roundNum2(Number(item.soldPrice));
                        }
                    }

                })

                self.reconcile_records.forEach(item => {

                    if(item.storeID !== self.storeID)
                        return;

                    if(item.completeDate  >= last_7_days && item.completeDate <=  (new Date()).getTime()){
                        var date = moment.unix(item.completeDate / 1000).format("MM DD YY");


                        if(weekly_store_earn.hasOwnProperty(date)){
                            weekly_store_earn[date] = self.roundNum2(weekly_store_earn[date] + Number(item.storeEarn));
                        } else {
                            weekly_store_earn[date] = self.roundNum2(Number(item.storeEarn));
                        }
                    }

                })




                let last_365_days_total_order = {} , last_365_days_chirag_revenue = {} , last_365_days_store_earn = {};
                var last_365_days = (new Date()).getTime() - self.getMiliseconds(365);


                self.allPayments.forEach(item => {

                    if(item.storeID !== self.storeID)
                        return;

                    if(item.completeDate >= last_365_days  && item.completeDate <= (new Date()).getTime() ){
                        var date = moment.unix(item.completeDate / 1000).format("MM DD YY");


                        if(last_365_days_chirag_revenue.hasOwnProperty(date)){
                            last_365_days_chirag_revenue[date] = self.roundNum2(last_365_days_chirag_revenue[date] + Number(item.chiragEarn));
                        } else {
                            last_365_days_chirag_revenue[date] = self.roundNum2(Number(item.chiragEarn));
                        }



                        if(last_365_days_total_order.hasOwnProperty(date)){
                            last_365_days_total_order[date] = self.roundNum2(last_365_days_total_order[date] + Number(item.soldPrice));
                        } else {
                            last_365_days_total_order[date] = self.roundNum2(Number(item.soldPrice));
                        }
                    }

                })

                self.reconcile_records.forEach(item => {

                    if(item.storeID !== self.storeID)
                        return;

                    if(item.completeDate  >= last_365_days && item.completeDate <=  (new Date()).getTime()){
                        var date = moment.unix(item.completeDate / 1000).format("MM DD YY");


                        if(last_365_days_store_earn.hasOwnProperty(date)){
                            last_365_days_store_earn[date] = self.roundNum2(last_365_days_store_earn[date] + Number(item.storeEarn));
                        } else {
                            last_365_days_store_earn[date] = self.roundNum2(Number(item.storeEarn));
                        }
                    }

                })



                let alltime_total_order = {} , alltime_chirag_revenue = {} , alltime_store_earn = {};


                self.allPayments.forEach(item => {

                    if(item.storeID !== self.storeID)
                        return;

                    var date = moment.unix(item.completeDate / 1000).format("YYYY");


                    if(alltime_chirag_revenue.hasOwnProperty(date)){
                        alltime_chirag_revenue[date] = self.roundNum2(alltime_chirag_revenue[date] + Number(item.chiragEarn));
                    } else {
                        alltime_chirag_revenue[date] = self.roundNum2(Number(item.chiragEarn));
                    }



                    if(alltime_total_order.hasOwnProperty(date)){
                        alltime_total_order[date] = self.roundNum2(alltime_total_order[date] + Number(item.soldPrice));
                    } else {
                        alltime_total_order[date] = self.roundNum2(Number(item.soldPrice));
                    }


                })

                self.reconcile_records.forEach(item => {

                    if(item.storeID !== self.storeID)
                        return;

                    var date = moment.unix(item.completeDate / 1000).format("YYYY");


                    if(alltime_store_earn.hasOwnProperty(date)){
                        alltime_store_earn[date] = self.roundNum2(alltime_store_earn[date] + Number(item.storeEarn));
                    } else {
                        alltime_store_earn[date] = self.roundNum2(Number(item.storeEarn));
                    }


                })



                self.chartDataMonthly  = [
                    {name : 'Total Order Amount' , data : monthly_total_order},
                    {name : 'Total Paid Amount' , data : monthly_store_earn},
                    { name : 'Total chirag Revenue' , data : monthly_chirag_revenue }

                ]

                self.chartDataWeekly  = [
                    {name : 'Total Order Amount' , data : weekly_total_order},
                    {name : 'Total Paid Amount' , data : weekly_store_earn},
                    { name : 'Total chirag Revenue' , data : weekly_chirag_revenue }

                ]
                self.chartDataYearly  = [
                    {name : 'Total Order Amount' , data : last_365_days_total_order},
                    {name : 'Total Paid Amount' , data : last_365_days_store_earn},
                    { name : 'Total chirag Revenue' , data : last_365_days_chirag_revenue }

                ]
                self.chartDataAll  = [
                    {name : 'Total Order Amount' , data : alltime_total_order},
                    {name : 'Total Paid Amount' , data : alltime_store_earn},
                    { name : 'Total chirag Revenue' , data : alltime_chirag_revenue }

                ]
            }
        },

        created(){
            let self = this;
            this.validateOldUser();

            this.fetchAll();

            DB.collection("payment_record").get().then(function (querySnapshot) {

                if (!querySnapshot.empty) {
                    self.allPayments = [];
                    querySnapshot.forEach(doc => {
                        self.allPayments.push(doc.data());
                    });

                }

            }).catch(function (error) {
                console.log("Error getting document:", error);
            });

            // reconciliation

            DB.collection("reconciliation").get().then(function (querySnapshot) {

                if (!querySnapshot.empty) {
                    self.reconcile_records = [];
                    querySnapshot.forEach(doc => {
                        self.reconcile_records.push(doc.data());
                    });

                }

            }).catch(function (error) {
                console.log("Error getting document:", error);
            });

            DB.collection("delivery-methods").get().then(function (querySnapshot) {

                if (!querySnapshot.empty) {
                    self.delivery_methods = [];
                    querySnapshot.forEach(doc => {
                        self.delivery_methods.push(doc.data());
                    });

                }

            }).catch(function (error) {
                console.log("Error getting document:", error);
            });

            DB.collection("users").get().then(function (querySnapshot) {

                if (!querySnapshot.empty) {
                    self.users = []
                    querySnapshot.forEach(doc => {
                        self.users.push(doc.data());
                    });

                }

            }).catch(function (error) {
                console.log("Error getting document:", error);
            });



            // console.log(moment.unix(1540317600).format("MM/DD/YYYY"));
            // console.log(moment.unix(1540316600).format("MM/DD/YYYY"));
            // console.log(moment.unix(1540701376832 / 1000).format("MM/DD/YYYY"));
            // console.log((new Date()).getTime());
            // console.log((new Date()).getUnixTime());

        }
    }
</script>

<style scoped>
    /*.admin-page-content{*/
    /*padding: 20px;*/
    /*}*/

    .red{
        color: red;
    }

    .green{
        color: #07c748;
    }

    .order-status-button {
        color : #ffffff;
        border-radius: 8px;
        width: 100%;
        font-size: 13px;
        padding-top: 10px !important;
    }
    .order-received{
        background-color: #0076ff;
    }
    .shopper-started-picking{
        background-color: #7f63f4;
    }

    .waiting-deliver{
        background-color: #00b8fa;
    }

    .order-on-your-way{
        background-color: #ff5a00;
    }

    .order-complete{
        background-color: #07c748;
    }

    .cancelled{
        background-color: #ff0000;
    }

    .clear-store{
        color : #fe6500;
        font-size: 12px;
        cursor: pointer;
    }
    .shop-list{
        background-color: #ffffff;
        min-width: 440px;
        transform-origin: center bottom 0px;
        z-index: 2032;
        position: absolute;
    //top: 327px;
    }

    .shop-item{
        border: 1px solid #DDD;
        cursor: pointer;
        margin-bottom: 5px;
    }

    .product-list-header{
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .product-list-header div {
        font-weight: bold;
        padding-left: 3px;
        font-size: 14px;
    }
    .el-icon-more-outline {
        color : #fe6500;
        font-size: 25px;
    }
    .error{
        color: #fe6500;
        font-size: 12px;
    }
    .p-top{
    //padding-top: 32px !important;
    }
    #page-title{
        padding: 10px !important;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }

    .single-service{
        background-color: #ffffff;
        padding-top: 10px;
    //padding-bottom: 5px;
        margin-top: 9px;

    }

    .single-service .item {
        padding-bottom: 10px;
        padding-top: 5px;
        padding-right: 1px;
        padding-left: 1px;
    }

    .single-service .action {
        padding-bottom: 7px;
    }

    .new-service{
        background-color: #fe6500;
        border-color: #fe6500;
        float: right;
    }

    .error{
        color: #fe6500;
        font-size: 12px;
    }

    .top-section{
        margin-top: 10px;
    }

    .btn{
        min-width: 75px;
        min-height: 40px;
    }





</style>
