<template>

<div>
    <no-ssr>
    <div class="new">

        <div v-if="!showContent" class="aligncenter">
            <img src="@/assets/images/ajax-loader-2.gif" alt="">
        </div>


        <div v-else class="services-customer-profile-content">
            <section id="page-title" class="">
                <admin-header />
            </section>
            <section>
                <div class="container-fluid clearfix">
                    <div class="row">
                        <div class="col-md-2">
                            <ShopSidebar />
                        </div>
                        <div class="col-md-10 admin-page-content">
                            <div class="row top-section">
                                <div class="col-md-8">
                                    <h3>Product Category List of {{user.name}}</h3>
                                </div>
                                <div class="col-md-4 pull-right">
                                    <nuxt-link :to="`/shop/dashboard/category/${storeID}/create`" class="btn btn-info new-service">Add Product Category</nuxt-link>
                                </div>
                            </div>
                            <div class="row" v-if="categories.length > 0">
                                <div class="col-md-3 ">Name</div>
                                <div class="col-md-2 center">Category Type</div>
                                <div class="col-md-2 center">Sub Categories</div>
                                <div class="col-md-1 center">Products</div>
                                <div class="col-md-1 center">Status</div>
                                <div class="col-md-1 center">Action</div>
                                <div class="col-md-1 center"></div>
                            </div>
                            <p v-else class="error">There is no category added for the store yet </p>

                            <div id="draggable">
                                <div class="row single-service" :key="cat.id" v-for="(cat , index ) in parent_categories">
                                    <div class="col-md-3 item">
                                        <div v-if="!catEdit[index]">
                                            {{cat.name}}
                                            <span style="font-size: 11px;">
                        <a href="#" @click.prevent="EnableEdit(index)">Edit</a>
                      </span>
                                        </div>
                                        <div v-else>
                                            <input @focus="$set(catError , index  , false)" style="max-width: 200px" v-model="categories[index].name" class="form-control">
                                            <div style="margin-top: 5px">
                                                <a @click.prevent="update(index)" class="btn btn-sm btn-success" style="float: left; color: #FFFFFF">save</a>
                                                <a @click.prevent="cancelEdit(index)" class="btn btn-sm btn-dark" style="float: left; margin-left: 10px; color: #FFFFFF">cancel</a>
                                                <span v-if="catError[index]" class="error">This category already exists</span>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-2 item center">
                                        Parent
                                    </div>
                                    <div class="col-md-2 center">
                                        <nuxt-link :to="`/shop/dashboard/category/${storeID}/sub/${cat.id}`" class="btn btn-outline-info">
                                            {{ countSubCat(cat.id) }}
                                        </nuxt-link>

                                    </div>
                                    <div class="col-md-1 center">
                                        <nuxt-link :to="`/shop/dashboard/product/${storeID}/cat/${cat.id}`" class="btn btn-outline-success">
                                            {{ countProduct(cat.id) }}
                                        </nuxt-link>
                                    </div>
                                    <div class="col-md-1 center">&nbsp;
                                        <span class="status" :class="{ active : cat.active , inactive : !cat.active }">{{ cat.active === true ? 'Active' : 'Disabled' }}</span>
                                    </div>
                                    <div class="col-md-1 center">
                                        <select @change="updateStatus(index)" v-model="test[index].active" class="form-control">
                                            <option :value="true" >Active</option>
                                            <option :value="false" >Disable</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1 item">
                                        <a class="btn btn-sm btn-danger" @click.prevent="showWarning(cat.id)">Delete</a>
                                    </div>
                                </div>
                            </div>

                            <warning :message="message"
                                     :id="removeID"
                                     :warningFor="warningFor"
                                     v-if="warning"
                                     @close="warning = false"
                                     @remove="removeCAT"
                            />

                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
    </no-ssr>
</div>

</template>

<script>

    import Sortable from 'sortablejs'
    import firebase from 'firebase'
    import DB from '~/plugins/firebase/init'
    import persistance from '~/plugins/persistance';
    import ShopSidebar from '@/components/ShopSidebarMenu';
    import ShowFileUpload from '@/components/ShowFileUpload';
    import {mapGetters} from 'vuex'
    import AdminHeader from "@/components/AdminHeader";
    import Warning from "@/components/Warning";
    export default {
        middleware : 'auth',
        components: {
            AdminHeader,
            ShopSidebar , ShowFileUpload , Warning
        },
        asyncData (context) {
            if(context.params.id !== undefined) {
                var docRef = DB.collection("store-product-category").where('storeID' , '==' , context.params.id).orderBy("orderBy" , "asc");

                return docRef.get().then(function (querySnapshot) {
                    let categories = [];
                    let catOrder = [];
                    let catEdit = [] , catError = [];
                    if (!querySnapshot.empty) {
                        querySnapshot.forEach(doc => {
                            categories.push(doc.data());
                            catOrder.push({
                                id : doc.data().id,
                                order : doc.data().orderBy
                            })
                            catEdit.push(false)
                            catError.push(false)

                        });

                        return {categories , catOrder , catEdit , catError}
                    } else {
                        // doc.data() will be undefined in this case
                        console.log("Here No such document!");
                        return {}
                    }
                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });

            }
        },
        data(){
            return {
                warning : false,
                removeID : '',
                warningFor : 'category',
                message : '',
                alreadyExist : false,
                disable : false,
                catEdit : '',
                service : {},
                categories : [],
                serviceEdit : [],
                uploadTime : [],
                imageRatioError : [],
                catOrder : [],
                test : [],
                products : [],
                catEdit : [],
                catError : [],
                tempCats : []

            }
        },
        computed : {
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            },
            storeID(){
                return this.$route.params.id
            },
            parent_categories(){
                let arr = this.categories.filter((item) => {
                    if(item.parentID === '' && item.parentID.length === 0){
                        return item;
                    }


                })

                this.test = arr;

                return arr;
            }
        },
        methods : {
            update(index){
                let self=this , slug = self.categories[index].name.toLowerCase().replace(/[^a-z0-9-]+/g , '-');

                if(self.categories[index].name.length < 2){
                    this.$set(this.catEdit , index , false)
                    this.categories = this.removeReferences(this.tempCats);

                    return;
                }

                let citiesRef = DB.collection("store-product-category");
                let query = citiesRef.where("slug", "==", slug).where('storeID' , '==' , this.$route.params.id);

                query.get().then(function(querySnapshot) {
                    let temp = [];

                    querySnapshot.forEach(doc => {
                        temp.push(doc.data())
                    });
                    if (!querySnapshot.empty && temp[0].id !== self.categories[index].id) {
                        self.$set(self.catError , index , true);
                    } else {

                        citiesRef.doc(self.categories[index].id).update({
                            slug : slug,
                            name : self.categories[index].name
                        })
                            .then(function() {
                                self.tempCats = self.removeReferences(self.categories);
                                self.$store.dispatch('flash' , {
                                    message : 'category name Updated',
                                    type : 'success'
                                });
                                self.$set(self.catEdit , index , false)
                            })
                            .catch(function(error) {
                                console.error("Error adding document: ", error);
                            });

                    }
                }).catch(function(error) {
                    console.log("Error getting document:", error);
                });
            },
            EnableEdit(index){
                this.$set(this.catEdit , index , true)
            },
            cancelEdit(index){
                this.$set(this.catEdit , index , false)
                this.categories = this.removeReferences(this.tempCats);
            },
            showWarning(id){
                this.removeID = id;
                this.message = 'Please Confirm. If you delete this category, then the asscociate sub categories and products will also be deleted';
                this.warning = true;
            },
            removeCAT(data){
                let self=this , CatIndex = -1;

                let temp_cats = JSON.parse(JSON.stringify(this.categories))

                let images = [] , subcats=[] , products=[];
                this.categories.forEach(item =>{
                    if(item.parentID === data.id)
                        subcats.push(item.id)
                });
                this.products.forEach(item => {
                    if(item.categoryID === data.id){
                        products.push(item.id)
                        item.images.forEach(image => {
                            images.push(image.imagePATH)
                        })
                    }

                })



                //console.log('images : ' , images);
               // console.log('sub categories : ' , subcats);

                temp_cats.forEach((item , index) =>{
                    if(item.parentID === data.id){
                        let Del_INDEX = -1;

                        self.categories.forEach((Item , Index) => {
                            if(item.parentID === data.id){
                                Del_INDEX = Index
                            }
                        })

                        self.$delete(self.categories , Del_INDEX)
                    }

                });

                self.categories.forEach((Item , Index) => {
                    if(Item.id === data.id){
                        CatIndex = Index
                    }
                })

                //console.log('current index' , CatIndex)

                images.forEach(item => {
                    firebase.storage().ref().child(item).delete()
                })

                subcats.forEach(item => {
                    DB.collection("store-product-category").doc(item).delete()
                })

                products.forEach(item => {
                    DB.collection("products").doc(item).delete()
                })

                self.categories.splice(CatIndex , 1)

                DB.collection("store-product-category").doc(data.id).delete()

                self.$store.dispatch('flash' , {
                    message : 'Category Deleted',
                    type : 'success'
                });

                this.warning = false;


            },
            countProduct(id){
              let arr = [];
              arr = this.products.filter(item => {
                  if(item.categoryID === id)
                      return item
              });

              return arr.length;
            },

            updateStatus(Index){
                let self= this;
              let id = this.test[Index].id;
              this.categories.forEach((item , index) => {
                  if(item.id === id){
                      self.$set(self.categories[index] , 'active' , self.test[Index].active)
                  }
              })


                DB.collection("store-product-category").doc(self.test[Index].id).update({
                    active : this.test[Index].active
                }).then(()=>{
                    self.$store.dispatch('flash' , {
                        message : 'Category status changed',
                        type : 'success'
                    });
                }).catch((err) => {
                    console.log('Update Error' , err);
                });


            },
            countSubCat(parentID){
              let count = 0;
              this.categories.forEach((item)=>{
                  if(item.parentID === parentID)
                      count++;
              });

              return count;
            },

            FireSortEvent(){
                let self = this;
                if(process.browser){
                    var el = document.getElementById('draggable');
                    if(el !== null)
                        Sortable.create(el , {
                            animation: 300,
                            scroll: true,
                            onEnd: function (event) {

                                if(event.oldIndex === event.newIndex)
                                    return;

                                let finalsorted = persistance.suffleArrayObject(self.catOrder , event.oldIndex , event.newIndex);

                                finalsorted.forEach((item) => {
                                    DB.collection("store-product-category").doc(item.id).update({
                                        orderBy : item.order
                                    }).then(()=>{
                                        //console.log('updated');
                                    }).catch((err) => {
                                        console.log('Update Error' , err);
                                    });
                                });

                                self.catOrder = finalsorted;
                            }
                        })
                }
            }

        },

        created(){
            let self = this;

            this.validateOldUser();

            setTimeout(() => {
                this.FireSortEvent();
            } , 3000);

           DB.collection("products").where('storeID' , '==' , this.storeID).get().then(function (querySnapshot) {
               let products = [];
               if (!querySnapshot.empty) {
                   querySnapshot.forEach(doc => {
                       products.push(doc.data());

                   });

                   self.products = products;
               } else {
                   // doc.data() will be undefined in this case
                   console.log("Here No such document!");
               }
           }).catch(function (error) {
               console.log("Error getting document:", error);
           });

            this.tempCats = this.removeReferences(this.categories);

        },
        mounted(){
            this.FireSortEvent();
        }
    }
</script>

<style scoped>
    .btn-danger{
        color: #FFFFFF !important;
        min-width: 40px !important;
        min-height: 30px !important;
    }
    .status{
        max-width: 120px;
        color: #FFFFFF;
        border-radius: 3px;
        padding: 5px;
    }
    .active{
        background-color: #126567;
    }
    .inactive{
        background-color: #BD362F;
    }
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }

    .single-service{
        background-color: #ffffff;
        padding-top: 10px;
    //padding-bottom: 5px;
        margin: 9px 1px 2px 1px;

    }

    .single-service .item {
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .single-service .action {
        padding-bottom: 7px;
    }

    .new-service{
        background-color: #fe6500;
        border-color: #fe6500;
        float: right;
    }

    .error{
        color: #fe6500;
        font-size: 12px;
    }

    .top-section{
        margin-top: 10px;
    }

    .lm{
        margin-left: 6px;
    }

    .cat-image{
        width: 45%;
    }

    .btn{
        //min-width: 75px;
        //min-height: 40px;
    }




</style>
