<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <button type="button" class="close" @click="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <div class="modal-header">
                        <slot name="header">
                        </slot>
                    </div>

                    <form class="nobottommargin" novalidate="novalidate">
                        <div class="modal-body">
                            <slot name="body">

                                <div>
                                    <div style="float: left">Service Name : {{service.name}}</div>
                                    <div v-if="selectedStore.hasOwnProperty('id')" style="float: right">
                                       <span class="store">Selected Store :</span>  <img :src="selectedStore.logoURL" style="height: 40px; width: 40px" alt=""/>
                                        {{selectedStore.name}}
                                        <button v-if="!substituteMode" @click.prevent="flashStore()" type="button" data-dismiss="alert" aria-hidden="true" class="close close-item">×</button>

                                    </div>
                                </div>


                                <div class="col_full" v-if="!selectedStore.hasOwnProperty('id')">
                                    <input type="text" placeholder="Search Store" @focus="Error = false" v-model.trim="store_name" class="sm-form-control">
                                    <span class="formError" v-if="Error" v-text="message"></span>
                                </div>
                                <div class="shop-list">
                                    <p class="shop-item" @click="selectStore(store.id)" :key="store.id" v-for="store in filteredStores">
                                         <img :src="store.logoURL" style="height: 40px; width: 40px" alt=""/>  <span style="margin-left: 15px">{{store.name}}</span>
                                    </p>
                                </div>

                                <div class="col_full" v-if="selectedStore.hasOwnProperty('id')">
                                    <input type="text" :placeholder="placeholder" @focus="Error = false" v-model.trim="product_name" class="sm-form-control">
                                    <span class="formError" v-if="Error" v-text="message"></span>
                                </div>

                                <div class="shop-list">
                                    <p class="shop-item" @click.prevent="seeProduct(item)"  :key="item.id" v-for="item in filteredProducts">
                                        <img :src="item.images.length > 0 ? item.images[0].imageURL : ''"
                                             style="height: 40px; width: 40px" alt=""/>  <span style="margin-left: 15px">{{item.name}}</span>
                                    </p>
                                </div>



                                <shop-item
                                        v-if="openProductModal"
                                    :service="service"
                                    :shopName="selectedStore.name"
                                    :currentCart="thismainCart"
                                    :substituteMode="substituteMode"
                                    :substituteAddToProduct="substituteAddToProduct"
                                    :mainCartIndexForSubstitute="mainCartIndexForSubstitute"
                                    :product="selectedProduct"
                                        @close="openProductModal = false"
                                        @productAdded="productAdded"
                                        @substituteAdded="substituteAdded"
                                />


                            </slot>
                        </div>

                        <!--<div class="modal-footer">-->
                            <!--<slot name="footer">-->

                                <!--<div class="col_full">-->
                                    <!--<button class="button nomargin new-service" type="submit" @click.prevent="addCountry" value="submit">Add</button>-->
                                <!--</div>-->
                            <!--</slot>-->
                        <!--</div>-->


                    </form>

                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    import ShopItem from "./ShopItem";

    export default {
        components: {ShopItem},
        props : {
            serviceID : {
                type : String,
                required : true
            },
            stores : {
                type : Array,
                required : true
            },
            services : {
                type : Array,
                required : true
            },
            products : {
                type : Array,
                required : true
            },
            mainCart : {
                type : Array,
                required : true
            },
            selectedstore : {
                type : Object,
                required : true
            },
            substitutemode : {
                required : true
            },
            substituteIndex : {
                required : true
            }
        },
        data(){
            return {
                openProductModal : false,
                thismainCart : this.removeReferences(this.mainCart),
                plus :'+',
                store_name : '',
                product_name : '',
                code : '',
                slug: '',
                Error : false,
                codeError : false,
                message : '',
                selectedStore : this.selectedstore,
                selectedProduct : {},

                substituteMode : this.substitutemode,
                substituteAddToProduct : {},
                mainCartIndexForSubstitute : this.substituteIndex,
            }
        },
        computed : {
            filteredProducts(){
                return this.products.filter(item => {
                    if(this.product_name !== '' && item.name.toLowerCase().indexOf(this.product_name.toLowerCase()) !== -1 && item.storeID === this.selectedStore.id){
                        return item;
                    }
                })
            },
            filteredStores(){
                return this.stores.filter(item => {
                    if(this.store_name !== '' && item.name.toLowerCase().indexOf(this.store_name.toLowerCase()) !== -1 && item.serviceID === this.serviceID){
                        return item;
                    }
                })
            },
            service(){
                let currentService = '';
                this.services.forEach(item => {
                    if(item.id === this.serviceID)
                        currentService = {...item}
                })
                return currentService;
            },
            placeholder(){
                if(this.selectedStore.hasOwnProperty('id'))
                return 'Search product in ' + this.selectedStore.name ;

                return 'Search Product'
            }
        },
        methods:{
            substituteAdded(newCart){
                this.openProductModal = false;
                this.thismainCart = newCart;
                this.$emit('cartUpdated' , this.removeReferences(this.thismainCart));
                this.$emit('close');
            },
            productAdded(newCart){
                this.openProductModal = false;
                this.thismainCart = this.removeReferences(newCart);
                this.$emit('cartUpdated' , this.removeReferences(this.thismainCart));
            },
            seeProduct(data){
               this.selectedProduct = this.removeReferences(data);
                 this.product_name = '';
               this.openProductModal = true;
            },
            flashStore(){
              this.selectedStore = {};
            },
            selectStore(ID){
                this.stores.forEach(item => {
                    if(item.id === ID){
                        this.selectedStore = {...item}
                    }
                })

                this.store_name = '';
            },
            close(){
                this.$emit('close');
            },
            keyhander(event){
                // console.log(event.key);
                if((event.keyCode > 64 && event.keyCode < 91) || event.key === 'Backspace'){

                } else {
                    event.preventDefault();
                }

            },
            countryExist(slug){
                let exist = false;
                this.countries.forEach(item => {
                    if(item.slug === slug){
                        exist = true;
                    }
                })
                return exist;
            },
            formatCode(event){
                if(event.key === 'Backspace'){

                }
                else if(this.code.length >= 4) {
                    event.preventDefault();
                }
                else if(!isNaN(event.key)){

                } else {
                    event.preventDefault();
                }
            },
            addCountry(){
                let self = this , error = [];

                self.slug = self.name.toLowerCase();

                if(self.name.length <3){
                    self.Error = true;
                    this.message = "Country name can't be less than 3 characters";
                } else if(self.code.length < 1){
                    self.codeError = true;
                    this.message = "Country code is required";
                } else if(this.countryExist(self.slug)){
                    self.Error = true;
                    this.message = "This Country name already exists";
                }
                else {
                    this.$emit('save' , {
                        name : self.name,
                        slug : self.slug,
                        country_code : '+' + self.code
                    })
                }

                // if(!self.errors.includes(true)){
                //     this.$emit('save' ,this.names)
                // }

                //this.$emit('code' ,this.code)
            }
        }
    }
</script>

<style scoped>
    .close-item{
        margin-top: 6px;
        margin-left: 3px;
    }
    .store{
        color : rgb(7, 199, 72)
    }

    .shop-list{
        min-width: 440px;
        transform-origin: center bottom 0px;
        z-index: 2032;
        position: absolute;
        //top: 327px;
    }

    .shop-item{
        border: 1px solid #DDD;
        cursor: pointer;
        margin-bottom: 5px;
    }
    .new-service{
        background-color: #fe6500;
        border-color: #fe6500;
        color: #FFFFFF !important;
    }
    .input-error{
        border: 2px solid #ff6600;
    }
    .formError{
        font-size: 12px;
        color: #ff6600;
        padding-left: 20px;
        margin-bottom: 0px;
    }
    #submit-btn{
        display: block;
        margin: 0 auto !important;
        background-color: #ff924b !important;
    }
    .terms{
        color: #ff924b;
    }
    .modal-header{
        display: block !important;
    }
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        //vertical-align: middle;
    }

    .modal-container {
        width: 80%;
        min-height: 800px;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
        height: auto;
    }





    .modal-header h3 {
        margin-top: 0;
        color: #000;
        text-align: center;
        margin-bottom: 10px;
    }
    .modal-header p {
        width: 55%;
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
        color: #80808082;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }


    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .modal-header{
        border-bottom: 0px;
    }

    .modal-footer{
        border-top: 0px;
    }

    .select-shop-button{
        max-width: 80px;
        font-size: 12px;
    }

</style>