<template>
  <div class="side-menu">
    <nav class="navbar navbar-default" role="navigation">
      <!-- Main Menu -->
      <div class="side-menu-container">
        <ul class="nav nav-list">

          <li><label class="tree-toggler nav-header">General</label>
            <ul class="nav nav-list tree" :class="{'tab-open' : generalTab}">
              <li><nuxt-link to="/admin/dashboard/general">Homepage Info</nuxt-link></li>
              <li><nuxt-link to="/admin/dashboard/general/success-story/">Success Story</nuxt-link></li>
            </ul>
          </li>
          <li><label class="tree-toggler nav-header">Order</label>
            <ul class="nav nav-list tree" :class="{'tab-open' : orderTab}">
              <li><nuxt-link to="/admin/dashboard/order/all">All Order</nuxt-link></li>
            </ul>
          </li>
          <li><label class="tree-toggler nav-header">Payment</label>
            <ul class="nav nav-list tree" :class="{'tab-open' : paymentTab}">
              <li><nuxt-link to="/admin/dashboard/payment/all">store</nuxt-link></li>
            </ul>
          </li>
          <li><label class="tree-toggler nav-header">Reconciliation</label>
            <ul class="nav nav-list tree" :class="{'tab-open' : reconciliationTab}">
              <li><nuxt-link to="/admin/dashboard/reconciliation/all">store</nuxt-link></li>
            </ul>
          </li>
          <li class="single"><nuxt-link class="single-nav" to="/admin/dashboard/sales/all">Sales</nuxt-link></li>
          <li><label class="tree-toggler nav-header">Stores</label>
            <ul class="nav nav-list tree" :class="{'tab-open' : storeTab}">
              <li><nuxt-link to="/admin/dashboard/store/pending-store">Pending Stores</nuxt-link></li>
              <li><nuxt-link to="/admin/dashboard/store/all-store">All Stores</nuxt-link></li>
            </ul>
          </li>
          <li><label class="tree-toggler nav-header">Service</label>
            <ul class="nav nav-list tree" :class="{'tab-open' : serviceTab}">
              <li><nuxt-link to="/admin/dashboard/services">Services List</nuxt-link></li>
              <li><nuxt-link to="/admin/dashboard/services/create">Add Service</nuxt-link></li>
              <li><nuxt-link to="/admin/dashboard/services/categories/create">Add Service Category</nuxt-link></li>
            </ul>
          </li>

          <li><label class="tree-toggler nav-header">Voucher</label>
            <ul class="nav nav-list tree" :class="{'tab-open' : voucherTab}">
              <li><nuxt-link to="/admin/dashboard/voucher/list">Voucher List</nuxt-link></li>
              <li><nuxt-link to="/admin/dashboard/voucher/create">Create Voucher</nuxt-link></li>
            </ul>
          </li>

          <li><label class="tree-toggler nav-header">Service locations</label>
            <ul class="nav nav-list tree" :class="{'tab-open' : locationTab}">
              <li><nuxt-link to="/admin/dashboard/location/list">Service Location</nuxt-link></li>
              <li><nuxt-link to="/admin/dashboard/location/zone/list">Service Zone</nuxt-link></li>
            </ul>
          </li>

          <li><label class="tree-toggler nav-header">Delivery</label>
            <ul class="nav nav-list tree" :class="{'tab-open' : deliveryTab}">
              <li><nuxt-link to="/admin/dashboard/delivery/methods">Delivery Methods</nuxt-link></li>
            </ul>
          </li>

          <li class="single"><nuxt-link class="single-nav" to="/admin/dashboard/customers/all">Customers</nuxt-link></li>

          <li class="single"><nuxt-link class="single-nav" to="/admin/dashboard/search-history/all">Search History</nuxt-link></li>

          <li><label class="tree-toggler nav-header">Events</label>
            <ul class="nav nav-list tree" :class="{'tab-open' : eventTab}">
              <!--<li><nuxt-link to="/admin/dashboard/event/lists">Event lists</nuxt-link></li>-->
              <li><nuxt-link to="/admin/dashboard/event/banners">Event banners</nuxt-link></li>
              <li><nuxt-link to="/admin/dashboard/event/lists">Current Events</nuxt-link></li>
            </ul>
          </li>

          <li><label class="tree-toggler nav-header">Newspaper</label>
            <ul class="nav nav-list tree" :class="{'tab-open' : newsTab}">
              <li><nuxt-link to="/admin/dashboard/newspaper/lists">NewsPaper lists</nuxt-link></li>
            </ul>
          </li>

        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

  </div>
</template>

<script>
export default {
 data() {
  return{

  }
},
    computed : {
     generalTab(){
         if(this.$route.name.lastIndexOf('general') !== -1)
             return true;

         return   false;
     },
        serviceTab(){
            if(this.$route.name.lastIndexOf('services') !== -1)
                return true;

            return   false;
        },
        storeTab(){
            if(this.$route.name.lastIndexOf('store') !== -1)
                return true;

            return   false;
        },
        voucherTab(){
            if(this.$route.name.lastIndexOf('voucher') !== -1)
                return true;

            return   false;
        },
        locationTab(){
            if(this.$route.name.lastIndexOf('location') !== -1)
                return true;

            return   false;
        },
        deliveryTab(){
            if(this.$route.name.lastIndexOf('delivery') !== -1)
                return true;

            return   false;
        },
        eventTab(){
            if(this.$route.name.lastIndexOf('event') !== -1)
                return true;

            return   false;
        },
        newsTab(){
            if(this.$route.name.lastIndexOf('newspaper') !== -1)
                return true;

            return   false;
        },
        orderTab(){
            if(this.$route.name.lastIndexOf('order') !== -1)
                return true;

            return   false;
        },
        paymentTab(){
            if(this.$route.name.lastIndexOf('payment') !== -1)
                return true;

            return   false;
        },
        reconciliationTab(){
            if(this.$route.name.lastIndexOf('reconciliation') !== -1)
                return true;

            return   false;
        }
    },
mounted(){
  $('label.tree-toggler').click(function () {
    $(this).parent().children('ul.tree').toggle(300);
  });
}
}
</script>


<style scoped>
  .single{
    margin-bottom: 6px;
  }
  .single-nav{
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #555;
  }
.side-menu {
  position: relative;
  width: 100%;
  height: 100%;
  border-right: 1px solid #e7e7e7;
  box-shadow: 5px 0 5px -5px #33333357;
}
.side-menu .navbar {
  border: none;
  padding: 2.5rem 1rem !important;
}
ul li {
  width: 100%;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 14px;
}
.tree {
    display: none;
}

a{
  color: grey;
}

.nuxt-link-exact-active{
  color: #fe6500;
}
  .tab-open{
    display: block;
  }


</style>
