<template>
    <div>
        <div class="container-fluid clearfix">
            <div>
                <span style="float: left">{{ user.name }}'s Chirag</span>
                <span style="float: right"><a href="#" @click.prevent="signout">Sign out</a></span>
                <span v-if="valid" style="float: right; margin-right: 50px"><a class="btn btn-primary proceed-button" @click.prevent="showWarning">Switch to Admin</a></span>
            </div>
        </div>
        <warning :message="message"
                 :id="removeID"
                 :warningFor="warningFor"
                 v-if="warning"
                 @close="warning = false"
                 @remove="switchRole" />
    </div>

</template>

<script>
    import Warning from "./Warning";

    export default {
        components: {Warning},
        data(){
            return {
                warning : false,
                removeID : '',
                warningFor : '',
                message : '',
            }
        },
        computed : {
          valid(){
              if(this.user.mainRole === 'admin' && this.user.type === 'shop')
                  return true;

              return false;
          }
        },
        methods:{
            showWarning(){
                this.removeID = '';
                this.warningFor = 'switch';
                this.message = 'Please Confirm. I want to login as this admin';
                this.warning = true;
            },
            switchRole(data){
                let self = this;
                this.warning = false;
                this.$store.dispatch('auth/switchRole' , {shopID : '' , role : 'admin' , shopName : 'Admin'}).then(content => {
                    setTimeout(() => {
                        self.$router.push({path :  `/admin/dashboard/store/all-store`})
                    } , 800);
                })
            }
        }
    }
</script>

<style scoped>

    .proceed-button{
        font-size: 12px;
        background-color: green;
        border-color: green;
        min-width: 60px;
        min-height: 20px;
        color: #FFFFFF !important;
    }
</style>