<template>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-5 box">
                <div>
                    <span class="digit">
                        {{ total_order_amount }}
                    </span>
                    <br>
                    <span class="lower-heading">Total Order's Amount</span>
                </div>
            </div>
            <div class="col-md-5 box">
                <div>
                    <span class="digit">
                        {{ total_store_paid_amount }}
                    </span>
                    <br>
                    <span class="lower-heading">Total Store Paid Amount</span>
                </div>
            </div>
            <div class="col-md-5 box">
                <div>
                    <span class="digit">
                        {{ chiragRevenue }}
                    </span>
                    <br>
                    <span class="lower-heading">Chirags revenue</span>
                </div>
            </div>
            <div class="col-md-5 box">
                <div>
                    <span class="digit" :class="{ 'red' : !mode , 'green' : mode }">
                        &#36;{{ storeEarnSwtich }}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <nuxt-link :to="reconcileLink"><i class="el-icon-printer"></i></nuxt-link>
                    </span>
                    <br>
                    <span class="lower-heading">
                        {{ !mode ? 'Payable to store' : 'Recceivale from store' }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props : {
            payments : {
                type : Array,
                required : true
            },
            storeID : {

            },
            mode : {

            },
            reconcile_records : {

            }
        },
        data(){
            return {

            }
        },
        computed :{
            reconcileLink(){
              if(this.storeID){
                  return `/shop/dashboard/reconciliation/${this.storeID}/all`
              }

              return `/admin/dashboard/reconciliation/all`
            },
            total_order_amount(){
                let count = 0;
                this.payments.forEach(item => {

                    if(this.storeID){
                        if(this.storeID === item.storeID){
                            count = count + item.soldPrice;
                        }
                    }
                    else
                    count = count + item.soldPrice;
                })

                return this.roundNum2(count);
            },
          storeEarnSwtich(){
              let count = 0;
              this.payments.forEach(item => {
                  if(this.mode){
                      if(!item.reconciled){
                          if(this.storeID){
                              if(item.storeID === this.storeID)
                                  count = this.roundNum2(count + item.chiragEarn);
                          } else {
                              count = this.roundNum2(count + item.chiragEarn);
                          }
                      }

                  }
                  else {

                      if(!item.reconciled){
                          if(this.storeID){
                              if(item.storeID === this.storeID)
                                  count = this.roundNum2(count + item.storeEarn);
                          } else {
                              count = this.roundNum2(count + item.storeEarn);
                          }
                      }
                  }

              })
              return count;
          },
            chiragRevenue(){
                let count = 0;
                this.payments.forEach(item => {
                    if(this.storeID){
                        if(this.storeID === item.storeID)
                            count = this.roundNum2(count + item.chiragEarn);
                    } else {
                        count = this.roundNum2(count + item.chiragEarn);
                    }

                })
                return count;
            },
            total_store_paid_amount(){
                let count = 0;
                this.reconcile_records.forEach(item => {
                            if(this.storeID){
                                if(this.storeID === item.storeID){
                                    count = count + this.roundNum2(item.storeEarn);
                                }
                            } else {
                                count = count + this.roundNum2(item.storeEarn);
                            }

                })
                return this.roundNum2(count);
            }
        },
        created(){

        }
    }
</script>

<style scoped>
    .red{
        color: red !important;
    }

    .green{
        color: #07c748 !important;
    }
    .lower-heading{
        font-size: 10px;
        font-weight: bold;
    }
    .digit{
        font-size: 13px;
        font-weight: bold;
        color: #0a0a0a;
    }
    .box {
        max-width: 260px;
        margin: 0px auto;
        display: block;
        padding-right: 0px !important;
    }
    .box div{
        margin-top: 15px;
        margin-right: 5px !important;
        padding: 5px;
        padding-left: 20px;
        background-color: #ffffff;
        border-color: #BD362F !important;
        width: 150px;
        height: 80px;

    }
</style>