<template>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-5 box">
                <div>
                    <span class="digit">
                        {{ orders.length }}
                    </span>
                    <br>
                    <span class="lower-heading">Total Order received</span>
                </div>
            </div>
            <div class="col-md-5 box">
                <div>
                    <span class="digit">
                        {{ product_count }}
                    </span>
                    <br>
                    <span class="lower-heading">Product Count</span>
                </div>
            </div>
            <div class="col-md-5 box">
                <div>
                    <span class="digit">
                        {{ delivered }}
                    </span>
                    <br>
                    <span class="lower-heading">Total Order delivered</span>
                </div>
            </div>
            <div class="col-md-5 box">
                <div>
                    <span class="digit" style="color: red">
                        {{ cancelled }}
                    </span>
                    <br>
                    <span class="lower-heading">Cancelled Order</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props : {
            orders : {
                type : Array,
                required : true
            },
            storeID : {

            }
        },
        data(){
            return {

            }
        },
        computed :{
          cancelled(){
              let count = 0;
              this.orders.forEach(item => {
                  if(this.storeID){
                      if(item.status === 'cancelled' && Object.keys(item.orderStatus).includes(this.storeID))
                          count++;
                  }
                  else {
                      if(item.status === 'cancelled')
                          count++;
                  }

              })
              return count;
          },
            delivered(){
                let count = 0;
                this.orders.forEach(item => {


                    if(this.storeID){
                        if(item.orderStatus[this.storeID] === 'order-complete')
                            count++;
                    }
                    else {
                        if(item.status === 'order-complete')
                            count++;
                    }
                })
                return count;
            },
            product_count(){
                let count = 0;
                this.orders.forEach(item => {

                    if(this.storeID){
                        if(item.orderStatus[this.storeID] === 'order-complete'){
                            item.order.cart.forEach(product => {
                                if(product.storeID === this.storeID)
                                count = count + product.productQty;
                            })
                        }

                    }
                    else {
                        if(item.status === 'order-complete')
                        {
                            item.order.cart.forEach(product => {
                                count = count + product.productQty;
                            })
                        }

                    }
                })
                return count;
            }
        },
        created(){

        }
    }
</script>

<style scoped>
    .lower-heading{
        font-size: 10px;
        font-weight: bold;
    }
    .digit{
        font-size: 13px;
        font-weight: bold;
        color: #0a0a0a;
    }
    .box {
        max-width: 260px;
        margin: 0px auto;
        display: block;
        padding-right: 0px !important;
    }
    .box div{
        margin-top: 15px;
        margin-right: 5px !important;
        padding: 5px;
        padding-left: 20px;
        background-color: #ffffff;
        border-color: #BD362F !important;
        width: 150px;
        height: 80px;

    }
</style>