<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <button type="button" class="close" @click="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <div class="modal-header">
                        <slot name="header">
                        </slot>
                    </div>

                    <form class="nobottommargin" novalidate="novalidate">
                        <div class="modal-body">
                            <slot name="body">

                                <div class="col_full">
                                    <p>Country Name</p>
                                    <input type="text" @focus="Error = false" v-on:keydown="keyhander" v-model.trim="name" class="sm-form-control">
                                    <span class="formError" v-if="Error" v-text="message"></span>
                                </div>
                                <div class="col_full">
                                    <p>Country code</p>
                                    <input type="text" v-model="plus" readonly class="form-control" style="display: inline-block; width: 35px">
                                    <input type="text" @keydown="formatCode" @focus="codeError = false" v-model.trim.number="code" class="sm-form-control" style="display: inline-block; width: 130px">
                                    <span class="formError" v-if="codeError" v-text="message"></span>
                                </div>


                            </slot>
                        </div>

                        <div class="modal-footer">
                            <slot name="footer">

                                <div class="col_full">
                                    <button class="button nomargin new-service" type="submit" @click.prevent="addCountry" value="submit">Add</button>
                                </div>
                            </slot>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        props : {
            countries : {
                type : Array,
                required : true
            }
        },
        data(){
            return {
                plus :'+',
                name : '',
                code : '',
                slug: '',
                Error : false,
                codeError : false,
                message : ''
            }
        },
        methods:{
            close(){
                this.$emit('close');
            },
            keyhander(event){
               // console.log(event.key);
                if((event.keyCode > 64 && event.keyCode < 91) || event.key === 'Backspace'){

                } else {
                    event.preventDefault();
                }

            },
            countryExist(slug){
                let exist = false;
                this.countries.forEach(item => {
                    if(item.slug === slug){
                        exist = true;
                    }
                })
                return exist;
            },
            formatCode(event){
                if(event.key === 'Backspace'){

                }
                else if(this.code.length >= 4) {
                    event.preventDefault();
                }
                else if(!isNaN(event.key)){

                } else {
                    event.preventDefault();
                }
            },
            addCountry(){
                let self = this , error = [];

                self.slug = self.name.toLowerCase();

                if(self.name.length <3){
                    self.Error = true;
                    this.message = "Country name can't be less than 3 characters";
                } else if(self.code.length < 1){
                    self.codeError = true;
                    this.message = "Country code is required";
                } else if(this.countryExist(self.slug)){
                    self.Error = true;
                    this.message = "This Country name already exists";
                }
                else {
                    this.$emit('save' , {
                        name : self.name,
                        slug : self.slug,
                        country_code : '+' + self.code
                    })
                }

                // if(!self.errors.includes(true)){
                //     this.$emit('save' ,this.names)
                // }

                //this.$emit('code' ,this.code)
            }
        }
    }
</script>

<style scoped>
    .new-service{
        background-color: #fe6500;
        border-color: #fe6500;
        color: #FFFFFF !important;
    }
    .input-error{
        border: 2px solid #ff6600;
    }
    .formError{
        font-size: 12px;
        color: #ff6600;
        padding-left: 20px;
        margin-bottom: 0px;
    }
    #submit-btn{
        display: block;
        margin: 0 auto !important;
        background-color: #ff924b !important;
    }
    .terms{
        color: #ff924b;
    }
    .modal-header{
        display: block !important;
    }
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 600px;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #000;
        text-align: center;
        margin-bottom: 10px;
    }
    .modal-header p {
        width: 55%;
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
        color: #80808082;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }

    /*
     * The following styles are auto-applied to elements with
     * transition="modal" when their visibility is toggled
     * by Vue.js.
     *
     * You can easily play with the modal transition by editing
     * these styles.
     */

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .modal-header{
        border-bottom: 0px;
    }

    .modal-footer{
        border-top: 0px;
    }

</style>