<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <button type="button" class="close" @click="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <div class="modal-header">
                        <slot name="header">
                        </slot>
                    </div>

                    <form class="nobottommargin" novalidate="novalidate">
                        <div class="modal-body">
                            <slot name="body">

                                <div class="col_full">
                                    <p>Delivery Method Name</p>
                                    <input type="text" @focus="Error = false" v-model.trim="name" class="sm-form-control">
                                    <span class="formError" v-if="Error" v-text="message"></span>
                                </div>

                                <div class="col_full">
                                    <p>Charge</p>
                                    <input @change="check" v-model.trim="charge" class="sm-form-control">
                                </div>
                                <div class="col_full">
                                    <p>Benificiary</p>
                                    <select v-model="beneficiary" class="sm-form-control">
                                        <option value="chirag">Aladins Chirag</option>
                                        <option value="store">Store Owner</option>
                                        <option value="none">None</option>
                                    </select>
                                </div>


                            </slot>
                        </div>

                        <div class="modal-footer">
                            <slot name="footer">

                                <div class="col_full">
                                    <button class="button nomargin new-service" type="submit" @click.prevent="addMethod" value="submit">
                                        {{ method.hasOwnProperty('id') ? 'Update' : 'Add' }}
                                    </button>
                                </div>
                            </slot>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        props : {
            method : {}
        },
        data(){
            return {
                name : this.method.hasOwnProperty('id') ? this.method.name : '',
                charge: this.method.hasOwnProperty('id') ? Number(this.method.charge) : 0,
                beneficiary : this.method.hasOwnProperty('id') ? this.method.beneficiary : 'chirag',
                Error : false,
                message : ''
            }
        },
        methods:{
            close(){
                this.$emit('close');
            },
            check(){
                var charge = isNaN(this.charge) || this.charge === '' ? 0 : this.charge;
                this.charge = charge < 0 ? charge * (-1) : charge;
            },
            addMethod(){
                let self = this;

                if(self.name.length <3){
                    self.Error = true;
                    this.message = "Delivery Method Name can't be less than 3 characters";
                }
                else {
                    if(self.method.hasOwnProperty('id')){
                        this.$emit('update' , {
                            id : self.method.id,
                            name : self.name,
                            charge : self.charge,
                            beneficiary : self.beneficiary
                        })
                    }else {
                        this.$emit('save' , {
                            name : self.name,
                            charge : self.charge,
                            beneficiary : self.beneficiary
                        })
                    }

                }

                // if(!self.errors.includes(true)){
                //     this.$emit('save' ,this.names)
                // }

                //this.$emit('code' ,this.code)
            }
        }
    }
</script>

<style scoped>
    .new-service{
        background-color: #fe6500;
        border-color: #fe6500;
        color: #FFFFFF !important;
    }
    .input-error{
        border: 2px solid #ff6600;
    }
    .formError{
        font-size: 12px;
        color: #ff6600;
        padding-left: 20px;
        margin-bottom: 0px;
    }
    #submit-btn{
        display: block;
        margin: 0 auto !important;
        background-color: #ff924b !important;
    }
    .terms{
        color: #ff924b;
    }
    .modal-header{
        display: block !important;
    }
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 600px;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #000;
        text-align: center;
        margin-bottom: 10px;
    }
    .modal-header p {
        width: 55%;
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
        color: #80808082;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }

    /*
     * The following styles are auto-applied to elements with
     * transition="modal" when their visibility is toggled
     * by Vue.js.
     *
     * You can easily play with the modal transition by editing
     * these styles.
     */

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .modal-header{
        border-bottom: 0px;
    }

    .modal-footer{
        border-top: 0px;
    }

</style>