<template>
	<article v-if="showFlash" class="alert alert-flash" :class="alertBox">
	  <!--<div class="message-header">-->
	    <!--<p>Success</p>-->
	  <!--</div>-->
	  <div class="message-body">
	    {{ flash.message }}
	  </div>
	</article>
</template>

<script>
    import {mapGetters} from 'vuex'
    export default {
    	watch : {
            flash(newVal , oldVal){
                setTimeout(() => {
                    this.$store.dispatch('flash' , {
                        message : '',
                        type : ''
                    })
				} , 4000)

			}
		},
        computed : {
            ...mapGetters({
                flash : 'flash'
            }),
            showFlash(){
                if(this.flash.message !== '')
                     return true;

                return false;
            },
            alertBox: function () {
                return {
                    'alert-success': this.flash.type === 'success',
                    'alert-danger': this.flash.type === 'danger'
                }
            }

        }
        
    }
</script>

<style type="text/css" scoped>
	 .alert-flash{
	 	position: fixed;
	 	right: 25px;
	 	top: 120px;
	 	min-width: 200px;
	 }
	.message-body{
		font-weight: bold;
	}
</style>