<template>
    <div class="row service-section">
        <div class="col-md-2 input-title">
        </div>
        <div class="col-md-7 error">
            <slot></slot>
        </div>

    </div>
</template>

<script>
    export default {
    }
</script>

<style scoped>
    .error{
        font-size: 12px;
        color: #fe6500;
    }
    .service-section{
        margin-top: 10px;
    }
    .input-title{
        padding-top : 10px;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 5px;
        margin-bottom: 5px;
    }
</style>