<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <button type="button" class="close" @click="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <div class="modal-header">
                        <slot name="header">
                        </slot>
                    </div>

                    <form class="nobottommargin" novalidate="novalidate">
                        <div class="modal-body">
                            <slot name="body">

                                <div class="col_full">
                                    <p>NewsPaper Name</p>
                                    <input type="text" @focus="Error.name = false" v-model.trim="currentNewspaper.name" class="sm-form-control">
                                    <span class="formError" v-if="Error.name">Newpaper Name required</span>
                                </div>
                                <div class="col_full">
                                    <p>Country</p>
                                    <select v-model="currentNewspaper.countryId" class="form-control">
                                        <option :value="country.id" v-for="country in  countries">{{country.name}}</option>
                                    </select>
                                </div>

                                <div class="col_full">
                                    <p>NewsPaper URL</p>
                                    <input type="text" @focus="Error.url = false" v-model.trim="currentNewspaper.newsURL" class="sm-form-control">
                                    <span class="formError" v-if="Error.url">Newpaper url required</span>
                                </div>


                            </slot>
                        </div>

                        <div class="modal-footer">
                            <slot name="footer">

                                <div class="col_full">
                                    <button class="button nomargin new-service" type="submit" @click.prevent="save" value="submit">{{mode}}</button>
                                </div>
                            </slot>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        props : {
            countries : {
                type : Array,
                required : true
            },
            newspaper : {
                type: Object
            },
            mode : {
                type : String
            }
        },
        data(){
            return {
                plus :'+',
                currentNewspaper : {
                    name : this.newspaper.name ? this.newspaper.name : '',
                    newsURL : this.newspaper.newsURL ? this.newspaper.newsURL : '',
                    countryId : this.newspaper.countryId ? this.newspaper.countryId : this.countries[0].id,
                },
                code : '',
                slug: '',
                Error : {
                    name : false,
                    url : false
                },
                codeError : false,
                message : ''
            }
        },
        methods:{
            close(){
                this.$emit('close');
            },
            keyhander(event){
               // console.log(event.key);
                if((event.keyCode > 64 && event.keyCode < 91) || event.key === 'Backspace'){

                } else {
                    event.preventDefault();
                }

            },
            countryExist(slug){
                let exist = false;
                this.countries.forEach(item => {
                    if(item.slug === slug){
                        exist = true;
                    }
                })
                return exist;
            },
            formatCode(event){
                if(event.key === 'Backspace'){

                }
                else if(this.code.length >= 4) {
                    event.preventDefault();
                }
                else if(!isNaN(event.key)){

                } else {
                    event.preventDefault();
                }
            },
            save(){
                let self = this;

                if(self.currentNewspaper.name.length <1){
                    self.Error.name = true;
                } else if(self.currentNewspaper.newsURL < 1){
                    self.Error.url = true;
                }
                else {

                    if(self.mode === 'Edit'){
                        self.$emit('update' , {
                            id : self.newspaper.id,
                            name : self.currentNewspaper.name,
                            newsURL : self.currentNewspaper.newsURL,
                            countryId : self.currentNewspaper.countryId,
                        })
                    } else {
                        self.$emit('create' , {
                            name : self.currentNewspaper.name,
                            newsURL : self.currentNewspaper.newsURL,
                            countryId : self.currentNewspaper.countryId,
                        })
                    }

                }

                // if(!self.errors.includes(true)){
                //     this.$emit('save' ,this.names)
                // }

                //this.$emit('code' ,this.code)
            }
        }
    }
</script>

<style scoped>
    .new-service{
        background-color: #fe6500;
        border-color: #fe6500;
        color: #FFFFFF !important;
    }
    .input-error{
        border: 2px solid #ff6600;
    }
    .formError{
        font-size: 12px;
        color: #ff6600;
        padding-left: 20px;
        margin-bottom: 0px;
    }
    #submit-btn{
        display: block;
        margin: 0 auto !important;
        background-color: #ff924b !important;
    }
    .terms{
        color: #ff924b;
    }
    .modal-header{
        display: block !important;
    }
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 600px;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #000;
        text-align: center;
        margin-bottom: 10px;
    }
    .modal-header p {
        width: 55%;
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
        color: #80808082;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }

    /*
     * The following styles are auto-applied to elements with
     * transition="modal" when their visibility is toggled
     * by Vue.js.
     *
     * You can easily play with the modal transition by editing
     * these styles.
     */

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .modal-header{
        border-bottom: 0px;
    }

    .modal-footer{
        border-top: 0px;
    }

</style>