<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <button type="button" class="close" @click="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <div class="modal-header">
                        <slot name="header">
                        </slot>
                    </div>

                    <form class="nobottommargin" novalidate="novalidate">
                        <div class="modal-body">
                            <slot name="body">

                                <div v-for="(item , index) in mandatoryVariants">
                                    <h4 v-if="item.type === 'mandatory'">{{item.title}}</h4>
                                    <div v-if="item.optionType === 'radio' && item.type === 'mandatory'">
                                        <div v-for="option in item.options">
                                            <input type="radio" v-model="messages[index]" :value="option.name"  > {{option.name}}
                                        </div>

                                    </div>
                                    <div v-if="item.optionType === 'checkbox' && item.type === 'mandatory'">
                                        <div v-for="option in item.options">
                                            <input type="checkbox" v-model="messages[index]" :value="option.name"  > {{option.name}}
                                        </div>

                                    </div>
                                </div>


                            </slot>
                        </div>

                        <div class="modal-footer">
                            <slot name="footer">

                                <div class="col_full">
                                    <button class="button nomargin proceed-button" type="submit" @click.prevent="save" name="template-contactform-submit" value="submit">save</button>
                                </div>
                                <div v-if="Error" class="col_full" style="font-size: 12px; color: #fe6500;">Please select the appropriate fields</div>
                            </slot>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        props : {
            product : {
                type : Object,
                required : true
            }
        },
        data(){
            return {
                variant : this.product.variants,
                title : '',
                Error : false,
                messages : []
            }
        },
        computed : {
          mandatoryVariants(){
              return this.variant.filter(item => {
                  if(item.type === 'mandatory')
                      return item;
              })
          }
        },
        methods:{
            close(){
                this.$emit('close');
            },

            save(){
                let self = this , error = [];
                this.Error = false;

                self.messages.forEach((item , index) => {

                    if(self.messages[index].length === 0)
                            error.push(1)

                })


                if(error.length !== 0){
                    this.Error = true;
                } else {
                    var messages = '';
                    self.messages.forEach((item , index) => {
                        if(typeof item === 'string')
                            messages += `${self.variant[index].title} : ${item} ,`;
                        else {
                            messages += `${self.variant[index].title} : `;
                            item.forEach(data => {
                                messages += `${data} ,`;
                            })

                        }
                    })
                    this.$emit('save' , {
                        product : self.product,
                        variant : messages
                    })
                }


            }
        },
        created(){
            this.variant.forEach(item => {
                if(item.type === 'optional')
                    return;
                if(item.optionType === 'radio')
                this.messages.push('')
                else
                    this.messages.push([])

            })
        }
    }
</script>

<style scoped>
    .proceed-button{
        background-color: #fe6500;
        border-color: #fe6500;
        min-width: 80px;
        min-height: 40px;
    }
    h4{
        margin-top: 25px !important;
        margin-bottom: 5px !important;
    }
    .input-error{
        border: 2px solid #ff6600;
    }
    .formError{
        font-size: 12px;
        color: #ff6600;
        padding-left: 20px;
        margin-bottom: 0px;
    }
    #submit-btn{
        display: block;
        margin: 0 auto !important;
        background-color: #ff924b !important;
    }
    .terms{
        color: #ff924b;
    }
    .modal-header{
        display: block !important;
    }
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 600px;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #000;
        text-align: center;
        margin-bottom: 10px;
    }
    .modal-header p {
        width: 55%;
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
        color: #80808082;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }

    /*
     * The following styles are auto-applied to elements with
     * transition="modal" when their visibility is toggled
     * by Vue.js.
     *
     * You can easily play with the modal transition by editing
     * these styles.
     */

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .modal-header{
        border-bottom: 0px;
    }

    .modal-footer{
        border-top: 0px;
    }

</style>