<template>
    <div class="container">


        <!--<h4 class="topmargin" style="text-align: center">Current Order Status</h4>-->
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-9">

                <div class="order-status-img">
                    <div class="divider noborder" style="color: #0a0a0a; margin-left: -33px">order received</div>
                    <div class="divider noborder" style="color: #0a0a0a; ">shopper started picking</div>
                    <div class="divider noborder" style="color: #0a0a0a; ">waiting deliver</div>
                    <div class="divider noborder" style="color: #0a0a0a; ">order on your way</div>
                    <div class="divider noborder" style="color: #0a0a0a; ">order complete</div>
                </div>

                <div class="clear"></div>

                <div class="order-status-img">
                    <div class="divider noborder"><img src="~/assets/images/icons/clipboard.svg" /></div>
                    <div class="divider noborder"><img src="~/assets/images/icons/trolley.svg" /></div>
                    <div class="divider noborder"><img src="~/assets/images/icons/shopping-bag.svg" /></div>
                    <div class="divider noborder"><img src="~/assets/images/icons/delivery-truck-1.svg" /></div>
                    <div class="divider noborder"><img src="~/assets/images/icons/bill.svg" /></div>
                </div>

                <div class="clear"></div>

                <div class="order-status-divider">
                    <div class="divider divider-short"><i class="i-circled i-small " :class="className(0)"></i></div>
                    <div class="divider divider-short"><i class="i-circled i-small " :class="className(1)"></i></div>
                    <div class="divider divider-short"><i class="i-circled i-small " :class="className(2)"></i></div>
                    <div class="divider divider-short"><i class="i-circled i-small " :class="className(3)"></i></div>
                    <div class="divider divider-short last-divider"><i class="i-circled i-small " :class="className(4)"></i></div>
                </div>

            </div>
            <div class="col-md-2"></div>
        </div>





    </div>
</template>

<script>
    export default {
        props : {
          status  : {
              type : String,
              required : true
          }
        },
        name: "order-progress",
        data(){
            return {
                progress : [
                    '',
                    '',
                    '',
                    '',
                    ''
                ]
            }
        },

        methods : {
          className(index){
              return {
                  'icon-ok' : this.progress[index] === 'done',
                  'greenbg' : this.progress[index] === 'done' ,
                  'orangebg' : this.progress[index] === 'current' ,
                  'icon-ellipsis-horizontal' : this.progress[index] === 'current',
                  'graybg' : this.progress[index] === 'left'
              }
          }
        },

        created(){
            let orderStatus = [
                'order-received',
                'shopper-started-picking',
                'waiting-deliver',
                'order-on-your-way',
                'order-complete'
            ];
            let position = orderStatus.indexOf(this.status);


            for(var i=0 ; i<5 ; i++){
                if(i<position || position === 4){
                    this.$set(this.progress , i ,  'done')
                } else if(i === position) {
                    this.$set(this.progress , i ,  'current')
                } else {
                    this.$set(this.progress , i ,  'left')
                }
            }
        }
    }
</script>

<style scoped>
    .topmargin { margin-top: 5px !important; }
    .orange{
        color: #ff6600;
    }
    .green{
        color: #07c748;
    }
    .orangebg, .i-circled.orangebg{
        background-color: #ff6600;
    }
    .greenbg, .i-circled.greenbg{
        background-color: #07c748;
    }
    .i-circled.graybg{
        background-color: #a5a3a3;
    }
    .i-circled.icon-circle.graybg{
        color: #a5a3a3;
        text-shadow: none !important;
    }
    tbody tr:hover td,tbody tr:hover th{
        background-color: #e3f8ea;
    }
    .divider{
        width: 20%;
        float: left;

    }
    .divider.divider-short:after{
        width: 100%;
    }
    .divider:after{
        left: 28px;
        top: 18px;
    }
    .last-divider:after{
        border-top: none;
    }
    .divider.noborder{
        margin-bottom: 0px;
    }
    .divider.noborder:after{
        border-top: none !important;
    }
    .order-status-img img {
        height: 30px;
    }
    .order-status-divider .divider{
        margin-top: 10px;
    }
</style>