<template>
        <nav>
            <ul class="pagination">
                <li class="page-item" :class="{'disabled' : disablePrevious}">
                    <a class="page-link"  @click.prevent="showPrevPage" tabindex="-1">Previous</a>
                </li>
                <li class="page-item" v-for="link in prevLinks">
                    <a class="page-link" @click.prevent="fetchSpecific(link)">{{link}}</a>
                </li>
                <li v-if="totalData > 0" class="page-item active">
                    <a class="page-link" @click.prevent="noaction">{{currentPage}}</a>
                </li>
                <li class="page-item" v-for="link in nextLinks">
                    <a class="page-link" @click.prevent="fetchSpecific(link)">{{link}}</a>
                </li>
                <li class="page-item" :class="{'disabled' : disableNext}">
                    <a class="page-link" @click.prevent="showNextPage">Next</a>
                </li>
            </ul>
        </nav>
</template>

<script>
    export default {
        props : {
            dataPerPage : {
                type : Number,
                required : true
            },
            totalData : {
                type : Number,
                required : true
            }
        },
        data(){
            return {
                currentPage : 1,
            }
        },
        computed : {
            disableNext(){
                let total = this.totalData;
                let count = total - (this.currentPage * this.dataPerPage);

                if(count <= 0)
                    return true;
                else
                    return false;
            },
            disablePrevious(){

                if(this.currentPage === 1)
                    return true;
                else
                    return false;
            },
            prevLinks(){
                let links =[];
                if(this.currentPage > 1){
                    for(var i = this.currentPage -1 ; i >= 1 ; i--){
                        links.splice(0, 0, i);

                        if(links.length === 4)
                            break;
                    }
                }

                return links;
            },
            nextLinks(){
                let links =[];
                    var temp = this.currentPage;

                    while(temp * this.dataPerPage < this.totalData){

                        links.push(++temp);
                        if(links.length === 4){
                            break;
                        }

                    }



                return links;
            }
        },
        methods : {
            showNextPage(){
                if(!this.disableNext)
                    this.currentPage++;

                this.fetch();
            },
            showPrevPage(){
                if(!this.disablePrevious)
                    this.currentPage--;

                this.fetch();
            },
            fetchSpecific(page){
                this.currentPage = page;
                this.$emit('fetch' , page);
            },

            fetch(){
                this.$emit('fetch' , this.currentPage);
            },
            noaction(){return ;}
        }
    }
</script>

<style scoped>
    .page-item.disabled .page-link {
        background-color: lightgray;
    }
</style>