<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <button type="button" class="close" @click="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <div class="modal-header">
                        <slot name="header">
                        </slot>
                    </div>

                    <form class="nobottommargin" novalidate="novalidate">
                        <div class="modal-body">
                            <slot name="body">
                                <div class="product-column" style="margin-bottom: 20px" >
                                    <div style="width: 5%; font-weight: bold"></div>
                                    <div style="width: 25%; font-weight: bold">Product Name</div>
                                    <div style="width: 25%; font-weight: bold ; text-align: center">Quantity</div>
                                    <div style="width: 25%; font-weight: bold ; text-align: center">price</div>

                                </div>

                                <div  class="product-column" v-for="(item , index) in productIDS">
                                    <div style="width: 5%; font-weight: bold">
                                        <img :src="productsMap[item.id].images.length > 0 ? productsMap[item.id].images[0].imageURL : ''"
                                             style="height: 40px; width: 40px" alt=""/>
                                    </div>
                                    <div style="width: 25%">{{ productsMap[item.id].name }}</div>
                                    <div style="width: 25% ; text-align: center">{{ item.quantity }}</div>
                                    <div style="width: 25%; text-align: center">{{ item.soldPrice }}</div>

                                </div>

                                <hr>

                                <div  class="product-column" >
                                    <div style="width: 5%; font-weight: bold">
                                    </div>
                                    <div style="width: 25%"></div>
                                    <div style="width: 25% ; text-align: center"></div>
                                    <div style="width: 25%; text-align: center">
                                        {{ totalPrice }}
                                    </div>

                                </div>

                            </slot>
                        </div>




                    </form>

                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        props : {
            productIDS : {
                type : Array,
                required : true
            },
            productsMap : {

            }
        },
        data(){
            return {

            }
        },
        computed : {
          totalPrice(){
              let price = 0;
              this.productIDS.forEach(item => {
                  price = this.roundNum2(price + Number(item.soldPrice) )
              })

              return price;
          }
        },
        methods:{

            close(){
                this.$emit('close');
            }
        }
    }
</script>

<style scoped>
    .product-column div{
        display: inline-block;
        padding: 5px;
    }
    .close-item{
        margin-top: 6px;
        margin-left: 3px;
    }
    .store{
        color : rgb(7, 199, 72)
    }

    .shop-list{
        min-width: 440px;
        transform-origin: center bottom 0px;
        z-index: 2032;
        position: absolute;
    //top: 327px;
    }

    .shop-item{
        border: 1px solid #DDD;
        cursor: pointer;
        margin-bottom: 5px;
    }
    .new-service{
        background-color: #fe6500;
        border-color: #fe6500;
        color: #FFFFFF !important;
    }
    .input-error{
        border: 2px solid #ff6600;
    }
    .formError{
        font-size: 12px;
        color: #ff6600;
        padding-left: 20px;
        margin-bottom: 0px;
    }
    #submit-btn{
        display: block;
        margin: 0 auto !important;
        background-color: #ff924b !important;
    }
    .terms{
        color: #ff924b;
    }
    .modal-header{
        display: block !important;
    }
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
    //vertical-align: middle;
    }

    .modal-container {
        width: 80%;
        min-height: 800px;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
        height: auto;
    }





    .modal-header h3 {
        margin-top: 0;
        color: #000;
        text-align: center;
        margin-bottom: 10px;
    }
    .modal-header p {
        width: 55%;
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
        color: #80808082;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }


    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .modal-header{
        border-bottom: 0px;
    }

    .modal-footer{
        border-top: 0px;
    }

    .select-shop-button{
        max-width: 80px;
        font-size: 12px;
    }

    .new-service {
        background-color: #fe6500;
        border-color: #fe6500;
        color: #FFFFFF !important;
    }

</style>