<template>
 <transition name="modal">
  <div class="modal-mask">
    <div class="modal-wrapper">
      <div class="modal-container">
        <button type="button" class="close" @click="$emit('close')" data-dismiss="alert" aria-hidden="true">×</button>
        <div class="modal-header">
          <slot name="header">
            <div class="fancy-title title-dotted-border" v-if="displaySection1">
              <h3>{{product.name}}</h3>
            </div>
          </slot>
        </div>
        <div class="modal-body">
          <slot name="body">
            <div class="section-1" v-if="displaySection1">
             <div class="single-product shop-quick-view-ajax clearfix">
              <div class="product modal-padding clearfix">
                <div class="col_one_third nobottommargin">
                  <div class="product-image">
                    <div v-if="product.images.length>1" class="fslider" data-pagi="false">
                      <div class="flexslider">
                       <ul class="slides">
                        <li v-for="(img, index) in product.images">
                          <img :src="img.imageURL" />
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div v-else-if="product.images.length == 1">
                    <a v-for="(img, index) in product.images">
                      <img :src="product.images[0].imageURL" :alt="product.name" />
                    </a>
                  </div>
                  <div v-else>
                    <img src="https://via.placeholder.com/480x319">
                  </div>
                  <!--div class="sale-flash">50% Off*</div-->
                </div>
              </div>
              <div class="col_two_third nobottommargin col_last product-desc">
                <div class="product-price">
                  <del v-if="product.discount_type !=='no'">${{product.price}}</del>
                  <ins>${{product.discounted_price.toFixed(2)}}</ins>
                </div>
                <div class="clear"></div>
                <div class="line"></div>

                <div id="variants" class="variants" v-if="product.variants.length > 0">
                  <div v-for="(item , index) in product.variants">
                    <h4>{{item.title}}
                      <span v-if="item.type=='mandatory'">*</span>
                      <span v-if="error.indexOf(item.id) !== -1" class="var-required">Required</span>
                    </h4>
                    <ul>
                      <li v-for="(opt,index) in item.options" :key="index">
                        <p v-if="opt.ignore_buy_limit==false && opt.max_buy > 1" class="pick-at-most">Pick at most {{opt.max_buy}}</p>
                        <div :class="{'itemName100': (item.optionType=='radio')}" class="itemName70" style="float:left;">
                          <input v-if="item.optionType=='radio'" type="radio" :name="'radiOption_' + item.id"  @change="addOption(item,opt)" />
                          <input v-else type="checkbox" :name="'checkOption_' + item.id" @change="addOption(item,opt , index)"/>
                          {{opt.name}}
                          &nbsp;&nbsp;&nbsp;<span class="variant-price">${{parseFloat(opt.add_price).toFixed(2)}}</span>
                        </div>
                        <div class="max-buy" v-if="opt.max_buy > 1" >
                          <input :disabled="cart.options.findIndex(x => x.optName==opt.name) == -1" type="button" value="-" class="minus-sm" @click.prevent="removeVarientQty(item,opt , index)">
                          <span><input v-model="variantCheckboxes[item.id][index]" type="text" class="var-inc-dec-input" readonly></span>
                          <input :disabled='cart.options.findIndex(x => x.optName==opt.name) == -1' type="button" value="+" class="plus-sm" @click.prevent="addVarientQty(item,opt , index)">
                        </div>
                        <div v-else class="clear"></div>
                      </li>
                    </ul>
                  </div>

                  <div class="clear"></div>
                  <div class="line"></div>
                </div>
              <!-- Product Single - Quantity & Cart Button
                ============================================= -->
                <form class="cart nobottommargin clearfix" method="post" enctype='multipart/form-data'>
                  <p class="product_buy_limit" v-if="productBuyLimit">You can pick at most {{product.buyLimit}}</p>
                  <div class="quantity clearfix">
                    <input type="button" value="-" class="minus" @click.prevent="removeProductQty()">
                    <input type="text"   name="quantity" v-model="cart.productQty"  class="qty" readonly />
                    <input type="button" value="+" class="plus" @click.prevent="addProductQty()">
                  </div>
                  <button type="button" class="add-to-cart button nomargin" @click.prevent="addToCart()">Add to cart</button>
                  <button type="button" class="button price-btn nomargin">${{cart.grandTotalPrice}}</button>
                </form><!-- Product Single - Quantity & Cart Button End -->

                <div class="clear"></div>
                <div class="line"></div>

                {{product.description}}

              </div>
            </div>
          </div>
        </div>
        <div class="section-2" v-if="displaySection2">
         <div class="row">
           <div class="col-md-12">
             <p  style="font-weight: bold">Want to order from another service/store?</p>
             <!--<p>Adding new items from {{shopName}} will clear your current cart</p>-->
             <p>{{service.name}} service doesn't allow to shop from multiple store at a time</p>
             <p>
              <button type="button" class="button button-border button-rounded button-green go-back" @click="$emit('close')">Go Back</button>
              <!--<button type="button" class="btn btn-success" @click.prevent="clearCart()">Yes, Clear Cart & Add</button>-->
            </p>
          </div>
        </div>
      </div>
    </slot>
  </div>
</div>
</div>
</div>
</transition>
</template>

<script>
const store = require('store');
const Cryptr = require('cryptr');

import '~/assets/flexslider.css';
if (process.browser) {
  require('~/assets/jquery.flexslider.min');
}
export default{
  props : {
    product : {
      type : Object,
      required : true,
      default : []
    },
    service : {
      type : Object,
      required : true,
      default : []
    },
    shopName: {
      type: String
    },
      currentCart : {
        type : Array,
          required : true
      },
      substituteMode : {
        type : Boolean,
          required : true
      },
      substituteAddToProduct : {
        type : Object,
          required : true
      },
      mainCartIndexForSubstitute : {
        required : true
      }
  },
  data() {
    return {
        mainCart : this.removeReferences(this.currentCart),
      count : 1,
      isDisabledOptMaxBuy: true,
      error: [],
      cart: {
        categoryID: this.product.categoryID,
        subcategoryID: this.product.subcategoryID,
        productID: this.product.id,
        productName: this.product.name,
        productQty: 1,
        price: this.product.price,
        discount: '',
        discountType: this.product.discount_type,
        discountedPrice: this.product.discounted_price,
        totalPrice: this.product.discounted_price,
        grandTotalPrice: this.product.discounted_price.toFixed(2),
        options:[],
        images: this.product.images,
        storeID: this.product.storeID,
        minQuantity: this.product.minimum_quantity,
        unit: this.product.unit,
        multistoresupport: this.service.multistoresupport,
        serviceID: this.service.id,
        buyLimit: this.product.buyLimit,
        storeName: this.shopName,
        substituteMode: false,
        substitute: {},
        instruction: '',
        stock: this.product.stock,
        ignorestock: this.product.ignorestock
      },
      variantCheckboxes : {},
      displaySection1 : true,
      displaySection2 : false,
      productBuyLimit: false
    }
  },
  methods:{

    addOption(variant,opt , optionIndex){
     let dataPush = true;
     if(this.cart.options.length > 0 && variant.optionType == 'radio'){

      var index = this.cart.options.findIndex(x => x.variantID==variant.id);
      if(index !== -1){
        this.cart.options.splice(index, 1);
      }

    }

    if(this.cart.options.length == 0 && variant.optionType == 'checkbox'){
     this.$set(this.variantCheckboxes[variant.id] , optionIndex , 1);
   }
   if(this.cart.options.length > 0 && variant.optionType == 'checkbox'){

    var index = this.cart.options.findIndex(x => x.optName==opt.name);
    if(index !== -1){
      this.$set(this.variantCheckboxes[variant.id] , optionIndex , 0);
      this.cart.options.splice(index, 1);
      dataPush = false;
    }else{
      this.$set(this.variantCheckboxes[variant.id] , optionIndex , 1);
    }
  }

            //erro check
            if(this.error.length > 0){
              var errorIndex = this.error.indexOf(variant.id);
              if(errorIndex !== -1){
                this.error.splice(errorIndex,1);
              }
            }

            if(dataPush){

             this.cart.options.push({
              'variantID': variant.id,
              'optName': opt.name,
              'optQty': 1,
              'price': opt.add_price,
              'totalPrice': opt.add_price,
              'variantRequird': variant.type
            })


           }
           this.getTotalPrice()


         },
         addVarientQty(variant,opt , optionIndex){
          var index = this.cart.options.find(x => x.optName==opt.name);
          if(index.optQty < opt.max_buy){
            index.optQty++;
            index.totalPrice = index.price*index.optQty
            this.getTotalPrice()
          }

          this.$set(this.variantCheckboxes[variant.id] , optionIndex , index.optQty);

          this.forceReRender()
        },
        removeVarientQty(variant,opt , optionIndex){
          var index = this.cart.options.find(x => x.optName==opt.name);

          if(index.optQty > 1){
            index.optQty--;
            index.totalPrice = index.totalPrice-index.price
            this.getTotalPrice()
          }
          this.$set(this.variantCheckboxes[variant.id] , optionIndex , index.optQty);

          this.forceReRender()
        },
        getTotalPrice(){

          let total = this.cart.discountedPrice;
          this.cart.options.forEach( function(opt) {
            total += opt.totalPrice;
          });
          this.cart.totalPrice = total.toFixed(2);
          this.cart.grandTotalPrice = total.toFixed(2);
        },
        addProductQty(){

          if(this.product.buyLimit == 0){
            this.productBuyLimit = false;
            let increase = this.cart.productQty + 1;
            this.$set(this.cart , 'productQty' , increase);
            this.cart.grandTotalPrice = (this.cart.totalPrice*this.cart.productQty).toFixed(2);
          }else{
            if(this.product.buyLimit > 0 && this.cart.productQty < this.product.buyLimit) {
             let increase = this.cart.productQty + 1;
             this.$set(this.cart , 'productQty' , increase);
             this.cart.grandTotalPrice = (this.cart.totalPrice*this.cart.productQty).toFixed(2);
             this.productBuyLimit = false;
           } else{
            this.productBuyLimit = true;
          }
        }


      },
      removeProductQty(){
        if(this.cart.productQty > 1){
          let dicrease = this.cart.productQty - 1;
          this.$set(this.cart , 'productQty' , dicrease);
          this.cart.grandTotalPrice = (this.cart.grandTotalPrice-this.cart.totalPrice).toFixed(2)
        }
      },
      forceReRender(){

        const length = this.cart.options.length;

        this.cart.options.push({
          'variantID': '',
          'optName': '',
          'optQty': 1,
          'price': 0,
          'totalPrice': 0,
          'variantRequird': ''
        })

        this.cart.options.splice(length, 1);
      },
      findError(){
        let err = false;
                  //mandatory variants
                  let requiredVariantArr = [];
                  this.product.variants.forEach( function(opt) {
                    if(opt.type == 'mandatory'){
                      requiredVariantArr.push(
                       opt.id,
                       )
                    }
                  })

           //cart variants
           let cartVarientArr = [];
           if(this.cart.options.length > 0){
            this.cart.options.forEach( function(opt) {
              //console.log('opt ',opt.variantID);
              cartVarientArr.push(opt.variantID); 
            })
          }

          if(requiredVariantArr.length > 0){
            for (var i = 0; i < requiredVariantArr.length; i++) { 
              var found = cartVarientArr.indexOf(requiredVariantArr[i]);
              if(found == -1){
                this.error.push(
                  requiredVariantArr[i]
                  );
                //document.getElementById("variants").scrollTo(0, 0);
              }

            }
          }
          if(this.error.length > 0) return true;
        },
        checkMultiStoreSupport() {

         if(this.mainCart.length > 0) {
          for (var i = 0; i < this.mainCart.length; i++) { 
           if(this.mainCart[i].storeID !== this.cart.storeID && this.cart.multistoresupport == false) {
             return false;
           } else {
            return true;
          }
        }
      } else {
        return true;
      }

    },
    addToCart(){

      if(!this.findError()){
       if(this.substituteMode){

           // this conditined is fulfilled on the AddProductOnCart componenet where only that store is preselected
        //if((this.substituteAddToProduct.storeID == this.cart.storeID) && (this.substituteAddToProduct.productID != this.cart.productID)){

          this.addThisProductToCartAsSubstitute();
        //}
      }else{
        if(this.checkMultiStoreSupport()){
          this.addThisProductToCart();

        } else {
         this.displaySection1 = false;
         this.displaySection2 = true;    
       }
     }
   }

 },
 addThisProductToCart(){


     if(this.cart != ''){
         if(typeof this.cart.length !== undefined && this.cart.length>0){
             console.log('Now 1' , this.cart);
             this.mainCart = [];
             this.cart.forEach( function(opt) {
                 this.mainCart.push({...opt , adjustedAmount : 0});
             });
         }else{
             console.log('Now 2' , this.cart);
             this.mainCart.push({...this.cart ,adjustedAmount : 0});
         }

     }else {
         this.mainCart = [];
     }

 this.$emit('productAdded' , this.removeReferences(this.mainCart));
},
addThisProductToCartAsSubstitute(){

 let self =this;
 var payloadArr = [this.cart,this.mainCartIndexForSubstitute];

    this.mainCart[payloadArr[1]].substitute = this.removeReferences(this.cart);

    this.mainCart[payloadArr[1]].substituteMode = true;

    console.log(this.mainCart);

    this.$emit('substituteAdded' , this.removeReferences(this.mainCart));


},
updateApplicationStore(){
 var token = ''; 
 token = store.get('aladin_cart_token');
 let cryptr = new Cryptr(token);
 const encryptedString = cryptr.encrypt(JSON.stringify(this.mainCart));
 store.set('aladin_cart', encryptedString);
},
clearCart(){
  //this.$store.dispatch('su/clearCartData' , '');
  // store.set('aladin_cart', '');
  // store.set('aladin_cart_token', '');
  this.addToCart();
  this.$emit('close');
}

},
mounted(){
    if (process.browser) {
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: false,
            animationSpeed: 600,
            slideshow: true,                //Boolean: Animate slider automatically
            slideshowSpeed: 3000,
            pauseOnHover: true
        });
    }
},
created(){

  this.product.variants.forEach(item => {
    if(item.optionType === 'checkbox'){
      let ID = item.id;
      this.variantCheckboxes[item.id] = [];
      item.options.forEach(item => {
        this.variantCheckboxes[ID].push(0);
      })
    }
  })
}
}
</script>

<style scoped>
.product_buy_limit{
  margin-bottom: 10px;
  color: red;
}
.section-2 p{
  text-align: center;
}
.section-2 .go-back{
  width: unset;
  background-color: transparent !important;
}
.section-2 .go-back.button-border.button-green:hover{
  background-color: #59BA41 !important;
}
.itemName70{
  width: 70%;
}
.itemName100{
  width: 100% !important;
}
.pick-at-most{
  margin-bottom: 0;
  color: rgba(128, 128, 128, 0.61176);
  font-size: 12px;
}
.var-inc-dec-input{
  width: 25px;
  height: 16px;
  border: none;
  text-align: center;
}
.minus-sm[disabled],.plus-sm[disabled]
{
  cursor: not-allowed;
  opacity: 0.4;
}
.minus-sm,.plus-sm{
  background-color: #07c748;
  height: 18px;
  width: 22px;
  border: none;
  color: #fff;
  cursor: pointer;
}
body{
  overflow: hidden !important;
}
.formError{
  font-size: 12px;
  color: #ff6600;
}
#submit-btn{
  display: block;
  margin: 0 auto !important;
  background-color: #ff924b !important;
}
.terms{
  color: #ff924b;
}
.modal-header{
 display: block !important;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  transition: opacity .3s ease;
  overflow: hidden auto;
}

.modal-wrapper {
  vertical-align: middle;
}

.modal-container {
  width: 800px !important;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #000;
  text-align: center;
  margin-bottom: 10px;
}
.modal-header p {
  width: 55%;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  color: #80808082;
}

.modal-body {
  /*margin: 20px 0;*/
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

 .modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.shop-quick-view-ajax, .portfolio-ajax-modal{
  margin: 0;
  width: 100%;
}
/***Login css***/
.fancy-title{
  margin-bottom: 0px;
}
.fancy-title h3{
  padding-right: 0px !important;
}
.fancy-title, .or, .req-to-login{
  text-align: left;
}
.button{
  width:100%;
  background-color: #ff6600 !important;
}
.req-to-login{
 font-size: 14px;
}
.req-to-login span{
  color: #ff6600 !important;
}
.col_half{
  margin-bottom: 0px;
}
.single-product .add-to-cart.button{
  width: 35%;
  float: left;
}
.sale-flash{
  background-color: #ff6600 !important;
}
.variants h4{
  margin-bottom: 10px;
}
.variants h4 span{
  color: red;
}
.variants ul li{
  list-style: none;
  margin-bottom: 8px;
  padding: 5px;
}
.variant-price{
  color: #8080809c;
}
.max-buy{
  padding-left: 10px;
  overflow: hidden;
  width: 30%;
}
.max-buy input{
  line-height: 0.8;
}
.max-buy input:nth-child(2){
  border: none;
  text-align: center;
  background-color: transparent;
}

.quantity {
  float: left;
  margin-right: 10px;
  width: 30%;
}
.price-btn{
  width: 20%;
  float: left;
  background-color: #d85c0a !important;
  cursor: default;
}
.var-required{
  float: right;
  color: #fff !important;
  font-size: 12px;
  padding: 6px;
  background-color: red;
  border-radius: 18px;
}
.product-price ins{
  color: #07c748;
}
</style>