<template>

    <div>
        <div class="side-menu">

            <nav class="navbar navbar-default" role="navigation">
                <!-- Main Menu -->

                <div v-if="user.status === 'pending'" class="side-menu-container">
                    <ul class="nav nav-list">
                        <li class="single"><nuxt-link class="single-nav" to="/shop/dashboard/current-info">Current Status</nuxt-link></li>
                    </ul>
                </div>
                <div v-if="user.status === 'active'" class="side-menu-container">
                    <ul class="nav nav-list">
                        <li class="single"><nuxt-link class="single-nav" :to="`/shop/dashboard/${user.shopID}/store-info`">Profile</nuxt-link></li>
                        <li><label class="tree-toggler nav-header">Zone management</label>
                            <ul class="nav nav-list tree" :class="{'tab-open' : zoneTab}">
                                <li><nuxt-link :class="{'link-active' : zoneList}" :to="`/shop/dashboard/zone/${user.shopID}/list`">Available Zone</nuxt-link></li>
                            </ul>
                        </li>
                        <li><label class="tree-toggler nav-header">Orders</label>
                            <ul class="nav nav-list tree" :class="{'tab-open' : orderTab}">
                                <li><nuxt-link :class="{'link-active' : orderList}" :to="`/shop/dashboard/order/${user.shopID}/all`">Order List</nuxt-link></li>
                            </ul>
                        </li>
                        <li class="single"><nuxt-link class="single-nav":to="`/shop/dashboard/sales/${user.shopID}/all`">Sales</nuxt-link></li>
                        <li class="single"><nuxt-link class="single-nav":to="`/shop/dashboard/payment/${user.shopID}/all`">Payment</nuxt-link></li>
                        <li class="single"><nuxt-link class="single-nav":to="`/shop/dashboard/reconciliation/${user.shopID}/all`">Reconciliation</nuxt-link></li>
                        <li><label class="tree-toggler nav-header">Product</label>
                            <ul class="nav nav-list tree" :class="{'tab-open' : productTab}">
                                <li><nuxt-link :class="{'link-active' : productList}" :to="`/shop/dashboard/product/${user.shopID}/list`">Product List</nuxt-link></li>
                                <li><nuxt-link :class="{'link-active' : productCreate}"  :to="`/shop/dashboard/product/${user.shopID}/create`">Add Product</nuxt-link></li>
                            </ul>
                        </li>
                        <li><label class="tree-toggler nav-header">Category</label>
                            <ul class="nav nav-list tree" :class="{'tab-open' : categoryTab}">
                                <li><nuxt-link :class="{'link-active' : categoryList}" :to="`/shop/dashboard/category/${user.shopID}`">Category List</nuxt-link></li>
                                <li><nuxt-link :class="{'link-active' : categoryCreate}"  :to="`/shop/dashboard/category/${user.shopID}/create`">Add Category</nuxt-link></li>
                            </ul>
                        </li>
                        <li><label class="tree-toggler nav-header">Voucher code</label>
                            <ul class="nav nav-list tree" :class="{'tab-open' : voucherTab}">
                                <li><nuxt-link :class="{'link-active' : voucherList}" :to="`/shop/dashboard/voucher/${user.shopID}/list`">Vouchers List</nuxt-link></li>
                                <li><nuxt-link :class="{'link-active' : voucherCreate}"  :to="`/shop/dashboard/voucher/${user.shopID}/create`">Create Voucher</nuxt-link></li>
                            </ul>
                        </li>
                        <li><label class="tree-toggler nav-header">Offers</label>
                            <ul class="nav nav-list tree" :class="{'tab-open' : offersTab}">
                                <li><nuxt-link :class="{'link-active' : offersList}" :to="`/shop/dashboard/offers/${user.shopID}/list`">Offers List</nuxt-link></li>
                                <li><nuxt-link :class="{'link-active' : offersCreate}"  :to="`/shop/dashboard/offers/${user.shopID}/create`">Create Offer</nuxt-link></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
    </div>



</template>

<script>
    export default {
        data() {
            return{

            }
        },
        computed : {
            generalTab(){
                if(this.$route.name.lastIndexOf('general') !== -1)
                    return true;

                return   false;
            },
            productTab(){
                if(this.$route.name.lastIndexOf('product') !== -1)
                    return true;

                return   false;
            },
            categoryTab(){
                if(this.$route.name.lastIndexOf('category') !== -1)
                    return true;

                return   false;
            },
            offersTab(){
                if(this.$route.name.lastIndexOf('offers') !== -1)
                    return true;

                return   false;
            },
            voucherTab(){
                if(this.$route.name.lastIndexOf('voucher') !== -1)
                    return true;

                return   false;
            },
            orderTab(){
                if(this.$route.name.lastIndexOf('order') !== -1)
                    return true;

                return   false;
            },
            zoneTab(){
                if(this.$route.name.lastIndexOf('zone') !== -1)
                    return true;

                return   false;
            },
            zoneList(){
                let self = this;
                let others = ['details'];
                let valid = function(){
                    for(var i= 0 ; i< others.length ; i++){
                        if(self.$route.name.lastIndexOf(others[i]) !== -1)
                            return false;
                    }
                    return true;
                }

                if(this.$route.name.lastIndexOf('zone') !== -1 && valid())
                    return true;

                return   false;
            }
            ,
            orderList(){
                let self = this;
                let others = ['details'];
                let valid = function(){
                    for(var i= 0 ; i< others.length ; i++){
                        if(self.$route.name.lastIndexOf(others[i]) !== -1)
                            return false;
                    }
                    return true;
                }

                if(this.$route.name.lastIndexOf('order') !== -1 && valid())
                    return true;

                return   false;
            },
            voucherList(){
                let self = this;
                let others = ['create'];
                let valid = function(){
                    for(var i= 0 ; i< others.length ; i++){
                        if(self.$route.name.lastIndexOf(others[i]) !== -1)
                            return false;
                    }
                    return true;
                }

                if(this.$route.name.lastIndexOf('voucher') !== -1 && valid())
                    return true;

                return   false;
            },
            offersList(){
                let self = this;
                let others = ['create'];
                let valid = function(){
                    for(var i= 0 ; i< others.length ; i++){
                        if(self.$route.name.lastIndexOf(others[i]) !== -1)
                            return false;
                    }
                    return true;
                }

                if(this.$route.name.lastIndexOf('offers') !== -1 && valid())
                    return true;

                return   false;
            },
            categoryList(){
                let self = this;
                let others = ['create'];
                let valid = function(){
                    for(var i= 0 ; i< others.length ; i++){
                        if(self.$route.name.lastIndexOf(others[i]) !== -1)
                            return false;
                    }
                    return true;
                }

                if(this.$route.name.lastIndexOf('category') !== -1 && valid())
                    return true;

                return   false;
            },
            productList(){
                let self = this;
                let others = ['create'];
                let valid = function(){
                    for(var i= 0 ; i< others.length ; i++){
                        if(self.$route.name.lastIndexOf(others[i]) !== -1)
                            return false;
                    }
                    return true;
                }

                if(this.$route.name.lastIndexOf('product') !== -1 && valid())
                    return true;

                return   false;
            },

            offersCreate(){
                if(this.$route.name.lastIndexOf('offers') !== -1 && this.$route.name.lastIndexOf('create') !== -1)
                    return true;

                return   false;
            },

            voucherCreate(){
                if(this.$route.name.lastIndexOf('voucher') !== -1 && this.$route.name.lastIndexOf('create') !== -1)
                    return true;

                return   false;
            },

            categoryCreate(){
                if(this.$route.name.lastIndexOf('category') !== -1 && this.$route.name.lastIndexOf('create') !== -1)
                    return true;

                return   false;
            },

            productCreate(){
                if(this.$route.name.lastIndexOf('product') !== -1 && this.$route.name.lastIndexOf('create') !== -1)
                    return true;

                return   false;
            }
        },
        mounted(){
            $('label.tree-toggler').click(function () {
                $(this).parent().children('ul.tree').toggle(300);
            });
        }
    }
</script>


<style scoped>
    .single{
        margin-bottom: 6px;
    }
    .single-nav{
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #555;
    }
    .side-menu {
        position: relative;
        width: 100%;
        height: 100%;
        border-right: 1px solid #e7e7e7;
        box-shadow: 5px 0 5px -5px #33333357;
    }
    .side-menu .navbar {
        border: none;
        padding: 2.5rem 1rem !important;
    }
    ul li {
        width: 100%;
        padding-left: 10px;
        padding-top: 5px;
        font-size: 14px;
    }
    .tree {
        display: none;
    }

    a{
        color: grey;
    }

    .link-active{
        color: #fe6500;
    }

    .nuxt-link-exact-active{
        color: #fe6500;
    }

    /*.nuxt-link-active{*/
        /*color: #fe6500;*/
    /*}*/
    .tab-open{
        display: block;
    }


</style>
