<template>
    <p class="center" style="margin-top: 15px;">
        <img src="../assets/images/ajax-loader-3.gif" alt="">
        <br>
        <span style="font-size: 12px">
                          Uploading
        </span>
    </p>
</template>

<script>
    export default {


    }
</script>

