<template>
    <div class="col_full topmargin">
        <div class="card">
            <div class="card-body">
                <p><a style="float: right; color: #FFFFFF" @click.prevent="deleteVariant(variant.id)" class="btn btn-sm btn-danger">Delete</a></p>
                <div class="row">
                    <div class="col-md-7">
                        <input @focus="titleError = false" v-model="variant.title" class="form-control">
                        <span class="formError" v-if="titleError">Title must have at least 3 characters</span>
                    </div>
                    <div class="col-md-5">
                        <input v-model="variant.small_description" class="form-control" placeholder="Small Description">
                    </div>
                </div>
                <div  style="margin-top: 10px" v-if="optionType === 'radio'" >

                    <div v-if="options.length > 0" class="row">
                        <div class="col-md-4">
                            Title
                        </div>
                        <div class="col-md-1">
                            Price
                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>

                    <div style="margin-top: 5px" class="row" v-for="(data , index) in options">
                        <div class="col-md-4">
                            <input @focus="$set(optionsError ,index , false)" v-model.trim="options[index].name" class="form-control" >
                            <span v-if="optionsError[index]" class="formError">Title must have at least 3 characters</span>
                        </div>
                        <div class="col-md-1">
                            <input v-model.number="options[index].add_price" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-sm btn-danger" style="color: #FFFFFF" @click.prevent="warn(index)">Delete</a>
                        </div>
                    </div>

                </div>
                <div style="margin-top: 10px" v-if="optionType === 'checkbox'" >
                    <div v-if="options.length > 0" class="row">
                        <div class="col-md-4">
                            Title
                        </div>
                        <div class="col-md-1">
                            Price
                        </div>
                        <div class="col-md-2">
                            Buying Limit <small>(i.e. max 3 items)</small>
                        </div>
                        <div class="col-md-3 center">
                            Ignore Buying Limit
                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>

                    <div style="margin-top: 5px" class="row" v-for="(data , index) in options">
                        <div class="col-md-4">
                            <input @focus="$set(optionsError ,index , false)" v-model.trim="options[index].name" class="form-control" >
                            <span v-if="optionsError[index]" class="formError">Title must have at least 3 characters</span>
                        </div>
                        <div class="col-md-1">
                            <input v-model.number="options[index].add_price" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <input :readonly="options[index].ignore_buy_limit" v-model.number="options[index].max_buy" class="form-control">
                        </div>
                        <div class="col-md-3 center" >
                            <input type="checkbox" v-model.number="options[index].ignore_buy_limit">
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-sm btn-danger" style="color: #FFFFFF" @click.prevent="warn(index)">Delete</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="margin-top: 15px">
                        <a @click.prevent="addOption" class="btn btn-outline-info" style="float: left">Add Option</a>
                        <a @click.prevent="save" class="btn btn-success" style="float: right; color: #FFFFFF">Save</a>
                    </div>
                </div>
                <warning :message="message"
                         :id="removeID"
                         :warningFor="warningFor"
                         v-if="warning"
                         @close="warning = false"
                         @remove="removeItem"
                />
            </div>
        </div>

    </div>
</template>

<script>
    import '~/assets/color-picker/spectrum.css';
    import Warning from "./Warning";
    if(process.browser){
        require('~/assets/color-picker/spectrum.js');
    }
    export default {
        components: {Warning},
        props : {
            item : {
                type : Object,
                required : true
            }
        },

        data(){
            return {
                warning : false,
                warningFor : 'variant-item',
                message : 'do you want to delete this?',
                variant : JSON.parse(JSON.stringify(this.item)),
                options : JSON.parse(JSON.stringify(this.item)).options,
                optionsError : [],
                titleError : false,
            }
        },
        computed : {
            optionType(){
              return this.variant.optionType
          }
        },
        methods : {
            warn(index){
                this.removeID = index;
                this.warning = true;
            },

            removeItem(data){
                let self = this;

                self.options.splice(data.id , 1);
                self.optionsError.splice(data.id , 1);

                this.warning = false;

            },
            deleteVariant(id){

                this.$emit('removeVR' , id);

            },
            addOption(){
                let self =this;

                var options = self.optionType === 'checkbox' ? {
                    name : '',
                    add_price : 0,
                    max_buy : 0,
                    ignore_buy_limit : true
                } : {
                    name : '',
                    add_price : 0
                } ;


                self.options.push(options);
                self.optionsError.push(false);
            },
            save(){
                let self= this;
                if(this.variant.title === '' || this.variant.title.length < 3){
                    this.titleError = true;
                }

                this.options.forEach((item , index)=> {
                    var check = isNaN(item.add_price) || item.add_price === '' ? 0 : item.add_price;
                    self.$set(self.options[index] , 'add_price' , check)

                    if(item.name.length < 3){
                        self.$set(self.optionsError , index , true)
                    }
                })

                if(!self.titleError && !self.optionsError.includes(true)){
                    self.$set(self.variant , 'options' , self.options)
                    this.$emit('updateVariant' , self.variant);
                }


            },
            created(){
                let self=this;
                self.options.forEach((item , index) => {
                        self.optionsError[index] = item.title !== '' ? false : true

                })
            }
        }
    }
</script>

<style scoped>
    .formError{
        font-size: 12px;
        color: #ff6600;
        padding-left: 20px;
        margin-bottom: 0px;
    }
    .error{
        font-size: 12px;
        color: #fe6500;
    }
    .proceed-button{
        background-color: #fe6500;
        border-color: #fe6500;
        min-width: 80px;
        min-height: 40px;
    }
</style>