<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <button type="button" class="close" @click="$emit('close')" data-dismiss="alert" aria-hidden="true">×</button>
                    <div class="modal-header">
                        <slot name="header">
                            <h3 >Select Images</h3>

                        </slot>
                    </div>

                    <form class="nobottommargin" @submit.prevent="verify" novalidate="novalidate">
                        <div class="modal-body">
                            <slot name="body">
                                <div class="row">
                                    <div class="col-md-2 image-box center" v-for="(image , index) in currentImages" :key="image.imagePATH">
                                        <img :src="image.imageURL" height="150" width="200" alt="">
                                        <div class="center">
                                            <input type="checkbox" v-model="selectedimages" :value="index">
                                        </div>
                                    </div>
                                </div>
                            </slot>
                        </div>

                        <div class="modal-footer">
                            <slot name="footer">

                                <div class="col_full">
                                    <button class="button nomargin" type="submit" @click.prevent="save" name="template-contactform-submit" value="submit">save</button>
                                </div>
                            </slot>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        props : {
            images : {
                type : Array,
                required : true
            },
            current : {
                type : Array,
                required : true
            }
        },
        data(){
            return {
                currentImages : JSON.parse(JSON.stringify(this.images)),
                selectedimages : JSON.parse(JSON.stringify(this.current)),
            }
        },
        methods:{
            save(){
                    this.$emit('save' ,this.selectedimages)
            }
        }
    }
</script>

<style scoped>
    .image-box{
        margin-bottom: 20px;
    }

    .modal-header{
        display: block !important;
    }
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 80%;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #000;
        text-align: center;
        margin-bottom: 10px;
    }
    .modal-header p {
        width: 55%;
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
        color: #80808082;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }

    /*
     * The following styles are auto-applied to elements with
     * transition="modal" when their visibility is toggled
     * by Vue.js.
     *
     * You can easily play with the modal transition by editing
     * these styles.
     */

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .modal-header{
        border-bottom: 0px;
    }

    .modal-footer{
        border-top: 0px;
    }

</style>