<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <button type="button" class="close" @click="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <div class="modal-header">
                        <slot name="header">
                        </slot>
                    </div>

                    <form class="nobottommargin" novalidate="novalidate">
                        <div class="modal-body">
                            <slot name="body">

                                <div class="col_full">
                                    <p>Variant Title</p>
                                    <input type="text" @focus="Error = false" v-model.trim="title" class="sm-form-control">
                                    <span class="formError" v-if="Error">Title must have at least 3 characters</span>
                                </div>

                                <div class="col_full">
                                    <p>Variant Type</p>
                                    <select v-model="type" class="sm-form-control">
                                        <option value="mandatory">Mandatory</option>
                                        <option value="optional">Optional</option>
                                    </select>
                                </div>

                                <div class="col_full">
                                    <p>Variant option Type</p>
                                    <select v-model="optionType" class="sm-form-control">
                                        <option value="radio">Single</option>
                                        <option value="checkbox">Multiple</option>
                                    </select>
                                </div>


                            </slot>
                        </div>

                        <div class="modal-footer">
                            <slot name="footer">

                                <div class="col_full">
                                    <button class="button nomargin" type="submit" @click.prevent="generateVariant" name="template-contactform-submit" value="submit">save</button>
                                </div>
                            </slot>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        props : {},
        data(){
            return {
                title : '',
                type : 'mandatory',
                optionType : 'radio',
                Error : false
            }
        },
        methods:{
            close(){
                this.$emit('close');
            },

            generateVariant(){
                let self = this;



                if(self.title.length <3){
                    self.Error = true
                } else {
                    this.$emit('save' , {
                        title : self.title,
                        type : self.type,
                        optionType: self.optionType
                    })
                }

                // if(!self.errors.includes(true)){
                //     this.$emit('save' ,this.names)
                // }

                //this.$emit('code' ,this.code)
            }
        }
    }
</script>

<style scoped>
    .input-error{
        border: 2px solid #ff6600;
    }
    .formError{
        font-size: 12px;
        color: #ff6600;
        padding-left: 20px;
        margin-bottom: 0px;
    }
    #submit-btn{
        display: block;
        margin: 0 auto !important;
        background-color: #ff924b !important;
    }
    .terms{
        color: #ff924b;
    }
    .modal-header{
        display: block !important;
    }
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 600px;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #000;
        text-align: center;
        margin-bottom: 10px;
    }
    .modal-header p {
        width: 55%;
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
        color: #80808082;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }

    /*
     * The following styles are auto-applied to elements with
     * transition="modal" when their visibility is toggled
     * by Vue.js.
     *
     * You can easily play with the modal transition by editing
     * these styles.
     */

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .modal-header{
        border-bottom: 0px;
    }

    .modal-footer{
        border-top: 0px;
    }

</style>