<template>
    <div class="col_full topmargin">
        <div class="card">
            <div class="card-body">
                <div class="row" :class="{'error-section' : newVariantAttrError}">

                    <div class="col-md-2" v-for="variant in Object.keys(newVariant.attributes)">
                        <p>{{ variant }}</p>
                        <p>
                            <input v-if="variant === 'color'" :ref="`${newVariant.id}`" class="form-control">
                            <input @focus="newVariantAttrError = false" :type="variant === 'color' ? 'hidden' : 'text'" v-model="newVariant.attributes[variant]" class="form-control">

                        </p>
                    </div>
                    <div class="error col-md-10" style="font-size: 15px" v-if="newVariantAttrError">
                        attributes value cant be empty
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <p>Price</p>
                        <p><input readonly @change.lazy="updatePrice" v-model.trim.number="newVariant.price" class="form-control"></p>
                    </div>
                    <div class="col-md-2">
                        <p>Discount type</p>
                        <p>
                            <select @change.lazy="updatePrice" v-model.trim="newVariant.discount_type" class="form-control">
                                <option value="no">No Discount</option>
                                <option value="fixed">Fixed</option>
                                <option value="percentage">Percentage</option>
                            </select>
                        </p>
                    </div>
                    <div class="col-md-2">
                        <p>Discount</p>
                        <p><input @change.lazy="updatePrice"  v-model.trim="newVariant.discount" class="form-control"></p>

                    </div>
                    <div class="col-md-2">
                        <p>Total Price</p>
                        <p><input readonly  v-model.trim="newVariant.discounted_price" class="form-control"></p>
                    </div>
                    <div class="col-md-2">
                        <p>Stock</p>
                        <p><input  v-model.trim.number="newVariant.stock" class="form-control"></p>
                    </div>
                    <div class="col-md-2">
                        <p class="center">Ignore Stock</p>
                        <p class="center"><input type="checkbox"  v-model="newVariant.ignorestock"></p>
                    </div>

                    <span class="error" v-text="priceText"></span>

                    <variant-image v-if="newVariant.triggerImage"
                                   :images="product.images"
                                   :current="newVariant.images"
                                   @close="newVariant.triggerImage = false"
                                   @save="saveVariantImages"
                    />

                </div>
                <div class="row">
                    <div class="col-md-2 image-box center" v-for="(image , index) in newVariant.images" >
                        <img :src="product.images[image].imageURL" height="150" width="200" alt="">
                    </div>
                </div>
                <div style="margin-top: 25px">
                    <button class="btn btn-danger proceed-button" style="float: left" @click.prevent="openImageVault">
                        select images
                    </button>

                    <button class="btn btn-danger" style="float: right" @click.prevent="deleteMe(position)" >
                        Delete
                    </button>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import VariantImage from "./VariantImage";
    import '~/assets/color-picker/spectrum.css';
    if(process.browser){
        require('~/assets/color-picker/spectrum.js');
    }
    export default {
        props : {
            newVariant : {
                type : Object,
                required : true,
            },
            product : {
                type : Object,
                required : true,
            },
            position : {
                type : Number,
                required : true,
            }
        },
        components : {
            VariantImage
        },
        data(){
          return {
              newVariantAttrError : false,
              priceText : ''
          }
        },
        methods : {
            change(){
              return false
            },
            openImageVault(){
                let self = this;
                self.newVariant.triggerImage = true;
            },
            saveVariantImages(images){
                this.newVariant.triggerImage = false;
                //this.newVariant.images = images;
                this.$emit('VimgUpdate' , {index : this.position , images});
            },
            updatePrice(){
                let self = this;
                let instance = self.newVariant;

                var base_price = instance.price;
                var discount_type = instance.discount_type;

                var discount = isNaN(instance.discount) || instance.discount === '' ? 0 : instance.discount;
                instance.discount = discount;

                if(isNaN(base_price) || base_price === ''){
                    instance.price = 0;
                }

                instance.discounted_price = instance.price;



                if(discount_type === 'no'){
                    instance.discounted_price = instance.price;
                    self.$set(self.product.variants[this.position] , 'discounted_price' , instance.discounted_price)

                } else if(discount_type === 'fixed'){
                    instance.discounted_price = instance.price - Number(discount);
                    self.$set(self.product.variants[this.position] , 'discounted_price' , instance.discounted_price)
                } else if(discount_type === 'percentage'){
                    var less = (Number(discount)  / 100) * instance.price;
                    instance.discounted_price = instance.price - less;
                    self.$set(self.product.variants[this.position] , 'discounted_price' , instance.discounted_price)
                }


            },

            deleteMe(index){
                let self = this;
                var proceed = confirm('do you want to delete this variant product?');
                if (!proceed)
                    return;

                this.$emit('removeVR' , index);

            }
        },
        mounted(){
            let self =this;
            if(process.browser) {
                setTimeout(() => {
                    if(self.newVariant.attributes.color !== undefined){
                         //console.log(self.$refs)
                        let key = Object.keys(self.$refs)[0];
                        $(self.$refs[key][0]).spectrum({
                            color: self.newVariant.attributes.color,
                            change: function(color) {
                                 //console.log(self.newVariant.attributes.color)
                                if(self.newVariant.attributes.color !== undefined){
                                     //console.log(color.toHexString())
                                    self.$set(self.newVariant.attributes , 'color' , color.toHexString()); // #ff0000
                                }

                            }
                        });
                    }

                } , 500)
            }
        }
    }
</script>

<style scoped>
    .error{
        font-size: 12px;
        color: #fe6500;
    }
    .proceed-button{
        background-color: #fe6500;
        border-color: #fe6500;
        min-width: 80px;
        min-height: 40px;
    }
</style>