<template>
    <no-ssr>
        <div>

            <div class="new">

                <div v-if="!showContent" class="aligncenter">
                    <img src="@/assets/images/ajax-loader-2.gif" alt="">
                </div>


                <div v-else class="services-customer-profile-content">
                    <section id="page-title" class="">
                        <admin-header />
                    </section>
                    <section>
                        <div class="container-fluid clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <AdminSidebar />
                                </div>
                                <div class="col-md-10 admin-page-content">
                                    <div class="row top-section">
                                        <div class="col-md-8">
                                            <h3>Store List</h3>
                                        </div>
                                    </div>

                                    <div class="row top-section">
                                        <div class="col-md-5">
                                            <input type="text" @focus="noDATA = false" @keyup="filter" v-model.trim="searchKey" class="form-control" placeholder="Search Store">
                                            <span v-if="noDATA" class="error">No Store found for his search key</span>
                                        </div>

                                    </div>






                                    <div class="row store-list-header" v-if="stores.length > 0">
                                        <div class="col-md-2 center">Thumb</div>
                                        <div class="col-md-2 ">Store Name</div>
                                        <div class="col-md-2 ">Address</div>
                                        <div class="col-md-2 "></div>
                                        <div class="col-md-2 ">Ratings</div>
                                        <div class="col-md-1 ">Status</div>
                                        <div class="col-md-1 center"></div>
                                    </div>
                                    <p v-else class="error">There is no Store added  yet </p>

                                    <div id="draggable" style="margin-bottom: 25px;">
                                        <div class="row single-service" :key="item.id" v-for="(item , index ) in only15Stores">
                                            <div class="col-md-2 item center">
                                                <img :src="storeLogo(index)" width="100" height="80" alt="">
                                            </div>
                                            <div class="col-md-2 item p-top">
                                                {{item.name}}
                                            </div>

                                            <div class="col-md-2 item p-top">{{item.address}}</div>

                                            <div class="col-md-2 item " style="padding-top: 40px">
                                                <nuxt-link v-if="item.pendingChange && Object.keys(item.pendingChange).length > 4" :to="`/admin/dashboard/store/change-request/${item.id}`" >
                                                    <i class="icon-edit"></i> Pending change request
                                                </nuxt-link>

                                            </div>

                                            <div class="col-md-2 item p-top ">
                                                <el-rate
                                                        v-model="storeAvarageRatings[item.id]"
                                                        disabled
                                                        show-score
                                                        text-color="#ff9900"
                                                        score-template="{value}">
                                                </el-rate>
                                                <!--<el-rate-->
                                                        <!--disabled-->
                                                        <!--show-score-->
                                                        <!--text-color="#ff9900"-->
                                                        <!--v-model="storeAvarageRatings[item.id]" />-->
                                            </div>

                                            <div class="col-md-1 item p-top ">
                                                <div class="status-button" :class="giveStatus(item.status)">
                                                    {{item.status === 'enabled' ? 'active' : 'Banned'}}
                                                </div>
                                            </div>



                                            <div class="col-md-1 center p-top">

                                                <el-dropdown >
                                                        <span class="el-dropdown-link">
                                                        <i class="el-icon-more-outline"></i>
                                                        </span>
                                                    <el-dropdown-menu slot="dropdown">
                                                        <el-dropdown-item>
                                                            <a style="cursor: pointer" @click.prevent="showWarning(item.id)"><i class="icon-user"></i> &nbsp;&nbsp; switch</a>
                                                        </el-dropdown-item>
                                                        <el-dropdown-item>
                                                            <nuxt-link :to="`/admin/dashboard/store/ratings/${item.id}`" >
                                                                <i class="el-icon-star-on"></i> &nbsp;&nbsp; review ratings
                                                            </nuxt-link>
                                                        </el-dropdown-item>
                                                        <el-dropdown-item v-if="item.status === 'enabled'">
                                                            <a style="cursor: pointer" @click.prevent="showBannedWarning(index)"><i class="el-icon-remove"></i> &nbsp;&nbsp; Ban this shop</a>
                                                        </el-dropdown-item>
                                                    </el-dropdown-menu>
                                                </el-dropdown>

                                            </div>

                                        </div>
                                    </div>

                                    <div style="width: 600px; margin: 0px auto; display: block">
                                        <pagination v-if="totalData > dataPerPage && !hidePagination" :dataPerPage="dataPerPage" @fetch="fetchData" :totalData="totalData"  />
                                    </div>


                                    <warning :message="message"
                                             :id="removeID"
                                             :warningFor="warningFor"
                                             v-if="warning"
                                             @close="warning = false"
                                             @remove="switchRole" />

                                    <warning2 :message="message"
                                             :id="removeID"
                                             :warningFor="warningFor"
                                             v-if="warning2"
                                             @close="warning2 = false"
                                             @remove="banStore" />



                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </no-ssr>
</template>

<script>

    import DB from '~/plugins/firebase/init'
    import AdminSidebar from '@/components/AdminSidebarMenu';
    import AdminHeader from "@/components/AdminHeader";
    import Pagination from '@/components/Pagination';
    import axios from 'axios'
    import Warning from "@/components/Warning";
    import Warning2 from "@/components/Warning2";
    export default {
        middleware : 'auth',
        components: {
            AdminHeader,
            AdminSidebar , Pagination , Warning , Warning2
        },
        asyncData (context) {
                var BASE = DB.collection("store").orderBy("createdAt" , "asc");
                //var docRef = BASE;

                //var docRef = BASE.limit(15);

                return BASE.get().then(function (querySnapshot) {


                    let stores = [];
                    if (!querySnapshot.empty) {
                        querySnapshot.forEach(doc => {
                            stores.push(doc.data());
                        });

                        // return {stores }
                        return {stores}
                    } else {
                        // doc.data() will be undefined in this case
                        console.log("Here No such document!");
                        return {stores : []}
                    }
                }).then(data => {
                    return DB.collection("rating-review").get().then(function (querySnapshot) {


                        let ratings = [] , ratingsMap = {} , storesMap = {} , storeAvarageRatings = {};
                        if (!querySnapshot.empty) {
                            querySnapshot.forEach(doc => {
                                ratings.push(doc.data());
                            });

                            ratings.forEach(item => {
                                if(ratingsMap[item.storeID]){
                                    ratingsMap[item.storeID] += item.rating;
                                    storesMap[item.storeID] += 1;
                                } else {
                                    ratingsMap[item.storeID] = item.rating;
                                    storesMap[item.storeID] = 1;
                                }
                            })

                            //console.log('ratings map : ' , ratingsMap);
                           // console.log('stores map : ' , storesMap);
                            //console.log('all stores :' , stores.stores);

                            data.stores.forEach(item => {
                                if(ratingsMap[item.id]){
                                    storeAvarageRatings[item.id] = ratingsMap[item.id] / storesMap[item.id];

                                } else {
                                    storeAvarageRatings[item.id] = 0
                                }
                            })

                            //console.log(storeAvarageRatings);

                            // return {stores }
                            return {...data, storeAvarageRatings}
                        } else {
                            let storeAvarageRatings = {};
                            data.stores.forEach(item => {
                                if(ratingsMap[item.id]){
                                    storeAvarageRatings[item.id] = ratingsMap[item.id] / storesMap[item.id];

                                } else {
                                    storeAvarageRatings[item.id] = 0
                                }
                            })
                            // doc.data() will be undefined in this case
                            console.log("Here No such document!");
                            return {...data , storeAvarageRatings}
                        }

                    })}

                ).catch(function (error) {
                    console.log("Error getting document:", error);
                });
        },
        data(){
            return {
                value5 : 3.9,
                warning2  :false,
                warning : false,
                removeID : '',
                warningFor : '',
                message : '',
                noDATA  :false,
                alreadyExist : false,
                searchKey : '',
                searchIN : 'name',
                searchORDER : 'asc',
                disable : false,
                stores : [],
                storeAvarageRatings : {},
                totalData : 0,
                dataPerPage : 15,
                fetchAfter : 3,
                timerID : '',
                hidePagination : false,
                tempURL : ''
            }
        },
        computed : {
            only15Stores(){
                let count = 0 , filteredStores = [];
                this.valid_stores.forEach(item => {
                    if(count <= 15){
                        count++;
                        filteredStores.push(item)
                    }

                })

                return filteredStores
            },
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            },
            valid_stores(){
                return this.stores.filter(item => {
                    if(item.status === 'enabled' || item.status === 'banned')
                        return item
                })
            }
        },
        methods : {
            giveStatus(status){
                return {
                    'active' : status === 'enabled',
                    'banned' : status === 'banned',
                }
            },
            showWarning(id){
                this.removeID = id;
                this.warningFor = 'switch';
                this.message = 'Please Confirm. I want to login as this shop owner';
                this.warning = true;
            },
            showBannedWarning(index){
                this.removeID = index;
                this.warningFor = 'switch';
                this.message = 'Please Confirm. Do toy want to BAN this store ?';
                this.warning2 = true;
            },
            switchRole(data){
                let self = this , shopName = '';
                this.warning = false;
                this.stores.forEach(item => {
                    if(item.id === data.id)
                        shopName = item.name
                })
                this.$store.dispatch('auth/switchRole' , {shopID : data.id , role : 'shop' , shopName : shopName}).then(content => {
                    setTimeout(() => {
                        self.$router.push({path :  `/shop/dashboard/${content.shopID}/store-info`})
                    } , 800);
                })
            },
            banStore(index){
                let self = this;
                this.warning2 = false;
                //console.log('now ban : ' , index);

                let store = this.stores[index]

                let citiesRef = DB.collection("store");
                citiesRef.doc(this.stores[index].id).update({
                    'status' : 'banned'
                }).then(() => {
                    self.storeBanEmail({
                        name : store.name,
                        MailTo : store.email,
                        mailText : `We are sorry to let you know that your store ${store.name} has been <b>Banned</b> in our platform . `,
                        type : 'rejected'
                    });

                    self.$set(this.stores[index] , 'status' , 'banned')
                    self.$store.dispatch('flash' , {
                        message : 'Store Banned',
                        type : 'success'
                    });

                    DB.collection("users").doc(self.stores[index].userID).update({
                        'status' : 'banned'
                    }).then(() => {
                       // console.log('user banned')
                    })
                });
            },
            filter(){
                let self = this;


                clearTimeout(self.timerID);
                self.timerID = setTimeout(()=>{

                    if(self.searchKey.length === 0){
                        self.noDATA = false;
                        self.fetchData(1);
                        self.hidePagination = false;
                        return;
                    }
                     //console.log('Now fetch');
                    axios({
                        method:'post',
                        url:'https://us-central1-aladins-chirag.cloudfunctions.net/stores',
                        data: {
                            offset: 0,
                            dataPerPage : self.dataPerPage,
                            searchFor : self.searchKey.toLowerCase()
                        }
                    })
                        .then(function(response) {
                            if(response.data.length === 0){
                                self.noDATA = true;
                                self.fetchData(1);
                                self.hidePagination = false;
                            } else {
                                self.hidePagination = false;
                                self.hidePagination = true;
                                self.stores = [];
                                self.stores = response.data
                            }

                        }).catch(err => {
                        console.log(err);
                    });
                }, 500);


            },
            storeLogo(index){
                var img = 'https://via.placeholder.com/125x90';
                // if(this.products.length === 0)
                //     return;

                if(this.stores[index].logoURL)
                if(this.stores[index].logoURL.length > 0){
                        img = this.stores[index].logoURL
                }

                return img;
            },
            fetchData(page){

                let self = this;

                self.currentPage = page;

                let startAfter = page * self.dataPerPage - self.dataPerPage;
                axios({
                    method:'post',
                    url:'https://us-central1-aladins-chirag.cloudfunctions.net/stores',
                    data: {
                        offset: startAfter,
                        dataPerPage : self.dataPerPage
                    }
                })
                    .then(function(response) {
                        //console.log(response.data);
                        self.stores = response.data
                    });
            },
            fetchAll(){
                let self = this;
                DB.collection("store").orderBy("createdAt" , "asc").where('status' , '==' , 'enabled').get().then(function (querySnapshot) {

                    let stores = [];
                    if (!querySnapshot.empty) {
                        querySnapshot.forEach(doc => {
                                stores.push(doc.data());
                        });

                        self.totalData = stores.length;
                    }

                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });
            },
        },

        created(){

            this.validateOldUser();

            this.fetchAll();


        }
    }
</script>

<style scoped>
    .store-list-header{
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .store-list-header div {
        font-weight: bold;
        padding-left: 3px;
    }
    .el-icon-more-outline {
        color : #fe6500;
        font-size: 25px;
    }
    .error{
        color: #fe6500;
        font-size: 12px;
    }
    .p-top{
        padding-top: 32px !important;
    }
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }

    .single-service{
        background-color: #ffffff;
        padding-top: 10px;
    //padding-bottom: 5px;
        margin-top: 9px;

    }

    .single-service .item {
        padding-bottom: 10px;
        padding-top: 5px;
        padding-right: 1px;
        padding-left: 1px;
    }

    .single-service .action {
        padding-bottom: 7px;
    }

    .new-service{
        background-color: #fe6500;
        border-color: #fe6500;
        float: right;
    }

    .error{
        color: #fe6500;
        font-size: 12px;
    }

    .top-section{
        margin-top: 10px;
    }

    .btn{
        min-width: 75px;
        min-height: 40px;
    }


    .status-button {
        text-align: center;
        color : #ffffff;
        border-radius: 8px;
        width: 60%;
        font-size: 15px;
        padding: 4px !important;
        text-transform: capitalize;
    }

    .active {
        background-color: #07c748;
    }

    .banned {
        background-color: #C02942;
    }




</style>
