<template>
    <div>
        <no-ssr>
            <div v-if="!showContent" class="aligncenter">
                <img src="@/assets/images/ajax-loader-2.gif" alt="">
            </div>


            <div v-else class="services-customer-profile-content">
                <section id="page-title" class="">
                    <admin-header />
                </section>
                <section>
                    <div class="container-fluid clearfix">
                        <div class="row">
                            <div class="col-md-2">
                                <ShopSidebar  />
                            </div>
                            <div class="col-md-10 admin-page-content">
                                <div class="row top-section">
                                    <div class="col-md-8">
                                        <h3>Zone Working Windows</h3>
                                    </div>
                                </div>
                                <div class="row service-section" v-for="Item in Object.keys(shopDeliveryTime.days)">
                                    <div class="col-md-10 input-title ">
                                        <b>{{ Item }}</b>
                                    </div>
                                    <div class="col-md-2">
                                        <!--<input v-model="shopDeliveryTime.days[Item]"  type="checkbox" class="form-control1">-->
                                        <el-switch
                                                v-model="shopDeliveryTime.days[Item]"
                                                active-color="#13ce66"
                                                inactive-color="#ff4949">
                                        </el-switch>
                                    </div>

                                    <div class="col-md-10" style="margin-left: 45px">
                                        <div class="row mb-10" v-for="(window,index) in shopDeliveryTime.workingWindows[Item]">


                                            <div class="col-md-3">
                                                <el-time-select
                                                        placeholder="Start time"
                                                        v-model="window['ServiceStart']"
                                                        :picker-options="{
                                                          start: '00:00',
                                                          step: '01:00',
                                                          end: '24:00'
                                                        }">
                                                </el-time-select>
                                            </div>

                                            <div class="col-md-3">
                                                <el-time-select
                                                        placeholder="End time"
                                                        v-model="window['ServiceEnd']"
                                                        :picker-options="{
                                                          start: '00:00',
                                                          step: '01:00',
                                                          end: '24:00'
                                                        }" >
                                                </el-time-select>
                                            </div>
                                            <div class="col-md-6">
                                                <a href="" @click.prevent="warnRemove({ item : Item , index : index })"  class="btn btn-sm btn-danger">remove</a>
                                            </div>
                                        </div>
                                    </div>



                                    <hr>
                                    <div class="col-md-12" style="margin-top: 15px">
                                        <a class="btn btn-success" @click.prevent="addWindowItem(Item)">Add window</a>
                                    </div>

                                </div>

                                <div class="row service-section" style="margin-top: 35px">
                                    <div class="col-md-2">
                                        <button @click.prevent="checkZoneName" class="btn btn-info proceed-button">
                                        <span v-if="disable">
                                              <img src="@/assets/images/ajax-loader.gif" alt="">
                                        </span>
                                            <span v-else>Update</span>
                                        </button>
                                    </div>
                                </div>


                                <warning :message="message"
                                         :id="removeID"
                                         :warningFor="warningFor"
                                         v-if="warning"
                                         @close="warning = false"
                                         @remove="removeItem"
                                />



                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </no-ssr>
    </div>
</template>

<script>

    import DB from '~/plugins/firebase/init'
    import ShopSidebar from '@/components/ShopSidebarMenu';
    import InputError from '@/components/InputError';
    import AdminHeader from "@/components/AdminHeader";
    import Warning from "@/components/Warning";
    export default {
        middleware : 'auth',
        components: {
            Warning,
            AdminHeader,
            ShopSidebar , InputError
        },
        asyncData (context) {
            if(context.params.id !== undefined) {
                var BASE = DB.collection("shop-zones-info").where("zoneID", "==", context.params.zoneID).where('storeID' , '==' , context.params.id);

                return BASE.get().then(function (querySnapshot) {

                    if (!querySnapshot.empty) {
                        let shopDeliveryTime = {
                            id : '',
                                days : {
                                'Monday' : true,
                                    'Tuesday' : true,
                                    'Wednesday' : true,
                                    'Thursday' : true,
                                    'Friday' : true,
                                    'Saturday' : true,
                                    'Sunday' : true,
                            },
                            workingWindows : {
                                'Monday' : [],
                                    'Tuesday' : [],
                                    'Wednesday' : [],
                                    'Thursday' : [],
                                    'Friday' : [],
                                    'Saturday' : [],
                                    'Sunday' : [],
                            },
                            createdAt : 0,
                                storeID : '',
                                zoneID : ''
                        };
                        var days = ['Monday',
                            'Tuesday',
                            'Wednesday',
                            'Thursday',
                            'Friday',
                            'Saturday',
                            'Sunday'];
                        querySnapshot.forEach(doc => {
                            shopDeliveryTime.id = doc.data().id;
                            shopDeliveryTime.storeID = doc.data().storeID;
                            shopDeliveryTime.zoneID = doc.data().zoneID;
                            shopDeliveryTime.createdAt = doc.data().createdAt;
                            days.forEach(item => {
                                shopDeliveryTime.days[item] = doc.data().days[item]
                                shopDeliveryTime.workingWindows[item] = doc.data().workingWindows[item]

                            })
                        });
                        return {shopDeliveryTime}
                    } else {
                        // doc.data() will be undefined in this case
                        console.log("Here No such document!");
                        let shopDeliveryTime = {
                            id : '',
                                days : {
                                'Monday' : true,
                                    'Tuesday' : true,
                                    'Wednesday' : true,
                                    'Thursday' : true,
                                    'Friday' : true,
                                    'Saturday' : true,
                                    'Sunday' : true,
                            },
                            workingWindows : {
                                'Monday' : [],
                                    'Tuesday' : [],
                                    'Wednesday' : [],
                                    'Thursday' : [],
                                    'Friday' : [],
                                    'Saturday' : [],
                                    'Sunday' : [],
                            },
                            createdAt : 0,
                                storeID : '',
                                zoneID : ''
                        }

                        return {shopDeliveryTime}
                    }
                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });

            }
        },
        data(){
            return {

                disable : false,
                proceed : false,

                warning : false,
                removeID : '',
                warningFor : 'product',
                message : '',



                shopDeliveryTime : {
                    id : '',
                    days : {
                    },
                    workingWindows : {
                    },
                    createdAt : 0,
                    storeID : '',
                    zoneID : ''
                }
            }
        },
        computed : {
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            },
            storeID(){
                return this.$route.params.id;
            },
            zoneID(){
                return this.$route.params.zoneID;
            }
        },
        methods : {
            warnRemove(data){
                this.removeID = data;
                this.message = 'Please Confirm. I want to delete this working window';
                this.warning = true;
            },
            removeItem(data){
                //console.log(data)
                this.warning = false;
                this.$delete(this.shopDeliveryTime.workingWindows[data.id.item] , data.id.index);
                this.update();
            },
            addWindowItem(item){
              this.shopDeliveryTime.workingWindows[item].push({
                  ServiceStart : '',
                  ServiceEnd : ''
              })
            },

            update(){

                let citiesRef = DB.collection("shop-zones-info") , self = this;
                citiesRef.doc(self.shopDeliveryTime.id).update(
                    {
                        days : self.shopDeliveryTime.days ,
                        workingWindows : self.shopDeliveryTime.workingWindows
                    })
                    .then(()=> {
                        self.disable = false;
                        self.$store.dispatch('flash' , {
                            message : 'Updated',
                            type : 'success'
                        });
                    })
            },
            checkZoneName(){

                let self = this;


                self.disable = true;
                let citiesRef = DB.collection("shop-zones-info");
                let query = citiesRef.where("zoneID", "==", self.zoneID).where('storeID' , '==' , self.storeID);

                query.get().then(function(querySnapshot) {
                    if (querySnapshot.empty) {

                        let time = (new Date()).getTime();
                        self.shopDeliveryTime.createdAt = time;
                        self.shopDeliveryTime.storeID = self.storeID;
                        self.shopDeliveryTime.zoneID = self.zoneID;

                        citiesRef.add(self.shopDeliveryTime)
                            .then(function(docRef) {
                                self.proceed = true;
                                self.disable = false;

                                self.shopDeliveryTime.id = docRef.id;

                                citiesRef.doc(docRef.id).update({id : docRef.id}).then(()=> {
                                    self.$store.dispatch('flash' , {
                                        message : 'Updated',
                                        type : 'success'
                                    });
                                })

                            })
                            .catch(function(error) {
                                console.error("Error adding document: ", error);
                            });
                    } else {

                        self.update();
                    }
                }).catch(function(error) {
                    console.log("Error getting document:", error);
                });
            }
        },

        created(){
            let self = this;
            this.validateOldUser();

         /*   let citiesRef = DB.collection("shop-zones-info");
            let query = citiesRef.where("zoneID", "==", self.zoneID).where('storeID' , '==' , self.storeID);

            query.get().then(function(querySnapshot) {
                if (!querySnapshot.empty) {

                    var days = ['Monday',
                        'Tuesday',
                        'Wednesday',
                        'Thursday',
                        'Friday',
                        'Saturday',
                        'Sunday'];
                    querySnapshot.forEach(doc => {
                        self.shopDeliveryTime.id = doc.data().id;
                        self.shopDeliveryTime.storeID = doc.data().storeID;
                        self.shopDeliveryTime.zoneID = doc.data().zoneID;
                        self.shopDeliveryTime.createdAt = doc.data().createdAt;
                        days.forEach(item => {
                            self.shopDeliveryTime.days[item] = doc.data().days[item]
                            self.shopDeliveryTime.workingWindows[item] = doc.data().workingWindows[item]

                        })
                    });
                }
            }).catch(function(error) {
                console.log("Error getting document:", error);
            });*/

        },
        mounted(){}
    }
</script>

<style scoped>
    .mb-10 {
        margin-bottom: 10px;
    }
    .btn-success{
        color: cornsilk !important;
        padding: 5px;
        font-size: 13px;
        margin-left: 10px;
    }
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }


    .top-section{
        margin-top: 20px;
    }

    .input-title{
        padding-top : 10px;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 5px;
        margin-bottom: 5px;
    }

    .proceed-button{
        background-color: #fe6500;
        border-color: #fe6500;
        min-width: 80px;
        min-height: 40px;
    }

    .service-section{
        margin-top: 10px;
    }

    .checkbox{
        margin-top: 14px;
    }


</style>
