.el-dropdown-menu__item{
    padding: 0px !important;
}

.el-dropdown-menu__item a {
    padding: 0 20px !important;
}

.col_half {
    margin-bottom: 20px !important;
}

.admin-page-content{
    padding: 20px;
}

h3{
    margin-bottom: 15px;
}


.el-switch__label.is-active{
    color: #07c748 !important;
}

.el-switch__label.is-active span{
    color: #07c748 !important;
}

.el-switch__label *{
    color: #7f828b !important;
}
