<template>
    <no-ssr>
        <div>
            <div>
                <div v-if="!showContent" class="aligncenter">
                    <img src="@/assets/images/ajax-loader-2.gif" alt="">
                </div>


                <div v-else class="services-customer-profile-content">
                    <section id="page-title" class="">
                        <admin-header  />
                    </section>
                    <section>
                        <div class="container-fluid clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <ShopSidebar />
                                </div>
                                <div class="col-md-10 admin-page-content">
                                    <p style="margin-bottom: -35px; margin-top: 20px; text-align: right">

                                        <button class="btn btn-danger proceed-button" @click="saveInfo">

                                <span v-if="disable">
                                <img src="@/assets/images/ajax-loader.gif" alt="">
                                </span>
                                            <span v-else>Update</span>
                                        </button>

                                    </p>
                                    <div class="col_half topmargin2">
                                        <div class="card">
                                            <div class="card-body">

                                                <div class="col-md-10 input-title">
                                                    Product Name
                                                </div>
                                                <div class="col-md-11">
                                                    <input @focus="error.name = false" :class="{'input-error' : error.name}" v-model.trim="product.name" class="form-control">
                                                    <span v-if="error.name" class="error">Product name is required</span>
                                                </div>
                                                <div class="col-md-10 input-title">
                                                    Product Description
                                                </div>
                                                <div class="col-md-11">
                                                    <textarea @focus="error.description = false" :class="{'input-error' : error.description}" v-model.trim="product.description" rows="10" class="form-control" ></textarea>
                                                    <span v-if="error.description" class="error">Product Description is required</span>
                                                </div>

                                                <div class="col-md-10 input-title">
                                                    <div class="row">
                                                        <div class="col-xl-5">Product Status</div>
                                                        <div class="col-xl-7">
                                                            <input style="margin-top: 6px" type="radio" :value="true"  v-model="product.active" >Active
                                                            <input style="margin-top: 6px" type="radio" :value="false"  v-model="product.active" >Deactive
                                                        </div>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="col_half topmargin2 col_last">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-10 input-title">
                                                        Minimum Quantity
                                                    </div>
                                                    <div class="col-md-11">
                                                        <input  v-model.trim.number="product.minimum_quantity" class="form-control">
                                                    </div>

                                                    <div class="col-md-10 input-title">
                                                        Unit
                                                    </div>
                                                    <div class="col-md-11">
                                                        <input @focus="error.unit = false" :class="{'input-error' : error.unit}"  v-model.trim="product.unit" placeholder="piece/kg etc" class="form-control">
                                                        <span v-if="error.unit" class="error">Product unit is required</span>
                                                    </div>

                                                    <div class="col-md-10 input-title">
                                                        Category
                                                    </div>
                                                    <div class="col-md-11">
                                                        <select @focus="error.category = false" :class="{'input-error' : error.category}" v-model="product.categoryID" class="form-control">
                                                            <option value="">Select</option>
                                                            <option v-for="(category , index) in  parent_categories" :key="category.id" :value="category.id">{{category.name}}</option>
                                                        </select>
                                                        <span v-if="error.category" class="error">Product category is required</span>
                                                    </div>

                                                    <div class="col-md-10 input-title">
                                                        Sub-category
                                                    </div>
                                                    <div class="col-md-11">
                                                        <select v-model="product.subcategoryID" class="form-control">
                                                            <option value="">Select</option>
                                                            <option v-for="(category , index) in  sub_categories" :key="category.id" :value="category.id">{{category.name}}</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-md-10 input-title">
                                                        Stock Quantity
                                                    </div>
                                                    <div class="col-md-11">
                                                        <input  v-model.trim.number="product.stock" class="form-control">
                                                    </div>

                                                    <div class="col-md-12 input-title">
                                                        <div class="row">
                                                            <div class="col-xl-5">Ignore Stock quantity</div>
                                                            <div class="col-xl-7">
                                                                <input style="margin-top: 7px" type="checkbox"  v-model.trim.number="product.ignorestock" >
                                                            </div>
                                                        </div>


                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col_full topmargin">
                                        <h4>Product images</h4>
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-3 image-box center" v-for="(image , index) in product.images" :key="image.imagePATH">
                                                        <img :src="image.imageURL" height="150" width="200" alt="">
                                                        <div class="center">
                                                            <i @click.prevent="deleteImageWarning(index)" class="i-rounded i-small icon-remove" aria-hidden="true"></i>
                                                        </div>
                                                    </div>
                                                    <div v-if="uploadingimage" class="col-md-3">
                                                        <show-file-upload v-if="uploadingimage" />
                                                    </div>
                                                    <div v-if="!uploadingimage" class="col-md-3">
                                                        <button @click.prevent="showUpload" class="btn cam-button"></button>
                                                        <input type="file" style="display: none;" ref="imageInput" @change="onImagePicked">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="clear"></div>

                                    <div class="col_full topmargin">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <p>Price</p>
                                                        <p><input @change.lazy="updatePrice(product)" v-model.trim.number="product.price" class="form-control"></p>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <p>Discount type</p>
                                                        <p>
                                                            <select @change.lazy="updatePrice(product)" v-model.trim="product.discount_type" class="form-control">
                                                                <option value="no">No Discount</option>
                                                                <option value="fixed">Fixed</option>
                                                                <option value="percentage">Percentage</option>
                                                            </select>
                                                        </p>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <p>Discount</p>
                                                        <p><input @change.lazy="updatePrice(product)"  v-model.trim.number="product.discount" class="form-control"></p>

                                                    </div>
                                                    <div class="col-md-2">
                                                        <p>Total Price</p>
                                                        <p><input readonly  v-model.trim="product.discounted_price" class="form-control"></p>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <p>Buy Limit</p>
                                                        <p><input @change.lazy="updatePrice" :readonly="product.ignoreBuyLimit"  v-model.trim="product.buyLimit" class="form-control"></p>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <p>Ignore Buy Limit</p>
                                                        <p><input type="checkbox" v-model.trim="product.ignoreBuyLimit"></p>
                                                    </div>

                                                    <span class="error" v-text="priceText"></span>

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <variant-manage @updateVariant="updateVariant" @removeVR="removeVrWarning" v-for="item in product.variants" :key="item.id" :item="item"></variant-manage>


                                    <div class="clear"></div>

                                    <div class="col_full topmargin">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-10" >
                                                        <span v-if="product.variantAttributes.length === 0">Add variants</span>
                                                        <div v-else class="row">
                                                            <div class="col-md-2 attr-border" :key="index" v-for="(item , index) in product.variantAttributes">
                                                                <div> <span>{{item}}</span> <i @click.prevent="deleteVariant(index)" class="i-rounded i-small icon-remove" aria-hidden="true"></i></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <button class="btn btn-danger proceed-button" @click.prevent="addVariant">
                                                            Add Variant
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <variant @close="variantBox = false" @save="close" v-if="variantBox"></variant>

                                    <warning :message="message"
                                             :id="removeID"
                                             :warningFor="warningFor"
                                             v-if="warning"
                                             @close="warning = false"
                                             @remove="removeItem"
                                    />




                                    <div class="col-md-12 input-title" style="margin-top: 30px" >
                                        Related Products
                                    </div>
                                    <div class="col-md-12" style="margin-bottom: 50px">
                                        <multiselect v-model="product.related_products" :options="products" :multiple="true" :close-on-select="false" :clear-on-select="false" :hide-selected="true" :preserve-search="false" placeholder="Pick some" label="name" track-by="name" :preselect-first="false">
                                            <template slot="tag" slot-scope="props"><span class="custom__tag"><span>{{ props.option.name }}</span><span class="custom__remove" @click="props.remove(props.option)">❌</span></span></template>
                                        </multiselect>
                                        <!--<pre class="language-json"><code>{{ value  }}</code></pre>-->

                                    </div>



                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </no-ssr>
</template>

<script>

    import firebase from 'firebase'
    import DB from '~/plugins/firebase/init'
    import persistance from '~/plugins/persistance';
    import ShopSidebar from '@/components/ShopSidebarMenu';
    import InputError from '@/components/InputError';
    import AdminHeader from "@/components/AdminHeader";
    import ShowFileUpload from '@/components/ShowFileUpload';
    import Variant from "@/components/Variant";

    import '~/assets/color-picker/spectrum.css';
    import VariantImage from "@/components/VariantImage";
    import VariantProduct from "@/components/VariantProduct";
    import VariantManage from "@/components/VariantManage";
    import Warning from "@/components/Warning";
    import Multiselect from 'vue-multiselect'
    import "vue-multiselect/dist/vue-multiselect.min.css"

    if(process.browser){
        require('~/assets/color-picker/spectrum.js');
    }
    export default {
        middleware : 'auth',
        components: {
            Warning,
            VariantManage,
            VariantProduct,
            VariantImage,
            Variant,
            AdminHeader,
            ShopSidebar , InputError , ShowFileUpload, Multiselect
        },
        asyncData (context) {

            if(context.params.id !== undefined) {
                var docRef = DB.collection("store-product-category").where('storeID' , '==' , context.params.id);

                return docRef.get().then(function (querySnapshot) {
                    let categories = []
                    if (!querySnapshot.empty) {
                        querySnapshot.forEach(doc => {
                            categories.push(doc.data());
                        });

                        return {categories}
                    } else {
                        // doc.data() will be undefined in this case
                        console.log("Here No such document!");
                        return {categories : []}
                    }
                }).then(categories => {
                    if(context.params.productID !== undefined) {
                        var docRef = DB.collection("products").where('id' , '==' , context.params.productID);


                            return docRef.get().then(function (querySnapshot) {
                                 let product = {};
                                if (!querySnapshot.empty) {
                                    querySnapshot.forEach(doc => {
                                        product = doc.data();
                                    });

                                    return {...categories , product}
                                } else {
                                    // doc.data() will be undefined in this case
                                    console.log("Here No such Product!");
                                    return {categories , product}
                                }
                            }).catch(function (error) {
                                console.log("Error getting document:", error);
                            });
                        }

                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });

            }
        },
        data(){
            return {
                message : '',
                warning : false,
                warningFor : '',
                addNewvariantProduct : false,
                newVariantAttrError : false,
                variantBox : false,
                variantImageBox : false,
                imageRatioError : false,
                uploadingimage : false,
                priceText : '',
                error : {
                    name : false,
                    description : false,
                    unit : false,
                    price : false,
                    category : false
                },
                disable : false,
                proceed : false,
                categories : [],
                product : {
                    name : '',
                    description : '',
                    minimum_quantity : 1,
                    unit : '',
                    price : 0,
                    discounted_price : 0,
                    discount_type : 'no',
                    discount : '',
                    categoryID : '',
                    subcategoryID : '',
                    stock : 0,
                    storeID : '',
                    buyLimit : 0,
                    ignoreBuyLimit : true,
                    isVariant : false,
                    variantAttributes : [],
                    variants : [],
                    createdAt : 0,
                    Bought : 0,
                    active : false,
                    images : [],
                    variants : [],
                    indexArr : [],
                    related_products : [],
                    type: 'product'
                },
                products : [],
                newVariant : {}
            }
        },
        computed : {
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            },
            storeID(){
                return this.$route.params.id
            },
            parent_categories(){
                return this.categories.filter((item) => {
                    if(item.parentID === ''){
                        return item;
                    }

                })
            },
            sub_categories(){
                let self=this;
                if(self.product.categoryID === '')
                    return [];

                return this.categories.filter((item) => {
                    if(item.parentID === self.product.categoryID){
                        return item;
                    }

                })
            }
        },
        methods : {
            removeItem(data){
                this.warning = false;

                if(data.type === 'image'){
                    this.deleteImage(data.id);
                }
                else if(data.type === 'variant'){
                    this.removeVR(data.id);
                }
            },
            removeVrWarning(id){
                this.removeID = id;
                this.warningFor = 'variant';
                this.message = 'Please Confirm. do you want to delete this variant?';
                this.warning = true;
            },
            removeVR(id){
                let self = this;
              this.product.variants.forEach((item , index) => {
                  if(item.id === id){
                      self.product.variants.splice(index , 1)
                  }
              });

                DB.collection("products").doc(self.product.id).update({
                    variants : self.product.variants
                }).then(()=>{
                    self.$store.dispatch('flash' , {
                        message : 'Variant Deleted',
                        type : 'success'
                    });
                });

            },
            VimgUpdate(data){
                let self =this;
                self.$set(self.product.variants[data.index] , 'images' , data.images);

                DB.collection("products").doc(self.product.id).update({
                    variants : self.product.variants
                }).then(()=>{
                    self.$store.dispatch('flash' , {
                        message : 'Saved',
                        type : 'success'
                    });
                });
            },
            openImageVault(){
                let self = this;
                self.newVariant.triggerImage = true;
            },
            saveVariantImages(images){
                this.newVariant.triggerImage = false;
                this.newVariant.images = images;
            },

            updateVariant(data){
                let self= this;
                this.product.variants.forEach((item , index) => {
                    if(item.id === data.id){
                        self.$set(self.product.variants, index , data);
                    }
                })

                DB.collection("products").doc(self.product.id).update({
                    variants : self.product.variants
                }).then(()=>{
                    self.$store.dispatch('flash' , {
                        message : 'Updated',
                        type : 'success'
                    });
                });

            },
            close(data){
                let self = this;



                this.variantBox = false;

                self.product.variants.push({
                    id : persistance.generateRandomChar(12),
                    title : data.title,
                    small_description : '',
                    type : data.type,
                    optionType : data.optionType,
                    options : []
                })



                DB.collection("products").doc(self.product.id).update({
                    variants : self.product.variants
                }).then(()=>{
                    self.$store.dispatch('flash' , {
                        message : 'New Variant added',
                        type : 'success'
                    });
                });





            },
            addVariant(){
                this.variantBox = true;
            },
            showUpload(){
                this.$refs.imageInput.click();
            },
            deleteImageWarning(index){
                this.removeID = index;
                this.warningFor = 'image';
                this.message = 'Please Confirm. do you want to delete this product image?';
                this.warning = true;
            },
            deleteImage(Index){
                let self = this;

                // self.product.variants.forEach((item , index) => {
                //     if(item.images.indexOf(Index) !== -1){
                //         let current_index = item.images.indexOf(Index)
                //         self.product.variants[index].images.splice(current_index, 1);
                //     }
                // })



                firebase.storage().ref().child(self.product.images[Index].imagePATH).delete().then(()=> {


                    self.product.images.splice(Index, 1);


                    DB.collection("products").doc(self.product.id).update({
                        images : self.product.images
                    }).then(()=>{

                        self.$store.dispatch('flash' , {
                            message : 'Product image deleted',
                            type : 'success'
                        });

                    });

                    DB.collection("products").doc(self.product.id).update({
                        variants : self.product.variants
                    }).then(()=>{

                    });
                });
            },
            onImagePicked(event){
                let self = this;
                const files = event.target.files;
                let fileName = files[0].name;
                let arr = fileName.split('.')
                let extention = arr[arr.length - 1].toLowerCase();

                if(extention == 'png' || extention == 'jpeg' || extention == 'jpg'){
                    //self.imageRatioError = false;
                    const fileReader = new FileReader();
                    fileReader.addEventListener('load' , ()=>{
                        var img = new Image;

                        img.onload = function() {
                            //if(img.width >= 544 && img.height >= 300){
                                self.uploadingimage = true;

                                this.tempLogo = files[0];

                                let imagePATH = `product-images/${self.product.id}/` + (new Date()).getTime() + fileName.replace(/\s/g, "")

                                let storageRef =  firebase.storage().ref(imagePATH)

                                let uploadFile = storageRef.put(this.tempLogo);


                                uploadFile.on('state_changed', function(snapshot){
                                    //var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                                    // console.log('Upload is ' + progress + '% done');
                                })

                                uploadFile.then((result) => {
                                    // Delete the old file

                                    storageRef.getDownloadURL().then(function(url) {
                                        //console.log(url)
                                        self.product.images.push(
                                            {
                                                imagePATH : imagePATH,
                                                imageURL : url
                                            }
                                        )
                                        DB.collection("products").doc(self.product.id).update({
                                            images: self.product.images
                                        }).then(()=>{
                                            self.uploadingimage = false;
                                            self.$store.dispatch('flash' , {
                                                message : 'Product image Added Successfully',
                                                type : 'success'
                                            });
                                        });
                                    })

                                })
                            // } else {
                            //     self.imageRatioError = true;
                            // }
                        };

                        img.src = fileReader.result;
                    })


                    fileReader.readAsDataURL(files[0]);


                } else {
                    alert('Please select a valid image')
                }
            },

            updatePrice(instance){

                let self = this;

                let current_instance = ''
                if(instance === this.newVariant){
                    current_instance = 'newVariant'
                } else if(instance === this.product){
                    current_instance = 'base'
                    this.newVariant.price = instance.price;
                    this.updatePrice(this.newVariant);
                }

                var base_price = instance.price;
                var discount_type = instance.discount_type;
                var discount = isNaN(instance.discount) || instance.discount === '' ? 0 : instance.discount;
                instance.discount = discount;

                if(isNaN(base_price) || base_price === ''){
                    instance.price = 0;
                }

                instance.discounted_price = instance.price;


                if(discount_type === 'no'){
                    instance.discounted_price = instance.price;

                    if(current_instance === 'base'){
                        instance.variants.forEach((item , index) => {
                            self.$set(self.product.variants[index] , 'price' , instance.price)
                        })
                    }

                } else if(discount_type === 'fixed'){
                    instance.discounted_price = instance.price - Number(discount);

                    if(current_instance === 'base')
                    instance.variants.forEach((item , index) => {
                        self.$set(self.product.variants[index] , 'price' , instance.price)
                    })
                } else if(discount_type === 'percentage'){

                    var less = (Number(discount)  / 100) * instance.price;
                    instance.discounted_price = instance.price - less;

                    if(current_instance === 'base')
                    instance.variants.forEach((item , index) => {
                        self.$set(self.product.variants[index] , 'price' , instance.price)
                    })
                }

            },
            saveInfo(){

                var error = [];
                let self = this;

                var minimum_quantity = isNaN(this.product.minimum_quantity) || this.product.minimum_quantity === '' ? 1 : this.product.minimum_quantity;
                this.product.minimum_quantity = minimum_quantity < 0 ? minimum_quantity * (-1) : minimum_quantity;

                if(self.product.name.length < 3){
                    self.error.name = true;
                    error.push('name')
                }

                // if(self.product.description.length < 1){
                //     self.error.description = true;
                //     error.push('description')
                // }

                let size = self.product.name.length;
                let indexArr = [];
                for(var i=1 ; i<= size ; i++){
                    indexArr.push(self.product.name.substr(0, i).toLowerCase())
                }

                self.product.name.split(' ').forEach(item => {
                    if(!indexArr.includes(item))
                        indexArr.push(item.toLowerCase())
                });

                self.product.name.split(' ').forEach(item => {
                    var temp_size = item.length;
                    for(var i=1 ; i<= temp_size ; i++){
                        var check = item.substr(0, i).toLowerCase();
                        if(!indexArr.includes(check))
                            indexArr.push(check)
                    }
                });



                self.product.indexArr = indexArr;



                if(self.product.unit.length < 1){
                    self.error.unit = true;
                    error.push('unit')
                }

                if(self.product.categoryID.length < 1){
                    self.error.category = true;
                    error.push('category')
                }

                if(self.product.discounted_price === 0){
                    self.priceText = 'Price cant be 0';
                    error.push('price')
                }


                let citiesRef = DB.collection("products");



                if(error.length === 0){
                    self.disable = true;
                    citiesRef.doc(self.product.id).update(self.product)
                        .then(function(docRef) {
                            //self.proceed = true;
                            self.disable = false;
                            self.$store.dispatch('flash' , {
                                message : 'Updated',
                                type : 'success'
                            });
                        })
                        .catch(function(error) {
                            console.error("Error adding document: ", error);
                        });
                }


            }

        },

        created(){
            this.validateOldUser();

            let docRef = DB.collection("products").where('storeID' , '==' , this.storeID) , self =this;

            docRef.get().then(function (querySnapshot) {
                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        if(doc.data().id !== self.$route.params.productID){

                            self.products.push({
                                id : doc.data().id,
                                name : doc.data().name
                            })
                        }
                    });
                } else {
                    // doc.data() will be undefined in this case
                    console.log("Here No such document!");
                    return {}
                }
            });

        },
        mounted(){

        }
    }
</script>

<style scoped>
    .topmargin { margin-top: 5px !important; }
    .topmargin2 { margin-top: 50px !important; }
    .custom__tag:nth-child(2n) {
        background: #daffee;
    }

    .custom__tag {
        display: inline-block;
        padding: 3px 12px;
        background: #d2d7ff;
        margin-right: 8px;
        margin-bottom: 8px;
        border-radius: 10px;
        cursor: pointer;
    }
    .error-section{
        border: 1px solid #fe6500;
        border-radius: 4px;
    }
    .i-rounded{
        background-color: #C02942;
    }
    .attr-border{
        border: 1px solid lightgray;
        margin-right: 10px;
    }
    .image-box{
        margin-bottom: 20px;
    }
    .input-error {
        border: 1px solid #fe6500;
    }
    .error{
        font-size: 12px;
        color: #fe6500;
    }
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }


    .top-section{
        margin-top: 20px;
    }

    .input-title{
        padding-top : 10px;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 5px;
        margin-bottom: 5px;
    }

    .proceed-button{
        background-color: #fe6500;
        border-color: #fe6500;
        min-width: 80px;
        min-height: 40px;
    }

    .service-section{
        margin-top: 10px;
    }

    .checkbox{
        margin-top: 14px;
    }

    .cam-button{
        margin-top: 10px;
        min-height: 100px;
        min-width: 150px;
        background-image: url(../../../../../../assets/images/cam.png);
    }


</style>
