<template>

    <div>
        <no-ssr>
            <div class="new">

                <div v-if="!showContent" class="aligncenter">
                    <img src="@/assets/images/ajax-loader-2.gif" alt="">
                </div>


                <div v-else class="services-customer-profile-content">
                    <section id="page-title" class="">
                        <admin-header />
                    </section>
                    <section>
                        <div class="container-fluid clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <ShopSidebar />
                                </div>
                                <div class="col-md-10 admin-page-content">

                                    <div class="row product-list-header" v-if="shopZones.length > 0">
                                        <div class="col-md-3 center">Zone Name</div>
                                        <div class="col-md-3 center">&nbsp;</div>
                                        <div class="col-md-2 center">&nbsp;</div>
                                    </div>

                                    <div id="draggable" style="margin-bottom: 25px;">
                                        <div class="row single-service" :key="item.id" v-for="(item , index ) in shopZones">
                                            <div class="col-md-3 item center">
                                                {{ item.name }}
                                            </div>
                                            <div class="col-md-3 item center">
                                                {{ managed(item.id) }}
                                            </div>
                                            <div class="col-md-2 center ">


                                                <nuxt-link class="btn btn-info new-service"  :to="`/shop/dashboard/zone/${storeID}/manage/${item.id}`" >
                                                     Manage
                                                </nuxt-link>

                                            </div>

                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </no-ssr>
    </div>

</template>

<script>

    import DB from '~/plugins/firebase/init'
    import ShopSidebar from '@/components/ShopSidebarMenu';
    import AdminHeader from "@/components/AdminHeader";
    export default {
        middleware : 'auth',
        components: {
            AdminHeader,
            ShopSidebar
        },
        asyncData (context) {
            if(context.params.id !== undefined) {
                var BASE = DB.collection("service-zones").orderBy("createdAt" , "asc");

                return BASE.get().then(function (querySnapshot) {


                    let allZones = [];
                    if (!querySnapshot.empty) {
                        querySnapshot.forEach(doc => {
                            allZones.push(doc.data());
                        });

                        // return {allZones }
                        return {allZones}
                    } else {
                        // doc.data() will be undefined in this case
                        console.log("Here No such document!");
                        return {allZones : []}
                    }
                }).then(function(zoneData){
                    //get store-product-category info
                    var spcRef = DB.collection("store").where("id", "==", context.params.id);
                    return  spcRef.get().then(function(querySnapshot) {
                        let store = {};

                        if(!querySnapshot.empty){

                            querySnapshot.forEach(doc => {
                                store = doc.data();
                            });

                        }
                        return { ...zoneData, store}
                    });

                }).then(function(zoneData){
                    //get store-product-category info
                    var spcRef = DB.collection("shop-zones-info");
                    return  spcRef.get().then(function(querySnapshot) {
                        let shopZoneInfos = [];

                        if(!querySnapshot.empty){

                            querySnapshot.forEach(doc => {
                                shopZoneInfos.push(doc.data());
                            });

                        }
                        return { ...zoneData, shopZoneInfos}
                    });

                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });

            }
        },
        data(){
            return {

                disable : false,
                totalData : 0,
                dataPerPage : 12,
                fetchAfter : 3,
                timerID : '',
                hidePagination : false,
                noDATA : false,
                allZones : [],
                store : {},
                shopZoneInfos : []
            }
        },
        computed : {
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            },
            storeID(){
                return this.$route.params.id
            },
            shopZones(){

                return this.allZones.filter(Item => {
                    /*var found = false;
                    if(this.store.postcodes)
                    this.store.postcodes.forEach(item => {
                        if(Item.postCodes.includes(item)){
                            found = true;
                        }
                    })

                    if(!found)*/
                        return Item
                })
            }

        },
        methods : {
          managed(zoneID){

              let managed = false;
              this.shopZoneInfos.forEach(item => {
                  let storeMatch = item.storeID === this.store.id , zoneMatch = item.zoneID === zoneID;
                  // console.log(` match for store  ${item.storeID} and ${this.store.id} ` ,storeMatch);
                  // console.log(` match for zone  ${item.zoneID} and ${zoneID} ` , zoneMatch);
                  if(storeMatch && zoneMatch){
                      Object.values(item.workingWindows).forEach(Item => {
                          if(Item.length > 0){
                              managed = true;
                          }
                  })
                  }
              })

              return !managed ? 'yet to be managed' : ''
          }
        },


        created(){
            let self = this;
            this.validateOldUser();

        }
    }
</script>

<style scoped>
    .admin-page-content{
        padding: 20px;
    }
    .product-list-header{
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .product-list-header div {
        font-weight: bold;
        padding-left: 1px;
    }

    .el-icon-more-outline {
        color : #fe6500;
        font-size: 25px;
    }
    .p-top{
        padding-top: 32px !important;
    }
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }

    .single-service{
        background-color: #ffffff;
        padding-top: 10px;
    //padding-bottom: 5px;
        margin-top: 9px;

    }

    .single-service .item {
        padding-bottom: 5px;
        padding-top: 5px;
        padding-right: 1px;
        padding-left: 1px;
    }

    .single-service .action {
        padding-bottom: 7px;
    }

    .new-service{
        background-color: #fe6500;
        border-color: #fe6500;
    }

    .error{
        color: #fe6500;
        font-size: 12px;
    }

    .top-section{
        margin-top: 10px;
    }




</style>
