<template>
    <no-ssr>
    <div>
        <div v-if="!showContent" class="aligncenter">
            <img src="@/assets/images/ajax-loader-2.gif" alt="">
        </div>


        <div v-else class="services-customer-profile-content">
            <section id="page-title" class="">
                <admin-header />
            </section>
            <section>
                <div class="container-fluid clearfix">
                    <div class="row">
                        <div class="col-md-2">
                            <AdminSidebar />
                        </div>
                        <div class="col-md-10 admin-page-content">
                            <div class="row top-section">
                                <div class="col-md-8">
                                    <h3>Category for {{service.name}} service</h3>
                                </div>
                                <div class="col-md-4 pull-right">
                                    <nuxt-link to="/admin/dashboard/services/categories/create" class="btn btn-info new-service">Add Service Category</nuxt-link>
                                </div>
                            </div>
                            <div class="row" v-if="service_categories.length > 0">
                                <div class="col-md-4">Title</div>
                                <div class="col-md-1">Shops</div>
                                <div class="col-md-2 center">Thumbnail</div>
                                <div class="col-md-1 center">&nbsp;</div>
                                <div class="col-md-2 center">Status</div>
                            </div>
                            <p v-else class="error">There is no category added for this service yet </p>

                            <div id="draggable">
                                <div class="row single-service" v-for="(cat , index ) in service_categories">
                                    <div class="col-md-4 item">

                                        <div v-if="serviceEdit[index]">
                                            <input @focus="alreadyExist = false" class="form-control" v-model.trim="catEdit" >
                                            <span class="error" v-if="alreadyExist">
                                                This category name already exists for {{service.name}}
                                            </span>
                                            <div style="margin-top: 5px">
                                                <a @click.prevent="updateCat(cat.id , index)" class="btn btn-sm btn-success" style="float: left; color: #FFFFFF">update</a>
                                                <a @click.prevent="cancelEdit(index)" class="btn btn-sm btn-dark" style="float: left; margin-left: 10px; color: #FFFFFF">cancel</a>
                                            </div>
                                        </div>
                                        <div v-else>

                                            {{cat.name}}
                                            <a href="#" style="font-size: 11px;" v-if="!serviceEdit[index]" @click.prevent="editCat(index)">Edit</a>

                                        </div>





                                    </div>
                                    <div class="col-md-1">
                                        {{ countShops(cat.id) }}
                                    </div>
                                    <div class="col-md-2 item center">
                                        <img :src="cat.imageURL" class="cat-image" alt="">
                                    </div>
                                    <div class="col-md-1 center action">
                                        <div class="center">
                                            <img  @click="showThumbUpload(index)" src="//i.imgur.com/NEJ7kr8.png" class="small-cam" alt="">
                                            <input type="file" style="display: none;"
                                                   accept="image/png,image/gif,image/jpeg"
                                                   ref="thumb"
                                                   @change="(event) => {
                                                   onThumbPicked(cat.id , index , event)
                                                   }">
                                        </div>
                                        <show-file-upload v-if="uploadTime[index]" />
                                        <br>
                                        <p class="error" v-if="imageRatioError[index]">image size should be 215X160</p>
                                    </div>
                                    <div class="col-md-2 center action">
                                        <select @change="updateStatus(cat.id , index)" class="form-control" v-model="service_categories[index].active">
                                            <option :value="false">Disabled</option>
                                            <option :value="true">Active</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    </no-ssr>
</template>

<script>

    import Sortable from 'sortablejs'
    import firebase from 'firebase'
    import DB from '~/plugins/firebase/init'
    import persistance from '~/plugins/persistance';
    import AdminSidebar from '@/components/AdminSidebarMenu';
    import ShowFileUpload from '@/components/ShowFileUpload';
    import AdminHeader from "@/components/AdminHeader";
    export default {
        middleware : 'auth',
        components: {
            AdminHeader,
            AdminSidebar , ShowFileUpload
        },
        asyncData (context) {
            if (context.params.id !== undefined) {
                var docRef = DB.collection("service-category").where('serviceId' , '==' ,  context.params.id).orderBy("orderBy" , "asc");
                let categories = []

                return docRef.get().then(function (querySnapshot) {
                    if (!querySnapshot.empty) {
                        let catOrder = [];
                        let serviceEdit = [];
                        let uploadTime = [];
                        let imageRatioError = [];
                        querySnapshot.forEach(doc => {
                            categories.push(doc.data())
                            serviceEdit.push(false);
                            uploadTime.push(false);
                            imageRatioError.push(false);
                            catOrder.push({
                                id: doc.data().id,
                                order: doc.data().orderBy
                             })

                        });

                        return {service_categories: categories , serviceEdit , uploadTime , imageRatioError , catOrder}
                    } else {
                        // doc.data() will be undefined in this case
                        console.log("Here No such document!");
                        return {}
                    }
                }).then((data) => {
                    if (context.params.id !== undefined) {

                        var docRef = DB.collection("services").doc(context.params.id);

                        return docRef.get().then(function (doc) {
                            if (doc.exists) {
                                return {...data , service: doc.data()}
                            }
                        });

                    } else {
                        return {...data}
                    }


                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });
            }
        },
        data(){
            return {
                alreadyExist : false,
                disable : false,
                catEdit : '',
                service : {},
                service_categories : [],
                serviceEdit : [],
                uploadTime : [],
                imageRatioError : [],
                catOrder : [],
                stores : []
            }
        },
        computed : {
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            }
        },
        methods : {

            showThumbUpload(index){
                //console.log(this.$refs);
                this.$refs['thumb'][index].click();
            },
            onThumbPicked(id , index , event){

                let self = this;
                const files = event.target.files;
                let fileName = files[0].name;
                let arr = fileName.split('.')
                let extention = arr[arr.length - 1].toLowerCase();

                self.$set(self.imageRatioError , index ,  false);

                if(extention == 'png' || extention == 'jpeg' || extention == 'jpg'){

                    const fileReader = new FileReader();
                    fileReader.addEventListener('load' , ()=>{

                        var img = new Image;

                        img.onload = function() {
                            // console.log('width' , img.width);
                            // console.log('height' , img.height);

                            if(img.width >= 215 && img.height === 160){
                                self.$set(self.uploadTime , index ,  true);

                                this.tempLogo = files[0];

                                let imagePATH = `category-images/${self.service.slug}/` + (new Date()).getTime() + fileName.replace(/\s/g, "")

                                let storageRef =  firebase.storage().ref(imagePATH)

                                let uploadFile = storageRef.put(this.tempLogo);


                                uploadFile.on('state_changed', function(snapshot){
                                    //var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                                    // console.log('Upload is ' + progress + '% done');
                                })

                                uploadFile.then((result) => {

                                    if(self.service_categories[index].imagePATH.length > 0){
                                        firebase.storage().ref().child(self.service_categories[index].imagePATH).delete();
                                    }

                                    storageRef.getDownloadURL().then(function(url) {
                                        //console.log(url)
                                        self.$set(self.service_categories[index] , 'imageURL' , url);
                                        self.$set(self.service_categories[index] , 'imagePATH' , imagePATH);
                                        DB.collection("service-category").doc(id).update({
                                            imageURL : url,
                                            imagePATH : imagePATH
                                        }).then(()=>{

                                            self.$set(self.uploadTime , index ,  false);

                                            self.$store.dispatch('flash' , {
                                                message : 'Category Image Updated',
                                                type : 'success'
                                            });
                                        });
                                    })

                                })
                            } else {
                                self.$set(self.imageRatioError , index ,  true);
                            }
                        };

                        img.src = fileReader.result;
                        //newImg.width;
                    });

                    fileReader.readAsDataURL(files[0]);

                } else {
                    alert('Please select a valid image')
                }

            },
            editCat(index){
                let self = this;
                self.serviceEdit.forEach((item,  index) => {
                    self.$set(self.serviceEdit , index , false);
                });

                self.$set(self.serviceEdit , index , true);
                self.catEdit = self.service_categories[index].name;


            },
            cancelEdit(index){
                let self = this;
                self.$set(self.serviceEdit , index , false);
            },

            updateStatus(id , index){
                let self = this;

                DB.collection("service-category").doc(id).update({
                    active : this.service_categories[index].active
                }).then(()=>{
                    self.$store.dispatch('flash' , {
                        message : 'Category Status Updated',
                        type : 'success'
                    });
                });
            },

            updateCat(id , index){

                let self = this;
                self.disable = true;




                let citiesRef = DB.collection("service-category");
                let name = self.catEdit;
                let slug = self.catEdit.toLowerCase().replace(/[^a-z0-9-]+/g , '-');

                if(slug < 2){
                    self.$set(self.serviceEdit , index , false);
                    return;
                }

                let query = citiesRef.where("slug", "==", slug).where('serviceId' , '==' , self.service.id);

                query.get().then(function(querySnapshot) {

                    if(querySnapshot.docs.length === 0 || (querySnapshot.docs[0].id  === self.service_categories[index].id)){

                        citiesRef.doc(id).update({
                            name, slug
                        }).then(()=> {
                            self.serviceEdit.forEach((item,  index) => {
                                self.$set(self.serviceEdit , index , false);
                            });
                            self.$set(self.service_categories[index] , 'name' , name);
                            self.$set(self.service_categories[index] , 'slug' , slug);
                            self.disable = false;
                            self.$store.dispatch('flash' , {
                                message : 'Service data Updated',
                                type : 'success'
                            });
                        })
                    } else if(querySnapshot.docs[0].id  !== self.service_categories[index].id) {
                        self.alreadyExist = true;
                        self.disable = false;
                    }

                })
            },
            FireSortEvent(){
                let self = this;
                if(process.browser){
                    var el = document.getElementById('draggable');
                    if(el !== null)
                        Sortable.create(el , {
                            animation: 300,
                            scroll: true,
                            onEnd: function (event) {

                                if(event.oldIndex === event.newIndex)
                                    return;

                                let finalsorted = persistance.suffleArrayObject(self.catOrder , event.oldIndex , event.newIndex);

                                finalsorted.forEach((item) => {
                                    DB.collection("service-category").doc(item.id).update({
                                        orderBy : item.order
                                    }).then(()=>{
                                        //console.log('updated');
                                    }).catch((err) => {
                                        console.log('Update Error' , err);
                                    });
                                });

                                self.catOrder = finalsorted;
                            }
                        })
                }
            },

            countShops(serviceCatID){
               // console.log('cat ID : ' , serviceCatID);
                let count = 0;
                this.stores.forEach(item => {
                    if(item.serviceCatID === serviceCatID){
                        count++;
                    }

                })

                return count

            }

        },

        created(){
            let self = this;

            this.validateOldUser();

            setTimeout(() => {
                this.FireSortEvent();
            } , 3000);

            var docRef = DB.collection("store").where("status" ,'==' ,  "enabled");

            return  docRef.get().then(function(querySnapshot) {
                // console.log(querySnapshot)
                querySnapshot.forEach(doc => {
                    self.stores.push({
                        id : doc.data().id,
                        name : doc.data().name,
                        serviceID : doc.data().serviceID,
                        serviceCatID : doc.data().serviceCatID
                    })
                });
            })

        },
        mounted(){
            this.FireSortEvent();
        }
    }
</script>

<style scoped>
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }

    .single-service{
        background-color: #ffffff;
        padding-top: 10px;
    //padding-bottom: 5px;
        margin: 9px 1px 2px 1px;

    }

    .single-service .item {
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .single-service .action {
        padding-bottom: 7px;
    }

    .new-service{
        background-color: #fe6500;
        border-color: #fe6500;
        float: right;
    }

    .error{
        color: #fe6500;
        font-size: 12px;
    }

    .top-section{
        margin-top: 20px;
    }

    .lm{
        margin-left: 6px;
    }

    .disabled{
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a;
        padding: 5px;
        text-align: center;
        border-radius: 3px;
        letter-spacing: 1px;
        text-transform: capitalize;
    }

    .active{
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
        padding: 5px;
        text-align: center;
        border-radius: 3px;
        letter-spacing: 1px;
        text-transform: capitalize;
    }

    .cat-image{
        width: 45%;
    }

    .btn{
        //min-width: 75px;
        //min-height: 40px;
    }

    .small-cam{
        height: 25px;
        width: 25px;
        cursor: pointer;
        border: 1px solid gray;
        border-radius: 5px;
        margin-top: 15px; background-color: #fe6500
    }



</style>
