<template>
    <div>
        <div v-if="!showContent" class="aligncenter">
            <img src="@/assets/images/ajax-loader-2.gif" alt="">
        </div>


        <div v-else class="services-customer-profile-content">
            <section id="page-title" class="">
                <admin-header />
            </section>
            <section>
                <div class="container-fluid clearfix">
                    <div class="row">
                        <div class="col-md-2">
                            <AdminSidebar />
                        </div>
                        <div class="col-md-10 admin-page-content">
                            <div class="row top-section">
                                <div class="col-md-8">
                                    <h3>Create New Category</h3>
                                </div>

                            </div>
                            <div class="row service-section">
                                <div class="col-md-2 input-title">
                                    Category Name
                                </div>
                                <div class="col-md-7">
                                    <input @focus="error.name = false" v-model.trim="category.name"  type="text" class="form-control">
                                </div>

                            </div>

                            <InputError v-if="error.name">
                                {{error.nameMessage}}
                            </InputError>

                            <div class="row service-section">
                                <div class="col-md-2 input-title">
                                    Category for Service
                                </div>
                                <div class="col-md-7">
                                    <select v-model="category.serviceId" class="form-control">
                                        <option value="" >Select</option>
                                        <option :value="service.id" :key="service.id" v-for="service in  services">{{service.name}}</option>
                                    </select>
                                </div>

                            </div>

                            <InputError v-if="error.serviceId">
                                {{error.serMessage}}
                            </InputError>


                            <div class="row service-section">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-6">
                                    <button @click.prevent="checkCatName" class="btn btn-info proceed-button">
                                        <span v-if="disable">
                                              <img src="@/assets/images/ajax-loader.gif" alt="">
                                        </span>
                                        <span v-else>proceed</span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script>

    import DB from '~/plugins/firebase/init'
    import persistance from '~/plugins/persistance';
    import AdminSidebar from '@/components/AdminSidebarMenu';
    import InputError from '@/components/InputError';
    import {mapGetters} from 'vuex'
    import AdminHeader from "../../../../../components/AdminHeader";
    export default {
        middleware : 'auth',
        components: {
            AdminHeader,
            AdminSidebar , InputError
        },
        asyncData (context) {
                var docRef = DB.collection("services");

                return docRef.get().then(function (querySnapshot) {
                    let services = []
                    if (!querySnapshot.empty) {
                        querySnapshot.forEach(doc => {
                            services.push(doc.data())

                        });

                        return {services}
                    } else {
                        // doc.data() will be undefined in this case
                        console.log("Here No such document!");
                        return {}
                    }
                }).then((data) => {
                    if (context.params.id !== undefined) {

                        var docRef = DB.collection("services").doc(context.params.id);

                        return docRef.get().then(function (doc) {
                            if (doc.exists) {
                                return {...data , service: doc.data()}
                            }
                        });

                    } else {
                        return {...data}
                    }


                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });
        },
        data(){
            return {
                error : {
                    name : false,
                    nameMessage : '',
                    serviceId : false,
                    serMessage : ''
                },
                disable : false,
                proceed : false,
                category : {
                    id : '',
                    serviceId : '',
                    name : '',
                    slug : '',
                    active : false,
                    description : '',
                    imagePATH : '',
                    imageURL : 'https://via.placeholder.com/215x160',
                    createdAt : 0,
                    orderBy : 0
                },
                services : []
            }
        },
        computed : {
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            }
        },
        methods : {
            checkCatName(){

                let self = this;
                if(self.category.name.length < 4){
                    self.error.name = true;
                    self.error.nameMessage = "Name must be atleast 4 charcters"
                    return;
                }

                if(self.category.serviceId.length < 4){
                    self.error.serviceId = true;
                    self.error.serMessage = "Please select a service"
                    return;
                }

                self.disable = true;
                self.category.slug = self.category.name.toLowerCase().replace(/[^a-z0-9-]+/g , '-');
                let citiesRef = DB.collection("service-category");
                let query = citiesRef.where("slug", "==", self.category.slug).where('serviceId' , '==' , self.category.serviceId);

                query.get().then(function(querySnapshot) {
                    //console.log("Document data:", doc);
                    if (!querySnapshot.empty) {
                        self.disable = false;
                        self.error.name = true;
                        self.error.nameMessage = 'A Category with this name already exists for this service';
                    } else {
                        // doc.data() will be undefined in this case
                        //console.log("No such document!");
                        let time = (new Date()).getTime();


                        self.category.createdAt = time;
                        self.category.orderBy = time;

                        citiesRef.add(self.category)
                            .then(function(docRef) {
                                self.proceed = true;
                                self.disable = false;
                                //console.log("Document written with ID: ", docRef.id);
                                citiesRef.doc(docRef.id).update({id : docRef.id}).then(()=> {
                                    self.$store.dispatch('flash' , {
                                        message : 'New Category Created',
                                        type : 'success'
                                    });
                                    self.$router.push({ path : `/admin/dashboard/services/categories/${self.category.serviceId}`  });
                                })
                            })
                            .catch(function(error) {
                                console.error("Error adding document: ", error);
                            });

                    }
                }).catch(function(error) {
                    console.log("Error getting document:", error);
                });
            }
        },

        created(){
            this.validateOldUser();

        },
        mounted(){}
    }
</script>

<style scoped>
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }


    .top-section{
        margin-top: 20px;
    }

    .input-title{
        padding-top : 10px;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 5px;
        margin-bottom: 5px;
    }

    .proceed-button{
        background-color: #fe6500;
        border-color: #fe6500;
        min-width: 80px;
        min-height: 40px;
    }

    .service-section{
        margin-top: 10px;
    }

    .checkbox{
        margin-top: 14px;
    }


</style>
