<template>
  <no-ssr>
  <div>
    <div v-if="!showContent" class="aligncenter">
      <img src="@/assets/images/ajax-loader-2.gif" alt="">
    </div>


  <div v-else class="services-customer-profile-content">
    <section id="page-title" class="">
      <admin-header  />
    </section>
    <section>
      <div class="container-fluid clearfix">
        <div class="row">
          <div class="col-md-2">
            <AdminSidebar />
          </div>
          <div class="col-md-10">
            <p class="btn-container">
              <button class="btn btn-danger save-button" @click="saveInfo">

                <span v-if="disable">
                      <img src="@/assets/images/ajax-loader.gif" alt="">
                </span>
                <span v-else>save</span>
              </button>
            </p>
            <div class="col_half topmargin">
              <h4>Logo & Moto</h4>
              <div class="card">
                <div class="card-body">

                  <div class="center">
                    <img :src="general.logoURL" alt="">
                  </div>
                  
                  <p class="center">
                    <img @click="showLogoUpload" src="//i.imgur.com/NEJ7kr8.png" class="small-cam" alt="">
                    <input type="file" style="display: none;" ref="logoInput" @change="onLogoPicked">
                  </p>

                  <show-file-upload v-if="uploadingLogo" />

                  <div class="row">
                    <div class="col-md-2 input-title">
                      Moto
                    </div>
                    <div class="col-md-10">
                      <input type="text" v-model.trim="general.moto" class="form-control">
                    </div>

                  </div>
                </div>
              </div>
              
            </div>
            <div class="col_half topmargin col_last">
              <h4>Social Links</h4>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-2 input-title">
                      Facebook
                    </div>
                    <div class="col-md-10">
                      <input v-model.trim="general.facebook" type="text" class="form-control">
                    </div>

                    <div class="col-md-2 input-title">
                      Youtube
                    </div>
                    <div class="col-md-10">
                      <input v-model.trim="general.youtube" type="text" class="form-control">
                    </div>

                    <div class="col-md-2 input-title">
                      Twitter
                    </div>
                    <div class="col-md-10">
                      <input v-model.trim="general.twitter" type="text" class="form-control">
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="clear"></div>

            <div class="col_half topmargin">
              <h4>Banner Information</h4>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-10">
                      <div class="center">
                        <img :src="general.primaryBannerURL" alt="">
                      </div>
                    </div>
                    <div class="col-md-2" style="padding: 0px">
                      <div class="center">
                        <img  @click="showBannerUpload" src="//i.imgur.com/NEJ7kr8.png" class="small-cam" alt="">
                        <input type="file" style="display: none;" ref="bannerInput" @change="onBannerPicked">
                      </div>

                      <show-file-upload v-if="uploadingBanner" />
                    </div>
                  </div>




                  <div class="row">
                    <div class="col-md-2 input-title">
                      Primary Heading
                    </div>
                    <div class="col-md-10">
                      <input type="text" v-model.trim="general.primaryHeading" class="form-control">
                    </div>
                    <div class="col-md-2 input-title">
                      Secondary Heading
                    </div>
                    <div class="col-md-10">
                      <input type="text" v-model.trim="general.secondaryHeading" class="form-control">
                    </div>

                  </div>
                </div>
              </div>
              
            </div>
            <div class="col_half topmargin col_last">
              <h4>Contact Information</h4>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-2 input-title">
                      Hotline
                    </div>
                    <div class="col-md-10">
                      <input v-model.trim="general.hotline" type="text" class="form-control">
                    </div>

                    <div class="col-md-2 input-title">
                      Email
                    </div>
                    <div class="col-md-10">
                      <input v-model.trim="general.email" type="text" class="form-control">
                    </div>

                  </div>
                </div>
              </div>
              
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
  </no-ssr>
</template>

<script>

    import firebase from 'firebase'
    import DB from '~/plugins/firebase/init'
import AdminSidebar from '@/components/AdminSidebarMenu';
    import ShowFileUpload from '@/components/ShowFileUpload';
    import AdminHeader from "@/components/AdminHeader";
export default {
    middleware : 'auth',
    components: {
        AdminHeader,
        AdminSidebar , ShowFileUpload
},
    asyncData () {
        var docRef = DB.collection("General-infos");

        return  docRef.get().then(function(querySnapshot) {


            let general = {}
            if(!querySnapshot.empty){
                querySnapshot.forEach(doc => {
                    if(doc.data().type === 'general-info')
                        general = doc.data();
                });

                if(Object.keys(general).length > 0)
                return { general }
            }




        }).catch(function(error) {
            console.log("Error getting document:", error);
        });
    },
data(){
  return {
      disable : false,
      uploadingBanner : false,
      uploadingLogo : false,
      tempLogo : '',
      general : {
          type : 'general-info',
          id : 'g5rPQcshBdWIXT0rJd8z',
          logoURL : '',
          logoPATH : '',
          moto : '',
          hotline: '',
          facebook : '',
          youtube : '',
          twitter : '',
          email : '',
          primaryBannerURL : '',
          primaryBannerPATH : '',
          primaryHeading : '',
          secondaryHeading : ''
      }
  }
},
    computed : {
        showContent(){
            if(this.user.hasOwnProperty('uid'))
                return true;

            return false
        }
    },
    methods : {
        saveInfo(){
            let self = this;
            self.disable = true;
            DB.collection("General-infos").doc(self.general.id).update(this.general).then(() => {
                //self.$store.dispatch()
                self.$store.dispatch('flash' , {
                    message : 'General info Updated',
                    type : 'success'
                });

                self.disable = false;
            });
        },
        showLogoUpload(){
            this.$refs.logoInput.click();
        },
        showBannerUpload(){
            this.$refs.bannerInput.click();
        },
        onLogoPicked(event){
            let self = this;
            const files = event.target.files;
            let fileName = files[0].name;
            let arr = fileName.split('.')
            let extention = arr[arr.length - 1].toLowerCase();
            if(extention == 'png' || extention == 'jpeg' || extention == 'jpg'){
                self.uploadingLogo = true;

                this.tempLogo = files[0];

                let logoPath = `general-files/` + (new Date()).getTime() + fileName.replace(/\s/g, "")

                let storageRef =  firebase.storage().ref(logoPath)

                let uploadFile = storageRef.put(this.tempLogo);

                uploadFile.on('state_changed', function(snapshot){
                    //var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                   // console.log('Upload is ' + progress + '% done');
                })

                uploadFile.then((result) => {

                    if(self.general.logoPATH !== ''){
                        firebase.storage().ref().child(self.general.logoPATH).delete();
                    }

                    storageRef.getDownloadURL().then(function(url) {
                        //console.log(url)
                        self.general.logoURL = url;
                        self.general.logoPath = logoPath;
                        DB.collection("General-infos").doc(self.general.id).update({
                            logoURL: url,
                            logoPATH: logoPath
                        });
                        self.uploadingLogo = false;
                    })

                })


            } else {
                alert('Please select a valid image')
            }
        },

        onBannerPicked(event){
            let self = this;
            const files = event.target.files;
            let fileName = files[0].name;
            let arr = fileName.split('.')
            let extention = arr[arr.length - 1].toLowerCase();
            if(extention == 'png' || extention == 'jpeg' || extention == 'jpg'){
                self.uploadingBanner = true;

                this.tempLogo = files[0];

                let primaryBannerPATH = `general-files/` + (new Date()).getTime() + fileName.replace(/\s/g, "")

                let storageRef =  firebase.storage().ref(primaryBannerPATH)

                let uploadFile = storageRef.put(this.tempLogo);

                uploadFile.on('state_changed', function(snapshot){
                    // var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                    // console.log('Upload is ' + progress + '% done');
                })

                uploadFile.then((result) => {

                    if(self.general.primaryBannerPATH !== ''){
                        firebase.storage().ref().child(self.general.primaryBannerPATH).delete();
                    }

                    storageRef.getDownloadURL().then(function(url) {
                        //console.log(url)
                        self.general.primaryBannerURL = url;
                        self.general.primaryBannerPATH = primaryBannerPATH;

                        DB.collection("General-infos").doc(self.general.id).update({
                            primaryBannerURL: url,
                            primaryBannerPATH : primaryBannerPATH
                        });
                        self.uploadingBanner = false;
                    })

                })




            } else {
                alert('Please select a valid image')
            }
        }
    },

    created(){

        this.validateOldUser();

        // if(firebase.auth().currentUser === null){
        //     return;
        // }

     // helper.sendEmail(
     //     () => {
     //         console.log('I am being called')
     //     },
     //     'sazzad@dhrubokinfotech.com',
     //     ['sazzadurrahman88@gmail.com'],
     //     'Sending with SendGrid is Fun',
     //     'and easy to do anywhere, even with Node.js',
     //     '<strong>and easy to do anywhere, even with Node.js</strong>',
     // );

        const msg = {
            to: 'sazzadurrahman88@gmail.com',
            from: 'sazzad@dhrubokinfotech.com',
            subject: 'Sending with SendGrid is Fun',
            text: 'and easy to do anywhere, even with Node.js',
            html: '<strong>and easy to do anywhere, even with Node.js</strong>',
        };
        //hepler2.send(msg);


    }
}
</script>

<style scoped>
#page-title{
  padding: 10px;
}
#page-title span{
  margin-top: 0px;
}

.col_half h4{
  margin-bottom: 10px;
}
.info-tbl td, .cards-tbl tr:first-child td {
  border-top: none !important;
}

  .input-title{
    padding-top : 5px;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
  }
  .small-cam{
    height: 20px;
    width: 20px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 15px; background-color: #fe6500
  }
  .save-button{
    float: right;
    background-color: #fe6500;
  }
  .btn-container{
    min-height: 26px;
    padding-top: 15px;
  }

  .col-md-10{
    margin-bottom: 10px;
  }

  img{
    max-width: 80%;
  }

  .col_half {
    margin-bottom: 0px;
  }
</style>
