<template>

    <div>
        <no-ssr>
        <div v-if="!showContent" class="aligncenter">
            <img src="@/assets/images/ajax-loader-2.gif" alt="">
        </div>


        <div v-else class="services-customer-profile-content">
            <section id="page-title" class="">
                <admin-header />
            </section>
            <section>
                <div class="container-fluid clearfix">
                    <div class="row">
                        <div class="col-md-2">
                            <AdminSidebar />
                        </div>
                        <div class="col-md-10 admin-page-content">
                            <p style="text-align: right; margin-bottom: -10px; margin-top: 10px;">
                                <button @click.prevent="reject" class="btn btn-info reject-button">
                                    <span>Reject</span>
                                </button>
                                <button @click.prevent="approve" class="btn btn-info proceed-button">
                                    <span>Approve</span>
                                </button>
                            </p>
                            <div class="col_half topmargin">

                                <div class="card">
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-md-12 input-title">
                                                Store Name
                                            </div>
                                            <div class="col-md-12">
                                                <input disabled v-model.trim="store.name"  type="text" class="form-control">
                                            </div>
                                            <!--<div class="col-md-12 input-title">-->
                                                <!--Description-->
                                            <!--</div>-->
                                            <!--<div class="col-md-12">-->
                                                <!--<textarea v-model.trim="store.description"  rows="3" class="form-control"></textarea>-->

                                            <!--</div>-->
                                            <div class="col-md-12 input-title">
                                                Address
                                            </div>
                                            <div class="col-md-12">
                                                <textarea v-model.trim="store.address"  rows="3" class="form-control"></textarea>
                                            </div>
                                            <div class="col-md-12 input-title">
                                                Phone
                                            </div>
                                            <div class="col-md-12">
                                                <input  type="text" v-model.trim="store.phone"  class="form-control">

                                            </div>

                                            <div class="col-md-12 input-title">
                                                ABN/ACN
                                            </div>
                                            <div class="col-md-12">
                                                <input  type="text" v-model.trim="store.abn_acn"  class="form-control">
                                            </div>

                                            <div class="col-md-12 input-title">
                                                Commission Percentage
                                            </div>
                                            <div class="col-md-12">
                                                <input style="max-width: 80px; display: inline-block"  type="text" @change="verify" v-model.trim="store.comission_percentage"  class="form-control">%
                                            </div>

                                            <div class="col-md-12 input-title">
                                                Service Name
                                            </div>
                                            <div class="col-md-12">
                                                <select v-model="serviceID"  class="form-control">
                                                    <option :value="service.id" v-for="service in services">{{service.name}}</option>
                                                </select>
                                            </div>


                                            <div class="col-md-12" v-if="current_service_categories.length > 0" style="margin-top: 10px">
                                                <select v-model="serviceCatID"  class="form-control">
                                                    <option value="select">Service Category</option>
                                                    <option :value="cat.id" v-for="cat in current_service_categories">{{cat.name}}</option>
                                                </select>
                                            </div>

                                            <div class="col-md-12 input-title">
                                                Choose Delivery Methods
                                            </div>
                                            <div class="col-md-12" style="margin-bottom: 40px">
                                                <span @click="pick(method.id)" :class="{ 'selected' : checkSelection(method.id) }" class="method" v-for="method in delivery_methods">
                                                    {{ method.name }} &nbsp;&nbsp; &#36;{{method.charge}}
                                                </span>
                                            </div>

                                            <div class="col-md-12 input-title">
                                                Select Country
                                            </div>
                                            <div class="col-md-12 input-title" style="">
                                                <select @change="updatePostCodes" v-model="country"  class="form-control">
                                                    <option :value="cat.id" v-for="cat in countries">{{cat.name}}</option>
                                                </select>
                                            </div>

                                            <!--<div class="col-md-12 input-title">-->
                                                <!--Select Post Codes-->
                                            <!--</div>-->
                                            <!--<div class="col-md-12" style="margin-bottom: 40px">-->
                                                <!--<span @click="pickCode(code)" :class="{ 'selected' : checkPostCodes(code) }" class="method" v-for="code in codes">-->
                                                    <!--{{ code }}-->
                                                <!--</span>-->
                                                <!--<p class="error" v-if="postcodeERROR">Please select post codes</p>-->
                                            <!--</div>-->


                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="clear"></div>


                        </div>


                    </div>
                </div>
            </section>
        </div>
        </no-ssr>
    </div>

</template>

<script>

    import DB from '~/plugins/firebase/init'
    import AdminSidebar from '@/components/AdminSidebarMenu';
    import InputError from '@/components/InputError';
    import {mapGetters} from 'vuex'
    import axios from 'axios'
    import AdminHeader from "@/components/AdminHeader";
    export default {
        middleware : 'auth',
        components: {
            AdminHeader,
            AdminSidebar , InputError
        },
        asyncData (context) {
            var docRef = DB.collection("services");

            return docRef.get().then(function (querySnapshot) {
                let services = []
                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        services.push(doc.data())

                    });

                    return {services}
                } else {
                    // doc.data() will be undefined in this case
                    console.log("Here No such document!");
                    return { services : []}
                }
            }).then((data) => {
                if (context.params.id !== undefined) {

                    var docRef = DB.collection("store").doc(context.params.id);

                    return docRef.get().then(function (doc) {
                        if (doc.exists) {
                            return {...data , store: doc.data()}
                        }
                    });

                } else {
                    return {...data}
                }


            }).catch(function (error) {
                console.log("Error getting document:", error);
            });
        },
        data(){
            return {

                disable : false,
                proceed : false,
                serviceID : '',
                serviceCatID : 'select',
                store : { name : '' },
                services : [],
                countries : [],
                service_categories : [],
                delivery_methods : [],
                selectedMethods : [],
                selectedPostCodes: [],
                country : '',
                postcodeERROR : false,
            }
        },
        computed : {
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            },
            current_service_categories(){
                let cat = [];
                if(this.serviceID !== ''){
                    this.service_categories.forEach(item => {
                        if(item.serviceId === this.serviceID && item.active){
                            cat.push(item)
                        }
                    })
                }

                return cat;
            },
            codes(){
                let codes = [] , self = this;
                this.countries.forEach(item => {
                    if(item.id === self.country){
                        codes = item.codes;
                    }
                })

                return codes
            }
        },
        methods : {
            verify(){
                var comission_percentage = isNaN(this.store.comission_percentage) || this.store.comission_percentage === '' ? 0 : this.store.comission_percentage;
                this.store.comission_percentage = comission_percentage < 0 ? comission_percentage * (-1) : comission_percentage;
            },
            updatePostCodes(){
              if(this.country !== ''){
                  this.selectedPostCodes = [];
              }
            },
            pickCode(code){
                let exist = false , Index = -1;
                this.selectedPostCodes.forEach((item , index) => {
                    if(item === code){
                        exist = true;
                        Index = index
                    }
                })
                if(exist === false){
                    this.codes.forEach(item => {
                        if(item === code){
                            this.selectedPostCodes.push(item)
                        }
                    })
                } else {
                    this.selectedPostCodes.splice(Index , 1);
                }
            },
            checkPostCodes(code){
                let exist = false;

                this.selectedPostCodes.forEach(item => {
                    if(item === code){
                        exist = true
                    }
                })

                return exist;
            },
            checkSelection(id){
                let exist = false;

                this.selectedMethods.forEach(item => {
                    if(item.id === id){
                        exist = true
                    }
                })

                return exist;

            },
            pick(id){
                let exist = false , Index = -1;
                this.selectedMethods.forEach((item , index) => {
                    if(item.id === id){
                        exist = true;
                        Index = index
                    }
                })
                if(exist === false){
                    this.delivery_methods.forEach(item => {
                        if(item.id === id){
                            this.selectedMethods.push(item)
                        }
                    })
                } else {
                    this.selectedMethods.splice(Index , 1);
                }

            },
            fetchName(id){
              let name = '';
              this.countries.forEach(item => {
                  if(item.id === id)
                      name = item.name
              })

                return name;
            },
            sentMarchantIDEmail(uid, type){
                DB.collection("users").where('uid' , '==' , uid).get().then(function (querySnapshot) {
                    if (!querySnapshot.empty) {
                        let user = {}
                        querySnapshot.forEach(doc => {
                            user = doc.data()
                        });

                        var dashboardLink = 'https://aladins-dashboard.herokuapp.com';
                        var mailText = '';

                        if(type === 'accepted')
                        mailText = `Congratulation, Your store has been approved by our team. Your marchant ID is <b>${user.marchantID}</b> . <br> Here is Dashboard link ${dashboardLink} `
                        else
                            mailText = `We are sorry to let you know that your store registration request has been declined by our team.`

                        axios({
                            method: 'post',
                            url: 'https://us-central1-aladins-chirag.cloudfunctions.net/storeAcceptance',
                            data: {
                                MailTo : user.email,
                                name: user.name,
                                type : type,
                                mailText : mailText
                            }
                        })
                            .then(function (response) {

                                //console.log(response)

                            }).catch(err => {
                            console.log(err);
                        });
                    }
                });
            },
            approve(){

                let self = this;

                self.store.delivery_methods = this.selectedMethods.map(item => item.id)
                self.store.postcodes = this.selectedPostCodes;
                self.store.country = {
                    id : this.country,
                    name : this.fetchName(this.country)
                }
                self.store.serviceID = this.serviceID
                self.store.serviceCatID = this.serviceCatID === 'select' ? '' : this.serviceCatID
                self.store.status = 'enabled';
                self.store.pendingChange = {};
                self.store.description = '';
                self.store.logoPATH = '';
                self.store.logoURL = '';
                self.store.imagePATH = '';
                self.store.imageURL = '';

                let size = self.store.name.length;
                let indexArr = [];
                for(var i=1 ; i<= size ; i++){
                    indexArr.push(self.store.name.substr(0, i).toLowerCase())
                }

                self.store.name.split(' ').forEach(item => {
                    if(!indexArr.includes(item))
                        indexArr.push(item.toLowerCase())
                });

                self.store.name.split(' ').forEach(item => {
                    var temp_size = item.length;
                    for(var i=1 ; i<= temp_size ; i++){
                        var check = item.substr(0, i).toLowerCase();
                        if(!indexArr.includes(check))
                            indexArr.push(check)
                    }
                });

                self.store.indexArr = indexArr;

                let citiesRef = DB.collection("store");
                /*if(self.store.postcodes.length === 0){
                    self.postcodeERROR = true;
                    return;
                }*/

                citiesRef.doc(self.store.id).update(self.store).then(() => {
                    DB.collection("users").doc(self.store.userID).update({
                        status : 'active',
                        shopID : self.store.id
                    }).then(() => {
                        self.sentMarchantIDEmail(self.store.userID , 'accepted')
                        self.$router.push({ path : `/admin/dashboard/store/pending-store`  });
                    })

                });
            },
            reject(){

                let self = this;

                self.store.status = 'rejected';

                let citiesRef = DB.collection("store");
                citiesRef.doc(self.store.id).update(self.store).then(() => {
                    DB.collection("users").doc(self.store.userID).update({
                        status : 'rejected',
                        shopID : self.store.id
                    })
                    self.sentMarchantIDEmail(self.store.userID , 'rejected')
                    self.$router.push({ path : `/admin/dashboard/store/pending-store`  });
                });
            }
        },

        created(){


            this.validateOldUser();

            let self= this;

            var docRef = DB.collection("service-category");

            docRef.get().then(function (querySnapshot) {
                    if (!querySnapshot.empty) {
                        querySnapshot.forEach(doc => {
                            self.service_categories.push(doc.data())
                        });
                    } else {
                        // doc.data() will be undefined in this case
                        console.log("Here No such document!");
                        return {}
                    }
        });

            this.serviceID = this.services[0].id;


            docRef = DB.collection("delivery-methods");

            docRef.get().then(function (querySnapshot) {
                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        self.delivery_methods.push(doc.data())
                    });
                } else {
                    // doc.data() will be undefined in this case
                    console.log("Here No such document!");
                    return {}
                }
            });


            docRef = DB.collection("General-infos");

            docRef.get().then(function (querySnapshot) {
                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        if(doc.data().type === 'country-location'){

                            self.countries.push(doc.data())
                        }

                        self.country = self.countries[0].id
                    });
                } else {
                    // doc.data() will be undefined in this case
                    console.log("Here No such document!");
                    return {}
                }
            });


        }
    }
</script>

<style scoped>
    .error{
        font-size: 12px;
        color: #ff6600;
        padding-left: 20px;
        margin-bottom: 0px;
    }
    .col_half {
        width: 80% !important;
    }
    .selected{
        background-color: #fe6500 !important;
    }
    .method{
        display: inline-block;
        padding: 12px;
        background-color: #07C748;
        border-radius: 4px;
        color: #FFFFFF;
        margin-left: 8px;
        margin-top: 8px;
        cursor: pointer;
        font-size: 12px !important;
    }
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }


    .top-section{
        margin-top: 20px;
    }

    .input-title{
        padding-top : 10px;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 5px;
        margin-bottom: 5px;
    }

    .proceed-button{
        background-color: #07C748;
        border-color: #07C748;
        min-width: 80px;
        min-height: 40px;
    }

    .reject-button {
        background-color: #fe6500;
        border-color: #fe6500;
        min-width: 80px;
        min-height: 40px;
        margin-right: 30px;
    }

    .service-section{
        margin-top: 10px;
    }

    .checkbox{
        margin-top: 14px;
    }


</style>
