<template>
  <div>
    <nuxt/>
    <flash></flash>
  </div>
</template>

<script>
  import Flash from "@/components/Flash";
  export default {
      components: {Flash},
  }
</script>

<style>

</style>
