<template>
    <no-ssr>
        <div>

            <div class="new">

                <div v-if="!showContent" class="aligncenter">
                    <img src="@/assets/images/ajax-loader-2.gif" alt="">
                </div>


                <div v-else class="services-customer-profile-content">
                    <section id="page-title" class="">
                        <admin-header />
                    </section>
                    <section>
                        <div class="container-fluid clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <AdminSidebar />
                                </div>
                                <div class="col-md-10 admin-page-content">
                                    <!--<div class="row top-section">-->
                                        <!--<div class="col-md-10">-->
                                            <!--<h3>Cart</h3>-->
                                        <!--</div>-->
                                        <!--<div :class="{'col-md-1' : cartChanged , 'col-md-2' : !cartChanged}">-->
                                            <!--<a @click.prevent="changeCart = true" class="btn btn-info new-service">Add Product</a>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-1" v-if="cartChanged">-->
                                            <!--<a  @click.prevent="updateWarning" class="btn btn-info new-service-2">Update</a>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <p style="text-align: right" v-if="!disableUpdate && !disableCancell">
                                        <a class="btn btn-danger" style="color: #ffffff" @click.prevent="warnCancel">Cancel Order</a>
                                    </p>
                                    <div class="row top-section">
                                        <div class="col-md-9">
                                            <h3>Order Details</h3>
                                        </div>
                                        <div class="col-md-3" v-if="orderCancelled">
                                            <p class="alert alert-danger">This order was cancelled</p>
                                        </div>
                                        <!--<div :class="{'col-md-1' : cartChanged , 'col-md-2' : !cartChanged}">-->
                                        <!--<a @click.prevent="changeCart = true" class="btn btn-info new-service">Add Product</a>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-1" v-if="cartChanged">-->
                                        <!--<a  @click.prevent="updateWarning" class="btn btn-info new-service-2">Update</a>-->
                                        <!--</div>-->
                                    </div>

                                    <div class="row top-section" style="margin-bottom: 25px">
                                        <order-progress v-if="updateprogressBar && !orderCancelled" :status="order.status" />
                                        <div class="col-md-9">
                                            Requested Delivery Time <b> From <span class="delivery-date">{{order.order.deliveryDateFrom}}</span>   to <span class="delivery-date">{{order.order.deliveryDateTo}}</span>    </b>
                                        </div>
                                        <!--<div class="col-md-2" v-if="!disableUpdate">-->
                                            <!--<select class="form-control" v-model="order.status">-->
                                                <!--<option :value="item" v-for="item in filterStatuses">{{ item }}</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-1" v-if="!disableUpdate" style="text-align: left">-->
                                            <!--<a class="btn btn-info new-service-2" @click="updateStatus">Update</a>-->
                                        <!--</div>-->
                                        <!--<div :class="{'col-md-1' : cartChanged , 'col-md-2' : !cartChanged}">-->
                                        <!--<a @click.prevent="changeCart = true" class="btn btn-info new-service">Add Product</a>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-1" v-if="cartChanged">-->
                                        <!--<a  @click.prevent="updateWarning" class="btn btn-info new-service-2">Update</a>-->
                                        <!--</div>-->
                                    </div>


                                    <div v-if="true">
                                        <div class="row product-row" v-for="(store , index) in getStores" >
                                            <div class="col-md-6" style="font-weight: bold">{{getShopName(store)}}</div>
                                            <div class="col-md-6 text-right clearfix" style="font-size: 14px;">
                                                <!--<p v-if="getSubtotalByStore(store) < spentToGetFreeDelivery()">You need to spent above <span class="orange">${{spentToGetFreeDelivery()}}</span> to unlock FREE Delivery</p>-->
                                                <!--<p v-else style="color:#07c748">You unlocked free delivery</p>-->
                                            </div>
                                            <div class="col-md-12 aladin-item-box clearfix" v-for="(product, pIndex) in mainCart" v-if="product.storeID == store">
                                                <button style="visibility: hidden" @click.prevent="productRemoveWarning(product,pIndex)" type="button" data-dismiss="alert" aria-hidden="true" class="close close-item">×</button>
                                                <div v-if="error.indexOf(pIndex) !== -1" class="pickAtMost"><p>Pick at most {{product.buyLimit}}</p></div>
                                                <div class="aladin-item">
                                                    <img  :src="product.images[0].imageURL" height="100px" v-if="product.images.length>0">
                                                    <p class="p-name">{{product.productName}}</p>
                                                    <p class="p-quant">{{product.minQuantity}}{{product.unit}}</p>
                                                </div>
                                                <div class="aladin-quantity">
                                                    <button style="visibility: hidden" @click.prevent="removeProductQty(product,pIndex)" class="button  button-small button-amber btn1">-</button>
                                                    <a class="button  button-small button-amber btn2" disabled>{{product.productQty}}</a>
                                                    <button style="visibility: hidden" @click.prevent="addProductQty(product,pIndex)" class="button  button-small button-amber btn3">+</button>
                                                </div>
                                                <div class="aladin-price ">
                                                    <p>${{product.grandTotalPrice}}</p>
                                                </div>

                                                <div v-if="product.substituteMode" class="alert alert-warning clearboth">
                                                    <a style="visibility: hidden"  @click.prevent="deleteSubstitute(product,pIndex)" class="close" title="close">×</a>
                                                    <strong>Substitute : </strong>{{product.substitute.productName}}
                                                </div>
                                                <div v-if="product.instruction !==''" class="alert alert-success clearboth">
                                                    <a  style="visibility: hidden" @click.prevent="deleteInstruction(product,pIndex)" class="close" title="close">×</a>
                                                    <strong>Instruction : </strong>{{product.instruction}}
                                                </div>
                                                <!--"openInstruction"-->
                                                <div v-if="openInstruction.indexOf(product.productID) !== -1" class="alert alert-success clearboth">
                                                    <a style="visibility: hidden" class="close" title="close" @click.prevent="closeInstructionField(product)">×</a>
                                                    <form class="form-inline" style="margin-bottom: 0px;">
                                                        <div class="form-group" style="width: 70%;">
                                                            <input type="text" class="form-control"  placeholder="Type your instruction here" style="width: 100%;" v-model="inputInstruction[pIndex]">

                                                        </div>
                                                        <button style="visibility: hidden" type="button" class="btn btn-default" @click.prevent="getInstruction(product,pIndex)">Add</button>
                                                    </form>
                                                    <p class="formError" v-if="formError.inputInstruction.indexOf(product.productID) !== -1" style="margin-bottom: 0px;">
                                                        Please type instruction here!
                                                    </p>
                                                </div>
                                                <div class="subs-ins clearboth">
                                                    <p style="margin-bottom: 10px;">
                                                        <span style="visibility: hidden" v-if="!product.substituteMode" class="aladin-substitue" @click.prevent="enableSubstitute(product,pIndex)"><i class="icon-arrow-down"></i> Add Substitiue</span>
                                                        <span style="visibility: hidden" v-if="openInstruction.indexOf(product.productID) == -1 && product.instruction == ''" class="aladin-instruction clearfix" @click.prevent="openInstructionField(product)"><i class="icon-pencil"></i> Add Instructions</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-12 total_purchasefor_store">
                                                <p style="width: 66.66%;float:left"><span><b>Total Purchase from {{getShopName(store)}}:</b></span></p>
                                                <p style="overflow: hidden"><span><b>${{getSubtotalByStore(store)}}</b></span></p>
                                            </div>
                                        </div>


                                        <div class="row pyment-row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-8">
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <td>Subtotal</td>
                                                        <td class="green">${{getSubtotal()}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Delivery Fee</td>
                                                        <td>
                                                            <!--del>${{getDeliveryFee()}}</del-->
                                                            <ins class="green" style="text-decoration: none;">${{getUnlockedDeliveryFee}}</ins>

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Conceirge</td>
                                                        <td class="green">${{conceirgeFee}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Total Payable</b></td>
                                                        <td class="green">${{getGrandTotal()}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div v-else class="row">
                                        <div class="col-md-12">
                                            <p>Your cart is empty!</p>
                                        </div>
                                    </div>





                                    <warning :message="message"
                                             :id="removeID"
                                             :warningFor="warningFor"
                                             v-if="warning"
                                             @close="warning = false"
                                             @remove="proceedcancel"
                                    />

                                    <warning2 :message="message"
                                              :id="removeID"
                                              :warningFor="warningFor"
                                              v-if="warning2"
                                              @close="warning2 = false"
                                              @remove="proceedDelete" />

                                    <add-product-on-cart
                                            v-if="changeCart"
                                            :serviceID="serviceID"
                                            :stores="stores"
                                            :services="services"
                                            :products="products"
                                            :mainCart="mainCart"
                                            @cartUpdated="cartUpdated"
                                            @close="changeCart = false ; substituteMode = false ; selectedStore = {}"
                                            :substitutemode="substituteMode"
                                            :substituteIndex="substituteIndex"
                                            :selectedstore="selectedStore"
                                    />



                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </no-ssr>
</template>

<script>

    import firebase from 'firebase'
    import DB from '~/plugins/firebase/init'
    import AdminSidebar from '@/components/AdminSidebarMenu';
    import AdminHeader from "@/components/AdminHeader";
    import Pagination from '@/components/Pagination';
    import axios from 'axios'
    import Warning from "@/components/Warning";
    import moment from 'moment'
    import AddProductOnCart from "@/components/AddProductOnCart";
    import Warning2 from "@/components/Warning2";
    import OrderProgress from "@/components/OrderProgress";
    export default {
        middleware : 'auth',
        components: {
            Warning2,
            AddProductOnCart,
            AdminHeader,
            AdminSidebar , Pagination , Warning ,OrderProgress
        },
        asyncData (context) {

            var BASE = DB.collection("orders").where('id' , '==' , context.params.orderID).orderBy("orderDate" , "asc");
            //var docRef = BASE;

            var docRef = BASE;

            return docRef.get().then(function (querySnapshot) {


                let order = {};
                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        order = {...doc.data()};
                    });

                    // return {orders }
                    return {order}
                } else {
                    // doc.data() will be undefined in this case
                    console.log("Here No such document!");
                    return {order : {}}
                }
            }).then(function(order){
                //get store-product-category info

                var spcRef = DB.collection("services");
                return  spcRef.get().then(function(querySnapshot) {
                    let servicesMap = {};

                    if(!querySnapshot.empty){

                        querySnapshot.forEach(doc => {
                            servicesMap[doc.data().id] = doc.data();
                        });

                    }
                    return { ...order, servicesMap: servicesMap}
                });

            }).catch(function (error) {
                console.log("Error getting document:", error);
            });


        },
        data(){
            return {

                disableCancell : false,
                orderCancelled : false,

                disableUpdate : false,

                updateprogressBar : true,

                cartChanged : false,

                changeCart : false,

                cartNotEmpty: false,
                //displayPickAtMost: false,
                error: [],
                enableSubstituteMode: false,
                substituteForProduct: {},
                openInstruction: [],
                inputInstruction: [],
                formError : {
                    inputInstruction : [],
                    login: false
                },
                unlockFreeDelivery : false,
                subTotalByStore : [],
                unlockedDeliveryFeeAmount: '',


                warning2 : false,
                warning : false,
                removeID : '',
                warningFor : 'product',
                message : '',
                noDATA  :false,
                alreadyExist : false,
                searchKey : '',
                catSearch : '',
                subcatSearch : '',
                searchIN : 'name',
                searchORDER : 'asc',
                disable : false,
                order : {},
                totalData : 0,
                dataPerPage : 12,
                fetchAfter : 3,
                timerID : '',
                hidePagination : false,
                users : [],
                stores : [],
                services : [],
                products : [],
                substituteMode : false,
                substituteIndex : -1,

                selectedStore : {},
                all : [
                    'order-received',
                    'shopper-started-picking',
                    'waiting-deliver',
                    'order-on-your-way',
                    'order-complete',
                    'cancelled'
                ],

                servicesMap : {},
            }
        },
        computed : {

            filterStatuses(){

                let arr = [], all = [
                    'order-received',
                    'shopper-started-picking',
                    'waiting-deliver',
                    'order-on-your-way',
                    'order-complete'
                ];
                let position = all.indexOf(this.order.status);


                for(var i=position ; i<5 ; i++){
                    arr.push(all[i])
                }
                return arr;
            },

            mainCart(){
                return this.order.order.cart;
            },

            getStores(){
                var storeIdarr = [];
                if(this.mainCart.length > 0){
                    //this.cartNotEmpty = true;
                    this.mainCart.forEach( function(opt) {
                        var found = storeIdarr.indexOf(opt.storeID);
                        if(found == -1){
                            storeIdarr.push(opt.storeID);
                        }
                    })
                }
                return storeIdarr;
            },
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            },

            serviceID(){
                if(this.order.hasOwnProperty('order')){
                    return this.order.order.serviceID;
                }
                return '';
            },
            getUnlockedDeliveryFee(){

                /*let self = this;
                var count = 0;
                this.getStores.forEach(function(opt){
                    if(self.getSubtotalByStore(opt) > self.spentToGetFreeDelivery){
                        count += eval(1)
                    }
                });
                return self.getDeliveryFee()-(self.deliveryFee()*count)*/
                let only_price = 0;
                this.order.order.cart.forEach(product => {
                    only_price += Number(product.grandTotalPrice) + Number(product.adjustedAmount);
                })

                //add delivery charge
                if(this.order.order.promoAction !== "free-shiping" && only_price < Number(this.servicesMap[this.order.order.serviceID].free_delivery_amount)){
                    return this.deliveryFee();
                }

                return 0;

            },
            conceirgeFee(){
                return this.order.order.conciergeFee
            }
        },
        methods : {

            proceedcancel(data){
                let self = this;
                this.warning = false;

                var usersUpdate = {};
                usersUpdate['status'] = 'cancelled';
                Object.keys(self.order.orderStatus).forEach(item => {
                    usersUpdate[`orderStatus.${item}`] = 'cancelled';
                })



                    DB.collection("orders").doc(self.order.id).update(usersUpdate).then(()=> {

                        if(Object.keys(self.order.order.payment.details.length > 0)) {

                            let chargeID = self.order.order.payment.details.chargeID;
                            axios({
                                method: 'post',
                                url: 'https://us-central1-aladins-chirag.cloudfunctions.net/StripeFullRefund',
                                data: {
                                    chargeID: chargeID
                                }
                            })
                                .then(function (response) {

                                    var usersUpdate = {};
                                    usersUpdate[`order.payment.option`] = 'refunded';

                                    DB.collection("orders").doc(self.order.id).update(usersUpdate).then(() => {
                                        console.log('refunded')
                                    })

                                }).catch(err => {
                                console.log(err);
                            });

                        }
                        self.orderCancelled = true;
                        this.disableUpdate = true;

                        self.sendCancelEmail(self.order)
                        self.$store.dispatch('flash', {
                            message: 'Order Cancelled',
                            type: 'success'
                        });
                    });


            },

            warnCancel(){
                this.warning = true;
                this.removeID = '',
                    this.warningFor = 'product';
                this.message = 'If you cancel this order customer payment will be refunded. Do you want to proceed?';
            },

            isEditableNow(){
                let indexes = [] , arr = Object.values(this.order.orderStatus);

                arr.forEach(item => {
                    indexes.push(this.all.indexOf(item))
                })

                let max = Math.max.apply(Math, indexes) , min = Math.min.apply(Math, indexes);

                if(max >= 3){
                    return false
                }

                return true;
            },
            updateStatus(){
                let self = this;

                DB.collection("orders").doc(self.order.id).update({
                    status : self.order.status
                }).then(()=>{
                    if(self.all.indexOf(self.order.status) >= 3){
                        self.disableCancell = true;
                    }
                    if(self.all.indexOf(self.order.status) >= 4){
                        self.disableUpdate = true;
                    }
                    self.updateprogressBar = false;
                    self.$store.dispatch('flash' , {
                        message : 'Updated',
                        type : 'success'
                    });

                    setTimeout(()=> {
                        self.updateprogressBar = true;
                    } , 1)
                });



            },

            updateWarning(){
                this.warning = true;
                    this.removeID = '',
                    this.warningFor = 'product';
                    this.message = 'If you update this cart the current order will be cancelled. A new order will be generated with this updated product. Do you want to proceed?';
            },

            productRemoveWarning(product,pIndex){
                this.warning2 = true;
                this.removeID = '',
                    this.warningFor = 'product';
                this.message = 'You are about to remove this product from the cart. proceed?';
                this.removeID = pIndex;
                //removeProductFromCart(product,pIndex)
            },

            proceedDelete(data){
                this.warning2 = false;
                console.log(data);
                this.removeProductFromCart({},data)
            },

            cartUpdated(data){
                this.$set(this.order.order , 'cart' , this.removeReferences(data));
                this.cartChanged = true;
            },

            getGrandTotal(){
                var conceirgeFee = this.order.order.conciergeFee;
                var subTotalWithDeliverAndConceirgeFee = eval(this.getSubtotal())+eval(this.getUnlockedDeliveryFee)+eval(conceirgeFee);
                return subTotalWithDeliverAndConceirgeFee.toFixed(2);
            },

            deliveryFee(){
              return 5;
            },

            getDeliveryFee(){
                //return 'store : '+this.getStores().length;
                if(this.getStores.length > 1){
                    return this.deliveryFee()*this.getStores.length;
                }else{
                    return this.deliveryFee();
                }
            },

            getConceirgeFee(){
                return 5;
            },



            openInstructionField(product){
                this.openInstruction.push(product.productID);
            },

            closeInstructionField(product){
                this.openInstruction.splice( this.openInstruction.indexOf(product.productID), 1 );
            },
            enableSubstitute(product,pIndex) {
                let self =this;

                this.substituteMode = true;
                this.substituteIndex = pIndex;

                this.stores.forEach(item => {
                    if(item.id === product.storeID){
                        this.selectedStore = {...item}
                    }
                })

                this.changeCart = true;

                //self.$set(self.order.order.cart[pIndex] , 'substituteMode' , true);
            },

            getInstruction(product,pIndex){

                if(this.inputInstruction.length > 0){
                    this.formError.inputInstruction.splice( this.formError.inputInstruction.indexOf(product.productID), 1 );
                    let self =this;

                    self.$set(self.order.order.cart[pIndex] , 'instruction' , this.inputInstruction[pIndex]);
                    self.openInstruction.splice( self.openInstruction.indexOf(product.productID), 1 );

                    self.cartChanged = true;


                } else{
                    this.formError.inputInstruction.push(product.productID);

                }
            },

            deleteInstruction(product,pIndex){
                let self =this;
                self.$set(self.order.order.cart[pIndex] , 'instruction' , '');
                self.cartChanged = true;
            },
            addProductQty(product,pIndex){

                if((product.buyLimit == 0) || (product.buyLimit > 0 && product.productQty < product.buyLimit)){
                    let increase = this.mainCart[pIndex].productQty + 1;
                    let self =this;

                    self.$set(self.order.order.cart[pIndex] , 'productQty' , increase);
                    self.$set(self.order.order.cart[pIndex] , 'grandTotalPrice' , (self.mainCart[pIndex].totalPrice * self.mainCart[pIndex].productQty).toFixed(2));

                    self.cartChanged = true;

                }
                if(product.productQty == product.buyLimit){
                    var found = this.error.indexOf(pIndex);
                    if(found == -1){
                        this.error.push(pIndex);
                    }
                }

            },

            removeProductQty(product,pIndex){
                //if(product.productQty < product.buyLimit){
                if(this.error.length > 0){
                    var found = this.error.indexOf(pIndex);

                    if(found !== -1){
                        this.error.splice( found, 1 );
                    }
                }
                //}

                if(this.mainCart[pIndex].productQty > 1){
                    let dicrease = this.mainCart[pIndex].productQty - 1;
                    let self =this;

                    self.$set(self.order.order.cart[pIndex] , 'productQty' , dicrease);
                    self.$set(self.order.order.cart[pIndex] , 'grandTotalPrice' , (self.mainCart[pIndex].totalPrice * self.mainCart[pIndex].productQty).toFixed(2));
                }
            },

            deleteSubstitute(product,pIndex){
                var x = confirm("Are you sure you want to delete substitute?");
                if(x){

                    let self =this;
                    self.$set(self.order.order.cart[pIndex] , 'substituteMode' , false);
                    self.$set(self.order.order.cart[pIndex] , 'substitute' , {});
                    self.cartChanged = true;

                }
            },

            removeProductFromCart(product,pIndex){
                let self =this;

                self.$delete(self.order.order.cart , pIndex);

                self.cartChanged = true;

                if(this.mainCart.length == 0){
                    this.cartNotEmpty = false;
                }

            },

            spentToGetFreeDelivery(){
              return 80;
            },

            getSubtotalByStore(storeID){
                var subTotal = 0;
                this.mainCart.forEach( function(opt) {
                    if(opt.storeID == storeID){
                        subTotal += eval(opt.grandTotalPrice)
                    }
                });
                return subTotal.toFixed(2);
            },

            getShopName(storeId){
                var shopName = '';
                this.stores.forEach(item => {
                    if(item.id === storeId)
                        shopName = item.name
                })
                return shopName;
            },

            getSubtotal(){
                var subTotal = 0;
                this.mainCart.forEach( function(opt) {
                    subTotal += eval(opt.grandTotalPrice)
                });

                return subTotal.toFixed(2);
            },


            showWarning(id){
                this.removeID = id;
                this.message = 'Please Confirm. I want to delete this Product from this shop';
                this.warning = true;
            },

            fetchAll(){
                let self = this;
                DB.collection("orders").orderBy("orderDate" , "asc").get().then(function (querySnapshot) {

                    //console.log(querySnapshot);
                    self.totalData = querySnapshot.size;

                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });
            },
        },

        created(){
            let self = this;
            this.validateOldUser();

            this.fetchAll();

            setTimeout(() => {
                if(self.order.orderStatus){
                    if(self.order.status === 'order-complete' || self.order.status === 'cancelled'){
                        this.disableUpdate = true;
                    }

                    if(self.order.status === 'cancelled'){
                        self.orderCancelled = true;
                    }

                    if(!this.isEditableNow() || self.all.indexOf(self.order.status) >= 3){
                        self.disableCancell = true;
                    }
                }
            }, 1);

            DB.collection("users").get().then(function (querySnapshot) {

                if (!querySnapshot.empty) {
                    self.users = []
                    querySnapshot.forEach(doc => {
                        self.users.push(doc.data());
                    });

                }

            }).catch(function (error) {
                console.log("Error getting document:", error);
            });

            DB.collection("products").get().then(function (querySnapshot) {

                if (!querySnapshot.empty) {
                    self.products = []
                    querySnapshot.forEach(doc => {
                        self.products.push(doc.data());
                    });

                }

            }).catch(function (error) {
                console.log("Error getting document:", error);
            });

            DB.collection("store").get().then(function (querySnapshot) {

                if (!querySnapshot.empty) {
                    self.stores = []
                    querySnapshot.forEach(doc => {
                        self.stores.push(doc.data());
                    });

                }

            }).catch(function (error) {
                console.log("Error getting document:", error);
            });

            DB.collection("services").get().then(function (querySnapshot) {

                if (!querySnapshot.empty) {
                    self.services = []
                    querySnapshot.forEach(doc => {
                        self.services.push(doc.data());
                    });

                }

            }).catch(function (error) {
                console.log("Error getting document:", error);
            });



        }
    }
</script>

<style scoped>

    .delivery-date{
        color: #fe6500;
    }

    #page-title{
        padding: 10px !important;
    }
    #page-title span{
        margin-top: 0px;
    }

    .error{
        color: #fe6500;
        font-size: 12px;
    }

    .top-section{
        margin-top: 20px;
    }

    .btn{
        min-width: 75px;
        min-height: 40px;
    }


    .req-to-login{
        width: 100%;
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    .req-to-login p{
        color: red;
    }
    .pickAtMost{
        margin-bottom: 0px;
        padding: 10px;
        font-size: 14px;
        color: red;
    }
    .aladin-item, .aladin-quantity, .aladin-price{
        width: 33.33%;
        float: left;
        padding: 10px;
    }
    .aladin-item-box{
        border: 1px solid #dcd3d3;
        margin-bottom: 10px;
    }
    body{
        overflow: hidden !important;
    }
    .formError{
        font-size: 12px;
        color: #ff6600;
    }
    #submit-btn{
        display: block;
        margin: 0 auto !important;
        background-color: #ff924b !important;
    }
    .terms{
        color: #ff924b;
    }

    .shop-quick-view-ajax, .portfolio-ajax-modal{
        margin: 0;
        width: 100%;
    }

    .aladin-item img{
        float: left;
        margin-right: 5px;
    }
    .aladin-item p{
        margin-bottom: 5px;
        font-size: 14px;
    }
    .aladin-quantity .button{
        margin: 0px;
        margin-top: 20px;
        color: #fff !important;
        font-size: 16px !important;
        background-color: #ff6600;
    }
    .aladin-quantity .button:hover{
        background-color: #444;
    }
    .aladin-quantity .btn2:hover{
        background-color: #ff6600;
        cursor: default;
    }
    .aladin-price p{
        color: #07c748;
    }
    .clearboth{
        clear: both;
    }
    .aladin-instruction{
        float: right;
    }
    .subs-ins p span{
        cursor: pointer;
    }
    .product-row{
        margin-bottom: 30px;
    }
    .fancy-title{
        margin-bottom: 0px !important;
    }
    .modal-footer .checkout-btn{
        background-color: #07c748;
        text-align: center;
        color: #fff;
    }

    .new-service {
        background-color: #fe6500;
        border-color: #fe6500;
        float: right;
        color: #FFFFFF !important;
    }

    .new-service-2{

        background-color: #07c748;
        border-color: #07c748;
        float: right;
        color: #FFFFFF !important;
    }





</style>
