<template>
    <no-ssr>
        <div>

            <div class="new">

                <div v-if="!showContent" class="aligncenter">
                    <img src="@/assets/images/ajax-loader-2.gif" alt="">
                </div>


                <div v-else class="services-customer-profile-content">
                    <section id="page-title" class="">
                        <admin-header />
                    </section>
                    <section>
                        <div class="container-fluid clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <AdminSidebar />
                                </div>
                                <div class="col-md-10 admin-page-content">
                                    <div class="row top-section">
                                        <div class="col-md-8">
                                            <h3>Voucher of {{user.name}}</h3>
                                        </div>
                                        <div class="col-md-4 pull-right">
                                            <nuxt-link :to="`/admin/dashboard/voucher/create`" class="btn btn-info new-service">Create Voucher</nuxt-link>
                                        </div>
                                    </div>

                                    <div class="row top-section">

                                        <!--<div class="col-md-5">-->
                                            <!--<input type="text" @focus="noDATA = false" @keyup="filter" v-model.trim="searchKey" class="form-control" placeholder="Search Product Name">-->
                                            <!--<span v-if="noDATA" class="error">Nothing found</span>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-2">-->
                                        <!--<select v-model="searchIN" class="form-control">-->
                                        <!--<option value="name">Name</option>-->
                                        <!--<option value="category">Category</option>-->
                                        <!--</select>-->
                                        <!--</div>-->
                                        <div class="col-md-2" >
                                            <select @change="filter" v-model="filterBy" class="form-control">
                                                <option value="admin">System</option>
                                                <option value="shop">Store</option>
                                            </select>
                                        </div>
                                    </div>



                                    <div class="row table-header" v-if="vouchers.length > 0">
                                        <div class="col-md-2 ">Code</div>
                                        <div class="col-md-1 ">Valid For</div>
                                        <div class="col-md-2 ">Created By</div>

                                        <div class="col-md-2 ">Valid From</div>
                                        <div class="col-md-2 ">Valid to</div>
                                        <div class="col-md-2 center">Action</div>
                                    </div>
                                    <p v-else class="error">There is no vouchers added yet </p>

                                    <div id="draggable" style="margin-bottom: 25px;">
                                        <div class="row single-service" :key="item.id" v-for="(item , index ) in vouchers">

                                            <div class="col-md-2 item">
                                                {{item.code}}
                                            </div>

                                            <div class="col-md-1 item">
                                                {{item.validFor}}
                                            </div>

                                            <div class="col-md-2 ">
                                                {{showType(item)}}
                                            </div>

                                            <div class="col-md-2 item">
                                                <!--{{item.startAtSTR}}-->
                                                {{ format(item.startAt) }}

                                            </div>
                                            <div class="col-md-2 item">
                                                {{ format(item.endAt) }}
                                            </div>
                                            <div class="col-md-2 center">

                                                <el-dropdown v-if="item.user_type === 'admin'">
                                                        <span class="el-dropdown-link">
                                                        <i class="el-icon-more-outline"></i>
                                                        </span>
                                                    <el-dropdown-menu slot="dropdown">
                                                        <el-dropdown-item>
                                                            <a style="cursor: pointer" @click.prevent="showWarning(item.id)"><i class="icon-trash"></i> &nbsp;&nbsp; Delete</a>
                                                        </el-dropdown-item>
                                                        <el-dropdown-item>
                                                            <nuxt-link :to="`/admin/dashboard/voucher/edit/${item.id}`" >
                                                                <i class="icon-edit"></i> &nbsp;&nbsp; Details
                                                            </nuxt-link>
                                                        </el-dropdown-item>
                                                    </el-dropdown-menu>
                                                </el-dropdown>

                                            </div>

                                        </div>
                                    </div>



                                </div>

                                <warning :message="message"
                                         :id="removeID"
                                         :warningFor="warningFor"
                                         v-if="warning"
                                         @close="warning = false"
                                         @remove="removeVoucher"
                                />
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </no-ssr>
</template>

<script>

    import DB from '~/plugins/firebase/init'
    import AdminSidebar from '@/components/AdminSidebarMenu';
    import AdminHeader from "@/components/AdminHeader";
    import axios from 'axios'
    import Warning from "@/components/Warning";
    import moment from 'moment'
    export default {
        middleware : 'auth',
        components: {
            Warning,
            AdminHeader,
            AdminSidebar
        },
        asyncData (context) {
                var BASE = DB.collection("voucher-promo-referal").where('user_type' , '==' , 'admin').orderBy("createdAt" , "asc");
                //var docRef = BASE;

                var docRef = BASE.limit(12);

                return docRef.get().then(function (querySnapshot) {


                    let vouchers = [];
                    if (!querySnapshot.empty) {
                        querySnapshot.forEach(doc => {
                            vouchers.push(doc.data());
                        });

                        // return {vouchers }
                        return {vouchers}
                    } else {
                        // doc.data() will be undefined in this case
                        console.log("Here No such document!");
                        return {vouchers : []}
                    }
                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });


        },
        data(){
            return {
                warning : false,
                message : '',
                warningFor : 'voucher',
                removeID : '',
                alreadyExist : false,
                searchKey : '',
                searchIN : 'name',
                filterBy : 'admin',
                disable : false,
                vouchers : [],
                timerID : '',
                noDATA : false,
                timerID : '',
                noDATA : false,
                dataPerPage : 12,
                hidePagination : false,
                stores : []
            }
        },
        computed : {
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            }
        },
        methods : {
            format(data){
              return moment(data).format("MMMM Do YYYY")
            },
            showType(item){
                if(item.user_type === 'admin'){
                    return 'System';
                } else if(item.user_type === 'shop'){
                    let Index = -1;
                    this.stores.forEach((Item , index) => {
                        if(Item.id === item.storeID)
                            Index = index;
                    })

                    if(Index !== -1){
                        return this.stores[Index].name;
                    }
                    return 'Store';
                }
            },
            filter(){
                let self = this;


                clearTimeout(self.timerID);
                self.timerID = setTimeout(()=>{

                    // if(self.searchKey.length === 0){
                    //     self.noDATA = false;
                    //     // self.fetchData(1);
                    //     // self.hidePagination = false;
                    //     return;
                    // }

                    axios({
                        method:'post',
                        url:'https://us-central1-aladins-chirag.cloudfunctions.net/allVouchers',
                        data: {
                            offset: 0,
                            dataPerPage : self.dataPerPage,
                            filterBy : self.filterBy,
                            searchFor : self.searchKey.toLowerCase()
                        }
                    })
                        .then(function(response) {
                            if(response.data.length === 0){
                                self.noDATA = true;
                               // self.fetchData(1);
                                self.hidePagination = false;
                            } else {
                                self.noDATA = false;
                                self.hidePagination = false;
                                self.hidePagination = true;
                                self.vouchers = [];
                                self.vouchers = response.data
                            }

                        }).catch(err => {
                        console.log(err);
                    });
                }, 500);


            },
            showWarning(id){
                let self = this;
                this.removeID = id;
                this.message = 'Please Confirm. I want to delete this voucher';
                this.warning = true;
                // this.vouchers.splice(index , 1)
            },
            removeVoucher(data){
                let self = this, Index = -1;
                this.warning = false;
                this.vouchers.forEach((item , index) => {
                    if(item.id === data.id){
                        Index = index
                    }

                })


                DB.collection("voucher-promo-referal").doc(data.id).delete().then(()=>{
                    self.vouchers.splice(Index , 1)
                    self.$store.dispatch('flash' , {
                        message : 'Voucher Deleted',
                        type : 'success'
                    });
                });
            }
        },

        created(){
            let self = this;

            this.validateOldUser();

            DB.collection("store").where("status", "==", "enabled")
                .onSnapshot(function(querySnapshot) {
                    var stores = [];
                    querySnapshot.forEach(function(doc) {
                        stores.push(doc.data());
                    });
                    self.stores = stores
                    //console.log("Current store in : ", store.join(", "));
                });

            // console.log(moment((new Date()).getTime()).format('MM-DD-YYYY'))
            // console.log(moment('10/11/2018' , 'MM/DD/YYYY').valueOf())
            //
            // console.log(moment(moment('10/11/2018' , 'MM/DD/YYYY').valueOf()).format('DD-MM-YYYY'));
            //self.$set(self.voucher , 'endAt' , moment($input.val()).valueOf());

        }
    }
</script>

<style scoped>
    .el-icon-more-outline {
        color : #fe6500;
        font-size: 25px;
    }
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }

    .single-service{
        background-color: #ffffff;
        padding-top: 10px;
    //padding-bottom: 5px;
        margin: 9px 1px 2px 1px;

    }
    .table-header{
        padding-top: 10px;
        margin: 9px 1px 2px 1px;
        font-weight: bold;
    }

    .single-service .item {
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .single-service .action {
        padding-bottom: 7px;
    }

    .new-service{
        background-color: #fe6500;
        border-color: #fe6500;
        float: right;
    }

    .error{
        color: #fe6500;
        font-size: 12px;
    }

    .top-section{
        margin-top: 10px;
    }



</style>
