<template>
  <transition name="modal">
    <no-ssr>
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container" v-if="showLogin">
          <!--button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button-->
          <div class="modal-header">
            <slot name="header">
              <div class="fancy-title title-dotted-border">
                <p>Login to Chirag Admin</p>
              </div>
            </slot>
          </div>
          <div class="modal-body">
            <slot name="body">
              <p class="formError" v-text="firebaseErrMsg"></p>

              <form @submit.prevent="tryLogin" class="nobottommargin"novalidate="novalidate">
                <div class="col_full">
                  <input type="text" @focus="formError.marchantID = false" v-model.trim="marchantID" class="sm-form-control required" placeholder="Marchant Id">
                  <span class="formError" v-if="formError.marchantID">
                    Please enter marchant ID
                  </span>
                </div>


                <div class="col_full" >
                  <input type="password" @focus="formError.password = false" v-model.trim="password" id="template-contactform-email" name="template-contactform-email" value="" class="required email sm-form-control" placeholder="Password">
                  <span class="formError" v-if="formError.password">
                    Please type password
                  </span>
                </div>
                <div class="clear"></div>





                <div class="col_full">
                  <button :disabled="disable"  class="button nomargin" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">

                    <span v-if="disable">
                      <img src="../assets/images/ajax-loader.gif" alt="">
                    </span>
                    <span v-else>
                      Login
                    </span>
                  </button>
                </div>


                <div class="col_full">
                  <span class="formError">
                    <nuxt-link to="/forgot/password">Forgot your password?</nuxt-link>

                  </span>
                </div>
              </form>


            </slot>
          </div>




        </div>
      </div>
    </div>
    </no-ssr>
  </transition>
</template>

<script>

    const store = require('store');
    const Cryptr = require('cryptr');
    import firebase from 'firebase'
    import DB from '~/plugins/firebase/init'

    export default {
        middleware: 'auth',
        data(){
            return {
                showLogin : false,
                disable : false,
                firebaseErrMsg : '',
                marchantID : '',
                password : '',
                formError : {
                    marchantID : false,
                    password : false
                }
            }
        },
        methods : {
            tryLogin(){
                if(this.disable)
                    return;


                var self = this;

                var docRef2 = DB.collection("users");
                let name='', verified = false , image ='' , uid = '' , email='' , marchantID = '' , type= '' , status ='' , shopID = '' , mainRole ='';

                if (self.marchantID === ''){
                    self.formError.marchantID = true;
                }

                if (self.password === ''){
                    self.formError.password = true;
                }

                if(self.marchantID !== '' && self.password !== ''){
                    self.disable = true;
                    docRef2.where("marchantID", "==", self.marchantID)
                        //.where("type", "==", 'shop')
                        .get().then(function(querySnapshot) {

                        if(querySnapshot.size !== 0) {

                            querySnapshot.forEach(doc => {
                                // doc.data() is never undefined for query doc snapshots
                                //console.log(doc.data())

                                verified = doc.data().verified;
                                name = doc.data().name;
                                type = doc.data().type;
                                email = doc.data().email;
                                image = doc.data().image;
                                uid = doc.data().uid;
                                status = doc.data().status;
                                marchantID = doc.data().marchantID;
                                shopID = doc.data().shopID === undefined ? '' : doc.data().shopID;
                                mainRole = doc.data().type;


                            });

                            if (!verified){
                                self.disable = false;
                                self.firebaseErrMsg= 'You account is not verified yet. Please check your email';
                            } else if(status === 'banned'){
                                self.disable = false;
                                self.firebaseErrMsg= 'You store is banned';
                            } else {

                                firebase.auth().signInWithEmailAndPassword(email, self.password).then(
                                    (data) => {
                                        let info = {
                                            name , uid, email, image, marchantID , type , status , shopID , mainRole
                                        };
                                        let expire_on = ((new Date()).getTime() + 7200000);
                                        self.$store.dispatch('auth/setUser' , info);
                                        self.$store.dispatch('auth/setUserExpire' , expire_on);

                                        let cryptr = new Cryptr(uid);
                                        const encryptedString = cryptr.encrypt(JSON.stringify(info));

                                        store.set('d_aladins_info', encryptedString);
                                        store.set('d_aladin', uid);
                                        store.set('d_aladins_valid' , cryptr.encrypt(expire_on))


                                        self.disable = false;

                                        if(type === 'admin')
                                            self.$router.push({ path : '/admin/dashboard/general' })
                                        else if(type === 'shop'){
                                            if(status === 'pending' || status === 'rejected')
                                                self.$router.push({path :  `/shop/dashboard/current-info`})
                                            else
                                                self.$router.push({path :  `/shop/dashboard/${shopID}/store-info`})

                                        }


                                    }).catch((error) => {
                                    self.disable = false;
                                    self.firebaseErrMsg= error.message;
                                    setTimeout(() => {
                                        self.firebaseErrMsg = '';
                                    } , 4000);
                                })


                            }


                        } else {
                            self.disable = false;
                            self.firebaseErrMsg= 'No Such Marchant Found';
                        }
                    }).catch(function(error) {
                        console.log("Error getting document:", error);
                    });
                }
                }

        },
        created(){
            //console.log('current_user : ' , firebase.auth().currentUser)
            //console.log(firebase.auth())
            this.validateOldUser();
            if(this.user.hasOwnProperty('uid')){

                if(this.user.type === 'admin')
                    this.$router.push({ path : '/admin/dashboard/general' })
                else if(this.user.type === 'shop'){
                    if(this.user.status === 'pending')
                        this.$router.push({path :  `/shop/dashboard/current-info`})
                    else
                        this.$router.push({path :  `/shop/dashboard/${this.user.shopID}/store-info`})

                }
            } else {
                this.showLogin = true;
            }
        }
    }
</script>

<style scoped>
  .formError{
    font-size: 12px;
    color: #ff6600;
  }
  #submit-btn{
    display: block;
    margin: 0 auto !important;
    background-color: #ff924b !important;
  }
  .terms{
    color: #ff924b;
  }
  .modal-header{
    display: block !important;
  }
  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .modal-container {
    width: 600px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }

  .modal-header h3 {
    margin-top: 0;
    color: #000;
    text-align: center;
    margin-bottom: 10px;
  }
  .modal-header p {
    width: 55%;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    color: #80808082;
  }

  .modal-body {
    margin: 20px 0;
  }

  .modal-default-button {
    float: right;
  }

  /*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */

  .modal-enter {
    opacity: 0;
  }

  .modal-leave-active {
    opacity: 0;
  }

  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  /***Login css***/
  .fancy-title h3{
    padding-right: 0px !important;
  }
  .fancy-title, .or, .req-to-login{
    text-align: center;
  }
  .button{
    width:100%;
    background-color: #ff6600 !important;
  }
  .req-to-login{
    font-size: 14px;
  }
  .req-to-login span{
    color: #ff6600 !important;
  }

  @media only screen and (max-width: 600px) {
    .modal-container  {
      width: 300px;
    }
  }
</style>