<template>

        <div>
            <no-ssr>
            <div class="new">

                <div v-if="!showContent" class="aligncenter">
                    <img src="@/assets/images/ajax-loader-2.gif" alt="">
                </div>


                <div v-else class="services-customer-profile-content">
                    <section id="page-title" class="">
                        <admin-header />
                    </section>
                    <section>
                        <div class="container-fluid clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <ShopSidebar />
                                </div>
                                <div class="col-md-10 admin-page-content">
                                    <div class="row top-section">
                                        <div class="col-md-8">
                                            <h3>Offers List of {{user.name}}</h3>
                                        </div>
                                        <div class="col-md-4 pull-right">
                                            <nuxt-link :to="`/shop/dashboard/offers/${storeID}/create`" class="btn btn-info new-service">Create Offer</nuxt-link>
                                        </div>
                                    </div>

                                    <div class="row top-section">
                                        <div class="col-md-5">
                                            <input type="text" @keyup="filter" v-model="searchKey" class="form-control" placeholder="Search Offer Name">
                                            <a href="" @click.prevent="resetFilter" v-if="enableReset" class="error">Reset filter</a>
                                        </div>
                                        <!--<div class="col-md-2" >-->
                                            <!--<select @change="filter" v-model="searchORDER" class="form-control">-->
                                                <!--<option value="asc">ASC</option>-->
                                                <!--<option value="desc">DESC</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                    </div>






                                    <div class="row product-list-header" v-if="offers.length > 0">
                                        <div class="col-md-2 center">Thumb</div>
                                        <div class="col-md-2 ">Name</div>
                                        <div class="col-md-2 ">Actual Price</div>
                                        <div class="col-md-2 ">Offer Price</div>
                                        <div class="col-md-2 center">&nbsp;</div>
                                    </div>
                                    <p v-else class="error">No offers found !! </p>

                                    <div id="draggable" style="margin-bottom: 25px;">
                                        <div class="row single-service" :key="item.id" v-for="(item , index ) in offers">
                                            <div class="col-md-2 item center">
                                                <img :src="productImage(index)" width="100" height="80" alt="">
                                            </div>
                                            <div class="col-md-2 item p-top">
                                                {{item.name}}
                                            </div>

                                            <div class="col-md-2 item p-top">
                                                &#36;{{item.totalPrice}}
                                            </div>
                                            <div class="col-md-2 item p-top">
                                                &#36;{{item.discounted_price}}
                                            </div>
                                            <div class="col-md-2 center p-top">



                                                <el-dropdown>
                                                        <span class="el-dropdown-link">
                                                        <i class="el-icon-more-outline"></i>
                                                        </span>
                                                    <el-dropdown-menu slot="dropdown">
                                                        <el-dropdown-item>
                                                            <a style="cursor: pointer" @click.prevent="showWarning(item.id)"><i class="icon-trash"></i> &nbsp;&nbsp; Delete</a>
                                                        </el-dropdown-item>
                                                        <el-dropdown-item>
                                                            <nuxt-link :to="`/shop/dashboard/offers/${storeID}/details/${item.id}`" >
                                                                <i class="icon-edit"></i> &nbsp;&nbsp; Details
                                                            </nuxt-link>
                                                        </el-dropdown-item>
                                                    </el-dropdown-menu>
                                                </el-dropdown>

                                            </div>

                                        </div>
                                    </div>

                                    <div style="width: 600px; margin: 0px auto; display: block">
                                        <pagination v-if="totalData > dataPerPage && hidePagination" :dataPerPage="dataPerPage" @fetch="fetchData" :totalData="totalData"  />
                                    </div>


                                    <warning :message="message"
                                             :id="removeID"
                                             :warningFor="warningFor"
                                             v-if="warning"
                                             @close="warning = false"
                                             @remove="removeOffer"
                                    />



                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
    </no-ssr>
        </div>

</template>

<script>

    import firebase from 'firebase'
    import DB from '~/plugins/firebase/init'
    import ShopSidebar from '@/components/ShopSidebarMenu';
    import AdminHeader from "../../../../../components/AdminHeader";
    import Pagination from '@/components/Pagination';
    import axios from 'axios'
    import Warning from "@/components/Warning";
    export default {
        middleware : 'auth',
        components: {
            AdminHeader,
            ShopSidebar , Pagination , Warning
        },
        asyncData (context) {
            if(context.params.id !== undefined) {
                var BASE = DB.collection("products").where('storeID' , '==' , context.params.id).where('type' , '==' , 'offer').orderBy("createdAt" , "desc");
                //var docRef = BASE;

                var docRef = BASE.limit(15);

                return docRef.get().then(function (querySnapshot) {


                    let offers = [];
                    if (!querySnapshot.empty) {
                        querySnapshot.forEach(doc => {
                            offers.push(doc.data());
                        });

                        // return {offers }
                        return {offers}
                    } else {
                        // doc.data() will be undefined in this case
                        console.log("Here No such document!");
                        return {offers : []}
                    }
                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });

            }
        },
        data(){
            return {
                enableReset : false,
                warning : false,
                message : '',
                warningFor : '',
                removeID : '',
                alreadyExist : false,
                searchKey : '',
                searchIN : 'name',
                searchORDER : 'desc',
                disable : false,
                offers : [],
                totalData : 0,
                dataPerPage : 15,
                fetchAfter : 3,
                timerID : '',
                hidePagination : false,
                noDATA : false
            }
        },
        computed : {
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            },
            storeID(){
                return this.$route.params.id
            }
        },
        methods : {
            clearFilter(){
                this.searchKey = '';
                this.enableReset = false;
            },
            resetFilter(){
                this.clearFilter();
                this.fetchData(1);
                this.hidePagination = false;
            },
            showWarning(id){
                this.removeID = id;
                this.message = 'Please Confirm. I want to delete this Offer item';
                this.warning = true;
            },
            removeOffer(data){

                let self = this, Index = -1;
                this.warning = false;
                this.offers.forEach((item , index) => {
                    if(item.id === data.id){
                        Index = index
                    }

                })


                let images = self.offers[Index].images;
                images.forEach(item => {
                    firebase.storage().ref().child(item.imagePATH).delete()
                })

                DB.collection("offers").doc(self.offers[Index].id).delete();

                self.offers.splice(Index , 1);



            },
            filter(){
                let self = this;
                self.enableReset = true;


                clearTimeout(self.timerID);
                self.timerID = setTimeout(()=>{


                    axios({
                        method:'post',
                        url:'https://us-central1-aladins-chirag.cloudfunctions.net/storeOffers',
                        data: {
                            storeID: this.storeID,
                            offset: 0,
                            dataPerPage : self.dataPerPage,
                            searchORDER : self.searchORDER,
                            searchFor : self.searchKey.toLowerCase()
                        }
                    })
                        .then(function(response) {
                            //console.log(response.data);

                            if(response.data.length === 0){
                                self.noDATA = true;
                                self.offers = [];
                                self.hidePagination = false;
                            } else {
                                self.noDATA = false;
                                self.hidePagination = false;
                                self.hidePagination = true;
                                self.offers = [];
                                self.offers = response.data
                            }
                        }).catch(err => {
                        console.log(err);
                    });
                }, 1000);


            },

            productImage(index){
                var img = 'https://via.placeholder.com/125x90';
                // if(this.offers.length === 0)
                //     return;
                if(this.offers[index].images.length > 0){
                    if(this.offers[index].images[0] !== undefined){
                        img = this.offers[index].images[0].imageURL
                    }
                }

                return img;
            },
            fetchData(page){

                let self = this;

                let startAfter = page * self.dataPerPage - self.dataPerPage;
                axios({
                    method:'post',
                    url:'https://us-central1-aladins-chirag.cloudfunctions.net/storeOffers',
                    data: {
                        storeID: this.storeID,
                        offset: startAfter,
                        dataPerPage : self.dataPerPage,
                        searchORDER : 'desc'
                    }
                })
                    .then(function(response) {
                        //console.log(response.data);
                        self.offers = response.data
                    });
            },
            fetchAll(){
                let self = this;
                DB.collection("products").where('storeID' , '==' , this.storeID).where('type' , '==' , 'offer').orderBy("createdAt" , "asc").get().then(function (querySnapshot) {

                    //console.log(querySnapshot);
                    self.totalData = querySnapshot.size;

                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });
            }
        },

        created(){

            this.validateOldUser();

            this.fetchAll();

        }
    }
</script>

<style scoped>
    .admin-page-content{
        padding: 20px;
    }
    .product-list-header{
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .product-list-header div {
        font-weight: bold;
        padding-left: 1px;
    }

    .el-icon-more-outline {
        color : #fe6500;
        font-size: 25px;
    }
    .p-top{
        padding-top: 32px !important;
    }
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }

    .single-service{
        background-color: #ffffff;
        padding-top: 10px;
    //padding-bottom: 5px;
        margin-top: 9px;

    }

    .single-service .item {
        padding-bottom: 5px;
        padding-top: 5px;
        padding-right: 1px;
        padding-left: 1px;
    }

    .single-service .action {
        padding-bottom: 7px;
    }

    .new-service{
        background-color: #fe6500;
        border-color: #fe6500;
        float: right;
    }

    .error{
        color: #fe6500;
        font-size: 12px;
    }

    .top-section{
        margin-top: 10px;
    }




</style>
