<template>
    <no-ssr>
    <div>
        <div v-if="!showContent" class="aligncenter">
            <img src="@/assets/images/ajax-loader-2.gif" alt="">
        </div>


        <div v-else class="services-customer-profile-content">
            <section id="page-title" class="">
                <admin-header />
            </section>
            <section>
                <div class="container-fluid clearfix">
                    <div class="row">
                        <div class="col-md-2">
                            <AdminSidebar />
                        </div>
                        <div class="col-md-10 admin-page-content">
                            <div class="row top-section">
                                <div class="col-md-8">
                                    <h3>{{service.name}}</h3>
                                </div>
                                <!--<div class="col-md-4 pull-right">-->
                                <!--<nuxt-link to="/admin/dashboard/services/create" class="btn btn-info new-service">Add Service</nuxt-link>-->
                                <!--</div>-->
                            </div>
                            <div class="row service-section">
                                <div class="col-md-2 input-title">
                                    Service Name
                                </div>
                                <div class="col-md-7">
                                    <input @focus="error.name = false" v-model.trim="service.name"  type="text" class="form-control">
                                </div>
                                <div class="col-md-3 text-right">
                                    <button style="margin-right: 15px" @click.prevent="updateService" class="btn btn-info proceed-button">
                                        <span v-if="disable">
                                              <img src="@/assets/images/ajax-loader.gif" alt="">
                                        </span>
                                        <span v-else>update</span>
                                    </button>
                                </div>

                            </div>

                            <InputError v-if="error.name">
                                {{error.nameMessage}}
                            </InputError>



                            <div class="row service-section">
                                <div class="col-md-2 input-title">
                                    Service Description
                                </div>
                                <div class="col-md-7">
                                    <textarea @focus="error.description = false" rows="7" v-model.trim="service.description" class="form-control"></textarea>
                                </div>
                            </div>
                            <InputError v-if="error.description">
                                {{error.descriptionMessage}}
                            </InputError>

                            <div class="row service-section">
                                <div class="col-md-2 input-title">
                                    Free Delivery for shopping above
                                </div>
                                <div class="col-md-7">
                                    <input  v-model="service.free_delivery_amount"  type="number" class="form-control">
                                </div>

                            </div>

                            <div class="row service-section">
                                <div class="col-md-2 input-title">
                                    Multi Store Supported
                                </div>
                                <div class="col-md-7">
                                    <input v-model.trim="service.multistoresupport"  type="checkbox" class="checkbox">
                                </div>
                            </div>

                            <div class="row service-section">
                                <div class="col-md-2 input-title">
                                    Store Status
                                </div>
                                <div class="col-md-2">
                                    <select v-model.trim="service.active" class="form-control">
                                        <option :value="true">Active</option>
                                        <option :value="false">Disabled</option>
                                    </select>
                                </div>
                            </div>


                            <div class="row service-section">
                                <div class="col-md-2 input-title">
                                    Enable concierge fee
                                </div>
                                <div class="col-md-2">
                                    <select v-model.trim="service.concierge" class="form-control">
                                        <option :value="true">Yes</option>
                                        <option :value="false">No</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row service-section">
                                <div class="col-md-12 input-title featured-image-box">
                                    <h4>
                                        Featured Image
                                    </h4>
                                    <div class="center">
                                        <img :src="service.imageURL" style="width: 30%" alt="">
                                    </div>

                                    <div class="center">
                                        <img  @click="showImageUpload" src="//i.imgur.com/NEJ7kr8.png" class="small-cam" alt="">
                                        <input type="file" style="display: none;" ref="imageInput" @change="onImagePicked">
                                    </div>
                                    <show-file-upload v-if="uploadingimage" />
                                    <br>
                                    <p v-if="imageRatioError" class="alert alert-danger">
                                        Please upload a image with minimum width of 545px and minimum height of 300px to get a better look
                                    </p>
                                </div>
                            </div>

                            <div class="row service-section">
                                <div class="col-md-12 input-title featured-image-box">
                                    <h4>
                                        Banner Images <small style="font-size: 10px">maximum 4 images</small>
                                    </h4>
                                    <div id="draggable">
                                            <div class="row banner-image-item" v-for="(service , index) in service.banner">

                                                <div class="col-md-8 center">
                                                    <img :src="service.imageURL" alt="">
                                                </div>
                                                <div class="col-md-4 delete-btn">
                                                    <button class="btn btn-danger btn-sm" @click.prevent="removeBanner(service.imagePATH , index)">
                                                        <span v-if="deletingBanner[index]">
                                                              <img src="@/assets/images/ajax-loader.gif" alt="">
                                                        </span>
                                                        <span v-else>Delete</span>
                                                    </button>
                                                </div>
                                            </div>
                                    </div>

                                    <div class="center" v-if="service.banner.length < 4">
                                        <img  @click="showBannerUpload" src="//i.imgur.com/NEJ7kr8.png" class="small-cam" alt="">
                                        <input type="file" style="display: none;" ref="bannerInput" @change="onBannerPicked">
                                    </div>
                                    <show-file-upload v-if="uploadingBanner" />
                                    <br>
                                    <p v-if="bannerRatioError" class="alert alert-danger">
                                        Please upload a image with minimum width of 1100px and exact height of 220px to get a better look
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    </no-ssr>
</template>

<script>

    import Sortable from 'sortablejs'
    import firebase from 'firebase'
    import DB from '~/plugins/firebase/init'
    import persistance from '~/plugins/persistance';
    import AdminSidebar from '@/components/AdminSidebarMenu';
    import InputError from '@/components/InputError';
    import {mapGetters} from 'vuex'
    import ShowFileUpload from '@/components/ShowFileUpload';
    import AdminHeader from "../../../../../components/AdminHeader";
    export default {
        middleware : 'auth',
        components: {
            AdminHeader,
            AdminSidebar , InputError , ShowFileUpload
        },
        asyncData (context) {
            //console.log(context);
            if(context.params.id !== undefined){
                var docRef = DB.collection("services").doc(context.params.id);

                return  docRef.get().then(function(doc) {
                    //console.log(doc)
                    if (doc.exists) {
                        //console.log("Document data:", doc.data());

                        let deletingBanner = [];
                        doc.data().banner.filter((item) => {
                            deletingBanner.push(false);
                        });

                        return { service : doc.data() , deletingBanner  }
                    } else {
                        // doc.data() will be undefined in this case
                        console.log("No such document!");
                        return {}
                    }
                }).catch(function(error) {
                    console.log("Error getting document:", error);
                });
            }

        },
        data(){
            return {
                imageRatioError : false,
                bannerRatioError : false,
                error : {
                    name : false,
                    nameMessage : '',
                    description : false,
                    descriptionMessage : ''
                },
                disable : false,
                proceed : false,
                uploadingimage : false,
                uploadingBanner : false,
                service : {
                    id : '',
                    name : '',
                    slug : '',
                    description : '',
                    active : true,
                    multistoresupport : false,
                    imageURL : '',
                    imagePATH : '',
                    banner : [],
                    createdAt : 0,
                    orderBy : 0,
                    concierge : false,
                    free_delivery_amount : 0
                }
            }
        },
        computed : {
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            }
        },
        methods : {
            removeBanner(path , index){
                let self = this;
                var proceed = confirm('do you want to delete this banner?');
                if(!proceed)
                    return;

                this.$set(this.deletingBanner , index , true);


                firebase.storage().ref().child(path).delete().then(()=> {

                    self.deletingBanner.splice(index, 1);
                    self.service.banner.splice(index , 1);

                    self.service.banner.forEach((item,  index) => {
                        self.$set(self.deletingBanner , index , false);
                    });

                    DB.collection("services").doc(self.service.id).update({
                        banner : self.service.banner
                    }).then(()=>{

                        self.$store.dispatch('flash' , {
                            message : 'Service banner image deleted',
                            type : 'success'
                        });

                    });
                });

            },
            showImageUpload(){
                this.$refs.imageInput.click();
            },
            showBannerUpload(){
                this.$refs.bannerInput.click();
            },
            onImagePicked(event){
                let self = this;
                const files = event.target.files;
                let fileName = files[0].name;
                let arr = fileName.split('.')
                let extention = arr[arr.length - 1].toLowerCase();

                if(extention == 'png' || extention == 'jpeg' || extention == 'jpg'){
                    self.imageRatioError = false;
                    const fileReader = new FileReader();
                    fileReader.addEventListener('load' , ()=>{
                        var img = new Image;

                        img.onload = function() {
                            if(img.width >= 544 && img.height >= 300){
                                self.uploadingimage = true;

                                this.tempLogo = files[0];

                                let imagePATH = `service-images/${self.service.slug}/` + (new Date()).getTime() + fileName.replace(/\s/g, "")

                                let storageRef =  firebase.storage().ref(imagePATH)

                                let uploadFile = storageRef.put(this.tempLogo);


                                uploadFile.on('state_changed', function(snapshot){
                                    //var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                                    // console.log('Upload is ' + progress + '% done');
                                })

                                uploadFile.then((result) => {
                                    // Delete the old file
                                    if(self.service.imagePATH.length > 0){
                                        firebase.storage().ref().child(self.service.imagePATH).delete();
                                    }

                                    storageRef.getDownloadURL().then(function(url) {
                                        //console.log(url)
                                        self.service.imageURL = url;
                                        self.service.imagePATH = imagePATH;
                                        DB.collection("services").doc(self.service.id).update({
                                            imageURL: url,
                                            imagePATH : imagePATH
                                        }).then(()=>{
                                            self.uploadingimage = false;
                                            self.$store.dispatch('flash' , {
                                                message : 'Service image Updated',
                                                type : 'success'
                                            });
                                        });
                                    })

                                })
                            } else {
                                self.imageRatioError = true;
                            }
                        };

                        img.src = fileReader.result;
                    })


                    fileReader.readAsDataURL(files[0]);


                } else {
                    alert('Please select a valid image')
                }
            },
            onBannerPicked(event){
                let self = this;
                const files = event.target.files;
                let fileName = files[0].name;
                let arr = fileName.split('.')
                let extention = arr[arr.length - 1].toLowerCase();

                self.bannerRatioError = false;

                if(extention == 'png' || extention == 'jpeg' || extention == 'jpg'){

                    const fileReader = new FileReader();
                    fileReader.addEventListener('load' , ()=>{

                        var img = new Image;

                        img.onload = function() {
                            // console.log('width' , img.width);
                            // console.log('height' , img.height);

                            if(img.width >= 1100 && img.height === 220){
                                self.uploadingBanner = true;

                                this.tempLogo = files[0];

                                let imagePATH = `service-banners/${self.service.slug}/` + (new Date()).getTime() + fileName.replace(/\s/g, "")

                                let storageRef =  firebase.storage().ref(imagePATH)

                                let uploadFile = storageRef.put(this.tempLogo);


                                uploadFile.on('state_changed', function(snapshot){
                                    //var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                                    // console.log('Upload is ' + progress + '% done');
                                })

                                uploadFile.then((result) => {

                                    storageRef.getDownloadURL().then(function(url) {
                                        //console.log(url)
                                        self.service.banner.push({
                                            imageURL: url,
                                            imagePATH : imagePATH
                                        });
                                        DB.collection("services").doc(self.service.id).update({
                                            banner : self.service.banner
                                        }).then(()=>{

                                            self.service.banner.forEach((item,  index) => {
                                                self.$set(self.deletingBanner , index , false);
                                            });

                                            self.FireSortEvent();

                                            self.uploadingBanner = false;
                                            self.$store.dispatch('flash' , {
                                                message : 'Service banner image added',
                                                type : 'success'
                                            });
                                        });
                                    })

                                })
                            } else {
                                self.bannerRatioError = true;
                            }
                        };

                        img.src = fileReader.result;
                        //newImg.width;
                    });

                    fileReader.readAsDataURL(files[0]);


                } else {
                    alert('Please select a valid image')
                }
            },
            updateService(){

                let self = this;
                if(self.service.name.length < 4){
                    self.error.name = true;
                    self.error.nameMessage = "Name must be atleast 4 charcters"
                    return;
                }

                if(self.service.description === ''){
                    self.error.description = true;
                    self.error.descriptionMessage = "Description can't be empty"
                    return;
                }

                self.disable = true;
                let citiesRef = DB.collection("services");
                self.service.slug = self.service.name.toLowerCase().replace(/[^a-z0-9-]+/g , '-');
                let query = citiesRef.where("slug", "==", self.service.slug);

                query.get().then(function(querySnapshot) {

                    let current_one_ok = false;
                    querySnapshot.forEach(doc => {

                            if(doc.data().id === self.service.id)
                            current_one_ok = true;
                    })


                    if (querySnapshot.size !== 0 && current_one_ok === false) {

                            self.alreadyExist = true;
                            self.disable = false;
                            self.error.name = true;
                            self.error.nameMessage = 'A Service with this name already exists';


                    } else {
                      //   doc.data() will be undefined in this case
                        self.disable = false;
                        citiesRef.doc(self.service.id).update({
                            name : self.service.name,
                            slug : self.service.slug,
                            description : self.service.description,
                            multistoresupport : self.service.multistoresupport,
                            active : self.service.active,
                            concierge : self.service.concierge,
                            free_delivery_amount : self.service.free_delivery_amount
                        }).then(()=> {
                            self.$store.dispatch('flash' , {
                                message : 'Service data Updated',
                                type : 'success'
                            });
                        })
                    }
                }).catch(function(error) {
                    console.log("Error getting document:", error);
                });
            },
            FireSortEvent(){
                let self = this;
                if(process.browser){
                    var el = document.getElementById('draggable');
                    if(el !== null)
                        Sortable.create(el , {
                            animation: 300,
                            scroll: true,
                            onEnd: function (event) {
                                if(event.oldIndex === event.newIndex)
                                    return;

                                var primaryArray = self.service.banner;

                                var resultArray = [];

                                for(var i = 0 ;i < primaryArray.length ; i++){
                                    resultArray[i] = primaryArray[i];
                                }

                                var oldIndex = event.oldIndex;
                                var newIndex = event.newIndex;

//console.log(primaryArray)

                                if(newIndex < oldIndex){
                                    //  console.log('go up');
                                    for(var i = newIndex ; i < primaryArray.length-1 ; i++){

                                        if(i < oldIndex) {
                                            resultArray[i + 1] = primaryArray[i];
                                        }
                                    }
                                    resultArray[newIndex] = primaryArray[oldIndex];
                                } else {
                                    //console.log('go down');
                                    for(var i = oldIndex ; i < primaryArray.length-1 ; i++){
                                        if(i < newIndex)
                                            resultArray[i] = primaryArray[i+1];
                                    }
                                    resultArray[newIndex] = primaryArray[oldIndex];
                                }


                                DB.collection("services").doc(self.service.id).update({
                                    banner : resultArray
                                }).then(()=>{
                                    // self.$store.dispatch('flash' , {
                                    //     message : 'Service banner image added',
                                    //     type : 'success'
                                    // });
                                });
                            }
                        })
                }
            }
        },

        created(){
            this.validateOldUser();

            setTimeout(() => {
                this.FireSortEvent();
            } , 2500);

        },
        mounted(){
            this.FireSortEvent();
        }
    }
</script>

<style scoped>
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }


    .top-section{
        margin-top: 20px;
    }

    .input-title{
        padding-top : 10px;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 5px;
        margin-bottom: 5px;
    }

    .proceed-button{
        background-color: #fe6500;
        border-color: #fe6500;
        min-width: 80px;
        min-height: 40px;
    }

    .service-section{
        margin-top: 10px;
    }

    .checkbox{
        margin-top: 14px;
    }

    .featured-image-box {
        background-color: #ffffff;
        border: 1px solid grey;
        border-radius: 5px;
        min-height: 100px;
    }

    .small-cam{
        height: 25px;
        width: 25px;
        cursor: pointer;
        border: 1px solid gray;
        border-radius: 5px;
        margin-top: 15px; background-color: #fe6500
    }
    .banner-image-item{
        border : 1px solid green;
        border-radius: 4px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 10px;
    }

    .btn-danger {
        min-width: 80px;
        min-height: 40px
    }
    .delete-btn {
        width: 100%;
        text-align: center;
        top: 70px;
    }
    @media (min-width: 360px) and (max-width: 767px) {
        .delete-btn {
            width: 100%;
            text-align: center;
            top: 0px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }


</style>
