<template>
    <div>
        <div v-if="!showContent" class="aligncenter">
            <img src="@/assets/images/ajax-loader-2.gif" alt="">
        </div>


        <div v-else class="services-customer-profile-content">
            <section id="page-title" class="">
                <admin-header  />
            </section>
            <section>
                <div class="container-fluid clearfix">
                    <div class="row">
                        <div class="col-md-2">
                            <ShopSidebar  />
                        </div>
                        <div class="col-md-10 admin-page-content">
                            <div class="row top-section">
                                <div class="col-md-8">
                                    <h3>Create New Category</h3>
                                </div>

                            </div>
                            <div class="row service-section">
                                <div class="col-md-2 input-title">
                                    Category Name
                                </div>
                                <div class="col-md-7">
                                    <input @focus="error.name = false" v-model.trim="category.name"  type="text" class="form-control">
                                </div>

                            </div>

                            <InputError v-if="error.name">
                                {{error.nameMessage}}
                            </InputError>

                            <div class="row service-section">
                                <div class="col-md-2 input-title">
                                    Is it a sub category
                                </div>
                                <div class="col-md-7">
                                    <select v-model="category.parentID" class="form-control">
                                        <option value="" >No ,It is a parent category</option>
                                        <option :value="cat.id" :key="cat.id" v-for="cat in  parent_categories">sub category of {{cat.name}}</option>
                                    </select>
                                </div>

                            </div>

                            <InputError v-if="error.serviceId">
                                {{error.serMessage}}
                            </InputError>


                            <div class="row service-section">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-6">
                                    <button @click.prevent="checkCatName" class="btn btn-info proceed-button">
                                        <span v-if="disable">
                                              <img src="@/assets/images/ajax-loader.gif" alt="">
                                        </span>
                                        <span v-else>proceed</span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script>

    import DB from '~/plugins/firebase/init'
    import persistance from '~/plugins/persistance';
    import ShopSidebar from '@/components/ShopSidebarMenu';
    import InputError from '@/components/InputError';
    import {mapGetters} from 'vuex'
    import AdminHeader from "../../../../../../components/AdminHeader";
    export default {
        middleware : 'auth',
        components: {
            AdminHeader,
            ShopSidebar , InputError
        },
        asyncData (context) {

            if(context.params.id !== undefined) {
                var docRef = DB.collection("store-product-category").where('storeID' , '==' , context.params.id);

                return docRef.get().then(function (querySnapshot) {
                    let categories = []
                    if (!querySnapshot.empty) {
                        querySnapshot.forEach(doc => {
                            categories.push(doc.data())

                        });

                        return {categories}
                    } else {
                        // doc.data() will be undefined in this case
                        console.log("Here No such document!");
                        return {}
                    }
                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });

            }
        },
        data(){
            return {
                error : {
                    name : false,
                    nameMessage : '',
                    generalMessage : ''
                },
                disable : false,
                proceed : false,
                categories : [],
                category : {
                    id : '',
                    name : '',
                    slug : '',
                    parentID : '',
                    storeID : '',
                    active : true
                }
            }
        },
        computed : {
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            },
            storeID(){
                return this.user.shopID
            },
            parent_categories(){
                return this.categories.filter((item) => {
                    if(item.parentID === '' && item.parentID.length === 0){
                        return item;
                    }

                })
            }
        },
        methods : {
            checkCatName(){

                let self = this;
                if(self.category.name.length < 3){
                    self.error.name = true;
                    self.error.nameMessage = "Name must be atleast 3 charcters"
                    return;
                }

                self.disable = true;
                self.category.slug = self.category.name.toLowerCase().replace(/[^a-z0-9-]+/g , '-');
                let citiesRef = DB.collection("store-product-category");

                if(self.category.parentID.length === 0)
                    var query = citiesRef.where("slug", "==", self.category.slug).where('storeID' , '==' , self.$route.params.id);
                else
                    var query = citiesRef.where("slug", "==", self.category.slug).where('storeID' , '==' , self.$route.params.id).where('parentID' , '==' , self.category.parentID);

                query.get().then(function(querySnapshot) {
                    //console.log("Document data:", doc);
                    if (!querySnapshot.empty) {
                        self.disable = false;
                        self.error.name = true;
                        self.error.nameMessage = 'A Category with this name already exists for this service';
                    } else {
                        // doc.data() will be undefined in this case
                        //console.log("No such document!");
                        let time = (new Date()).getTime();


                        self.category.createdAt = time;
                        self.category.orderBy = time;
                        self.category.storeID = self.storeID;

                        citiesRef.add(self.category)
                            .then(function(docRef) {
                                self.proceed = true;
                                self.disable = false;
                                //console.log("Document written with ID: ", docRef.id);
                                citiesRef.doc(docRef.id).update({id : docRef.id}).then(()=> {
                                    self.$store.dispatch('flash' , {
                                        message : 'New Category Created',
                                        type : 'success'
                                    });
                                    self.$router.push({ path : `/shop/dashboard/category/${self.$route.params.id}`  });
                                })
                            })
                            .catch(function(error) {
                                console.error("Error adding document: ", error);
                            });

                    }
                }).catch(function(error) {
                    console.log("Error getting document:", error);
                });
            }
        },

        created(){
            this.validateOldUser();

        },
        mounted(){}
    }
</script>

<style scoped>
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }


    .top-section{
        margin-top: 20px;
    }

    .input-title{
        padding-top : 10px;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 5px;
        margin-bottom: 5px;
    }

    .proceed-button{
        background-color: #fe6500;
        border-color: #fe6500;
        min-width: 80px;
        min-height: 40px;
    }

    .service-section{
        margin-top: 10px;
    }

    .checkbox{
        margin-top: 14px;
    }


</style>
