<template>
    <div>
        <div v-if="!showContent" class="aligncenter">
            <img src="@/assets/images/ajax-loader-2.gif" alt="">
        </div>


        <div v-else class="services-customer-profile-content">
            <section id="page-title" class="">
                <admin-header  />
            </section>
            <section>
                <div class="container-fluid clearfix">
                    <div class="row">
                        <div class="col-md-2">
                            <ShopSidebar  />
                        </div>
                        <div class="col-md-10 admin-page-content">
                            <div class="row top-section">
                                <div class="col-md-8">
                                    <h3>Sub Category List of {{user.name}}</h3>
                                </div>
                                <div class="col-md-4 pull-right">
                                    <nuxt-link :to="`/shop/dashboard/category/${storeID}/create`" class="btn btn-info new-service">Add Service Category</nuxt-link>
                                </div>
                            </div>
                            <div class="row" v-if="categories.length > 0">
                                <div class="col-md-3 center">Name</div>
                                <div class="col-md-2 center">Category Type</div>
                                <div class="col-md-2 center">Products</div>
                                <div class="col-md-1 center">&nbsp;</div>
                            </div>
                            <p v-else class="error">There is no category added for the store yet </p>

                            <div id="draggable">
                                <div class="row single-service" :key="cat.id" v-for="(cat , index ) in categories">
                                    <div class="col-md-3 item center">
                                        <div v-if="!catEdit[index]">
                                            {{cat.name}}
                                            <span style="font-size: 11px;">
                        <a href="#" @click.prevent="EnableEdit(index)">Edit</a>
                      </span>
                                        </div>
                                        <div v-else>
                                            <input @focus="$set(catError , index  , false)" style="max-width: 200px" v-model="categories[index].name" class="form-control">
                                            <div style="margin-top: 5px">
                                                <a @click.prevent="update(index)" class="btn btn-sm btn-success" style="float: left; color: #FFFFFF">save</a>
                                                <a @click.prevent="cancelEdit(index)" class="btn btn-sm btn-dark" style="float: left; margin-left: 10px; color: #FFFFFF">cancel</a>
                                                <span v-if="catError[index]" class="error">This category already exists</span>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-2 item center">
                                        Sub
                                    </div>
                                    <div class="col-md-2 center">
                                        <nuxt-link :to="`/shop/dashboard/product/${storeID}/sub-cat/${cat.id}`" class="btn btn-outline-success">
                                            {{ countProduct(cat.id) }}
                                        </nuxt-link>
                                    </div>
                                    <div class="col-md-1 center">
                                        <a class="btn btn-sm btn-danger" @click.prevent="showWarning(cat.id)">Delete</a>
                                    </div>
                                </div>
                            </div>

                            <warning :message="message"
                                     :id="removeID"
                                     :warningFor="warningFor"
                                     v-if="warning"
                                     @close="warning = false"
                                     @remove="removeCAT"
                            />

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script>

    import Sortable from 'sortablejs'
    import firebase from 'firebase'
    import DB from '~/plugins/firebase/init'
    import persistance from '~/plugins/persistance';
    import ShopSidebar from '@/components/ShopSidebarMenu';
    import ShowFileUpload from '@/components/ShowFileUpload';
    import Warning from "@/components/Warning";
    import AdminHeader from "@/components/AdminHeader";
    export default {
        middleware : 'auth',
        components: {
            AdminHeader,
            ShopSidebar , ShowFileUpload , Warning
        },
        asyncData (context) {
            if(context.params.id !== undefined) {
                var docRef = DB.collection("store-product-category").where('storeID' , '==' , context.params.id).where('parentID' , '==' , context.params.parent).orderBy("orderBy" , "asc");

                return docRef.get().then(function (querySnapshot) {
                    let categories = [];
                    let catOrder = [];
                    let catEdit = [] , catError = [];
                    if (!querySnapshot.empty) {
                        querySnapshot.forEach(doc => {
                            categories.push(doc.data());
                            catOrder.push({
                                id : doc.data().id,
                                order : doc.data().orderBy
                            })

                            catError.push(false)
                            catEdit.push(false)

                        });
                        return {categories , catOrder , catEdit , catError}
                    } else {
                        // doc.data() will be undefined in this case
                        console.log("Here No such document!");
                        return { categories : [] }
                    }
                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });

            }
        },
        data(){
            return {
                warning : false,
                removeID : '',
                warningFor : 'category',
                message : '',
                alreadyExist : false,
                disable : false,
                catEdit : '',
                service : {},
                categories : [],
                serviceEdit : [],
                uploadTime : [],
                imageRatioError : [],
                catOrder : [],
                products : [],
                catEdit : [],
                catError : [],
                tempCats : []
            }
        },
        computed : {
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            },
            storeID(){
                return this.$route.params.id
            }
        },
        methods : {
            update(index){
                let self=this , slug = self.categories[index].name.toLowerCase().replace(/[^a-z0-9-]+/g , '-');

                if(self.categories[index].name.length < 2){
                    this.$set(this.catEdit , index , false)
                    this.categories = this.removeReferences(this.tempCats);

                    return;
                }

                let citiesRef = DB.collection("store-product-category");
                let query = citiesRef.where("slug", "==", slug).where('storeID' , '==' , this.$route.params.id).where('parentID' , '==' , this.$route.params.parent);

                query.get().then(function(querySnapshot) {
                    let temp = [];

                    querySnapshot.forEach(doc => {
                        temp.push(doc.data())
                    });
                    if (!querySnapshot.empty && temp[0].id !== self.categories[index].id) {
                        self.$set(self.catError , index , true);
                    } else {

                        citiesRef.doc(self.categories[index].id).update({
                            slug : slug,
                            name : self.categories[index].name
                        })
                            .then(function() {
                                self.tempCats = self.removeReferences(self.categories);
                                self.$store.dispatch('flash' , {
                                    message : 'category name Updated',
                                    type : 'success'
                                });
                                self.$set(self.catEdit , index , false)
                            })
                            .catch(function(error) {
                                console.error("Error adding document: ", error);
                            });

                    }
                }).catch(function(error) {
                    console.log("Error getting document:", error);
                });
            },
            EnableEdit(index){
                this.$set(this.catEdit , index , true)
            },
            cancelEdit(index){
                this.$set(this.catEdit , index , false)
                this.categories = this.removeReferences(this.tempCats);
            },
            showWarning(id){
                this.removeID = id;
                this.message = 'Please Confirm. If you delete this sub category, then associates products will also be deleted';
                this.warning = true;
            },
            removeCAT(data){
                let self=this , CatIndex = -1;

                let images = [] , products=[];

                this.products.forEach(item => {
                    if(item.subcategoryID === data.id){
                        products.push(item.id)
                        item.images.forEach(image => {
                            images.push(image.imagePATH)
                        })
                    }

                })



                //console.log('images : ' , images);
                //console.log('products : ' , products);

                self.categories.forEach((Item , Index) => {
                    if(Item.id === data.id){
                        CatIndex = Index
                    }
                })

                //console.log('current index' , CatIndex)

                images.forEach(item => {
                    firebase.storage().ref().child(item).delete()
                })


                products.forEach(item => {
                    DB.collection("products").doc(item).delete()
                })

                self.categories.splice(CatIndex , 1)

                DB.collection("store-product-category").doc(data.id).delete()

                self.$store.dispatch('flash' , {
                    message : 'Sub Category Deleted',
                    type : 'success'
                });

                this.warning = false;


            },
            countProduct(id){
                let arr = [];
                arr = this.products.filter(item => {
                    if(item.subcategoryID === id)
                        return item
                });

                return arr.length;
            },

            countSubCat(parentID){
                let count = 0;
                this.categories.forEach((item)=>{
                    if(item.parentID === parentID)
                        count++;
                });

                return count;
            },

            FireSortEvent(){
                let self = this;
                if(process.browser){
                    var el = document.getElementById('draggable');
                    if(el !== null)
                        Sortable.create(el , {
                            animation: 300,
                            scroll: true,
                            onEnd: function (event) {

                                if(event.oldIndex === event.newIndex)
                                    return;

                                let finalsorted = persistance.suffleArrayObject(self.catOrder , event.oldIndex , event.newIndex);

                                finalsorted.forEach((item) => {
                                    DB.collection("store-product-category").doc(item.id).update({
                                        orderBy : item.order
                                    }).then(()=>{
                                        //console.log('updated');
                                    }).catch((err) => {
                                        console.log('Update Error' , err);
                                    });
                                });

                                self.catOrder = finalsorted;
                            }
                        })
                }
            }

        },

        created(){
            let self = this;
            this.validateOldUser();

            setTimeout(() => {
                this.FireSortEvent();
            } , 3000);

            DB.collection("products").where('storeID' , '==' , this.storeID).get().then(function (querySnapshot) {
                let products = [];
                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        products.push(doc.data());

                    });

                    self.products = products;
                } else {
                    // doc.data() will be undefined in this case
                    console.log("Here No such document!");
                }
            }).catch(function (error) {
                console.log("Error getting document:", error);
            });

            this.tempCats = this.removeReferences(this.categories);

        },
        mounted(){
            this.FireSortEvent();
        }
    }
</script>

<style scoped>
    .btn-danger{
        color: #FFFFFF !important;
        min-width: 40px !important;
        min-height: 30px !important;
    }
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }

    .single-service{
        background-color: #ffffff;
        padding-top: 10px;
    //padding-bottom: 5px;
        margin: 9px 1px 2px 1px;

    }

    .single-service .item {
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .single-service .action {
        padding-bottom: 7px;
    }

    .new-service{
        background-color: #fe6500;
        border-color: #fe6500;
        float: right;
    }

    .error{
        color: #fe6500;
        font-size: 12px;
    }

    .top-section{
        margin-top: 20px;
    }

    .lm{
        margin-left: 6px;
    }

    .cat-image{
        width: 45%;
    }

    .btn{
        //min-width: 75px;
        //min-height: 40px;
    }




</style>
