<template>
    <no-ssr>
        <div>

            <div class="new">

                <div v-if="!showContent" class="aligncenter">
                    <img src="@/assets/images/ajax-loader-2.gif" alt="">
                </div>


                <div v-else class="services-customer-profile-content">
                    <section id="page-title" class="">
                        <admin-header />
                    </section>
                    <section>
                        <div class="container-fluid clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <AdminSidebar />
                                </div>
                                <div class="col-md-10 admin-page-content">
                                    <div class="row top-section">
                                        <div class="col-md-8">
                                            <h3>{{country.name}} Post code List</h3>
                                        </div>
                                        <div class="col-md-4 pull-right">
                                            <a @click.prevent="selectPost = true" class="btn btn-info new-service" >Add Post code</a>
                                        </div>
                                    </div>



                                    <div class="row table-header" v-if="country.codes.length > 0">
                                        <div class="col-md-10 ">Code</div>
                                        <div class="col-md-2 center"></div>
                                        <!--<div class="col-md-2 "></div>-->
                                    </div>
                                    <p v-else class="error">There is no post code added for this country yet </p>

                                    <div id="draggable" style="margin-bottom: 25px;">
                                        <div class="row single-service" :key="item.id" v-for="(item , index ) in country.codes">

                                            <div class="col-md-10 item">
                                                {{item}}
                                            </div>
                                            <div class="col-md-2 item center">
                                                <a @click="removePostCodeWarning(index)" class="btn btn-danger btn-sm">Delete</a>
                                            </div>


                                            <!--<div class="col-md-2">-->
                                                <!--<nuxt-link style="text-transform: uppercase" :to="`/admin/dashboard/voucher/edit/${item.id}`" >-->
                                                    <!--See Zip Codes-->
                                                <!--</nuxt-link>-->

                                            <!--</div>-->

                                        </div>
                                    </div>



                                </div>

                                <warning :message="message"
                                         :id="removeID"
                                         :warningFor="warningFor"
                                         v-if="warning"
                                         @close="warning = false"
                                         @remove="removePostCode"
                                />

                                <post :country="country" v-if="selectPost" @save="create" @close="selectPost = false" />
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </no-ssr>
</template>

<script>

    import DB from '~/plugins/firebase/init'
    import AdminSidebar from '@/components/AdminSidebarMenu';
    import AdminHeader from "@/components/AdminHeader";
    import axios from 'axios'
    import Warning from "@/components/Warning";
    import Post from "@/components/Post";
    export default {
        middleware : 'auth',
        components: {
            Post,
            Warning,
            AdminHeader,
            AdminSidebar
        },
        asyncData (context) {
            var BASE = DB.collection("General-infos").where('id' , '==' , context.params.country).where('type' , '==' , 'country-location').orderBy("createdAt" , "asc");

            return BASE.get().then(function (querySnapshot) {


                let country = {};
                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        country = doc.data();
                    });

                    // return {country }
                    return {country}
                } else {
                    // doc.data() will be undefined in this case
                    console.log("Here No such document!");
                    return {countries : []}
                }
            }).catch(function (error) {
                console.log("Error getting document:", error);
            });


        },
        data(){
            return {
                warning : false,
                message : '',
                warningFor : 'voucher',
                removeID : '',
                alreadyExist : false,
                searchKey : '',
                searchIN : 'name',
                searchORDER : 'asc',
                disable : false,
                country : {},
                selectPost : false,
                timerID : ''
            }
        },
        computed : {
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            }
        },
        methods : {
            removePostCodeWarning(index){

                this.warning = true;
                    this.message = 'Do you want to remove this postcode?';
                    this.warningFor = 'postcode';
                    this.removeID = index;

                // var root = '';
                //
                // if(process.browser){
                //     root = window.location.origin
                // }
                //
                //
                // axios({
                //     method:'post',
                //     url:'https://us-central1-aladins-chirag.cloudfunctions.net/sendVerificationEmail',
                //     data: {
                //         Name : 'dhrubok info tech',
                //         Link : root,
                //         MailTo : 'sazzadurrahman88@gmail.com'
                //     }
                // })
                //     .then(function(response) {
                //         console.log(response)
                //
                //     }).catch(err => {
                //     console.log(err);
                // })



            },
            create(data){
                this.selectPost = false;

                let citiesRef = DB.collection("General-infos") , self=this;

                self.country.codes.push(data.name);
                self.country['description'][data.name] = data.description;
                self.country['address'][data.name] = data.address;

                citiesRef.doc(self.country.id).update(self.country)
                    .then(() => {
                            self.$store.dispatch('flash' , {
                                message : 'New Post code Created',
                                type : 'success'
                            });
                    })
                    .catch(function(error) {
                        console.error("Error adding document: ", error);
                    });
            },
            showWarning(id){
                let self = this;
                this.removeID = id;
                this.message = 'Please Confirm. I want to delete this voucher';
                this.warning = true;
                // this.countries.splice(index , 1)
            },
            removePostCode(data){
                let self = this;
                this.warning = false;
                var code = this.country.codes[data.id];
                this.$delete(this.country.address , code);
                this.$delete(this.country.description , code);

                this.country.codes.splice(data.id , 1);



                DB.collection("General-infos").doc(this.country.id).update(this.country).then(()=>{
                    self.$store.dispatch('flash' , {
                        message : 'Post code Deleted',
                        type : 'success'
                    });
                });
            },
            showDropdown(index) {
                document.getElementById("myDropdown" + index).classList.toggle("show");
            }
        },

        created(){

            this.validateOldUser();

        }
    }
</script>

<style scoped>
    .btn-danger{
        min-width: 60px !important;
        min-height: 30px !important;
        color: #FFFFFF !important;
    }
    .p-top{
        padding-top: 32px !important;
    }
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }

    .single-service{
        background-color: #ffffff;
        padding-top: 10px;
    //padding-bottom: 5px;
        margin: 9px 1px 2px 1px;

    }
    .table-header{
        padding-top: 10px;
        margin: 9px 1px 2px 1px;
        font-weight: bold;
    }

    .single-service .item {
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .single-service .action {
        padding-bottom: 7px;
    }

    .new-service{
        background-color: #fe6500;
        border-color: #fe6500;
        color: #FFFFFF !important;
        float: right;
    }

    .error{
        color: #fe6500;
        font-size: 12px;
    }

    .top-section{
        margin-top: 20px;
    }

    .lm{
        margin-left: 6px;
    }

    .cat-image{
        width: 45%;
    }

    .btn{
        min-width: 75px;
        min-height: 40px;
    }


    .showLeft{
    //background-color: #0d77b6 !important;
    //border:1px solid #0d77b6 !important;
        text-shadow: none !important;
        color:#000000 !important;
        padding:10px;
    }

    .icons li {
        background: none repeat scroll 0 0 red;
        height: 7px;
        width: 7px;
        line-height: 0;
        list-style: none outside none;
        margin-right: 15px;
        margin-top: 3px;
        vertical-align: top;
        border-radius:50%;
        pointer-events: none;
    }

    .btn-left {
    //  left: 0.4em;
    }

    .btn-right {
    // right: 0.4em;
    }

    .btn-left, .btn-right {
    // position: absolute;
    //top: 0.24em;
    }

    .dropbtn {
    //background-color: #4CAF50;
    //position: fixed;
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropbtn:hover, .dropbtn:focus {
    //background-color: #3e8e41;
    }

    .dropdown {
    //position: absolute;
        display: inline-block;
        right: 0.4em;
    }

    .dropdown-content {
        display: none;
        position: relative;
        margin-top: 60px;
        background-color: #f9f9f9;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 3;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {background-color: #f1f1f1}

    .show {display:block;}



</style>
