<template>
    <div>
        <div v-if="!showContent" class="aligncenter">
            <img src="@/assets/images/ajax-loader-2.gif" alt="">
        </div>


        <div v-else class="services-customer-profile-content">
            <section id="page-title" class="">
                <admin-header />
            </section>
            <section>
                <div class="container-fluid clearfix">
                    <div class="row">
                        <div class="col-md-2">
                            <AdminSidebar  />
                        </div>
                        <div class="col-md-10 admin-page-content">
                            <div class="row top-section">
                                <div class="col-md-8">
                                    <h3>Create New service</h3>
                                </div>
                            </div>
                            <div class="row service-section">
                                <div class="col-md-2 input-title">
                                    Service Name
                                </div>
                                <div class="col-md-7">
                                    <input @focus="error.name = false" v-model.trim="service.name"  type="text" class="form-control">
                                </div>

                            </div>

                            <InputError v-if="error.name">
                                {{error.nameMessage}}
                            </InputError>

                            <div class="row service-section">
                                <div class="col-md-2 input-title">
                                    Service Description
                                </div>
                                <div class="col-md-7">
                                    <textarea @focus="error.description = false" rows="7" v-model.trim="service.description" class="form-control"></textarea>
                                </div>
                            </div>
                            <InputError v-if="error.description">
                                {{error.descriptionMessage}}
                            </InputError>

                            <div class="row service-section">
                                <div class="col-md-2 input-title">
                                    Free Delivery for shopping above
                                </div>
                                <div class="col-md-7">
                                    <input  v-model="service.free_delivery_amount"  type="number" class="form-control">
                                </div>

                            </div>

                            <div class="row service-section">
                                <div class="col-md-2 input-title">
                                    Multi Store Supported
                                </div>
                                <div class="col-md-7">
                                    <input v-model.trim="service.multistoresupport"  type="checkbox" class="checkbox">
                                </div>
                            </div>

                            <div class="row service-section">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-6">
                                    <button @click.prevent="checkServiceName" class="btn btn-info proceed-button">
                                        <span v-if="disable">
                                              <img src="@/assets/images/ajax-loader.gif" alt="">
                                        </span>
                                        <span v-else>proceed</span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script>

    import DB from '~/plugins/firebase/init'
    import persistance from '~/plugins/persistance';
    import AdminSidebar from '@/components/AdminSidebarMenu';
    import InputError from '@/components/InputError';
    import {mapGetters} from 'vuex'
    import AdminHeader from "../../../../components/AdminHeader";
    export default {
        middleware : 'auth',
        components: {
            AdminHeader,
            AdminSidebar , InputError
        },
        data(){
            return {
                error : {
                    name : false,
                    nameMessage : '',
                    description : false,
                    descriptionMessage : ''
                },
                disable : false,
                proceed : false,
                service : {
                    id : '',
                    name : '',
                    slug : '',
                    active : true,
                    description : '',
                    multistoresupport : false,
                    imagePATH : '',
                    imageURL : '',
                    banner : [],
                    createdAt : 0,
                    orderBy : 0,
                    concierge : false,
                    free_delivery_amount : 0,
                }
            }
        },
        computed : {
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            }
        },
        methods : {
            checkServiceName(){

                let self = this;
                if(self.service.name.length < 4){
                    self.error.name = true;
                    self.error.nameMessage = "Name must be atleast 4 charcters"
                    return;
                }

                if(self.service.description === ''){
                    self.error.description = true;
                    self.error.descriptionMessage = "Description can't be empty"
                    return;
                }

                self.disable = true;
                self.service.slug = self.service.name.toLowerCase().replace(/[^a-z0-9-]+/g , '-');
                let citiesRef = DB.collection("services");
                let query = citiesRef.where("slug", "==", self.service.slug);

                query.get().then(function(querySnapshot) {
                    //console.log("Document data:", doc);
                    if (!querySnapshot.empty) {
                        self.alreadyExist = true;
                        self.disable = false;
                        self.error.name = true;
                        self.error.nameMessage = 'A Service with this name already exists';
                    } else {
                        // doc.data() will be undefined in this case
                        //console.log("No such document!");
                        let time = (new Date()).getTime();
                        self.service.createdAt = time;
                        self.service.orderBy = time;

                        citiesRef.add(self.service)
                            .then(function(docRef) {
                                self.proceed = true;
                                self.disable = false;
                                //console.log("Document written with ID: ", docRef.id);
                                citiesRef.doc(docRef.id).update({id : docRef.id}).then(()=> {
                                    self.$router.push({ path : `/admin/dashboard/services/details/${docRef.id}`  });
                                })
                            })
                            .catch(function(error) {
                                console.error("Error adding document: ", error);
                            });

                    }
                }).catch(function(error) {
                    console.log("Error getting document:", error);
                });
            }
        },

        created(){
            this.validateOldUser();

            },
        mounted(){}
    }
</script>

<style scoped>
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }


    .top-section{
        margin-top: 20px;
    }

    .input-title{
        padding-top : 10px;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 5px;
        margin-bottom: 5px;
    }

    .proceed-button{
        background-color: #fe6500;
        border-color: #fe6500;
        min-width: 80px;
        min-height: 40px;
    }

    .service-section{
        margin-top: 10px;
    }

    .checkbox{
        margin-top: 14px;
    }


</style>
