  <template>
    <div>
      <div v-if="!showContent" class="aligncenter">
        <img src="@/assets/images/ajax-loader-2.gif" alt="">
      </div>


    <div v-else class="services-customer-profile-content">
        <section id="page-title" class="">
        <admin-header />
      </section>
      <section>
        <div class="container-fluid clearfix">
          <div class="row">
            <div class="col-md-2">
              <AdminSidebar />
            </div>
            <div class="col-md-10 admin-page-content">
              <div class="row top-section">
                <div class="col-md-8">
                  <h3>Service List</h3>
                </div>
                <div class="col-md-4 pull-right">
                  <nuxt-link to="/admin/dashboard/services/create" class="btn btn-info new-service">Add Service</nuxt-link>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 center">Title</div>
                <div class="col-md-2 center">Created Date</div>
                <div class="col-md-2 center">Multi Store Supported</div>
                <div class="col-md-1 center">Shops</div>
                <div class="col-md-1 center">Status</div>
                <div class="col-md-3 center">Action</div>
              </div>

              <div id="draggable">
                <div class="row single-service" v-for="(service , index ) in services">
                  <div class="col-md-3 center item">
                    <div v-if="!serviceEdit[index]">
                      {{service.name}}
                      <span style="font-size: 11px;">
                        <a href="#" @click.prevent="EnableEdit(index)">Edit</a>
                      </span>
                    </div>
                    <div v-else>
                      <input @focus="$set(serviceError , index  , false)" style="max-width: 200px" v-model.trim="services[index].name" class="form-control">
                      <div style="margin-top: 5px">
                        <a @click.prevent="update(index)" class="btn btn-sm btn-success" style="float: left; color: #FFFFFF">save</a>
                        <a @click.prevent="cancelEdit(index)" class="btn btn-sm btn-dark" style="float: left; margin-left: 10px; color: #FFFFFF">cancel</a>
                        <span v-if="serviceError[index]" class="error">This service already exists</span>
                      </div>

                    </div>
                  </div>
                  <div class="col-md-2 center item">{{showDate(service.createdAt)}}</div>
                  <div class="col-md-2 center item">{{ service.multistoresupport ? 'Yes' : 'No' }}</div>
                  <div class="col-md-1 center item">
                    {{ countShops(service.id) }}
                  </div>
                  <div class="col-md-1 center item">
                    <span :class="{ disabled : !service.active , active : service.active }">
                      {{ service.active ? 'Active' : 'Disabled' }}
                    </span>
                  </div>
                  <div class="col-md-3 center action">
                    <nuxt-link :to="`/admin/dashboard/services/categories/${service.id}`" class="btn btn-outline-info lm">Service Category</nuxt-link>
                    <nuxt-link :to="`/admin/dashboard/services/details/${service.id}`" class="btn btn-outline-info lm">Edit</nuxt-link>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>
    </div>
    </div>
  </template>

  <script>

      import Sortable from 'sortablejs'
      import DB from '~/plugins/firebase/init'
    import persistance from '~/plugins/persistance';
  import AdminSidebar from '@/components/AdminSidebarMenu';
      import ShowFileUpload from '@/components/ShowFileUpload';
  import {mapGetters} from 'vuex'
      import AdminHeader from "../../../../components/AdminHeader";
  export default {
      middleware : 'auth',
      components: {
          AdminHeader,
          AdminSidebar , ShowFileUpload
  },
      asyncData () {
          var docRef = DB.collection("services").orderBy("orderBy" , "asc");
          let services = []

        return  docRef.get().then(function(querySnapshot) {
            if (!querySnapshot.empty) {
                  let serviceOrder = [];
                let serviceEdit = [] , serviceError = [];
                  querySnapshot.forEach(doc => {
                      services.push(doc.data())
                      serviceOrder.push({
                          id : doc.data().id,
                          order : doc.data().orderBy
                      })
                      serviceEdit.push(false)
                      serviceError.push(false)
                  });

                  return { services : services , serviceOrder , serviceEdit , serviceError }
              } else {
                  // doc.data() will be undefined in this case
                  console.log("No such document!");
                  return {}
              }
          }).catch(function(error) {
              console.log("Error getting document:", error);
          });
      },
  data(){
    return {
        services : [],
        serviceEdit :[],
        serviceError : [],
        tempServices : [],
        stores : []
    }
  },
      computed : {
          showContent(){
              if(this.user.hasOwnProperty('uid'))
                  return true;

              return false
          }
      },
      methods : {
          update(index){
              let self=this , slug = self.services[index].name.toLowerCase().replace(/[^a-z0-9-]+/g , '-');
              //console.log(this.services[index].name);

              if(self.services[index].name.length < 2){
                  this.$set(this.serviceEdit , index , false)
                  this.services = this.removeReferences(this.tempServices);

                  return;
              }


              let citiesRef = DB.collection("services");
              let query = citiesRef.where("slug", "==", slug);

              query.get().then(function(querySnapshot) {
                  let temp = [];

                  querySnapshot.forEach(doc => {
                      temp.push(doc.data())
                  });
                  if (!querySnapshot.empty && temp[0].id !== self.services[index].id) {
                      self.$set(self.serviceError , index , true);
                  } else {

                      citiesRef.doc(self.services[index].id).update({
                          slug : slug,
                          name : self.services[index].name
                      })
                          .then(function() {
                              self.tempServices = self.removeReferences(self.services);
                              self.$store.dispatch('flash' , {
                                  message : 'Service name Updated',
                                  type : 'success'
                              });
                              self.$set(self.serviceEdit , index , false)
                          })
                          .catch(function(error) {
                              console.error("Error adding document: ", error);
                          });

                  }
              }).catch(function(error) {
                  console.log("Error getting document:", error);
              });
          },
          EnableEdit(index){
            this.$set(this.serviceEdit , index , true)
          },
          cancelEdit(index){
              this.$set(this.serviceEdit , index , false)
              this.services = this.removeReferences(this.tempServices);
          },
          showDate(value){
              return moment(value).format("MMMM Do YYYY")
          },
          FireSortEvent(){
              let self = this;
              if(process.browser){
                  var el = document.getElementById('draggable');
                  if(el !== null)
                      Sortable.create(el , {
                          animation: 300,
                          scroll: true,
                          onEnd: function (event) {
                              if(event.oldIndex === event.newIndex)
                                  return;
                              let finalsorted = persistance.suffleArrayObject(self.serviceOrder , event.oldIndex , event.newIndex);

                              finalsorted.forEach((item) => {
                                  DB.collection("services").doc(item.id).update({
                                      orderBy : item.order
                                  }).then(()=>{
                                      //console.log('updated');
                                  }).catch((err) => {
                                      console.log('Update Error' , err);
                                  });
                              })

                              self.serviceOrder = finalsorted
                          }
                      })
              }
          },
          countShops(serviceID){
              let count = 0;
              this.stores.forEach(item => {
                  if(item.serviceID === serviceID)
                      count++;
              })

              return count

          }

      },

      created(){
          let self = this;
          this.validateOldUser();

          setTimeout(() => {
              this.FireSortEvent();
          } , 2500);

          this.tempServices = this.removeReferences(this.services);

          var docRef = DB.collection("store").where("status" ,'==' ,  "enabled");

          return  docRef.get().then(function(querySnapshot) {
             // console.log(querySnapshot)
              querySnapshot.forEach(doc => {
                  self.stores.push({
                      id : doc.data().id,
                      name : doc.data().name,
                      serviceID : doc.data().serviceID,
                      serviceCatID : doc.data().serviceCatID
                  })
              });
          })

      },
      mounted(){
          this.FireSortEvent();
        }
  }
  </script>

  <style scoped>
    .error{
      font-size: 12px;
      color: #ff6600;
      padding-left: 20px;
      margin-bottom: 0px;
    }
  #page-title{
    padding: 10px;
  }
  #page-title span{
    margin-top: 0px;
  }

  .col_half h4{
    margin-bottom: 10px;
  }
  .info-tbl td, .cards-tbl tr:first-child td {
    border-top: none !important;
  }

    .admin-page-content{
      background-color: #f1f4f7;
      min-height: 500px;
    }

    .single-service{
      background-color: #ffffff;
      padding-top: 10px;
      //padding-bottom: 5px;
      margin: 9px 1px 2px 1px;

    }

  .single-service .item {
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .single-service .action {
    padding-bottom: 7px;
  }

    .new-service{
      background-color: #fe6500;
      border-color: #fe6500;
      float: right;
    }

    .top-section{
      margin-top: 10px;
    }

    .lm{
      margin-left: 6px;
    }

    .disabled{
      color: #fff;
      background-color: #d9534f;
      border-color: #d43f3a;
      padding: 5px;
      text-align: center;
      border-radius: 3px;
      letter-spacing: 1px;
      text-transform: capitalize;
    }

    .active{
      color: #fff;
      background-color: #5cb85c;
      border-color: #4cae4c;
      padding: 5px;
      text-align: center;
      border-radius: 3px;
      letter-spacing: 1px;
      text-transform: capitalize;
    }




  </style>
