<template>
    <no-ssr>
        <div>

            <div class="new">

                <div v-if="!showContent" class="aligncenter">
                    <img src="@/assets/images/ajax-loader-2.gif" alt="">
                </div>


                <div v-else class="services-customer-profile-content">
                    <section id="page-title" class="">
                        <admin-header />
                    </section>
                    <section>
                        <div class="container-fluid clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <AdminSidebar />
                                </div>
                                <div class="col-md-10 admin-page-content">
                                    <div class="row top-section">
                                        <div class="col-md-8">
                                            <h3>Delivery Methods</h3>
                                        </div>
                                        <div class="col-md-4 pull-right">
                                            <a @click.prevent="addDeliveryMethod = true" class="btn btn-info new-service" >Add Delivery Method</a>
                                        </div>
                                    </div>



                                    <div class="row table-header" v-if="methods.length > 0">
                                        <div class="col-md-4 ">Method</div>
                                        <div class="col-md-2 center">Charge</div>
                                        <div class="col-md-2 center">Benificiary</div>
                                        <div class="col-md-2 "></div>
                                    </div>
                                    <p v-else class="error">There is no delivery methods added yet </p>

                                    <div id="draggable" style="margin-bottom: 25px;">
                                        <div class="row single-service" :key="item.id" v-for="(item , index ) in methods">

                                            <div class="col-md-4 item">
                                                {{item.name}}
                                            </div>

                                            <div class="col-md-2 item center">
                                                &#36;{{item.charge}}
                                            </div>

                                            <div class="col-md-2 center">
                                                {{item.beneficiary}}
                                            </div>

                                            <div class="col-md-2">
                                                <!--<nuxt-link style="text-transform: uppercase" :to="`/admin/dashboard/location/${item.id}`" >-->
                                                    <!--See Post Codes-->
                                                <!--</nuxt-link>-->

                                                <a @click.prevent="enableEdit(index)" class="btn btn-info new-service" >Edit</a>

                                            </div>

                                        </div>
                                    </div>



                                </div>


                                <delivery v-if="addDeliveryMethod" @update="update" @save="create" @close="addDeliveryMethod = false" :method="editMethod"  />
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </no-ssr>
</template>

<script>

    import DB from '~/plugins/firebase/init'
    import AdminSidebar from '@/components/AdminSidebarMenu';
    import AdminHeader from "@/components/AdminHeader";
    import axios from 'axios'
    import Warning from "@/components/Warning";
    import Delivery from "@/components/Delivery";
    export default {
        middleware : 'auth',
        components: {
            Delivery,
            Warning,
            AdminHeader,
            AdminSidebar
        },
        asyncData (context) {
            var BASE = DB.collection("delivery-methods").orderBy("createdAt" , "asc");

            return BASE.get().then(function (querySnapshot) {


                let methods = [];
                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        methods.push(doc.data());
                    });

                    // return {methods }
                    return {methods}
                } else {
                    // doc.data() will be undefined in this case
                    console.log("Here No such document!");
                    return {methods : []}
                }
            }).catch(function (error) {
                console.log("Error getting document:", error);
            });


        },
        data(){
            return {

                alreadyExist : false,
                searchKey : '',
                searchIN : 'name',
                searchORDER : 'asc',
                disable : false,
                methods : [],
                addDeliveryMethod : false,
                timerID : '',
                editMethod : {},
                updateIndex : -1
            }
        },
        computed : {
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            }
        },
        methods : {
            enableEdit(index){
                this.updateIndex = index;
              this.addDeliveryMethod = true;
              this.editMethod = this.removeReferences(this.methods[index])
            },
            create(data){
                this.addDeliveryMethod = false;

                let citiesRef = DB.collection("delivery-methods") , time = (new Date()).getTime() , self=this;


                let method = {
                    id : '',
                    name : data.name,
                    charge : data.charge,
                    beneficiary : data.beneficiary,
                    createdAt : time
                }

                citiesRef.add(method)
                    .then(function(docRef) {
                        method.id = docRef.id;
                        citiesRef.doc(docRef.id).update({id : docRef.id}).then(()=> {
                            self.$store.dispatch('flash' , {
                                message : 'New Delivery Method Created',
                                type : 'success'
                            });
                            self.methods.push(method);
                        })
                    })
                    .catch(function(error) {
                        console.error("Error adding document: ", error);
                    });
            },
            update(data){
                this.addDeliveryMethod = false;
                let citiesRef = DB.collection("delivery-methods"), self=this;

                citiesRef.doc(data.id).
                    update({
                        name : data.name,
                        charge : data.charge,
                        beneficiary : data.beneficiary,
                    })
                    .then(function(docRef) {
                            self.$store.dispatch('flash' , {
                                message : 'Delivery Method Updated',
                                type : 'success'
                            });

                            self.methods[self.updateIndex].name = data.name;
                        self.methods[self.updateIndex].charge = Number(data.charge);
                        self.methods[self.updateIndex].beneficiary = data.beneficiary;

                    })
                    .catch(function(error) {
                        console.error("Error adding document: ", error);
                    });
            },
            showWarning(id){
                let self = this;
                this.removeID = id;
                this.message = 'Please Confirm. I want to delete this voucher';
                this.warning = true;
                // this.methods.splice(index , 1)
            },

        },

        created(){

            this.validateOldUser();

        }
    }
</script>

<style scoped>
    .p-top{
        padding-top: 32px !important;
    }
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }

    .single-service{
        background-color: #ffffff;
        padding-top: 10px;
    //padding-bottom: 5px;
        margin: 9px 1px 2px 1px;

    }
    .table-header{
        padding-top: 10px;
        margin: 9px 1px 2px 1px;
        font-weight: bold;
    }

    .single-service .item {
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .single-service .action {
        padding-bottom: 7px;
    }

    .new-service{
        background-color: #fe6500;
        border-color: #fe6500;
        color: #FFFFFF !important;
        float: right;
    }

    .error{
        color: #fe6500;
        font-size: 12px;
    }

    .top-section{
        margin-top: 10px;
    }

    .lm{
        margin-left: 6px;
    }

    .cat-image{
        width: 45%;
    }

    .btn{
        min-width: 75px;
        min-height: 40px;
    }


    .showLeft{
    //background-color: #0d77b6 !important;
    //border:1px solid #0d77b6 !important;
        text-shadow: none !important;
        color:#000000 !important;
        padding:10px;
    }

    .icons li {
        background: none repeat scroll 0 0 red;
        height: 7px;
        width: 7px;
        line-height: 0;
        list-style: none outside none;
        margin-right: 15px;
        margin-top: 3px;
        vertical-align: top;
        border-radius:50%;
        pointer-events: none;
    }

    .btn-left {
    //  left: 0.4em;
    }

    .btn-right {
    // right: 0.4em;
    }

    .btn-left, .btn-right {
    // position: absolute;
    //top: 0.24em;
    }

    .dropbtn {
    //background-color: #4CAF50;
    //position: fixed;
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropbtn:hover, .dropbtn:focus {
    //background-color: #3e8e41;
    }

    .dropdown {
    //position: absolute;
        display: inline-block;
        right: 0.4em;
    }

    .dropdown-content {
        display: none;
        position: relative;
        margin-top: 60px;
        background-color: #f9f9f9;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 3;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {background-color: #f1f1f1}

    .show {display:block;}



</style>
