<template>
    <no-ssr>
        <div>

            <div class="new">

                <div v-if="!showContent" class="aligncenter">
                    <img src="@/assets/images/ajax-loader-2.gif" alt="">
                </div>


                <div v-else class="services-customer-profile-content">
                    <section id="page-title" class="">
                        <admin-header />
                    </section>
                    <section>
                        <div class="container-fluid clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <AdminSidebar />
                                </div>
                                <div class="col-md-10 admin-page-content">
                                    <div class="row top-section">
                                        <div class="col-md-8">
                                            <h3>Newspaper List</h3>
                                        </div>
                                        <div class="col-md-4 pull-right">
                                        <a @click.prevent="addNews" class="btn btn-info new-service" >Add Newspaper</a>
                                        </div>
                                    </div>



                                    <div class="row table-header" v-if="newspaper.length > 0">
                                        <div class="col-md-4 ">Name</div>
                                        <div class="col-md-5 "></div>
                                        <div class="col-md-2 "></div>
                                    </div>
                                    <p v-else class="error">There is no Newspaper link added yet </p>

                                    <div id="draggable" style="margin-bottom: 25px;">
                                        <div class="row single-service" :key="item.id" v-for="(item , index ) in newspaper">

                                            <div class="col-md-3 item">
                                                {{item.name}}
                                            </div>

                                            <div class="col-md-5 ">
                                                <div>
                                                    <img :src="item.imageURL" class="cat-image" alt="">
                                                    <img  @click="showThumbUpload(index)" src="//i.imgur.com/NEJ7kr8.png" class="small-cam" alt="">
                                                    <input type="file" style="display: none;"
                                                           accept="image/png,image/gif,image/jpeg"
                                                           ref="thumb"
                                                           @change="(event) => {
                                                   onThumbPicked(item.id , index , event)
                                                   }">
                                                </div>
                                                <show-file-upload v-if="logoUploading[index]" />
                                                <br>
                                                <p class="error" v-if="imageRatioError[index]">image size should be 133 X 45</p>
                                            </div>

                                            <div class="col-md-2">
                                                <el-dropdown>
                                                        <span class="el-dropdown-link">
                                                        <i class="el-icon-more-outline"></i>
                                                        </span>
                                                    <el-dropdown-menu slot="dropdown">
                                                        <el-dropdown-item>
                                                            <a style="cursor: pointer" @click.prevent="showWarning(index)"><i class="icon-edit"></i> &nbsp;&nbsp; Edit</a>
                                                        </el-dropdown-item>
                                                        <el-dropdown-item>
                                                            <a style="cursor: pointer" @click.prevent="remove(index)"><i class="el-icon-delete"></i> &nbsp;&nbsp; Remove</a>
                                                        </el-dropdown-item>
                                                    </el-dropdown-menu>
                                                </el-dropdown>

                                            </div>

                                        </div>
                                    </div>



                                </div>

                                <warning :message="message"
                                         :id="removeID"
                                         :warningFor="warningFor"
                                         v-if="warning"
                                         @close="warning = false"
                                         @remove="removeVoucher"
                                />

                                <news-paper :countries="countries"
                                            :newspaper="editNewspaper"
                                            v-if="showModal"
                                            :mode="mode"
                                            @update="update"
                                            @create="create"
                                            @close="showModal = false" />



                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </no-ssr>
</template>

<script>

    import Sortable from 'sortablejs'
    import firebase from 'firebase'
    import DB from '~/plugins/firebase/init'
    import AdminSidebar from '@/components/AdminSidebarMenu';
    import AdminHeader from "@/components/AdminHeader";
    import persistance from '~/plugins/persistance';
    import Warning from "@/components/Warning";
    import NewsPaper from "@/components/NewsPaper";
    import ShowFileUpload from '@/components/ShowFileUpload';
    export default {
        middleware : 'auth',
        components: {
            NewsPaper,
            Warning,
            AdminHeader,
            AdminSidebar,
            ShowFileUpload
        },
        asyncData (context) {
            var BASE = DB.collection("newslink").orderBy("orderBY" , "asc");

            return BASE.get().then(function (querySnapshot) {


                let newspaper = [], newsOrder = [] , logoUploading = [] , imageRatioError = [];
                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        newspaper.push(doc.data());

                        newsOrder.push({
                            id : doc.data().id,
                            order : doc.data().orderBY
                        });
                        logoUploading.push(false)
                        imageRatioError.push(false)
                    });

                    // return {countries }
                    return {newspaper , newsOrder , logoUploading}
                } else {
                    // doc.data() will be undefined in this case
                    console.log("Here No such document!");
                    return {events : []}
                }
            }).catch(function (error) {
                console.log("Error getting document:", error);
            });


        },
        data(){
            return {
                warning : false,
                message : '',
                warningFor : 'voucher',
                removeID : '',
                alreadyExist : false,
                logoUploading : [],
                imageRatioError : [],
                disable : false,
                newspaper : [],
                selectCountry : false,
                timerID : '',
                editNewspaper : {},
                countries : [],
                showModal : false,
                mode : 'Add'
            }
        },
        computed : {
            showContent(){
                if(this.user.hasOwnProperty('uid'))
                    return true;

                return false
            }
        },
        methods : {
            remove(index){
                let self=this;

                if(self.newspaper[index].imagePATH.length > 0){
                    firebase.storage().ref().child(self.newspaper[index].imagePATH).delete();
                }

                DB.collection("newslink").doc(self.newspaper[index].id).delete().then(()=>{
                    self.$store.dispatch('flash' , {
                        message : 'Newspaper Deleted',
                        type : 'success'
                    });

                    self.newspaper.splice(index , 1);
                })
            },
            showThumbUpload(index){
                //console.log(this.$refs);
                this.$refs['thumb'][index].click();
            },
            onThumbPicked(id , index , event){
                //console.log('called');

                let self = this;
                const files = event.target.files;
                let fileName = files[0].name;
                let arr = fileName.split('.');
                let extention = arr[arr.length - 1].toLowerCase();

                //console.log(event)

                self.$set(self.imageRatioError , index ,  false);

                if(extention == 'png' || extention == 'jpeg' || extention == 'jpg'){

                    const fileReader = new FileReader();
                    fileReader.addEventListener('load' , ()=>{

                        var img = new Image;

                        img.onload = function() {
                            // console.log('width' , img.width);
                            // console.log('height' , img.height);

                            if(img.width === 133 && img.height === 45){
                                self.$set(self.logoUploading , index ,  true);

                                this.tempLogo = files[0];

                                let imagePATH = `newslink/` + (new Date()).getTime() + fileName.replace(/\s/g, "")

                                let storageRef =  firebase.storage().ref(imagePATH)

                                let uploadFile = storageRef.put(this.tempLogo);


                                uploadFile.on('state_changed', function(snapshot){
                                    //var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                                    // console.log('Upload is ' + progress + '% done');
                                })

                                uploadFile.then((result) => {

                                    if(self.newspaper[index].imagePATH.length > 0){
                                        firebase.storage().ref().child(self.newspaper[index].imagePATH).delete();
                                    }

                                    storageRef.getDownloadURL().then(function(url) {
                                        //console.log(url)
                                        self.$set(self.newspaper[index] , 'imageURL' , url);
                                        self.$set(self.newspaper[index] , 'imagePATH' , imagePATH);
                                        DB.collection("newslink").doc(id).update({
                                            imageURL : url,
                                            imagePATH : imagePATH
                                        }).then(()=>{

                                            self.$set(self.logoUploading , index ,  false);

                                            self.$store.dispatch('flash' , {
                                                message : 'Newspaper Image Updated',
                                                type : 'success'
                                            });
                                        });
                                    })

                                })
                            } else {
                                self.$set(self.imageRatioError , index ,  true);
                            }
                        };

                        img.src = fileReader.result;
                        //newImg.width;
                    });

                    fileReader.readAsDataURL(files[0]);

                } else {
                    alert('Please select a valid image')
                }

            },
            update(data){
                this.showModal = false;

                DB.collection("newslink").doc(data.id).update({
                    name : data.name,
                    newsURL : data.newsURL,
                    countryId : data.countryId
                }).then(()=>{
                    let Index = -1;
                    this.newspaper.forEach((item , index) => {
                        if(item.id === data.id)
                            Index = index;
                    })

                    this.$set(this.newspaper[Index] , 'name' , data.name);
                    this.$set(this.newspaper[Index] , 'newsURL' , data.newsURL);
                    this.$set(this.newspaper[Index] , 'countryId' , data.countryId);

                    this.$store.dispatch('flash' , {
                        message : 'Newspaper info Updated',
                        type : 'success'
                    });
                });

            },
            create(data){
                this.showModal = false;

                let time = (new Date()).getTime() , self =this;
                let new_one = {
                    id : '',
                    createdAt : time,
                    orderBY : time,
                    imagePATH : '',
                    imageURL : 'https://via.placeholder.com/133x45',
                    name : data.name,
                    newsURL : data.newsURL,
                    countryId : data.countryId
                }

                DB.collection("newslink").add(new_one).then((docRef)=>{

                    DB.collection("newslink").doc(docRef.id).update({id : docRef.id}).then(()=> {
                        new_one.id = docRef.id;
                        self.$store.dispatch('flash' , {
                            message : 'New Newspaper added',
                            type : 'success'
                        });

                        self.newspaper.push(new_one)
                    })

                });
            },
            addNews(){
                let self = this;
                this.message = 'Please Confirm. I want to delete this voucher';
                this.editNewspaper = {};
                this.mode = 'Add'
                this.showModal = true;
            },
            showWarning(index){
                let self = this;
                this.message = 'Please Confirm. I want to delete this voucher';
                this.editNewspaper = this.newspaper[index];
                this.mode = 'Edit'
                this.showModal = true;
                // this.countries.splice(index , 1)
            },

            FireSortEvent(){
                let self = this;
                if(process.browser){
                    var el = document.getElementById('draggable');
                    if(el !== null)
                        Sortable.create(el , {
                            animation: 300,
                            scroll: true,
                            onEnd: function (event) {
                                if(event.oldIndex === event.newIndex)
                                    return;
                                let finalsorted = persistance.suffleArrayObject(self.newsOrder , event.oldIndex , event.newIndex);

                                finalsorted.forEach((item) => {
                                    DB.collection("newslink").doc(item.id).update({
                                        orderBY : item.order
                                    }).then(()=>{
                                        //console.log('updated');
                                    }).catch((err) => {
                                        console.log('Update Error' , err);
                                    });
                                })

                                self.newsOrder = finalsorted
                            }
                        })
                }
            }
        },

        created(){
            let self= this;

            this.validateOldUser();

            setTimeout(() => {
                this.FireSortEvent();
            } , 2500);

            var BASE = DB.collection("General-infos").where('type' , '==' , 'country-location').orderBy("createdAt" , "asc");

            BASE.get().then(function (querySnapshot) {


                let countries = [];
                if (!querySnapshot.empty) {
                    querySnapshot.forEach(doc => {
                        countries.push(doc.data());
                    });

                    self.countries = countries
                } else {
                    // doc.data() will be undefined in this case
                    console.log("Here No such document!");
                    return {countries : []}
                }
            }).catch(function (error) {
                console.log("Error getting document:", error);
            });

        }
    }
</script>

<style scoped>

    .new-service{
        background-color: #fe6500;
        border-color: #fe6500;
        float: right;
        color: #FFFFFF !important;
    }
    .el-icon-more-outline {
        color : #fe6500;
        font-size: 25px;
    }
    #page-title{
        padding: 10px;
    }
    #page-title span{
        margin-top: 0px;
    }

    .col_half h4{
        margin-bottom: 10px;
    }
    .info-tbl td, .cards-tbl tr:first-child td {
        border-top: none !important;
    }

    .admin-page-content{
        background-color: #f1f4f7;
        min-height: 500px;
    }

    .single-service{
        background-color: #ffffff;
        padding-top: 10px;
    //padding-bottom: 5px;
        margin: 9px 1px 2px 1px;

    }
    .table-header{
        padding-top: 10px;
        margin: 9px 1px 2px 1px;
        font-weight: bold;
    }

    .single-service .item {
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .single-service .action {
        padding-bottom: 7px;
    }

    .error{
        color: #fe6500;
        font-size: 12px;
    }

    .top-section{
        margin-top: 10px;
    }

    .small-cam{
        height: 15px;
        width: 15px;
        cursor: pointer;
        border: 1px solid gray;
        border-radius: 5px;
        margin-top: 15px;
        margin-left: 15px;
        background-color: #fe6500
    }



</style>
